<div class="pp-card shadow-grey">
  <div class="card-title">Network</div>
  <!-- <div class="searchInputWrap">
      <input [formControl]="searchControl" type="search" autofocus class="searchInput" placeholder="search">
      <i class="fa fa-search" aria-hidden="true"></i>
  </div> -->
  <!-- <table class="workspace-tbl" cellpadding="0" cellspacing="0" border="0.5">
      <thead>
          <tr>
              <th>
                  <span style="padding-left: 3px;">Employee</span>
              </th>
              <th>
                  <span style="padding-left: 3px;">Department</span>
              </th>
              <th>
                  <span style="padding-left: 3px;">Workspace</span>
              </th>
              <th>Actions</th>
          </tr>
      </thead>

      <tbody>
          <tr>
              <td>
                  <div class="empWrap">
                      <div class="list-img">
                          <img src="assets/images/users/default.png">
                      </div>
                      <div>Olori James</div>
                  </div>
              </td>
              <td>Surgery</td>
              <td class="td-worspace">
                  <div class="workspace-count">3 workspaces</div>
                  <ul class="shadow-RB workspace-listWrap animated zoomIn">
                      <li class="workspace-listItem">
                          <ng-container>
                              <span>SOP</span>
                              <i (click)="removeLocation(location, workSpace, i)" class="fa fa-trash" aria-hidden="true"></i>
                          </ng-container>
                      </li>
                      <div class="pointer-wrap">
                          <i class="fa fa-caret-down" aria-hidden="true"></i>
                      </div>
                  </ul>
              </td>
              <td>
                  <div class="td-ctaWrap">
                      <i (click)="newWorkspace_onClick()" class="fa fa-pencil-square-o" aria-hidden="true"></i>
                      <i (click)="deletion_popup(workSpace)" class="fa fa-trash" aria-hidden="true"></i>
                  </div>
              </td>
          </tr>
      </tbody>
  </table> -->

  <div class="net-inwrap">
    <div class="net-itemA">
      <div (click)="addMember_click()" class="plus">+</div>
      <div class="card-title">Network Members</div>
      <div class="tbl-resp-wrap">
        <table class="workspace-tbl" cellpadding="0" cellspacing="0" border="0.5">  
            <tbody>
                <tr *ngFor="let networkMembers of members">
                    <td>
                        <div class="empWrap">
                            <div class="list-img">
                                <img src="../../../../../assets/images/logos/default.png">
                            </div>
                            <div>{{networkMembers.name}}</div>
                        </div>
                    </td>
                    <td>
                        <div class="td-ctaWrap">
                            <i (click)="removeMember(networkMembers._id)" class="fa fa-trash" aria-hidden="true"> Remove</i>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
      </div>
    </div>
    <div class="net-itemB">
      <div (click)="addOther_click()" class="plus">+</div>
      <div class="card-title">Other Networks</div>
      <div class="tbl-resp-wrap">
        <table class="workspace-tbl" cellpadding="0" cellspacing="0" border="0.5">
            <tbody>
                <tr *ngFor="let networkJoined of others">
                    <td>
                        <div class="empWrap">
                            <div class="list-img">
                                <img src="../../../../../assets/images/logos/default.png">
                            </div>
                            <div>{{networkJoined.name}}</div>
                        </div>
                    </td>
                    <td>
                        <div class="td-ctaWrap">
                            <i (click)="leaveNetwork(networkJoined._id)" class="fa fa-trash" aria-hidden="true"> Leave</i> 
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
      </div> 
    </div>
  </div>
</div>

<!-- <div *ngIf="createWorkspace" class="modal-overlay">
  <app-create-workspace (closeModal)="close_onClick($event)" id="form-modal" class="form-modal center-center"></app-create-workspace>
</div>

<div *ngIf="globalDialog">
  <app-global-dialog (deleteRecord)="delete_onClick($event)" [gdTitle]="gdTitle" [gdItem]="gdItem" [gdComponent]="gdComponent"
      (closeModal)="close_onClick($event)"></app-global-dialog>
</div> -->
<div *ngIf="addMember" class="modal-overlay">
    <app-add-member (closeModal)="close_onClick($event)" id="form-modal" class="form-modal center-center"></app-add-member>
</div>
<div *ngIf="addOther" class="modal-overlay">
    <app-add-other (closeModal)="close_onClick($event)" id="form-modal" class="form-modal center-center"></app-add-other>
</div>