<div class="pp-card shadow-grey">
  <div class="card-title">Network</div>
  <div class="net-inwrap">
    <div class="net-itemA">
      <div (click)="addMember_click()" class="plus">+</div>
      <div class="card-title">Network Members</div>
      <div class="tbl-resp-wrap">
        <table class="workspace-tbl" cellpadding="0" cellspacing="0" border="0.5">  
            <tbody>
                <tr *ngFor="let networkMembers of members">
                    <td>
                        <div class="empWrap">
                            <div class="list-img">
                                <img src="../../../../../assets/images/logos/default.png">
                            </div>
                            <div>{{networkMembers.name}}</div>
                        </div>
                    </td>
                    <td>
                        <div class="td-ctaWrap">
                            <i (click)="removeMember(networkMembers._id)" class="fa fa-trash" aria-hidden="true"> Remove</i>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
      </div>
    </div>
    <div class="net-itemB">
      <div (click)="addOther_click()" class="plus">+</div>
      <div class="card-title">Other Networks</div>
      <div class="tbl-resp-wrap">
        <table class="workspace-tbl" cellpadding="0" cellspacing="0" border="0.5">
            <tbody>
                <tr *ngFor="let networkJoined of others">
                    <td>
                        <div class="empWrap">
                            <div class="list-img">
                                <img src="../../../../../assets/images/logos/default.png">
                            </div>
                            <div>{{networkJoined.name}}</div>
                        </div>
                    </td>
                    <td>
                        <div class="td-ctaWrap">
                            <i (click)="leaveNetwork(networkJoined._id)" class="fa fa-trash" aria-hidden="true"> Leave</i> 
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
      </div> 
    </div>
  </div>
</div>
<div *ngIf="addMember" class="modal-overlay">
    <app-add-member (closeModal)="close_onClick($event)" id="form-modal" class="form-modal center-center"></app-add-member>
</div>
<div *ngIf="addOther" class="modal-overlay">
    <app-add-other (closeModal)="close_onClick($event)" id="form-modal" class="form-modal center-center"></app-add-other>
</div>