
 <div class="tbl-btn-action" style="padding:none !important; cursor: pointer;" *ngIf="back_to_purchaseList">
    <div class="action-pad">
      <div (click)="backPurchaseList()">
        <i style="color:  #0288D1; font-weight: bold;">Back to Purchase List</i>
      </div>
    </div>
  </div>
  

<div *ngIf="purchaseList">
  <div class="tbl-btn-action">
    <div class="action-pad">
      <div (click)="showNewPurchaseList()" class="new-btn-blue">
        <i class="fa fa-plus" aria-hidden="true"></i>
        <span>Add New Purchase List</span>
      </div>
    </div>
  </div>


  <div class="list-wrap">
    <div class="list-con-wrap">
      <div class="con-wrap">
        <span>Date Generated</span>
        <h3>Tuesday 27th November 2018</h3>
      </div>
      <div class="con-wrap">
        <span>Status</span>
        <h3>Pending</h3>
      </div>
      <div class="con-wrap">
        <span>Action</span>
        <div (click)="showPurchaseListDetail()" class="ft-btn">
          <span>View Purchase List Items</span>
        </div>
      </div>
    </div>

    <div class="list-con-wrap">
      <div class="con-wrap">
        <span>Supplier(s)</span>
        <div class="sup-list">
          <h3>SIDMACH Medical Suppliers </h3>
          <h3>SIDMACH Medical Suppliers </h3>
          <h3>SIDMACH Medical Suppliers </h3>
          <h3>SIDMACH Medical Suppliers </h3>
          <h3>SIDMACH Medical Suppliers </h3>
        </div>
      </div>
    </div>
  </div>

  <div class="list-wrap">
    <div class="list-con-wrap">
      <div class="con-wrap">
        <span>Date Generated</span>
        <h3>Tuesday 27th November 2018</h3>
      </div>
      <div class="con-wrap">
        <span>Status</span>
        <h3>Pending</h3>
      </div>
      <div class="con-wrap">
        <span>Action</span>
        <div class="ft-btn">
          <span>View Purchase List Items</span>
        </div>
      </div>
    </div>

    <div class="list-con-wrap">
      <div class="con-wrap">
        <span>Supplier(s)</span>
        <div class="sup-list">
          <h3>SIDMACH Medical Suppliers </h3>
          <h3>SIDMACH Medical Suppliers </h3>
          <h3>SIDMACH Medical Suppliers </h3>
          <h3>SIDMACH Medical Suppliers </h3>
          <h3>SIDMACH Medical Suppliers </h3>
        </div>
      </div>
    </div>
  </div>
</div>

<app-new-purchase-list *ngIf="newPurcaseList"></app-new-purchase-list>
<app-purchase-list-details *ngIf="purchaseListDetails"></app-purchase-list-details>