<div class="main-wrapper">
    <div class="content-sect">
        <div class="bar-1">
            <div class="active-store"></div>
            <div class="post-ql-open">
                <div class="ql-tip">Quick Links</div>
                <i (click)="toggleQl()" class="fa fa-link ql-open rotating"></i>
            </div>
        </div>

        <div class="active-store"> {{ checkingStore?.storeObject?.name }}</div>
        <div class="pg-labels-wrap">
            <div class="main-title">Store Summary</div>
            <div class="labels-right">
                <div class="label-right">Point of Sale</div>
                <div class="label-right" (click)="onChangeCheckedIn()">Switch Store</div>
            </div>
        </div>

        <div class="sect sect-full">
            <div class="sect-header">
                <div class="head-inner-lhs">
                    <div class="counta">5</div>
                    <div class="head-inner-label">Inventory</div>
                </div>

                <div class="head-inner-rhs">
                    <div class="rhs-item">
                        <div class="rhs-count">2</div>
                        <div class="rhs-label">expired</div>
                    </div>

                    <div class="rhs-item">
                        <div class="rhs-count">1</div>
                        <div class="rhs-label">about to expire</div>
                    </div>

                    <div class="rhs-item">
                        <div class="rhs-count">3</div>
                        <div class="rhs-label">near reorder level</div>
                    </div>

                    <div class="rhs-item">
                        <div class="rhs-count">4</div>
                        <div class="rhs-label">past reorder level</div>
                    </div>
                </div>
            </div>
            <div class="sect-content">
                <div>
                    <div *ngIf="inventories.length === 0 && !inventoryLoading">
                        <div style="width: 100%; text-align:center;">No data available in table or you need to check in to store.</div>
                    </div>

                    <div *ngIf="inventories.length === 0 && inventoryLoading">
                        <div style="width: 100%; text-align:center;">
                            <i class="fa fa-circle-o-notch fa-spin fa-3x text-blue" aria-hidden="true"></i>
                        </div>
                    </div>

                    <div *ngIf="inventories.length > 0 && !inventoryLoading">
                        <div class="content-row" *ngFor="let inventory of inventories; let i=index">
                            <div class="row-item">{{ inventory?.productObject?.productDetail?.productName }} {{ inventory?.productObject?.manufacturer }}</div>
                            <div class="row-item">
                                <div class="item-label">Batch</div>
                                <div class="item-val">{{ inventory?.transactions[inventory?.transactions.length-1]?.batchNumber }}</div>
                            </div>
                            <div class="row-item">
                                <div class="item-label">Quantity</div>
                                <div class="item-val">{{ inventory?.transactions[inventory?.transactions.length-1]?.availableQuantity }}</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="{{ inventories.length > 0 ? ' card-link ' : ' '}}" *ngIf="inventories.length > 0 && !inventoryLoading" routerLink="/dashboard/inventory-manager/inventory">View All</div>
            </div>
        </div>

        <div class="half-outer">
            <div class="sect sect-half">
                <div class="sect-header">
                    <div class="head-inner-lhs">
                        <div class="counta">12</div>
                        <div class="head-inner-label">Transfer</div>
                    </div>
                </div>
                <div class="sect-content">
                    <div>
                        <div class="content-row">
                            <div class="row-item">Paracetamol</div>
                            <div class="row-item">
                                <div class="item-label">From</div>
                                <div class="item-val">Main Store</div>
                            </div>
                            <div class="row-status">
                                <div class="status status-pending"></div>
                                <div class="item-label">Pending</div>
                            </div>
                        </div>

                        <div class="content-row">
                            <div class="row-item">Syringe</div>
                            <div class="row-item">
                                <div class="item-label">To</div>
                                <div class="item-val">Central Store</div>
                            </div>
                            <div class="row-status">
                                <div class="status status-completed"></div>
                                <div class="item-label">Completed</div>
                            </div>
                        </div>

                        <div class="content-row">
                            <div class="row-item">Dextrose</div>
                            <div class="row-item">
                                <div class="item-label">From</div>
                                <div class="item-val">Central Store</div>
                            </div>
                            <div class="row-status">
                                <div class="status status-declined"></div>
                                <div class="item-label">Declined</div>
                            </div>
                        </div>
                    </div>

                    <div class="card-link">View All</div>
                </div>
            </div>

            <div class="sect sect-half">
                <div class="sect-header">
                    <div class="head-inner-lhs">
                        <div class="counta">10</div>
                        <div class="head-inner-label">Purchase Order</div>
                    </div>
                </div>
                <div class="sect-content">
                    <div>
                        <div class="content-row">
                            <div class="row-item">PO765431CQA</div>
                            <div class="row-item">
                                <div class="item-label">Store</div>
                                <div class="item-val">Main Store</div>
                            </div>
                            <div class="row-item">
                                <div class="item-label">Supplier</div>
                                <div class="item-val">Tommex</div>
                            </div>
                        </div>

                        <div class="content-row">
                            <div class="row-item">PO765431CQA</div>
                            <div class="row-item">
                                <div class="item-label">Store</div>
                                <div class="item-val">Central Store</div>
                            </div>
                            <div class="row-item">
                                <div class="item-label">Supplier</div>
                                <div class="item-val">Microbiology</div>
                            </div>
                        </div>

                        <div class="content-row">
                            <div class="row-item">PO765431CQA</div>
                            <div class="row-item">
                                <div class="item-label">Store</div>
                                <div class="item-val">Central Store</div>
                            </div>
                            <div class="row-item">
                                <div class="item-label">Supplier</div>
                                <div class="item-val">Microbiology</div>
                            </div>
                        </div>
                    </div>

                    <div class="card-link">View All</div>
                </div>
            </div>
        </div>
    </div>
    <app-quick-links *ngIf="Ql_toggle" (toggleQl)="toggleQl()"></app-quick-links>
</div>
<div *ngIf="modal_on" class="modal-overlay">
    <app-store-check-in [workSpace]="workSpace" (closeModal)="close_onClick($event)" id="form-modal" class="form-modal center-center"></app-store-check-in>
</div>