<div class="animated pulse">
    <div class="modal-header-wrap">
        <div (click)="close_onClick()" class="modal-close-ico" aria-hidden="true">X</div>
        <div class="facility-title">Employee Role</div>
        <div class="modal_mini_title">All Purpose Medical Information System</div>
    </div>

    <div class="modal-baseWrap">
        <div class="mainErr animated shake" [hidden]="mainErr">{{errMsg}}</div>
        <form [formGroup]="userPrivileges" novalidate>
            <input type="radio" name="role" value="admin" checked>Admin<br>
            <input type="radio" name="role" value="user">User<br>
            <input type="radio" name="role" value="none"> None
        </form>
        <div class="example-full-width" id="example-full-width">
            <button (click)="employeeAccessRoleShow()" mat-raised-button>
                {btnLabel}}
            </button>
        </div>
    </div>
</div>