<div class="animated pulse">
    <div class="modal-header-wrap">
        <div (click)="close_onClick()" class="modal-close-ico" aria-hidden="true">X</div>
        <div class="facility-title">Employee Role</div>
        <div class="modal_mini_title">All Purpose Medical Information System</div>
    </div>

    <div class="modal-baseWrap">
        <div class="mainErr animated shake" [hidden]="mainErr">{{errMsg}}</div>
        <form novalidate>
            <mat-checkbox value="CMD" name="role" aria-checked>CMD</mat-checkbox><br>
        </form>
        <div class="example-full-width" id="example-full-width">
            <button mat-raised-button>
                Save
            </button>
        </div>
    </div>
</div>