<div class="portal-wrap">
    <!-- <app-system-module></app-system-module> -->

    <ul class="pg-menuWrap">
      <li (click)="changeRoute('home')" [class.pg-menuActive]="homeContentArea">
          <i class="fa fa-home" aria-hidden="true"></i> Home</li>
      <li (click)="changeRoute('medical-records')" [class.pg-menuActive]="docsContentArea">
          <i class="fa fa-folder-open" aria-hidden="true"></i> Medical Records</li>
      <li (click)="changeRoute('appointment')" [class.pg-menuActive]="appointmentContentArea">
          <i class="fa fa-calendar" aria-hidden="true"></i> Appointment</li>
      <li (click)="changeRoute('prescription')" [class.pg-menuActive]="prescriptionContentArea">
          <i class="fa fa-plus-square" aria-hidden="true"></i> Prescription</li>
      <li (click)="changeRoute('consultation')" [class.pg-menuActive]="consultationContentArea">
          <i class="fa fa-user-md" aria-hidden="true"></i> Consultation</li>
      <li (click)="changeRoute('payment')" [class.pg-menuActive]="paymentContentArea">
          <i class="fa fa-th-large" aria-hidden="true"></i> Payment</li> 
  </ul>
  <div class="pgMenu-wrapa">
      <i (click)="pgMenu_click()" class="fa fa-chevron-down pgMenu-ico" aria-hidden="true"></i>
      <ul *ngIf="pgMenuToggle"  class="pg-menuWrap-mobile">
        <li (click)="changeRoute('home')" [class.pg-menuActive]="homeContentArea">
            <i class="fa fa-home" aria-hidden="true"></i> Home</li>
        <li (click)="changeRoute('medical-records')" [class.pg-menuActive]="docsContentArea">
            <i class="fa fa-folder-open" aria-hidden="true"></i> Medical Records</li>
        <li (click)="changeRoute('appointment')" [class.pg-menuActive]="appointmentContentArea">
            <i class="fa fa-calendar" aria-hidden="true"></i> Appointment</li>
        <li (click)="changeRoute('prescription')" [class.pg-menuActive]="prescriptionContentArea">
            <i class="fa fa-plus-square" aria-hidden="true"></i> Prescription</li>
        <li (click)="changeRoute('consultation')" [class.pg-menuActive]="consultationContentArea">
            <i class="fa fa-user-md" aria-hidden="true"></i> Consultation</li>
        <li (click)="changeRoute('payment')" [class.pg-menuActive]="paymentContentArea">
            <i class="fa fa-credit-card" aria-hidden="true"></i> Payment</li>
      </ul>
  </div>

  <div class="content-sect">

    <div class="side-sect">
      <div class="pp-card shadow-grey">
    
        <i class="fa fa-pencil-square-o card-edit" aria-hidden="true"></i>
    
        <div class="card-seperator">
          <div class="patient-img-wrap">
            <img src="../../../../assets/images/users/default.png">
          </div>
    
          <div class="basic-info-wrap">
            <div class="basic-info-name">Jonathan Nelson</div>
            <div class="basic-info-others"><i class="fa fa-envelope-o" aria-hidden="true"></i>jonathan.nelson@gmail.com</div>
            <div class="basic-info-others"><i class="fa fa-phone" aria-hidden="true"></i>080999009988</div>
          </div>
        </div>
    
        <div class="facility-count-sect card-seperator clickable-sect">
          <div class="facility-count">3</div>
          <div class="count-label">My Work Places</div>
    
          <ul class="work-places-list shadow-RB animated pulse">
            <li class="work-places-item">
              <div class="wp-img-wrap">
                <img src="../../../../assets/images/logos/lagoon.png">
              </div>
              <div class="wp-name">
                Lagoon Hospital
              </div>
            </li>
    
            <li class="work-places-item">
              <div class="wp-img-wrap">
                <img src="../../../../assets/images/logos/microsoft.png">
              </div>
              <div class="wp-name">
                Light Hospital
              </div>
            </li>
    
            <li class="work-places-item">
              <div class="wp-img-wrap">
                <img src="../../../../assets/images/logos/cocacola.png">
              </div>
              <div class="wp-name">
                Continental Hospital
              </div>
            </li>
          </ul>
        </div>
      </div>
    
      <div class="pp-card shadow-grey">
        <div class="card-title">Activities Feed</div>
        <ul class="feed-ul">
          <li class="feed-li">
            You was scheduled for a blood count test on the 16th dec, 2017, 9:00am at Clinix Diagnostics
            <div class="feed-time">16th Dec, 2017. 08:00am</div>
          </li>
          <li class="feed-li">
              &#8358;1500 was debited from your wallet for your blood count test at Clinix Diagnostics
            <div class="feed-time">16th Dec, 2017. 08:01am</div>
          </li>
          <li class="feed-li">
            Your blood count test results from Clinix Diagnostics is available
            <div class="feed-time">16th Dec, 2017. 08:00am</div>
          </li>
        </ul>
      </div> 
    </div>
    <div class="mid-sect">
      <app-person-landing class="content-wrap"></app-person-landing>
    </div>
  </div>
</div>