<div class="modal-baseWrap animated pulse">

  <div (click)="close_onClick()" class="modal-close-ico" aria-hidden="true">X</div>
  <legend class="modal_title">Password Reset</legend>
  <div class="modal_mini_title">All Purpose Medical Information System</div>

  <div *ngIf="modal1_show && showInfo" class="infoAlert"><i class="fa fa-info-circle" aria-hidden="true"></i>Note that a verification token will be sent to the number and email address supplied below</div>
  <div class="mainErr animated shake" [hidden]="mainErr">{{errMsg}}</div>

  <div *ngIf="modal1_show" class="f_sg_1">

    <form [formGroup]="frm_pwdReset1" novalidate>

      <div class="frm-item-wrap">
        <md-input-container class="example-full-width">
          <input mdInput md-error placeholder="Apmis ID" formControlName="apmisid" [(ngModel)]="input_apmisid">
        </md-input-container>
      </div> 

      <div class="frm-item-wrap">
        <md-input-container class="example-full-width">
          <input type="email" mdInput md-error placeholder="Registered Email Address" formControlName="email" [(ngModel)]="input_email">
        </md-input-container>
      </div>

      <div class="frm-item-wrap">
        <md-input-container class="example-full-width">
          <input type="tel" mdInput md-error placeholder="Registered Phone Number" formControlName="phoneNo" [(ngModel)]="input_phoneNo">
        </md-input-container>
      </div>

      <div (click)="login()" class="forgetPword">Log In</div>

      <div (click)="verify(frm_pwdReset1.valid, frm_pwdReset1.value)" class="cta-1">
        Send Token
      </div>

    </form>
  </div>

  <div *ngIf="modal2_show" class="f_sg_1">

    <form [formGroup]="frm_pwdReset2" novalidate>
        
      <div class="frm-item-wrap">
        <small class="alert-label" [hidden]="frm_pwdReset2.controls.token.valid || frm_pwdReset2.controls.token.pristine">
          Kindly supply the verification token sent to your email and phone number.
        </small>
        <i class="fa fa-check-circle-o" aria-hidden="true"></i>
        <input type="text" formControlName="token" [(ngModel)]="input_token" placeholder="Verification Token" autocomplete="off">
      </div>

      <div class="frm-item-wrap">
        <small class="alert-label" [hidden]="frm_pwdReset2.controls.password.valid || frm_pwdReset2.controls.password.pristine">
          Kindly supply your new password.
        </small>
        <i class="fa fa-lock" aria-hidden="true"></i>
        <input type="password" formControlName="password" [(ngModel)]="input_password" placeholder="New Password" autocomplete="off">
      </div>

      <div class="frm-item-wrap">
        <small class="alert-label" [hidden]="frm_pwdReset2.controls.repassword.valid || frm_pwdReset2.controls.repassword.pristine">
          Kindly supply your new password.
        </small>
        <i class="fa fa-lock" aria-hidden="true"></i>
        <input type="password" formControlName="repassword" [(ngModel)]="input_repassword" placeholder="Confirm Password" autocomplete="off">
      </div>

      <div (click)="login()" class="forgetPword">Log In</div>
      <div (click)="back_resetFrm1()" class="backBtn"><i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i>Go Back</div>

      <div (click)="reset(frm_pwdReset2.valid, frm_pwdReset2.value)" class="cta-1">
        Reset Password
      </div>

    </form>
  </div>

</div>

