<div class="animated pulse">
    <div class="modal-header-wrap">
        <div (click)="close_onClick()" class="modal-close-ico" aria-hidden="true">X</div>
        <legend class="modal_title">Password Reset</legend>
        <div class="modal_mini_title">All Purpose Medical Information System</div>
    </div>
    <div class="modal-baseWrap">

        <div *ngIf="modal1_show && showInfo" class="infoAlert"><i class="fa fa-info-circle" aria-hidden="true"></i>Note that a verification token will be sent to the number and email address supplied below</div>
        <div class="mainErr animated shake" [hidden]="mainErr">{{errMsg}}</div>

        <div *ngIf="modal1_show" class="f_sg_1">

            <form [formGroup]="frm_pwdReset1" novalidate>

                <div class="frm-item-wrap">
                    <mat-input-container class="example-full-width">
                        <input matInput mat-error placeholder="Apmis ID" formControlName="apmisid" [(ngModel)]="input_apmisid">
                    </mat-input-container>
                </div>

                <div class="frm-item-wrap">
                    <mat-input-container class="example-full-width">
                        <input type="email" matInput mat-error placeholder="Registered Email Address" formControlName="email" [(ngModel)]="input_email">
                    </mat-input-container>
                </div>

                <div class="frm-item-wrap" style="margin-bottom: 15px;">
                    <mat-input-container class="example-full-width">
                        <input type="tel" matInput mat-error placeholder="Registered Phone Number" formControlName="phoneNo" [(ngModel)]="input_phoneNo">
                    </mat-input-container>
                </div>

                <div class="back-btn-box">
                    <span (click)="login()" class="forgetPword">Log In</span>
                </div>

                <div class="btn-box">
                    <button class="small-btn" [disabled]="!frm_pwdReset1.valid" (click)="verify(frm_pwdReset1.valid, frm_pwdReset1.value);" mat-raised-button>Send Token</button>
                </div>
                <!-- <div (click)="verify(frm_pwdReset1.valid, frm_pwdReset1.value)" class="cta-1">
            Send Token
        </div> -->

            </form>
        </div>

        <div *ngIf="modal2_show" class="f_sg_1">

            <form [formGroup]="frm_pwdReset2" novalidate>

                <div class="frm-item-wrap">
                    <mat-input-container class="example-full-width">
                        <input matInput mat-error placeholder="Verification Token" formControlName="token" [(ngModel)]="input_token" autocomplete="off">
                    </mat-input-container>
                    <!-- <small class="alert-label" [hidden]="frm_pwdReset2.controls.token.valid || frm_pwdReset2.controls.token.pristine">
            Kindly supply the verification token sent to your email and phone number.
            </small>
                    <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                    <input type="text" formControlName="token" [(ngModel)]="input_token" placeholder="Verification Token" autocomplete="off"> -->
                </div>

                <div class="frm-item-wrap">
                    <mat-input-container class="example-full-width">
                        <input type="password" matInput mat-error placeholder="New Password" formControlName="password" [(ngModel)]="input_password" autocomplete="off">
                    </mat-input-container>
                    <!-- <small class="alert-label" [hidden]="frm_pwdReset2.controls.password.valid || frm_pwdReset2.controls.password.pristine">
            Kindly supply your new password.
            </small>
                    <i class="fa fa-lock" aria-hidden="true"></i>
                    <input type="password" formControlName="password" [(ngModel)]="input_password" placeholder="New Password" autocomplete="off"> -->
                </div>

                <div class="frm-item-wrap" style="margin-bottom: 15px;">
                    <mat-input-container class="example-full-width">
                        <input type="password" matInput mat-error placeholder="Confirm Password" formControlName="repassword" [(ngModel)]="input_repassword" autocomplete="off">
                    </mat-input-container>
                    <!-- <small class="alert-label" [hidden]="frm_pwdReset2.controls.repassword.valid || frm_pwdReset2.controls.repassword.pristine">
            Kindly supply your new password.
            </small>
                    <i class="fa fa-lock" aria-hidden="true"></i>
                    <input type="password" formControlName="repassword" [(ngModel)]="input_repassword" placeholder="Confirm Password" autocomplete="off"> -->
                </div>

                <div class="back-btn-box">
                    <span (click)="login()" class="forgetPword">Log In</span>
                </div>

                <div class="back-btn-box">
                    <span (click)="back_resetFrm1()" class="backBtn"><i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i>Go Back</span>
                </div>

                <div class="btn-box">
                    <button class="small-btn" [disabled]="!frm_pwdReset2.valid" (click)="reset(frm_pwdReset2.valid, frm_pwdReset2.value);" mat-raised-button>Reset Password</button>
                </div>
                <!-- <div (click)="reset(frm_pwdReset2.valid, frm_pwdReset2.value)" class="cta-1">
            Reset Password
        </div> -->

            </form>
        </div>

    </div>
</div>