<div class="survery">
    <div class="">
        <div class="row margin-bottom">
            <div class="col-sm-4 col-md-4 col-xs-12">
                <!--<dx-select-box  placeholder="Choose" [showClearButton]="true">
                </dx-select-box>-->
            </div>
            <div class="col-sm-4 col-md-4 col-xs-12 pull-right">
                <!--<dx-text-box value="Search"></dx-text-box>-->
            </div>
        </div>
        <table class="table table-responsive table-striped text-center">
            <thead>
                <tr>
                    <th><i class="fa fa-sort-alpha-asc"></i>From</th>
                    <th> <i class="fa fa-sort-alpha-asc"></i>Value</th>
                    <th><i class="fa fa-sort-alpha-asc"></i>Date</th>
                    <th><i class="fa fa-sort-alpha-asc"></i>Transfer By</th>
                    <th><i class="fa fa-sort-alpha-asc"></i>Status</th>
                    <th style="width:150px"><i class="fa fa-sort-alpha-asc"></i>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let received of receivedTransfers">
                    <td>{{received.storeObject?.name}}</td>
                    <td>{{received.totalCostPrice|number:'1.2-2'}}</td>
                    <td>{{received.createdAt|date:'short'}}</td>
                    <td>{{received.transferByObject?.employeeFullName}}</td>
                    <td class="accepted">{{getStatus(received)}}</td>
                    <td>
                        <span (click)="slideDetailsShow(received)"><a  class=""><i class="fa fa-eye"></i></a></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- details -->
    <div id="slideDetails" *ngIf="slideDetails">
        <div class="container" style="width:100%;">
            <div class="row">
                <a (click)="clicked()"><span><i class="fa fa-arrow-circle-right"></i></span></a>
                <div class="col-sm-12 col-md-12 col-xs-12 text-center">
                    <h4 class="apmis-brown">Stock Transfer</h4>
                    <p class="apmis-blue">112250AA</p>
                    <p class="pull-right pending">Pending</p>
                </div>
            </div>
            <div class="row">
                <div class="date-box">
                    <div class="col-sm-2 col-md-2">
                        <p>From</p>
                    </div>
                    <div class="col-sm-1 col-md-1 padding-left-0">
                        <span>-</span>
                    </div>
                    <div class="col-sm-3 col-md-3 col-xs-12 ">
                        <p>{{selectedInventoryTransfer?.storeObject?.name}}</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="date-box">
                    <div class="col-sm-2 col-md-2">
                        <p>To</p>
                    </div>
                    <div class="col-sm-1 col-md-1 padding-left-0">
                        <span>-</span>
                    </div>
                    <div class="col-sm-3 col-md-3">
                        <p>{{selectedInventoryTransfer?.destinationStoreObject?.name}}</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="date-value">
                    <div class="col-sm-4 col-md-4">
                        <p>Date Transfer</p>
                    </div>
                    <div class="col-sm-1 col-md-1 padding-left-0">
                        <span>-</span>
                    </div>
                    <div class="col-sm-5 col-md-5">
                        <p>{{selectedInventoryTransfer.createdAt|date:'short'}}</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="date-value">
                    <div class="col-sm-4 col-md-4">
                        <p>Date Accepted</p>
                    </div>
                    <div class="col-sm-1 col-md-1 padding-left-0">
                        <span>-</span>
                    </div>
                    <div class="col-sm-5 col-md-5">
                        <p>06-05-2017</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="date-value red">
                    <div class="col-sm-4 col-md-4">
                        <p>Stock Value</p>
                    </div>
                    <div class="col-sm-1 col-md-1 padding-left-0">
                        <span>-</span>
                    </div>
                    <div class="col-sm-5 col-md-5">
                        <p>&#8358; {{selectedInventoryTransfer.totalCostPrice|number:'1.2-2'}}</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <div class="print pull-right">
                        <a><span class="fa fa-paperclip"></span></a>
                        <a><span class="fa fa-file-pdf-o"></span></a>
                        <a><span class="fa fa-print"></span></a>
                    </div>
                </div>
            </div>
            <div class=" box-border">
                <div class="row">
                    <div class="col-sm-6 col-md-6">
                        <h4> Products </h4>
                    </div>
                    <div class="col-sm-3 col-md-3">
                        <h4> Value (N) </h4>
                    </div>
                    <div class="col-sm-3 col-md-3">
                        <h4> Quantity </h4>
                    </div>
                </div>
                <div class="row" *ngFor="let transaction of selectedInventoryTransfer.inventoryTransferTransactions">
                    <div class="col-sm-6 col-md-6">
                        <!--<dx-check-box [disabled]="shouldDisabled(transaction)" (onValueChanged)="onValueChanged($event,transaction)" class="control__indicator" [value]="transaction.checked" text="{{transaction.productObject.name}}"></dx-check-box>-->
                    </div>
                    <div class="col-sm-3 col-md-3">
                        <p> {{transaction.lineCostPrice|number:'1.2-2'}}</p>
                    </div>
                    <div class="col-sm-3 col-md-3">
                        <p> {{transaction.quantity}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-xs-12 text-center margin-top-15px">
                        <button (click)="accept()" class="btn btn-success btn-accept"> Accept </button>
                        <button (click)="reject()" class="btn btn-danger btn-reject"> Reject </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- end details  -->


</div>