<div class="animated pulse">
    <div class="modal-header-wrap">
        <div (click)="close_onClick()" class="modal-close-ico" aria-hidden="true">X</div>
        <legend class="modal_title">Assign Employee Unit</legend>
        <div class="modal_mini_title">All Purpose Medical Information System</div>
    </div>
    <div class="modal-baseWrap">
        <div class="mainErr animated shake" [hidden]="mainErr">{{errMsg}}</div>
        <form [formGroup]="frmNewEmp1" novalidate>
            <div class="frm-item-wrap">
                <i class="fa fa-building-o" aria-hidden="true"></i>
                <!--<label>Department</label>-->
                <!--<select formControlName="dept">
            <option value="" disabled selected>Department</option>
            <option [disabled]="disableDepartment" *ngFor="let department of departments" [ngValue]="department">{{department.name}}</option>
        </select>-->
                <mat-select placeholder="Department" formControlName="dept">
                    <mat-option [disabled]="disableDepartment" *ngFor="let department of departments" [value]="department">{{department.name}}</mat-option>
                </mat-select>
            </div>

            <div class="frm-item-wrap">
                <i class="fa fa-building-o" aria-hidden="true"></i>
                <!--<label>Unit</label>-->
                <!--<select formControlName="unit">
            <option value="" disabled selected>Unit</option>
            <option *ngFor="let unit of units" [ngValue]="unit">{{unit.name}}</option>
        </select>-->
                <mat-select placeholder="Unit" formControlName="unit">
                    <mat-option *ngFor="let unit of units" [value]="unit">{{unit.name}}</mat-option>
                </mat-select>
            </div>

            <div class="emp-wrap">
                <table cellpadding="0" cellspacing="0" border="0.5">
                    <thead>
                        <tr>
                            <th class="sel-all">
                                <div class="dx-field">
                                    <div class="dx-field-value">
                                        <mat-checkbox [formControl]="checkAll"></mat-checkbox>
                                        </div>
                                </div>
                            </th>
                            <th>
                                <i class="fa fa-sort-alpha-asc" aria-hidden="true"></i>
                                <!--<i class="fa fa-sort-alpha-desc" aria-hidden="true"></i>-->
                                <span style="padding-left: 3px;">Employee</span>
                            </th>
                            <th>
                                <i class="fa fa-sort-alpha-asc" aria-hidden="true"></i>
                                <!--<i class="fa fa-sort-alpha-desc" aria-hidden="true"></i>-->
                                <span style="padding-left: 3px;">Telephone</span>
                            </th>
                            <th>
                                <i class="fa fa-sort-alpha-asc" aria-hidden="true"></i>
                                <!--<i class="fa fa-sort-alpha-desc" aria-hidden="true"></i>-->
                                <span style="padding-left: 3px;">Email</span>
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td colspan="6">
                                <div class="tbl-actionRow">
                                    <div class="tbl-title"></div>
                                    <div class="tbl-search">
                                        <div class="searchInputWrap">
                                            <mat-input-container class="example-full-width">
                                                <input matInput [formControl]="searchControl" class="searchInput" type="search" autofocus>
                                            </mat-input-container>
                                            <i class="fa fa-search" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>

                        <tr *ngFor="let employee of filteredEmployees">
                            <td class="sel-all">
                                <div class="dx-field">
                                    <div class="dx-field-value">
                                        <mat-checkbox [formControl]="checkAll" (change)="onValueChanged($event,employee)" [value]="employee.isChecked"></mat-checkbox>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="empWrap">
                                    <div class="list-img">
                                        <div *ngIf="employee?.employeeDetails?.profileImageObject === undefined"><img src="assets/images/users/default.png"></div>
                                        <img *ngIf="employee?.employeeDetails?.profileImageObject !== undefined" [src]="facilityService.transform(employee?.employeeDetails?.profileImageObject?.thumbnail)">
                                    </div>
                                    <div>{{employee.employeeDetails.lastName}} {{employee.employeeDetails.firstName}}</div>
                                </div>
                            </td>
                            <td>{{employee.employeeDetails.phoneNumber}}</td>
                            <td>{{employee.employeeDetails.email}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>



            <div (click)="assignUnit(frmNewEmp1.valid, frmNewEmp1.value)" class="cta-1">
                Assign Unit
            </div>

        </form>

    </div>
</div>