
label{
    position: absolute;
    font-size: 10px;
    margin-top: -5px;
    color: #797D7F;
}
.modal-baseWrap {
    padding: 20px 90px;
}
.modal_title {
    margin-bottom: 20px;
}
.emp-wrap{
    width: 600px;
    height: 200px;
    background: #eee;
    overflow-y: scroll;
    padding: 10px;
    margin-bottom: 20px;
}
.frm-item-wrap {
    padding-bottom: 20px;
}
.list-img img {
    width: 20px;
}
.list-img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.empWrap {
    display: flex;
    align-items: center;
}
.sel-all{
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 768px) {
    .emp-wrap {
        overflow: scroll;
    }
}