.modal-overlay {
    position: fixed;
    top: 0px;
    left: 0;
    z-index: 99999;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
}
.apmis-blue {
    color: #fff;
    background: #0288D1;
    margin: 5px 2px;
}
.box-title {
    color: gray;
    font-size: 12px;
    margin-top: 25px;
}
.table > tbody > tr > th {
    color: #000;
}