<div class="mainErr animated shake" [hidden]="mainErr">{{errMsg}}</div>
<div class="f_sg1">

    <form [formGroup]="facilityForm1" novalidate>
        <div class="frm-item-wrap">
            <mat-input-container class="example-full-width">
                <input matInput mat-error placeholder="Apmis ID" formControlName="facilityname" value="inputFacility.name">
            </mat-input-container>
        </div>

        <button class="cta-1">
            CONTINUE
        </button>
    </form>
</div>
  