
<div class="inner-wrap-b body-wrap">
    <div class="facility-title">{{pageInView}}</div>
    <div class="survery">
        <div class="container" id="container">
            <div class="completion-meter">
                <div class="completion-meter_step">
                    <div class="first-chenck">
                        <span class="completion-meter_icon completion-meter_icon-first-gradient">
                            <i class="fa fa-2x fa-check-circle-o"></i>
                        </span> 
                        <div class="dropdown">
                            <div class="dropdown-content">
                                <ul>
                                    <li><i class="fa fa-check"></i>step one</li>
                                    <li><i class="fa fa-close"></i>step two</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="completion-meter_step completion-meter-moving">
                </div>
            </div>
        </div>
    </div>
    <div class="inner-menu1-wrap responsive_nav-group">
        <i id="contentSecMenuToggle" [class.content-sec-icoActive]="contentSecMenuShow" class=" content-sec-ico fa fa-ellipsis-v" aria-hidden="true"></i>
        <ul id="innerMenu-ul" *ngIf="contentSecMenuShow" class="innerMenu-ul shadow">
            <li (click)="changeRoute('')"><i class="fa fa-home" aria-hidden="true"></i> Home</li>
            <li (click)="changeRoute('dashboard')"><i class="fa fa-braille" aria-hidden="true"></i> Modules</li>
            <li (click)="changeRoute('departments')"><i class="fa fa-building" aria-hidden="true"></i> Departments</li>
            <li (click)="changeRoute('locations')"><i class="fa fa-map-marker" aria-hidden="true"></i> Locations</li>
            <li (click)="changeRoute('workspaces')"><i class="fa fa-map-marker" aria-hidden="true"></i> Locations</li>
            <li (click)="changeRoute('options')"><i class="fa fa-map-marker" aria-hidden="true"></i> Options</li>
            <li (click)="changeRoute('profession')"><i class="fa fa-map-marker" aria-hidden="true"></i> Profession</li>
        </ul>
    </div>
    <div class="inner-page-wrap">

        <div class="lhs inner-page-menuTab">
            <ul class="nav-group">
                <li (click)="changeRoute('')" [class.navActive]="homeContentArea">Home</li>
                <li (click)="changeRoute('modules')" [class.navActive]="dashboardContentArea">Modules</li>
                <li (click)="changeRoute('departments')" [class.navActive]="departmentsContentArea">Departments</li>
                <li (click)="changeRoute('locations')" [class.navActive]="locationsContentArea">Locations</li>
                <li (click)="changeRoute('workspaces')" [class.navActive]="workspaceContentArea">Workspace</li>
                <li (click)="changeRoute('options')" [class.navActive]="optionsContentArea">Options</li>
                <li (click)="changeRoute('profession')" [class.navActive]="professionContentArea">Profession</li>
            </ul>
        </div>
        <div class="rhs inner-page-contentArea">
            <router-outlet></router-outlet>
        </div>

        <div class="clear"></div>
    </div>
</div>
<div *ngIf="loadIndicatorVisible" class="div_loading">
    <md-spinner></md-spinner>
</div>