<div class="pg-subtitle">
    RADIOLOGY REQUESTS
</div>
<div>
    <div class="doc-mainWrap">
        <div class="doc-contentArea">
            <div class="clinicalNoteWrap">
                <div class="actSect">
                    <div (click)="request_show()" class="act-wrap">
                        <i *ngIf="request_view" class="fa fa-minus" aria-hidden="true"></i>
                        <i [hidden]="request_view" class="fa fa-plus" aria-hidden="true"></i>
                        <span>New Request</span>
                    </div>
                    <div *ngIf="isExternal===true" (click)="extList_show()" class="ext-listBtn">External Requests</div>

                    <div *ngIf="extList" class="ext-list shadow-RB">
                        <div (click)="extList_close()" class="x">x</div>
                        <table cellpadding="0" cellspacing="0" border="0.5">
                            <tbody>

                                <tr *ngFor="let external of pendingExternalRequests">
                                    <td>{{external.createdAt | date:'short'}}.</td>
                                    <td>{{external.name}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <form class="frmNoteWrap" *ngIf="request_view" [formGroup]="frmNewRequest" novalidate>
                        <div *ngIf="isLaboratory" class="labBtn-wrap">
                            <div (click)="newPerson()" class="lab-btn"><i class="fa fa-plus" aria-hidden="true"></i>Register Patient</div>
                        </div>
                        <div class="clear-r"></div> 
                        <div class="frm-wrap">
                            <div class="frm-l">
                                <div *ngIf="isLaboratory" class="frm-item-wrap">
                                    <apmis-lookup formControlName="patient" [(ngModel)]="apmisLookupText" [url]="apmisLookupUrl" [query]="apmisLookupQuery" placeholder="search for patient" [isSocket]="true" [displayKey]="apmisLookupDisplayKey" [displayImage]="true" [imgObj]="apmisLookupImgKey"
                                        [multipleKeys]="true" [otherKeys]="apmisLookupOtherKeys" (selectedItem)="apmisLookupHandleSelectedItem($event)"></apmis-lookup>
                                </div>

                                <div class="frm-item-wrap">
                                    <mat-input-container>
                                        <textarea style="height: 120px;" matInput formControlName="clinicalInfo" placeholder="Clinical Information"></textarea>
                                    </mat-input-container>
                                </div>

                            </div>
                            <div class="frm-r">
                                <div *ngIf="isLaboratory" class="frm-item-wrap">
                                    <mat-input-container>
                                        <input matInput placeholder="Lab Number" formControlName="labNo">
                                    </mat-input-container>
                                </div>

                                <div class="frm-item-wrap">
                                    <mat-input-container>
                                        <textarea style="height: 120px;" matInput formControlName="diagnosis" placeholder="Diagnosis"></textarea>
                                    </mat-input-container>
                                </div>

                            </div>
                        </div>

                        <div class="investigation-sect">

                            <div class="investigation-list">
                                <div class="frm-item-wrap">
                                    <mat-input-container>
                                        <input matInput [formControl]="searchInvestigation" placeholder="search for Investigation" autocomplete="off">
                                    </mat-input-container>
                                </div>

                                <div *ngFor="let investigation of investigations">
                                    <div *ngIf="investigation.investigation.isPanel">
                                        <div class="panel-wrap">
                                            <div class="list-item panel">
                                                <div class="txt-innerWrap">
                                                    <mat-checkbox (change)="investigationChanged($event, investigation)" [checked]="investigation.isChecked"></mat-checkbox>
                                                    <div class="txt-label list-label">{{investigation.investigation.name}}</div>
                                                </div>
                                                <i class="fa fa-long-arrow-down" aria-hidden="true"></i>
                                            </div>

                                            <div class="panel-loc" *ngIf="investigation.isChecked">
                                                <div class="inner-radio">

                                                    <mat-checkbox (change)="markExternal($event, investigation)" [checked]="investigation.isExternal">External</mat-checkbox>
                                                    <mat-radio-group [value]="location" *ngIf="!investigation.isExternal">
                                                        <mat-radio-button class="opt" *ngFor="let location of investigation.LaboratoryWorkbenches" (change)="locationChanged($event, investigation, location, investigation.LaboratoryWorkbenches)" [value]="location" [checked]="false">
                                                            <div class="opt-inner">
                                                                <div>{{location.laboratoryId.name}}</div>
                                                                <div class="opt-price"><span>&#x20a6;</span>{{getPrice(location.workbenches)}}</div>
                                                            </div>
                                                        </mat-radio-button>
                                                    </mat-radio-group>
                                                </div>
                                            </div>

                                            <div *ngFor="let panel of investigation.investigation.panel" class="child-list">
                                                <div class="txt-innerWrap" *ngIf="IsParentChecked(investigation, panel)">
                                                    <div class="chkbox-wrap">
                                                        <mat-checkbox [checked]="panel.investigation.isChecked" (change)="childChanged($event, investigation, panel,true)"></mat-checkbox>
                                                        <div class="child-item">{{panel.investigation.name}}</div>
                                                    </div>

                                                    <div class="inner-radio">
                                                        <div class="opt-inner">
                                                            <div>{{getParentLocation(investigation, panel)}}</div>
                                                            <div *ngIf="getParentLocation(investigation, panel).length > 0" class="opt-price"><span>&#x20a6;</span>{{getChildPrice(investigation, panel)}}</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div *ngIf="!investigation.investigation.isPanel" class="list-item investigation">
                                        <div class="txt-innerWrap">
                                            <div class="chkbox-wrap">
                                                <mat-checkbox (change)="investigationChanged($event, investigation)" [checked]="investigation.isChecked"></mat-checkbox>
                                                <div class="list-label">{{investigation.investigation.name}}</div>
                                            </div>

                                            <div class="inner-radio" *ngIf="investigation.isChecked">
                                                <mat-checkbox (change)="markExternal($event, investigation)" [checked]="investigation.isExternal">External</mat-checkbox>
                                                <mat-radio-group [value]="location" *ngIf="!investigation.isExternal">
                                                    <mat-radio-button class="opt" *ngFor="let location of investigation.LaboratoryWorkbenches" (change)="locationChanged($event, investigation, location, investigation.LaboratoryWorkbenches)" [value]="location" [checked]="false">
                                                        <div class="opt-inner">
                                                            <div>{{location.laboratoryId.name}}</div>
                                                            <div class="opt-price"><span>&#x20a6;</span>{{getPrice(location.workbenches)}}</div>
                                                        </div>
                                                    </mat-radio-button>
                                                </mat-radio-group>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="selected-list">
                                <div class="sel-list-title">SELECTED INVESTIGATIONS</div>
                                <div *ngIf="bindInvestigations.length > 0" class="sel-total"><span>&#x20a6;</span>{{getTotalPrice()}}</div>
                                <div *ngFor="let investigation of bindInvestigations">
                                    <div *ngIf="investigation.investigation.isPanel" class="panel-wrap">
                                        <div class="panel-inner">
                                            <div class="list-item panel">
                                                <div class="txt-innerWrap item-bi-sect">
                                                    <div class="txt-label list-label">{{investigation.investigation.name}}</div>
                                                    <div *ngIf="!investigation.isExternal" class="txt-label list-label">{{investigation.location.laboratoryId.name}}</div>
                                                </div>
                                                <div class="txt-wrap actions-wrapa item-bi-sect">
                                                    <div class="txt-innerWrap" *ngIf="investigation.isExternal">
                                                        <div class="txt-label">External</div>
                                                        <div class="txt-val">
                                                            <mat-checkbox (change)="externalChanged($event, investigation)" [checked]="investigation.isExternal"></mat-checkbox>
                                                        </div>
                                                    </div>

                                                    <div class="txt-innerWrap">
                                                        <div class="txt-label">Urgent</div>
                                                        <div class="txt-val">
                                                            <mat-checkbox (change)="urgentChanged($event, investigation)" [checked]="investigation.isUrgent"></mat-checkbox>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="close">X</div>
                                            </div>

                                        </div>
                                        <div *ngFor="let panel of investigation.investigation.panel" class="panel-inner child-list">
                                            <div class="list-item">
                                                <div class="txt-innerWrap  item-bi-sect">
                                                    <div class="txt-label child-item">{{panel.investigation.name}}</div>
                                                </div>

                                                <div class="txt-wrap actions-wrapa item-bi-sect">
                                                    <!-- <div class="txt-innerWrap">
                                                        <div class="txt-label">External</div>
                                                        <div class="txt-val">
                                                            <mat-checkbox (change)="externalChanged($event, panel)" [checked]="investigation.isExternal"></mat-checkbox>
                                                        </div>
                                                    </div> -->

                                                    <div class="txt-innerWrap">
                                                        <div class="txt-label">Urgent</div>
                                                        <div class="txt-val">
                                                            <mat-checkbox (change)="urgentChanged($event, panel)" [checked]="investigation.isUrgent"></mat-checkbox>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div *ngIf="!investigation.investigation.isPanel" class="list-item investigation">
                                        <div class="item-bi-sect">
                                            <div class="list-label">{{investigation.investigation.name}}</div>
                                            <div *ngIf="!investigation.isExternal" class="txt-label list-label">{{investigation.location.laboratoryId.name}}</div>
                                            <div *ngIf="!investigation.isExternal" class="opt-price"><span>&#x20a6;</span>{{getPrice(investigation.location.workbenches)}}</div>
                                        </div>

                                        <div class="txt-wrap actions-wrapa item-bi-sect">
                                            <div class="txt-innerWrap" *ngIf="investigation.isExternal">
                                                <div class="txt-label">External</div>
                                                <div class="txt-val">
                                                    <mat-checkbox (change)="externalChanged($event, investigation)" [checked]="investigation.isExternal"></mat-checkbox>
                                                </div>
                                            </div>

                                            <div class="txt-innerWrap">
                                                <div class="txt-label">Urgent</div>
                                                <div class="txt-val">
                                                    <mat-checkbox (change)="urgentChanged($event, investigation)" [checked]="investigation.isUrgent"></mat-checkbox>
                                                </div>
                                            </div>
                                        </div>
                                        <div (click)="removeBindingInvestigation(investigation)" class="close">X</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="btn-box">
                            <button mat-raised-button [disabled]="!isValidateForm" (click)="save(frmNewRequest.valid, frmNewRequest.value)" class="btn">Make Request</button>
                        </div>
                    </form>
                </div>

                <div class="tblWrapa" class="actSect">
                    <table cellpadding="0" cellspacing="0" border="0.5">
                        <thead>
                            <tr>
                                <th>
                                    <i class="fa fa-sort-alpha-asc" aria-hidden="true"></i>
                                    <!--<i class="fa fa-sort-alpha-desc" aria-hidden="true"></i>-->
                                    <span style="padding-left: 3px;">Date</span>
                                </th>
                                <th>
                                    <i class="fa fa-sort-alpha-asc" aria-hidden="true"></i>
                                    <!--<i class="fa fa-sort-alpha-desc" aria-hidden="true"></i>-->
                                    <span style="padding-left: 3px;">Patient</span>
                                </th>
                                <th>
                                    <i class="fa fa-sort-alpha-asc" aria-hidden="true"></i>
                                    <!--<i class="fa fa-sort-alpha-desc" aria-hidden="true"></i>-->
                                    <span style="padding-left: 3px;">Description</span>
                                </th>
                                <th>
                                    <i class="fa fa-sort-alpha-asc" aria-hidden="true"></i>
                                    <!--<i class="fa fa-sort-alpha-desc" aria-hidden="true"></i>-->
                                    <span style="padding-left: 3px;">Source</span>
                                </th>
                                <th>Status</th>
                                <th *ngIf="isLaboratory"></th>
                            </tr>
                        </thead>

                        <tbody>

                            <tr>
                                <td colspan="10">
                                    <div class="tbl-actionRow">
                                        <!-- <div class="frm-item-wrap">
                          <apmis-lookup [(ngModel)]="apmisLookupText"
                          url="apmisLookupUrl" query="apmisLookupQuery" placeholder="Patient"
                          isSocket="false" displayKey="apmisLookupDisplayKey"
                          (selectedItem)="apmisLookupHandleSelectedItem($event)"></apmis-lookup>
                        </div>

                        <div class="frm-item-wrap">
                          <apmis-lookup [(ngModel)]="apmisLookupText"
                              url="apmisLookupUrl" query="apmisLookupQuery" placeholder="Practitioner"
                              isSocket="false" displayKey="apmisLookupDisplayKey"
                              (selectedItem)="apmisLookupHandleSelectedItem($event)"></apmis-lookup>
                        </div>

                        <div class="frm-item-wrap">
                          <apmis-lookup [(ngModel)]="apmisLookupText"
                              url="apmisLookupUrl" query="apmisLookupQuery" placeholder="Location"
                              isSocket="false" displayKey="apmisLookupDisplayKey"
                              (selectedItem)="apmisLookupHandleSelectedItem($event)"></apmis-lookup>
                        </div> -->
                                    </div>
                                </td>
                            </tr>
                            <tr *ngIf="pendingRequests.length === 0 && !loading">
                                <td class="table-content" colspan="6" style="text-align: center "> No data available in table</td>
                            </tr>
                            <tr *ngIf="pendingRequests.length === 0 && loading">
                                <td class="table-content " colspan="6" style="text-align: center ">
                                    <i class="fa fa-circle-o-notch fa-spin fa-3x text-blue" aria-hidden="true"></i>
                                </td>
                            </tr>
                            <tr *ngFor="let request of pendingRequests">
                                <td>{{request.createdAt | date:'short'}}</td>
                                <td>
                                    <div class="empWrap">
                                        <div class="list-img">
                                            <div *ngIf="request?.patient?.personDetails?.profileImageObject === undefined"><img src="assets/images/users/default.png"></div>
                                            <img *ngIf="request?.patient?.personDetails?.profileImageObject !== undefined" [src]="facilityService.transform(request?.patient?.personDetails?.profileImageObject?.thumbnail)">
                                        </div>
                                        <div>{{request.patient.personDetails.firstName }} {{request.patient.personDetails.lastName }}</div>
                                    </div>
                                </td>
                                <td>{{request.name}}</td>
                                <td></td>
                                <td>
                                    <div class="status-wrap">
                                        <div class="status-item">
                                            <div class="status-label">Payment Made</div>
                                            <!-- <div [class.isSample]="paymentStatus" [class.notSample]="!paymentStatus" class="status-val"></div> -->
                                            <i *ngIf="paymentStatus" class="fa fa-check isSample" aria-hidden="true"></i>
                                            <i *ngIf="!paymentStatus" class="fa fa-minus notSample" aria-hidden="true"></i>
                                        </div>
                                        <div class="status-item">
                                            <div class="status-label">Sample Taken</div>
                                            <!-- <div [class.isSample]="sampleStatus" [class.notSample]="!sampleStatus" class="status-val"></div> -->
                                            <i *ngIf="request?.sampleTaken===true" class="fa fa-check isSample" aria-hidden="true"></i>
                                            <i *ngIf="!request?.sampleTaken===true" class="fa fa-minus notSample" aria-hidden="true"></i>
                                        </div>
                                        <div class="status-item">
                                            <div class="status-label">Specimen Recieved</div>
                                            <!-- <div [class.isSample]="recievedStatus" [class.notSample]="!recievedStatus" class="status-val"></div> -->
                                            <i *ngIf="request?.specimenReceived" class="fa fa-check isSample" aria-hidden="true"></i>
                                            <i *ngIf="!request?.specimenReceived" class="fa fa-minus notSample" aria-hidden="true"></i>
                                        </div>
                                        <div class="status-item">
                                            <div class="status-label">Result Available</div>
                                            <!-- <div [class.isSample]="resultStatus" [class.notSample]="!resultStatus" class="status-val"></div> -->
                                            <i *ngIf="request?.isUploaded" class="fa fa-check isSample" aria-hidden="true"></i>
                                            <i *ngIf="!request?.isUploaded" class="fa fa-minus notSample" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </td>
                                <td *ngIf="isLaboratory" class="action-placeholder" style="text-align:center;">
                                    <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                                    <div class="action-container shadow-RB">
                                        <div (click)="reqDetail(request)" class="action-item">
                                            <i class="fa fa-file-text-o" aria-hidden="true"></i>
                                            <span>View Investigation</span>
                                        </div>

                                        <div *ngIf="request.isPaid && request.sampleTaken" class="action-item" (click)="goToWriteReport(request);">
                                            <i class="fa fa-file-text" aria-hidden="true"></i>
                                            <span>Write Report</span>
                                        </div>

                                        <div (click)="showImageBrowseDlg()" class="action-item">
                                            <i class="fa fa-cloud-upload" aria-hidden="true"></i>
                                            <span>Upload File</span>
                                        </div>
                                        <input style="display:none;" #fileInput type="file" id="uploadResult" (click)="onChange($event)">
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="reqDetail_view" class="modal-overlay">
    <app-rad-request-detail [investigation]="selectedInvestigation" (closeModal)="close_onClick($event)" id="form-modal" class="form-modal center-center"></app-rad-request-detail>
</div>
<div *ngIf="personAcc_view" class="modal-overlay">
    <app-person-account (closeModal)="close_onClick($event)" id="form-modal" class="form-modal center-center"></app-person-account>
</div>