@import '../../product-manager/product-manager-landingpage/product-manager-landingpage.component.scss';
.inPatient-activityTimeline {
    width: 650px;
}
.margin-bottom {
    margin: 0 0 10px 0;
}
.navActive {
    border: 0.5px solid #fff;
}