<div class="patientPage-mainWrap">
    <div class="page-title">Patient Page</div>
    <div class="patientPage-sideTab">
        <div class="sideTab-header">
            <div class="header-secA">
                <div class="patient-img">
                    <div class="patient-img-wrap">
                        <div *ngIf="patient?.personDetails?.profileImageObject === undefined || patient === null"><img src="assets/images/users/default.png"></div>
                        <img *ngIf="patient?.personDetails?.profileImageObject !== undefined && patient !== null" class="shadow" [src]="facilityService.transform(patient?.personDetails?.profileImageObject?.detailthumbnail)">
                        <div (click)="show_changeUserImg()" class="pp-overlay">Change User Image</div>
                    </div>
                </div>
                <div class="headerDetail-wrap">
                    <div class="modal_title">{{patient?.personDetails.lastName}} {{patient?.personDetails.firstName}} {{patient?.personDetails.title.name}}</div>
                    <div class="headDetail-group">
                        <div class="patient-gender">{{patient?.personDetails.gender.name}}</div>
                        <div class="patient-apmisNo">{{patient?.personDetails.apmisId}}</div>
                    </div>
                    <div class="headDetail-group">
                        <div class="patient-dob">{{patient?.personDetails.dateOfBirth | date}}</div>
                        <div class="patient-phone">{{patient?.personDetails.phoneNumber}}</div>
                    </div>
                    <div class="patient-email">{{patient?.personDetails.email}}</div>

                    <section class="accBal-wrap">
                        <span class="accBal-label">Account Balance</span>
                        <span class="accBal-val">&#8358; 20,000</span>
                    </section>
                </div>
            </div>

            <ul class="topmenuwrap">
                <li (click)="checkoutPatient_show()">
                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                    <span>Checkout</span>
                </li>
                <li (click)="setAppointment()">
                    <i class="fa fa-calendar-plus-o" aria-hidden="true"></i>
                    <span>Set Appointment</span>
                </li>
            </ul>
        </div>

        <div class="sideTab-nav">
            <div class="menu-sect">
                <div (click)="menuSummary_click()" [class.active-menuItem]="menuSummary" class="menu-item">Patient Summary</div>
                <div (click)="menuTimeline_click()" [class.active-menuItem]="menuTimeline" class="menu-item">Timeline</div>
                <div (click)="menuPayment_click()" [class.active-menuItem]="menuPayment" class="menu-item">Payment</div>
            </div>
            <div class="menu-sect">
                <div (click)="menuDocs_click()" [class.active-menuItem]="menuDocs" class="menu-item">Documentation</div>
                <div (click)="menuTreatmentPlan_click()" [class.active-menuItem]="menuTreatmentPlan" class="menu-item">Treatement Plan</div>
            </div>
            <div class="menu-sect">
                <div (click)="menuLab_click()" [class.active-menuItem]="menuLab" class="menu-item">Laboratory</div>
                <div (click)="menuImaging_click()" [class.active-menuItem]="menuImaging" class="menu-item">Imaging</div>
            </div>
            <div class="menu-sect">
                <div (click)="menuPrescriptions_click()" [class.active-menuItem]="menuPrescriptions" class="menu-item">Prescribe Drug</div>
                <div (click)="menuExternalPrescriptions_click()" [class.active-menuItem]="menuPrescriptions" class="menu-item">Prescription List</div>
                <div (click)="menuMedicationHistory_click()" [class.active-menuItem]="menuMedicationHistory" class="menu-item">Medication History</div>
            </div>
        </div>
    </div>

    <div class="patientPage-contentArea">
        <app-patient-summary [patient]="patient" *ngIf="menuSummary && patient !== undefined"></app-patient-summary>
        <app-documentation [patient]=patient *ngIf="menuDocs"></app-documentation>
        <app-timeline [patient]="patient" *ngIf="menuTimeline"></app-timeline>
        <app-patient-prescription [selectedAppointment]="selectedAppointment" [patientDetails]="patient" *ngIf="menuPrescription"></app-patient-prescription>
        <app-medication-history *ngIf="menuMedicationHistory"></app-medication-history>
        <app-external-prescription [patientDetails]="patient" *ngIf="menuExternalPrescription"></app-external-prescription>
        <app-lab-requests [isLaboratory]="false" [patientId]="patient._id" *ngIf="menuLab"></app-lab-requests>
        <app-payment [patient]="patient" *ngIf="menuPayment"></app-payment>
        <app-treatement-plan *ngIf="menuTreatmentPlan"></app-treatement-plan>
    </div>

    <div *ngIf="addVitalsPop" class="modal-overlay">
        <!--<app-add-vitals (closeModal)="close_onClick($event)" id="form-modal" class="form-modal center-center"></app-add-vitals>-->
        <app-add-vitals [patient]="patient" (closeModal)="close_onClick($event)" id="form-modal" class="form-modal center-center"></app-add-vitals>
    </div>
    <div *ngIf="addTagsPop" class="modal-overlay">
        <app-add-tags (closeModal)="close_onClick($event)" id="form-modal" class="form-modal center-center"></app-add-tags>
    </div>
    <div *ngIf="checkoutPatient" class="modal-overlay">
        <app-checkout-patient [patientDetails]="patientDetails" [selectedAppointment]="selectedAppointment" (closeModal)="close_onClick($event)" id="form-modal" class="form-modal center-center"></app-checkout-patient>
    </div>
    <div *ngIf="changeUserImg" class="modal-overlay">
        <app-image-update [selectedPerson]="patient.personDetails" (closeModal)="close_onClick($event)" id="form-modal" class="form-modal center-center"></app-image-update>
    </div>
</div>