<div>
    <div class="patientPage-mainWrap">
        <div class="page-title">Patient Page</div>
        <div class="patientPage-sideTab">
            <div class="sideTab-header">
                <div class="patient-img">
                    <div class="patient-img-wrap">
                        <div *ngIf="patient?.personDetails?.profileImageObject === undefined"><img src="assets/images/users/default.png"></div>
                        <img *ngIf="patient?.personDetails?.profileImageObject !== undefined" class="shadow" [src]="facilityService.transform(patient?.personDetails?.profileImageObject?.detailthumbnail)">
                        <div (click)="show_changeUserImg()" class="pp-overlay">Change User Image</div>
                    </div>
                    <section class="accBal-wrap">
                        <span class="accBal-label">Account Balance</span>
                        <span class="accBal-val">&#8358; 20,000</span>
                    </section>
                    <legend (click)="checkoutPatient_show()" class="checkoutBtn">Checkout</legend>
                </div>
                <div class="headerDetail-wrap">
                    <div class="patient-name">{{patient?.personDetails.lastName}} {{patient?.personDetails.firstName}} {{patient?.personDetails.title.name}}</div>
                    <div class="headDetail-group">
                        <div class="patient-gender">{{patient?.personDetails.gender.name}}</div>
                        <div class="patient-apmisNo">{{patient?.personDetails.apmisId}}</div>
                    </div>
                    <div class="headDetail-group">
                        <div class="patient-dob">{{patient?.personDetails.dateOfBirth | date}}</div>
                        <div class="patient-phone">{{patient?.personDetails.phoneNumber}}</div>
                    </div>
                    <div class="patient-email">{{patient?.personDetails.email}}</div>
                    <div class="patientBanner-vitals">
                        <div class="demo-table">
                            <!--<div class="pbTableView-itemWrap item-height">
                                <div class="itemLeft">Height</div>
                                <div class="itemRight">
                                    <div class="val1">72.00<span class="entry-unit">Inch</span></div>
                                    <div class="val2">183<span class="entry-unit">cm</span></div>
                                </div>
                            </div>

                            <div class="pbTableView-itemWrap item-weight">
                                <div class="itemLeft">Weight</div>
                                <div class="itemRight">
                                    <div class="val1">136.7<span class="entry-unit">lbn</span></div>
                                    <div class="val2">62<span class="entry-unit">kg</span></div>
                                </div>
                            </div>

                            <div class="pbTableView-itemWrap item-bp">
                                <div class="itemLeft">BP</div>
                                <div class="itemRight">
                                    <div class="val1">130/90</div>
                                </div>
                            </div>-->
                            <table class="demo-table">
                                <tr>
                                    <th></th>
                                    <th>Temp.</th>
                                    <th>Pulse</th>
                                    <th>BP</th>
                                </tr>
                                <tr>
                                    <th></th>
                                    <td>

                                    </td>
                                    <td>

                                    </td>
                                    <td>

                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <div class="cta-wrap">
                        <div class="pp-cta">Set Appointment</div>
                    </div>

                </div>
            </div>

            <div class="sideTab-nav">
                <div class="menu-sect">
                    <div (click)="menuSummary_click()" [class.active-menuItem]="menuSummary" class="menu-item">Patient Summary</div>
                    <div (click)="menuTimeline_click()" [class.active-menuItem]="menuTimeline" class="menu-item">Timeline</div>
                    <div (click)="menuLists_click()" [class.active-menuItem]="menuLists" class="menu-item">Documentation</div>
                    <div (click)="menuPrescriptions_click()" [class.active-menuItem]="menuPrescriptions" class="menu-item">Prescription</div>
                    <div (click)="menuMedicationHistory_click()" [class.active-menuItem]="menuMedicationHistory" class="menu-item">Medication History</div>
                </div>
                <div class="menu-sect">
                    <div (click)="menuImages_click()" [class.active-menuItem]="menuImages" class="menu-item">Images</div>
                    <div (click)="menuDocs_click()" [class.active-menuItem]="menuDocs" class="menu-item">Documentation</div>
                    <div (click)="menuForms_click()" [class.active-menuItem]="menuForms" class="menu-item">Forms</div>
                </div>
                <div class="menu-sect">
                    <div (click)="menuLab_click()" [class.active-menuItem]="menuLab" class="menu-item">Laboratory</div>
                    <div (click)="menuImaging_click()" [class.active-menuItem]="menuImaging" class="menu-item">Imaging</div>
                </div>
                <div class="menu-sect">
                    <div (click)="menuPrescriptions_click()" [class.active-menuItem]="menuPrescriptions" class="menu-item">Prescriptions</div>
                    <div (click)="menuTreatmentPlan_click()" [class.active-menuItem]="menuTreatmentPlan" class="menu-item">Treatment Plan</div>
                </div>
                <div class="menu-sect">
                    <div (click)="menuBilling_click()" [class.active-menuItem]="menuBilling" class="menu-item">Billing</div>
                    <div (click)="menuPharmacy_click()" [class.active-menuItem]="menuPharmacy" class="menu-item">Pharmacy</div>
                </div>
            </div>
        </div>

        <div class="patientPage-contentArea">
            <app-patient-summary *ngIf="menuSummary"></app-patient-summary>
            <app-patient-prescription [selectedAppointment]="selectedAppointment" [patientDetails]="patientDetails" [employeeDetails]="employeeDetails" *ngIf="menuPrescription"></app-patient-prescription>
            <app-medication-history *ngIf="menuMedicationHistory"></app-medication-history>
        </div>

        <div *ngIf="addVitalsPop" class="modal-overlay">
            <!--<app-add-vitals (closeModal)="close_onClick($event)" id="form-modal" class="form-modal center-center"></app-add-vitals>-->
            <app-add-vitals [patientId]="patient._id" (closeModal)="close_onClick($event)" id="form-modal" class="form-modal center-center"></app-add-vitals>
        </div>
        <div *ngIf="addTagsPop" class="modal-overlay">
            <app-add-tags (closeModal)="close_onClick($event)" id="form-modal" class="form-modal center-center"></app-add-tags>
        </div>
        <div style="z-index: 1501;" *ngIf="checkoutPatient" class="modal-overlay">
            <app-checkout-patient [employeeDetails]="employeeDetails" [selectedAppointment]="selectedAppointment" (closeModal)="close_onClick($event)" id="form-modal" class="form-modal center-center"></app-checkout-patient>
        </div>
        <div *ngIf="changeUserImg" class="modal-overlay">
            <app-image-update [selectedPerson]="patient?.personDetails" (closeModal)="close_onClick($event)" id="form-modal" class="form-modal center-center"></app-image-update>
        </div>
    </div>
</div>