<div class="pg-subtitle">PRESCRIBE DRUG</div>
<section id="prescription">
    <div class="survery">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div style="display: flex; float: right;">
                    <div class="medical-list" style="margin-left: 2px;margin-right:10px;">
                        <a (click)="onClickMedicationShow('Current')" class="medical-list-btn"><i class="fa fa-long-arrow-left"></i> Current Medication List</a>
                    </div>
                    <div class="medical-list">
                        <a (click)="onClickMedicationShow('Past')" class="medical-list-btn"><i class="fa fa-long-arrow-left"></i> Past Medication List</a>
                    </div>
                </div>
            </div>
            <div *ngIf="currentMedicationShow">
                <table class="table table-bordered fly-out" id="table">
                    <thead>
                        <tr>
                            <th>S/N</th>
                            <th>Drugs</th>
                            <th>Status</th>
                            <th>Dispense</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let medication of currentMedications;">
                        <tr>
                            <td class="text-center" colspan="5">{{ medication.createdAt | date }}</td>
                        </tr>
                        <tr *ngFor="let med of medication.prescriptionItems; let i = index;">
                            <td>{{ i+1 }}</td>
                            <td>
                                {{ med.genericName }} - {{ med.frequency }} for {{ med.duration }}<br>
                            </td>
                            <td class="td-small">Started</td>
                            <td class="td-small">{{ medication.createdAt | date }}</td>
                            <td class="td-small"><button class="btn btn-default">Discontinue</button></td>
                        </tr>
                    </tbody>
                    <tbody class="custom-tbody" *ngIf="currentMedications.length === 0 && !currMedLoading">
                        <tr>
                            <td class="text-center" colspan="5"> No data available in table</td>
                        </tr>
                    </tbody>
                    <tbody class="custom-tbody" *ngIf="currentMedications.length === 0 && currMedLoading">
                        <tr>
                            <td class="text-center" colspan="5">
                                <md-spinner class="small-spinner"></md-spinner>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div *ngIf="pastMedicationShow">
                <table class="table table-bordered fly-out" id="table">
                    <thead>
                        <tr>
                            <th>S/N</th>
                            <th>Drugs</th>
                            <th>Status</th>
                            <th>Dispense</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let medication of pastMedications;">
                        <tr>
                            <td class="text-center" colspan="5">{{ medication.createdAt | date }}</td>
                        </tr>
                        <tr *ngFor="let med of medication.prescriptionItems; let i = index;">
                            <td>{{ i+1 }}</td>
                            <td>
                                {{ med.genericName }} - {{ med.frequency }} for {{ med.duration }}<br>
                            </td>
                            <td class="td-small">Started</td>
                            <td class="td-small">{{ medication.createdAt | date }}</td>
                            <td class="td-small"><button class="btn btn-default">Discontinue</button></td>
                        </tr>
                    </tbody>
                    <tbody class="custom-tbody" *ngIf="pastMedications.length === 0 && !pastMedLoading">
                        <tr>
                            <td class="text-center" colspan="5"> No data available in table</td>
                        </tr>
                    </tbody>
                    <tbody class="custom-tbody" *ngIf="pastMedications.length === 0 && pastMedLoading">
                        <tr>
                            <td class="text-center" colspan="5">
                                <md-spinner class="small-spinner"></md-spinner>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="add-sect">
            <form [formGroup]="addPrescriptionForm" novalidate>
                <div class="row padding-top-20px">
                    <div class="col-sm-6 col-md-6">
                        <apmis-lookup formControlName="drug" [(ngModel)]="apmisLookupText" [url]="apmisLookupUrl" [query]="apmisLookupQuery" [isSocket]="false" [displayImage]="false" [multipleKeys]="false" [displayKey]="apmisLookupDisplayKey" placeholder="Drug" (selectedItem)="apmisLookupHandleSelectedItem($event)"></apmis-lookup>
                    </div>
                    <div class="col-sm-3 col-md-3">
                        <md-input-container>
                            <input mdInput formControlName="strength" [(value)]="drugId" placeholder="Strength">
                        </md-input-container>
                    </div>
                    <div class="col-sm-3 col-md-3">
                        <md-select formControlName="route" placeholder="Route" class="md-select">
                            <md-option *ngFor="let route of routes" [(value)]="route.name">
                                {{ route.name }}
                            </md-option>
                        </md-select>
                    </div>
                </div>
                <div class="row padding-top-20px">
                    <div class="">
                        <div class="col-sm-3 col-md-3">
                            <md-select formControlName="frequency" placeholder="Frequency" class="example-full-width md-select">
                                <md-option *ngFor="let frequency of frequencies" [value]="frequency.name">
                                    {{ frequency.name }}
                                </md-option>
                            </md-select>
                        </div>
                        <div class="col-sm-4 col-md-4">
                            <div class="input-bg cacaca">
                                <div class="input-group">
                                    <md-input-container>
                                        <input mdInput type="number" formControlName="duration" placeholder="Duration">
                                    </md-input-container>
                                    <div class="input-group-btn">
                                        <md-select placeholder="Unit" formControlName="durationUnit" [(ngModel)]="selectedValue" class="md-select">
                                            <md-option *ngFor="let unit of durationUnits" [value]="unit.name">
                                                {{ unit.name }}
                                            </md-option>
                                        </md-select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2 col-md-2">
                            <md-input-container>
                                <input type="number" mdInput formControlName="refillCount" placeholder="Refill Count">
                            </md-input-container>
                        </div>
                        <div class="col-sm-3 col-md-3">
                            <md-input-container>
                                <input mdInput formControlName="startDate" [mdDatepicker]="picker" placeholder="Start Date">
                                <md-datepicker-toggle mdSuffix [for]="picker"></md-datepicker-toggle>
                            </md-input-container>
                            <md-datepicker #picker></md-datepicker>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12">
                        <md-input-container>
                            <textarea mdInput formControlName="specialInstruction" class="textarea" placeholder="Special Instruction" cols="30" rows="10"></textarea>
                        </md-input-container>
                        <div class="after-textarea-btn pull-right">
                            <button md-raised-button class="mat-lg-btn" [disabled]="!addPrescriptionForm.valid" (click)="onClickAddPrescription(addPrescriptionForm.value, addPrescriptionForm.valid);"> Add </button>
                            <button md-raised-button class="mat-lg-btn" (click)="onClickReset();"> Reset </button>
                        </div>
                    </div>
                </div>
            </form>

            <app-add-prescription [isDispensed]="isDispensed" [prescriptionItems]="prescriptionItems"></app-add-prescription>

            <form [formGroup]="allPrescriptionsForm">
                <div class="row">
                    <div class="col-xs-12 no-padding">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-8">
                            <div class="col-sm-6" style="margin-top: 10px;">
                                <md-select placeholder="Priority" formControlName="priority" class="md-select">
                                    <md-option *ngFor="let priority of priorities" [(value)]="priority._id">{{ priority.name }}</md-option>
                                </md-select>
                            </div>
                            <div class="col-sm-6 text-center">
                                <button md-raised-button [disabled]="!allPrescriptionsForm.valid || disableAuthorizeRx" (click)="onClickAuthorizePrescription(allPrescriptionsForm.value, allPrescriptionsForm.valid);" type="submit" class="mat-lg-btn" [innerHtml]="authorizeRx"></button>
                            </div>
                        </div>
                        <div class="col-sm-2"></div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>