<section id="prescription">
    <div class="survery">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div style="display: flex; float: right;">
                    <div class="medical-list" style="margin-left: 2px;margin-right:10px;">
                        <a (click)="togglemedicalShow()" class="medical-list-btn"><i class="fa fa-long-arrow-left"></i> Current Medical List</a>
                    </div>
                    <div class="medical-list">
                        <a (click)="togglemedicalShow()" class="medical-list-btn"><i class="fa fa-long-arrow-left"></i> Past Medical List</a>
                    </div>
                </div>
            </div>
            <div *ngIf="medicalShow">
                <!--<div class="col-sm-6 col-md-6 pull-right fly-out">
                    <div class="wrap-th" id="th-color">
                        <div class="pres-col" id="long-text">Drug</div>
                        <div class="pres-col">Status</div>
                        <div class="pres-col">Dispense</div>
                        <div class="pres-col" id="action-long">Action</div>
                    </div>
                    <div class="wrap-tr" id="tr-color">
                        <div class="pres-data" id="long-text">Syrup-novaquin 500mg</div>
                        <div class="pres-data">Started</div>
                        <div class="pres-data">11-03-20017</div>
                        <div class="pres-data" id="action-long">
                            <button class="btn btn-default">Discontinue</button>
                        </div>
                    </div>
                </div>-->
                <!-- end medical list slide-->
                <table class="table table-bordered" id="table">
                    <thead>
                        <tr>
                            <th>Drugs</th>
                            <th>Status</th>
                            <th>Dispense</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Syrup-novaquin 500mg</td>
                            <td>Started</td>
                            <td>11-03-20017</td>
                            <td><button class="btn btn-default">Discontinue</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="add-sect">
            <form [formGroup]="addPrescriptionForm" novalidate>
                <div class="row padding-top-20px">
                    <div class="col-sm-6 col-md-6">
                        <label>Drugs</label>
                        <div class="cu-search-box">
                            <input type="text" formControlName="drug" [attr.data-selected-drug-id]="selectedDrugId" class="cu-search" (keydown)="keyupSearch();" (focus)="focusSearch();" (focusout)="focusOutSearch();" placeholder="Search...5 characters at least">
                            <div class="cu-popup-wrapper" *ngIf="showCuDropdown">
                                <div class="cu-popover-arrow"></div>
                                <div class="cu-header">
                                    <p></p>
                                </div>
                                <ul class="cu-dropdown">
                                    <li><a class="header">Select item</a></li>
                                    <li *ngIf="drugs.length === 0 && !cuDropdownLoading" class="text-center"><a>Result is empty</a></li>
                                    <li *ngIf="drugs.length === 0 && cuDropdownLoading" class="text-center"><a><i class="fa fa-spinner fa-spin"></i></a></li>
                                    <li *ngFor="let drug of drugs" #drugId [attr.data-drug-id]="drug.productId" (click)="onClickCustomSearchItem($event, drugId)"><a>{{ drug.details }}</a></li>
                                </ul>
                                <div class="cu-footer">
                                    <button class="btn btn-default">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3">
                        <label>Strength</label>
                        <dx-text-box formControlName="strength" [(value)]="drugId"></dx-text-box>
                    </div>
                    <div class="col-sm-3 col-md-3">
                        <label>Route</label>
                        <dx-lookup formControlName="route" [items]="routes" displayExpr="name" valueExpr="name">
                        </dx-lookup>
                    </div>
                </div>
                <div class="row padding-top-20px">
                    <div class="col-sm-8 col-md-8 margin-left-14">
                        <div class="col-sm-6 col-md-6">
                            <label>Frequency</label>
                            <dx-lookup formControlName="frequency" [items]="frequencies" displayExpr="name" valueExpr="name">
                            </dx-lookup>
                        </div>
                        <div class="col-sm-6 col-md-6">
                            <label>Duration</label>
                            <div class="input-bg cacaca">
                                <div class="input-group">
                                    <input type="number" formControlName="duration" class="form-control" id="input" required>
                                    <div class="input-group-btn">
                                        <select formControlName="durationUnit" [(ngModel)]="selectedValue" id="select">
                                            <option *ngFor="let unit of durationUnits" value="{{ unit.name }}">{{ unit.name }}</option>
                                        </select>
                                    </div>
                                    <!-- /btn-group -->
                                </div>
                            </div>
                        </div>
                        <br><br><br><br><br>
                        <div class="col-sm-4 col-md-4">
                            <label>Refill Count</label>
                            <dx-number-box formControlName="refillCount" [showSpinButtons]="true" [showClearButton]="true">
                            </dx-number-box>
                        </div>
                        <div class="col-sm-4 col-md-4">
                            <label>Start Date</label>
                            <dx-date-box formControlName="startDate" type="date">
                            </dx-date-box>
                        </div>
                        <!--<div class="col-sm-4 col-md-4">
                            <label style="margin-top:13px"></label>
                            <dx-check-box formControlName="substitution" [value]="true" [width]="200" text="Substitution Not Allowed"></dx-check-box>
                        </div>-->
                    </div>
                    <div class="col-sm-4 col-md-4 pull-right">
                        <label> Special Instruction </label>
                        <textarea class="textarea" formControlName="specialInstruction"></textarea>
                        <div class="after-textarea-btn pull-right">
                            <button class="btn btn-defalut" [disabled]="!addPrescriptionForm.valid" (click)="onClickAddPrescription(addPrescriptionForm.value, addPrescriptionForm.valid);"> Add </button>
                            <button class="btn btn-defalut" (click)="onClickReset();"> Reset </button>
                        </div>
                    </div>
                </div>
            </form>

            <app-add-prescription *ngIf="addPrescriptionShow" [prescriptionItems]="prescriptionItems"></app-add-prescription>

            <form [formGroup]="allPrescriptionsForm">
                <!-- begin total bill-->
                <div class="row">
                    <div class="col-sm-12 col-md-12 padding-10px">
                        <div class="col-sm-6 pull-right">
                            <p class="pull-right"><strong>Total Bill</strong> <span style="color:red;">N200</span></p>
                        </div>
                    </div>
                </div>
                <!-- end total bill-->
                <!--<div class="row">
                    <div class="col-sm-12 col-md-12 padding-10px text-center">
                        <div class="col-sm-12 col-md-12">
                                <label class="pull-left"> Priority </label>
                                <dx-lookup formControlName="priority" [items]="priorities" displayExpr="name" valueExpr="_id">
                                </dx-lookup>
                        </div>
                    </div>
                </div>-->
                <div class="row">
                     <div class="col-md-4 col-sm-4 col-xs-12">
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                         <label> Priority </label>
                            <div>    
                                <dx-lookup formControlName="priority" [items]="priorities" displayExpr="name" valueExpr="_id">
                                </dx-lookup>
                            </div>
                    </div>
                     <div class="col-md-4 col-sm-4 col-xs-12">
                    </div>
                </div>  
                <div class="row">
                    <div class="padding-20px">
                        <div class="col-sm-12 col-md-12 text-center">
                            <button (click)="onClickSavePrescription(allPrescriptionsForm.value, allPrescriptionsForm.valid);" type="submit" class="cta-1">Authorize RX</button>
                        </div>
                    </div>
                </div>
                <!-- end authorize RX button -->
            </form>
        </div>
    </div>
    <!-- end survery -->
</section>