<div class="modal-baseWrap animated pulse">

    <div (click)="close_onClick()" class="modal-close-ico" aria-hidden="true">X</div>
    <legend class="modal_title">Assign Workspace</legend>
    <div class="mainErr animated shake" [hidden]="mainErr">{{errMsg}}</div>

    <form [formGroup]="frmNewEmp1" novalidate>
        <div class="mainfrmwrap">
            <div class="sec-1">
                <div class="frm-item-wrap">
                    <md-select formControlName="dept" placeholder="Department">
                        <md-option *ngFor="let department of departments" [value]="department">
                            {{department.name}}
                        </md-option>
                    </md-select>
                </div>

                <div class="frm-item-wrap">
                    <md-select formControlName="unit" placeholder="Unit" >
                        <md-option *ngFor="let unit of units" [value]="unit">
                            {{unit.name}}
                        </md-option>
                    </md-select>
                </div>
            </div>
            <div class="sec-2">
                <div class="frm-item-wrap">
                    <md-select formControlName="majorLoc" placeholder ="Major Location" >
                        <md-option *ngFor="let major of majorLocations" [value]="major">
                            {{major.name}}
                        </md-option>
                    </md-select>
                </div>

                <div class="frm-item-wrap">
                    <md-select formControlName="minorLoc" placeholder="Minor Location" >
                        <md-option *ngFor="let minor of minorLocations" [value]="minor">
                            {{minor.name}}
                        </md-option>
                    </md-select>
                </div>
            </div>

            <div class="emp-wrap">
                <table cellpadding="0" cellspacing="0" border="0.5">
                    <thead>
                        <tr>
                            <th class="sel-all">
                                <md-checkbox class="example-margin" [formControl]="checkAll">Check All</md-checkbox>
                            </th>
                            <th>
                                <i class="fa fa-sort-alpha-asc" aria-hidden="true"></i>
                                <span style="padding-left: 3px;">Employee</span>
                            </th>
                            <th>
                                <i class="fa fa-sort-alpha-asc" aria-hidden="true"></i>
                                <span style="padding-left: 3px;">Telephone</span>
                            </th>
                            <th>
                                <i class="fa fa-sort-alpha-asc" aria-hidden="true"></i>
                                <span style="padding-left: 3px;">Email</span>
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td colspan="6">
                                <div class="tbl-actionRow">
                                    <div class="tbl-title"></div>
                                    <div class="tbl-search">
                                        <div class="searchInputWrap">
                                            <md-input-container class="example-full-width">
                                                <input mdInput [formControl]="searchControl" autofocus placeholder="search organizations">
                                            </md-input-container>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>

                        <tr *ngFor="let employee of filteredEmployees">
                            <td class="sel-all">
                                <div class="dx-field">
                                    <div class="dx-field-value">
                                        <md-checkbox (change)="onValueChanged($event,employee)" [checked]="employee.isChecked"></md-checkbox>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="empWrap">
                                    <div class="list-img">
                                        <div *ngIf="employee?.employeeDetails?.profileImageObject === undefined"><img src="assets/images/users/default.png"></div>
                                        <img *ngIf="employee?.employeeDetails?.profileImageObject !== undefined" [src]="facilityService.transform(employee?.employeeDetails?.profileImageObject?.thumbnail)">
                                    </div>
                                    <div>{{employee.employeeDetails.lastName}} {{employee?.employeeDetails.firstName}}</div>
                                </div>
                            </td>
                            <td>{{employee.employeeDetails.phoneNumber}}</td>
                            <td>{{employee?.employeeDetails.email}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>



        <!--<button [disabled]="!frmNewEmp1.valid || !isAnyChecked()" (click)="setWorkspace(frmNewEmp1.valid, frmNewEmp1.value)" class="cta-1">
      Assign Workspace
    </button>-->
        <div class="example-full-width" id="example-full-width">
            <button class="apmis-bllue" [disabled]="!frmNewEmp1.valid || !isAnyChecked()" (click)="setWorkspace(frmNewEmp1.valid, frmNewEmp1.value)" md-raised-button> Assign Workspace</button>
        </div>
    </form>

</div>
<div *ngIf="loadIndicatorVisible" class="div_loading">
    <md-spinner></md-spinner>
</div>