@import "../../../../../globals/variables.scss";
.page-title {
    text-align: center;
    position: relative;
    top: -20px;
    font-size: 12px;
    width: 100%;
    color: #A6ACAF;
}

.cover-edit {
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: repeat;
    background: rgba(0, 0, 0, 0.62);
    display: flex;
    align-items: center;
    margin: 0 auto;
}


/* end */

.modal_title {
    font-family: "Josefin Sans", sans-serif;
    margin: 0px auto;
    font-size: 20px;
    color: #0D47A1;
    border-bottom: 0;
    text-align: center;
    margin-bottom: 10px;
}

form {
    margin: 0 auto;
}

.apmis-blue {
    color: #fff;
    background: #0288D1;
    padding: 7px;
}

a:hover {
    text-decoration: none;
}

.modal-close-ico {
    cursor: pointer;
    position: absolute;
    z-index: 1;
    top: 30px;
    right: 30px;
    font-size: 16px;
    color: #8492a6;
}

#example-full-width {
    margin-bottom: 30px;
}

.tr-act-btn {
    width: 48px;
}

.tr-act-btn {
    width: inherit;
    margin: 0 5px;
}

.padding-0 {
    padding: 0;
}

.margin-top {
    margin-top: 20px;
}

textarea.mat-input-element {
    height: 23px;
}

.survery .panel-body {
    padding: 10px;
}

.mat-tab-group {
    padding: 10px;
    .mat-tab-body-wrapper {
        padding: 10px;
    }
    .mat-tab-body-content {
        padding: 10px;
    }
}

<<<<<<< HEAD

=======
.next-of-kin {
    .mat-input-container {
        width: 49%;
        float: left;
    }
    .mat-select {
        width: 100%;
    }
}

.patient-detail-wrapper {
    .mat-input-container {
        width: 100%;
        float: left;
    }
    .mat-select {
        width: 100%;
    }
}

.next-of-kin-body-wrapper,
.patient-detail-wrapper {
    margin-right: 1px;
    padding: 10px;
    border: 1px solid #ccc;
    overflow-y: auto;
    height: 350px;
}

.add-next-of-kin-box {
    width: 100%;
    text-align: right;
    a {
        cursor: pointer;
        text-align: right;
        font-size: 12px;
    }
}
>>>>>>> development

// .survery .panel-body {
//     padding: 50px;
// }
.wrapButton {
    display: flex;
}
.modal-overlay{
    position: fixed;
<<<<<<< HEAD
    z-index: 100;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: repeat;
    background: rgba(0, 0, 0, 0.62);
    display: flex;
    align-items: center;
    margin: 0 auto;
  }

/* end */
.modal_title {
    font-family: "Josefin Sans", sans-serif;
    margin: 0px auto;
    font-size: 20px;
    color: #0D47A1;
    border-bottom: 0;
    text-align: center;
}
form {
    margin: 0 auto;
}
.apmis-blue {
    color: #fff;
    background: #0288D1;
    padding:7px;
}
.modal-close-ico {
    position: absolute;
    top: 8px;
    right: 27px;
    background-color: #ff2500;
    color: #fff;
    padding: 3px 7px;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
}
#example-full-width {
    margin-bottom: 10px;
=======
    left: 0;
>>>>>>> development
}