@import "../../../../../globals/variables.scss";

.page-title{
    text-align: center;
    position: relative;
    top: -20px;
    font-size: 12px;
    width: 100%;
    color: #A6ACAF;
}
.checkedinPatients{
    width: 100%;
    padding: 10px;
}
.inPatients{
    border: 1px solid #eee;
    border-radius: 3px;
    min-height: 400px;
    font-size: 12px;
}
.inHeader{
    display: flex;
    background: #85C1E9;
    color: #000;
    padding: 3px 2px;
    text-align: center;
    height: 34px;
    background: #4bb8ef;
}
.inBody{
    display: flex;
    padding: 4px;
    align-items: center;
}
.inHeader li{
    border-left: 0.5px solid #35a7e0;
    padding: 10px 0;
}
.patient-img{
    width: 100px;
}
.patient-sex, .patient-age{
    width: 80px;
    text-align: center;
}
.patient-state, .patient-apmis, .patient-phone, .patient-born{
    width: 200px;
}
.patient-name{
    width: 300px;
}
.patient-email{
    width: 350px;
}
.patient-address{
    width: 450px;
}
.inBody .patient-img{
    text-align: center;
}
.patient-img div{
    width: 40px;
    border-radius: 100%;
}
.patient-img img{
    width: 40px;
}
.patient-img div{
    position: relative;
    height: 40px;
    overflow: hidden;
}
.inBody{
    position: relative;
    cursor: pointer;
}
.inBody:hover{
    background: #D0D3D4;
}
.search-results{
    height: 20rem;
    overflow: scroll;
}
.color1 {
    background: #f9f9f9 !important;
}

/* begin slide page */
/*.slidePage {
    width: 400px;
    background: #fff;
    position: fixed;
    height: 100vh;
    right: 0;
    top: 0;
    bottom: 0;
}*/

.form-signin {
    max-width: 280px;
    padding: 15px;
    margin:100px;
    margin-top:70px;
  }

.input-group-addon
{
    background-color: #35a7e0;
    border-color: #35a7e0;
    color: rgb(255, 255, 255);
}
.form-control:focus
{
    background-color: #35a7e0;
    border-color: #35a7e0;
    color: rgb(255, 255, 255);
}
.form-signup input[type="text"],.form-signup input[type="password"] { 
    border: 1px solid #35a7e0; 
}

.cover-edit {
    position: fixed;
    z-index: 99999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: repeat;
    background: rgba(0, 0, 0, 0.62);
  }

/* end */
