<div class="checkedinPatients">
    <table cellpadding="0" cellspacing="0" border="0.5">
        <thead>
            <tr>
                <th>
                    <i class="fa fa-sort-alpha-asc" aria-hidden="true"></i>
                    <span style="padding-left: 3px;">Name</span>
                </th>
                <th>
                    <i class="fa fa-sort-alpha-asc" aria-hidden="true"></i>
                    <span style="padding-left: 3px;">Currently In</span>
                </th>
                <th>
                    <i class="fa fa-sort-alpha-asc" aria-hidden="true"></i>
                    <span style="padding-left: 3px;">Care Giver</span>
                </th>
                <!-- <th>
                    <i class="fa fa-sort-alpha-asc" aria-hidden="true"></i>
                    <!--<i class="fa fa-sort-alpha-desc" aria-hidden="true"></i>-->
                <!-- <span style="padding-left: 3px;">Location</span>
                </th> -->
                <th>
                    <i class="fa fa-sort-numeric-asc" aria-hidden="true"></i>
                    <span style="padding-left: 3px;">Checked In</span>
                </th>
                <th>
                    <i class="fa fa-sort-numeric-asc" aria-hidden="true"></i>
                    <span style="padding-left: 3px;">Time Spent</span>
                </th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td colspan="6">
                    <div class="survery" style="padding: 10px 5px;">
                        <div class="row" style="margin-left: 0; margin-right: 0">
                            <div class="col-sm-3" style="padding-left: 0;">
                                <select class="form-control">
                                        <option value="Select by location" disabled selected>Select Doctor</option>
                                        <option *ngFor="let employee of employees" value="employee.id">{{ employee.employeeDetails.personFullName }}</option>
                                    </select>
                                <!-- <md-select placeholder="Doctor">
                                    <md-option *ngFor="let employee of employees" value="employee.id">{{ employee.employeeDetails.personFullName }}</md-option>
                                </md-select> -->
                            </div>
                            <div class="col-sm-3" style="padding-left: 0;">
                                <select class="form-control">
                                            <option value="Select by location" disabled selected>Sort by Location</option>
                                            <option *ngFor="let location of clinicHelperService.clinicLocations" value="location.id">{{location.name }}</option>
                                        </select>
                                <!-- <md-select placeholder="Sort By Location">
                                    <md-option *ngFor="let location of clinicHelperService.clinicLocations" value="location.id">{{location.name }}</md-option>
                                </md-select> -->
                            </div>
                            <div class="col-sm-3" style="padding-left: 0;">
                                <select class="form-control">
                                            <option value="Select by Clinic" disabled selected>Sort by Clinic</option>
                                            <option *ngFor="let clinic of clinics" value="clinic.id">{{clinic.clinicName }}</option>
                                        </select>
                                <!-- <md-select placeholder="Sort By Clinics">
                                    <md-option *ngFor="let clinic of clinics" value="clinic.id">{{clinic.clinicName }}</md-option>
                                </md-select> -->
                            </div>
                            <div class="col-sm-3" style="padding-right: 0;padding-left: 0;">
                                <div class="col-xs-10" style="padding-left: 0;">
                                    <input type="text" placeholder="Search Checked in Patient" class="searchInput" />
                                    <!-- <md-input-container class="example-full-width">
                                        <input mdInput placeholder="Search Checked in Patient">
                                    </md-input-container> -->
                                </div>
                                <div class="col-xs-2" style="padding-right: 0;padding-left: 0;">
                                    <button md-raised-button style="background: #FAFAFA;height: 33px;line-height: 1.5;min-width:40px;"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr *ngIf="checkedInAppointments.length === 0 && !loading">
                <td class="table-content" colspan="6" style="text-align: center"> No data available in table</td>
            </tr>
            <tr *ngIf="checkedInAppointments.length === 0 && loading">
                <td class="table-content" colspan="6" style="text-align: center">
                    <md-spinner class='small-spinner'></md-spinner>
                </td>
            </tr>
            <tr *ngFor="let appointment of checkedInAppointments">
                <td>
                    <div class="empWrap" (click)="goToPatientPage(appointment,false)">
                        <div class="list-img" *ngIf="appointment.patientId.personDetails?.profileImageObject == undefined"><img src="assets/images/users/default.png"></div>
                        <div class="list-img" *ngIf="appointment.patientId.personDetails?.profileImageObject !== undefined"> <img [src]="facilityService.transform(appointment.patientId.personDetails?.profileImageObject?.thumbnail)"></div>
                        <div>{{appointment.patientId.personDetails?.lastName}} {{appointment.patientId.personDetails?.firstName}}</div>
                    </div>
                </td>
                <td>{{appointment.clinicId?.clinicName}}</td>
                <td>
                    <div>{{appointment.doctorId?.employeeDetails?.lastName}} {{appointment.doctorId?.employeeDetails?.firstName}}</div>
                    <div class="caregiver-room">{{getConsultingRoom(appointment)}}</div>
                </td>
                <!-- <td>
                    Get Location
                    <div class="loc-timeSpent">12<span class="timeLabel">mins,</span>25<span class="timeLabel">secs.</span></div>
                </td> -->
                <td>{{appointment?.attendance.dateCheckIn | date:'shortTime'}}</td>
                <td><span class="timeLabel">{{appointment?.attendance.dateCheckIn | amTimeAgo}}</span></td>
                <td>
                    <div class="td-ctaWrap">
                        <div class="actionWrap" (click)="showVital(appointment)">
                            <i class="fa fa-external-link" aria-hidden="true"></i>
                            <span>Vitals</span>
                        </div>
                        <div class="actionWrap" (click)="goToPatientPage(appointment,true)">
                            <i class="fa fa-medkit" aria-hidden="true"></i>
                            <span>Attend to Patient</span>
                        </div>
                        <div (click)="slideTimeline_toggle(appointment, $event)" class="actionWrap">
                            <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
                            <span>Timeline</span>
                        </div>
                        <div *ngIf="appointment.zoom !== undefined" (click)="onNavigate(appointment, $event)" class="actionWrap">
                            <i class="fa fa-stethoscope" aria-hidden="true"></i>
                            <span>TeleMedicine</span>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <div *ngIf="addVital" class="modal-overlay">
        <app-add-vitals (closeModal)="close_onClick($event)" [patient]="patient" id="form-modal" class="form-modal center-center"></app-add-vitals>
    </div>

</div>

<div *ngIf="slideTimeline" class="inPatient-activityTimeline shadow-RB animated slideInRight">
    <div (click)="slideTimeline_toggle(appointment, $event)" class="hide-actionWrap">
        <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
    </div>

    <div class="timeline-headwrap">
        <div class="timelinehead-contentWrap">
            <div class="timelinePatient-imgWrap" *ngIf="selectedCheckedInAppointment?.patientId.personDetails?.profileImageObject == undefined"><img src="assets/images/users/default.png"></div>
            <div class="timelinePatient-imgWrap" *ngIf="selectedCheckedInAppointment?.patientId.personDetails?.profileImageObject !== undefined"><img [src]="facilityService.transform(selectedCheckedInAppointment?.patientId.personDetails?.profileImageObject?.detailthumbnail)"></div>
            <div class="patientLabelGroup">
                <div class="patientName">{{selectedCheckedInAppointment?.patientId.personDetails.lastName}} {{selectedCheckedInAppointment?.patientId.personDetails.firstName}}</div>
                <div class="label">(Clinical Activity Timeline)</div>
            </div>
        </div>
    </div>

    <div (click)="dontGo()" class="activity-listings">
        <div *ngFor="let timeline of timelines" class="activity-listing">
            <i class="fa fa-circle-thin" aria-hidden="true"></i>
            <div class="activity-content">
                <div class="activity-time">
                    <div class="date">{{timeline.startTime | date:'mediumDate'}}</div>
                    <div class="time">{{timeline.startTime | date:'mediumTime'}}</div>
                </div>
                <div class="activity">
                    <div class="activity-label">{{timeline.label}}</div>
                    <div class="activity-actor" *ngIf="timeline.person.employeeDetails !== undifined">
                        <span>{{timeline.person.employeeDetails.personFullName}}</span>
                        <div class="actor-wrap"><img [src]="facilityService.transform(timeline.person.employeeDetails?.profileImageObject?.thumbnail)"></div>
                    </div>
                    <div class="activity-actor" *ngIf="timeline.person.employeeDetails === undifined">
                        <span>{{timeline.person.personFullName}}</span>
                        <div class="actor-wrap"><img [src]="facilityService.transform(timeline.person?.profileImageObject?.thumbnail)"></div>
                    </div>
                    <div class="activity-detail"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="addVital" class="modal-overlay">
    <app-add-vitals [patient]="patient" (closeModal)="close_onClick($event)" id="form-modal" class="form-modal center-center"></app-add-vitals>
</div>

<div *ngIf="loadIndicatorVisible" class="div_loading">
    <md-spinner></md-spinner>
</div>