<div class="container">
    <form [formGroup]="immunizationScheduleForm" novalidate>
        <div class="row">
            <div class="col-md-4">
                <h2> Name </h2>
                <input formControlName="name" class="input">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <h1>Schedule</h1>
            </div>
            <div class="col-sm-6">
                <button class="btn btn-blue pull-right" (click)="onClickAddVaccine();">ADD VACCINE</button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12" formArrayName="vaccines">
                <div class="card" *ngFor="let vaccine of immunizationScheduleForm.controls['vaccines'].controls; let i=index;">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="close" *ngIf="immunizationScheduleForm.controls['vaccines'].controls.length > 1" (click)="removeVaccine(i)">
                                <i class="fa fa-close fa-2x fa-fw"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-content" [formGroupName]="i">
                        <div class="card-list-item">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h2> Vaccine </h2>
                                </div>
                                <div class="col-md-6">
                                    <!-- <apmis-lookup formControlName="name" [(ngModel)]="apmisLookupText" [url]="apmisLookupUrl" [query]="apmisLookupQuery" [isSocket]="true" [displayImage]="false" [multipleKeys]="false" [displayKey]="apmisLookupDisplayKey" placeholder="Name" (selectedItem)="apmisLookupHandleSelectedItem($event)"></apmis-lookup> -->
                                    <div class="frm-item-wrap">
                                        <div class="cu-search-box">
                                            <mat-form-field>
                                                <input matInput formControlName="name" class="cu-search" placeholder="Search Item" (focus)="focusSearch(i)" (focusout)="focusOutSearch(i)" autocomplete="off">
                                            </mat-form-field>
                                            <div class="cu-popup-wrapper" *ngIf="showCuDropdown && (drugIndex === i)">
                                                <div class="cu-popover-arrow"></div>
                                                <div class="cu-header">
                                                    <p></p>
                                                </div>
                                                <ul class="cu-dropdown">
                                                    <li>
                                                        <a class="header">Select Item</a>
                                                    </li>
                                                    <li *ngIf="results.length === 0 && !cuDropdownLoading" class="text-center">
                                                        <a>Result is empty</a>
                                                    </li>
                                                    <li *ngIf="results.length === 0 && cuDropdownLoading" class="text-center">
                                                        <a>
                                                            <i class="fa fa-spinner fa-spin"></i>
                                                        </a>
                                                    </li>
                                                    <li *ngFor="let item of results" (click)="apmisLookupHandleSelectedItem(i, item, vaccine);" class="lookupListing">
                                                        <div>
                                                            <a>{{ item.name }}</a>
                                                        </div>
                                                    </li>
                                                </ul>
                                                <div class="cu-footer">
                                                    <button class="btn btn-default">Cancel</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <input class="input" formControlName="nameCode" placeholder="Code Name">
                                </div>
                                <div class="col-md-3">
                                    <input class="input" formControlName="vaccinationSite" placeholder="Site of Administration">
                                </div>
                            </div>
                            <div class="row" formArrayName="intervals">
                                <div class="col-sm-12">
                                    <h2>Time Schedule</h2>
                                </div>
                                <div class="col-sm-3" *ngFor="let inverval of immunizationScheduleForm.controls['vaccines'].controls[i].controls['intervals'].controls; let j=index;">
                                    <div class="col-md-11" [formGroupName]="j">
                                        <input class="input-time" type="number" formControlName="unit" placeholder="Unit">
                                        <select class="input-time" formControlName="duration">
                                            <option selected>Days</option>
                                            <option>Weeks</option>
                                            <option>Months</option>
                                            <option>Years</option>
                                        </select>
                                    </div>
                                    <div class="col-md-1" style="text-align: center">
                                        <img style="padding: 10px;" src="../../../../assets/images/timeline.svg">
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <button class="btn btn-blue" (click)="onClickAddInterval(i, j, vaccine);">
                                        <i class="fa fa-fw fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-xs-12">
            <button mat-raised-button [disabled]="!immunizationScheduleForm.valid || disableBtn" (click)="onClickSaveSchedule(immunizationScheduleForm.valid, immunizationScheduleForm.value);" type="submit" class="mat-lg-btn">
                <span *ngIf="saveScheduleBtn"><i class="fa fa-check"></i> Save Schedule</span>
                <span *ngIf="updateScheduleBtn">Update Schedule... <i class="fa fa-spin fa-spinner"></i></span>
            </button>
        </div>
    </div>
</div>