<div  class="pp-card shadow-grey">
    <div class="card-title">Location(s)</div>

    <ul class="dept-wrap">
        <li class="dept-li">
            <div class="dept-item">
                <div class="dept-name">Laboratory</div>
                <div class="action-icons">
                    <i [hidden]="showLoc" (click)="showLoc_click()" class="fa fa-expand" aria-hidden="true"></i>
                    <i *ngIf="showLoc" (click)="showLoc_hide()" class="fa fa-compress" aria-hidden="true"></i>
                    <i (click)="newLoc_onClick()" class="fa fa-plus" aria-hidden="true"></i>
                    <!-- <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    <i class="fa fa-trash-o" aria-hidden="true"></i> -->
                </div>
            </div>
            <div *ngIf="showLoc" class="dept-units">
                <div class="tbl-resp-wrap">
                    <table cellpadding="0" cellspacing="0" border="0.5"> 
                        <thead>
                            <tr>
                                <th>
                                    <span style="padding-left: 3px;">Minor Location</span>
                                </th>
                                <th>
                                    <span style="padding-left: 3px;">Short Name</span>
                                </th>
                                <th>
                                    <span style="padding-left: 3px;">Describtion</span>
                                </th>
                                <th>Actions</th>
                            </tr>
                        </thead>
        
                        <tbody>
                            <tr>
                                <td> Surgical Out Patient Unit</td>
                                <td>SOP Unit</td>
                                <td>All them surgicall operations takes place right here at this department</td>
                                <td class="action-icons">
                                    <i (click)="newLoc_onClick()" class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                    <!--<i *ngIf="unitEditNameIcoShow" (click)="unitEditNameSubmit()" class="done-ico fa fa-check" aria-hidden="true"></i>-->
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </td>
                            </tr> 
                        </tbody>
                    </table>
                </div>
            </div>
        </li>
    </ul>

    <!-- <span id="floating-button">
        <p class="plus">+</p>
    </span> -->
</div>
<div *ngIf="newSubLocModal_on" class="modal-overlay">
    <app-new-sub-location [locations]="locationsObj" [location]="locationObj" [subLocation]="subLocation" (closeModal)="close_onClick($event)" id="form-modal" class="form-modal center-center"></app-new-sub-location>
</div>