<div class="pg-subtitle">
    EXTERNAL REQUESTS
</div>
<div>
    <section id="presc-list">
        <div class="survery">
            <div class="col-xs-12 " style="padding: 0; ">
                <table cellpadding="0 " cellspacing="0 " border="0.5 ">
                    <thead>
                        <tr class="table-header ">
                            <th>
                                <i class="fa fa-sort-alpha-asc " aria-hidden="true "></i>
                                <span>Date</span>
                            </th>
                            <th>
                                <i class="fa fa-sort-alpha-asc " aria-hidden="true "></i>
                                <span>Patient</span>
                            </th>
                            <th>
                                <i class="fa fa-sort-alpha-asc " aria-hidden="true "></i>
                                <span>Doctor</span>
                            </th>
                            <th>
                                <i class="fa fa-sort-alpha-asc " aria-hidden="true "></i>
                                <span>Priority</span>
                            </th>
                            <th>
                                <i class="fa fa-sort-alpha-asc " aria-hidden="true "></i>
                                <span>Status</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="table-content " colspan="5">
                                <form [formGroup]="extRequestFormGroup">
                                    <div class="col-sm-6">
                                        <input type="search" formControlName="search" class="form-control" placeholder="APMIS ID or Name">
                                    </div>
                                    <div class="col-sm-6">
                                        <md-form-field>
                                            <input mdInput formControlName="date" [mdDatepicker]="picker" placeholder="Choose a date">
                                            <md-datepicker-toggle mdSuffix [for]="picker"></md-datepicker-toggle>
                                            <md-datepicker #picker></md-datepicker>
                                        </md-form-field>

                                        <!-- <md-input-container>
                                            <input formControlName="date" mdInput [mdDatepicker]="picker" placeholder="Choose a date">
                                            <button mdSuffix [mdDatepickerToggle]="picker"></button>
                                            <md-datepicker-toggle mdSuffix [for]="picker"></md-datepicker-toggle>
                                        </md-input-container>
                                        <md-datepicker #picker></md-datepicker> -->
                                    </div>
                                </form>
                            </td>
                        </tr>
                        <tr *ngIf="extRequests.length === 0 && !loading ">
                            <td class="table-content " colspan="5" style="text-align: center "> No data available in table</td>
                        </tr>
                        <tr *ngIf="extRequests.length === 0 && loading ">
                            <td class="table-content " colspan="4" style="text-align: center ">
                                <md-spinner class="small-spinner"></md-spinner>
                            </td>
                        </tr>
                        <tr *ngFor="let extRequest of extRequests " routerLink='/dashboard/laboratory/request/{{extRequest.personId}}'>
                            <td class="table-content">{{extRequest?.updatedAt | date:'medium'}}</td>
                            <td class="table-content">{{extRequest?.name}}</td>
                            <td class="table-content">{{extRequest?.createdBy}}</td>
                            <td class="table-content">{{extRequest?.service}}</td>
                            <td class="table-content">
                                <span *ngIf="extRequest.status == 'completely'" style="color:forestgreen">Completely<br>Assessed</span>
                                <span *ngIf="extRequest.status == 'partly'" style="color:blue">Partly<br>Assessed</span>
                                <span *ngIf="extRequest.status == 'not'" style="color:crimson">Not<br>Assessed</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>