@import '../../lab-requests/request-detail/request-detail.component.scss';
@import '../report.component.scss';

.invstn-wrap{
    margin-bottom: 10px;
}
.act-right-actions{
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0;
}
.act-right-actions .action-item{
    padding: 4px 0;
    margin: 10px 0px;
    border: 0px solid transparent;
    background: #f8f8f8;
}
.act-right-actions .action-item:hover{
    background: #f8f8f8;
}
.initial-contenet{
    background: transparent;
    padding: 0;
}