<div class="modal-baseWrap animated pulse">

    <div (click)="close_onClick()" class="modal-close-ico" aria-hidden="true">X</div>
    <div class="facility-title">New Service Category</div>
    <div class="mainErr animated shake" [hidden]="mainErr">{{errMsg}}</div>

    <div class="f_sg1">

        <form [formGroup]="frmNewcat" novalidate>

            <div class="frm-item-wrap">
                <md-input-container class="example-full-width">
                    <input type="text" mdInput md-error placeholder="Category Name" formControlName="catName">
                </md-input-container>
            </div>

            <div class="text-center">
                <button md-raised-button (click)="newcat(frmNewcat.value, frmNewcat.valid)" class="cta-1 mat-lg-btn">
                 {{btnTitle}}
                </button>
            </div>
        </form>
    </div>

</div>