<div class="modal-baseWrap animated pulse">

  <div (click)="close_onClick()" class="modal-close-ico" aria-hidden="true">X</div>
  <legend class="modal_title">{{selectedFacility.name}}</legend>

  <div class="userAccs-listing">
    <div class="userAccs-listingWrap">

      <div class="acc-listing" (click)="isPatientInFacility()">
        <div class="listing-imgWrap">
          <i class="fa fa-bed" aria-hidden="true"></i>
        </div>
        <div class="listing-name">Patient (Personal) Module</div>
      </div>

      <div *ngIf="isEmployeeInFacility()" class="acc-listing" (click)="loadEmployeeRecord()">
        <div class="listing-imgWrap">
          <i class="fa fa-user" aria-hidden="true"></i>
        </div>
        <div class="listing-name">Employee Module</div>
      </div>

    </div>
  </div>

</div>