<div class="np-mainwrap">

    <form [formGroup]="frm_purchaseOrder" novalidate>

        <div class="sec-a">
            <div class="wrap1">
                <div class="row">
                    <div class="frm-item-wrap">
                        <small class="alert-label" [hidden]="frm_purchaseOrder.controls.store.valid || frm_purchaseOrder.controls.store.pristine">
                            Kindly select an option from the drop down.
                        </small>
                        <label>Store</label>
                        <dx-select-box style="width: 100%;" formControlName="store" [items]="stores" displayExpr="name" valueExpr="_id"></dx-select-box>
                    </div>

                    <div class="frm-item-wrap">
                        <small class="alert-label" [hidden]="frm_purchaseOrder.controls.supplier.valid || frm_purchaseOrder.controls.supplier.pristine">
                            Kindly select an option from the drop down.
                        </small>
                        <label>Supplier</label>
                        <dx-select-box style="width: 100%;" formControlName="supplier" [items]="suppliers" displayExpr="name" valueExpr="_id"></dx-select-box>
                    </div>

                </div>
            </div>
            <div class="wrap2">
                <div class="row">
                    <div class="frm-item-wrap">
                        <small class="alert-label" [hidden]="frm_purchaseOrder.controls.deliveryDate.valid || frm_purchaseOrder.controls.deliveryDate.pristine">
                            Kindly type something in the field.
                        </small>
                        <label>Expected Delivery Date</label>
                        <dx-date-box formControlName="deliveryDate" [value]="now" style="width: 100%;" type="date">
                        </dx-date-box>
                    </div>
                </div>
                <div class="row">
                    <div class="frm-item-wrap">
                        <small class="alert-label" [hidden]="frm_purchaseOrder.controls.desc.valid || frm_purchaseOrder.controls.desc.pristine">
                            Kindly type something in the field.
                        </small>
                        <label>Remark</label>
                        <dx-text-area formControlName="desc" [height]="90">
                        </dx-text-area>
                    </div>
                </div>
            </div>
        </div>
        <div (click)="flyout_toggle($event)" class="txt-link">Add Product</div>
        <div *ngIf="flyout===true" class="flyout animated slideOut">
            <div class="sec-b">
                <div (click)="flyout_toggle($event)" class="slideInWrap"><i class="fa fa-arrow-circle-right pull-right" aria-hidden="true"></i></div>
                <div class="col-a">
                    <div class="filter-sect">
                        <div class="frm-item-wrap">
                            <input [formControl]="searchControl" class="search-input" placeholder="search product here...">
                        </div>

                        <div class="check-filterWrap">
                            <div class="frm-item-wrap chkbox-wrap">
                                <dx-check-box [formControl]="checkAll"></dx-check-box>
                                <label>All</label>
                            </div>
                            <div class="frm-item-wrap chkbox-wrap">
                                <dx-check-box [formControl]="myInventory"></dx-check-box>
                                <label>My Inventory</label>
                            </div>
                            <div class="frm-item-wrap chkbox-wrap">
                                <dx-check-box [formControl]="zeroQuantity"></dx-check-box>
                                <label>Out of stock</label>
                            </div>
                            <div class="frm-item-wrap chkbox-wrap">
                                <dx-check-box [formControl]="reOrderLevelQuantity"></dx-check-box>
                                <label>Re-order Level</label>
                            </div>
                            <div class="frm-item-wrap chkbox-wrap">
                                <dx-check-box [formControl]="expired"></dx-check-box>
                                <label>Expired</label>
                            </div>
                        </div>
                    </div>
                    <div class="product-sect">
                        <div class="control-group" *ngFor="let group of superGroups">
                            <label *ngFor="let item of group" class="control control--checkbox">{{item.name}}
                                <div class="control__indicator"> <dx-check-box (onValueChanged)="onProductCheckChange($event,item)" [value]="item.checked"></dx-check-box></div>
                            </label>
                        </div>

                        <!--<div class="ps-col1">
                            <div class="frm-item-wrap chkbox-wrap">
                                <dx-check-box [value]="true"></dx-check-box>
                                <label>Panadol</label>
                            </div>
                            <div class="frm-item-wrap chkbox-wrap">
                                <dx-check-box [value]="true"></dx-check-box>
                                <label>Panadol</label>
                            </div>
                            <div class="frm-item-wrap chkbox-wrap">
                                <dx-check-box [value]="true"></dx-check-box>
                                <label>Panadol</label>
                            </div>
                            <div class="frm-item-wrap chkbox-wrap">
                                <dx-check-box [value]="true"></dx-check-box>
                                <label>Panadol</label>
                            </div>
                            <div class="frm-item-wrap chkbox-wrap">
                                <dx-check-box [value]="true"></dx-check-box>
                                <label>Panadol</label>
                            </div>
                            <div class="frm-item-wrap chkbox-wrap">
                                <dx-check-box [value]="true"></dx-check-box>
                                <label>Panadol</label>
                            </div>
                        </div>-->
                    </div>
                </div>
                <!--<div class="col-b">
                    <form *ngIf="productTableForm.controls['productTableArray'].controls.length > 0" [formGroup]="productTableForm">
                        <div formArrayName="productTableArray" class="frmArrayWrap">
                            <div class="frmArray" *ngFor="let schedule of productTableForm.controls['productTableArray'].controls; let i = index;">
                                <div formGroupName="{{i}}">
                                    <div class="prod-wrap">

                                        <div class="inputWrap-productDetail">
                                            <div (click)="removeProduct(i, schedule.value)" class="modal-close-ico" aria-hidden="true">X</div>

                                            <div style="width: 59%;" class="frm-item-wrap">
                                                <small class="alert-label" [hidden]="schedule.controls.product.valid || schedule.controls.product.pristine">
                                                    Kindly select an option from the drop down.
                                                </small>
                                                <label>Product</label>
                                                <dx-text-box formControlName="product" style="width: 100%;"></dx-text-box>
                                            </div>

                                            <div style="width: 20%;" class="frm-item-wrap">
                                                <small class="alert-label" [hidden]="schedule.controls.strength.valid || schedule.controls.strength.pristine">
                                                    Kindly select an option from the drop down.
                                                </small>
                                                <label>Strength</label>
                                                <dx-select-box style="width: 100%;" formControlName="strength" [items]="simpleProducts"></dx-select-box>
                                            </div>

                                            <div style="width: 20%;" class="frm-item-wrap">
                                                <small class="alert-label" [hidden]="schedule.controls.qty.valid || schedule.controls.qty.pristine">
                                                    Kindly type something in the field.
                                                </small>
                                                <label>Qantity</label>
                                                <dx-number-box formControlName="qty" [showSpinButtons]="true" [showClearButton]="false" style="width: 100%;"></dx-number-box>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>








                </div>-->
            </div>
        </div> 
        <div class="col-b">
            <form *ngIf="productTableForm.controls['productTableArray'].value.length > 0" [formGroup]="productTableForm">
                <div formArrayName="productTableArray" class="frmArrayWrap">
                    <div class="frmArray" *ngFor="let schedule of productTableForm.controls['productTableArray'].controls; let i = index;">
                        <div formGroupName="{{i}}">
                            <div class="prod-wrap">

                                <div class="inputWrap-productDetail">
                                    <div (click)="removeProduct(i, schedule.value)" class="modal-close-ico" aria-hidden="true">X</div>

                                    <div style="width: 59%;" class="frm-item-wrap">
                                        <small class="alert-label" [hidden]="schedule.controls.product.valid || schedule.controls.product.pristine">
                                                    Kindly select an option from the drop down.
                                                </small>
                                        <label>Product</label>
                                        <dx-text-box formControlName="product" style="width: 100%;"></dx-text-box>
                                    </div>

                                    <div style="width: 20%;" class="frm-item-wrap">
                                        <small class="alert-label" [hidden]="schedule.controls.strength.valid || schedule.controls.strength.pristine">
                                                    Kindly select an option from the drop down.
                                                </small>
                                        <label>Strength</label>
                                        <dx-lookup
                                            style="width: 100%;"
                                            formControlName="strength"
                                            [items]="strengths"
                                            displayExpr="strength"
                                            valueExpr="_id"
                                            [showPopupTitle]="false">
                                        </dx-lookup>
                                    </div>

                                    <div style="width: 20%;" class="frm-item-wrap">
                                        <small class="alert-label" [hidden]="schedule.controls.qty.valid || schedule.controls.qty.pristine">
                                                    Kindly type something in the field.
                                                </small>
                                        <label>Qantity</label>
                                        <dx-number-box formControlName="qty" [showSpinButtons]="true" [showClearButton]="false" style="width: 100%;"></dx-number-box>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div (click)="save()" class="cta-1">
            {{saveBtnText}}
        </div>

    </form>
</div>