<div class="pg-subtitle">
  LABORATORY REQUESTS
</div>
<div>
  <div class="doc-mainWrap">
    <div class="doc-contentArea">

      <div class="clinicalNoteWrap">
        <div class="actSect">
          <div (click)="request_show()" class="act-wrap">
            <i *ngIf="request_view" class="fa fa-minus" aria-hidden="true"></i>
            <i [hidden]="request_view" class="fa fa-plus" aria-hidden="true"></i>
            <span>New Request</span>
          </div>

          <form class="frmNoteWrap" *ngIf="request_view" [formGroup]="frmNewRequest" novalidate>

            <div class="labBtn-wrap">
              <div (click)="newPerson()" class="lab-btn"><i class="fa fa-plus" aria-hidden="true"></i>Register Patient</div>
            </div>
            <div class="clear-r"></div>

            <div class="frm-wrap">
              <div class="frm-l">
                <div class="frm-item-wrap">
                  <apmis-lookup formControlName="patient" [(ngModel)]="apmisLookupText" [url]="apmisLookupUrl" [query]="apmisLookupQuery" placeholder="search for patient"
                    [isSocket]="false" [displayKey]="apmisLookupDisplayKey" [displayImage]="true" [imgObj]="apmisLookupImgKey"
                    [multipleKeys]="true" [otherKeys]="apmisLookupOtherKeys" (selectedItem)="apmisLookupHandleSelectedItem($event)"></apmis-lookup>
                </div>

                <div class="frm-item-wrap">
                  <md-input-container>
                    <textarea mdInput formControlName="clinicalInfo" placeholder="Clinical Information"></textarea>
                  </md-input-container>
                </div>

                <div class="frm-item-wrap">
                  <apmis-lookup-multiselect formControlName="investigation" [(ngModel)]="apmisInvestigationLookupText" [url]="apmisInvestigationLookupUrl" [query]="apmisInvestigationLookupQuery"
                    placeholder="Add Investigation"  [isSocket]="true" [displayKey]="apmisInvestigationLookupDisplayKey" (selectedItem)="apmisInvestigationLookupHandleSelectedItem($event)"></apmis-lookup-multiselect>
                    <div>
                      <ul>
                        <li *ngFor="let small of checkedValues">
                          <i>{{small.name}}</i>
                        </li>
                      </ul>
                    </div>
                </div>
              </div>
              <div class="frm-r">
                <div class="frm-item-wrap">
                  <md-input-container>
                    <input mdInput placeholder="Lab Number" formControlName="labNo">
                  </md-input-container>
                </div>

                <div class="frm-item-wrap">
                  <md-input-container>
                    <textarea mdInput formControlName="diagnosis" placeholder="Diagnosis"></textarea>
                  </md-input-container>
                </div>

                <div class="txt-wrap">
                  <div class="txt-innerWrap">
                    <div class="txt-label">External</div>
                    <div class="txt-val">
                      <md-checkbox></md-checkbox>
                    </div>
                  </div>

                  <div class="txt-innerWrap">
                    <div class="txt-label">Urgent</div>
                    <div class="txt-val">
                      <md-checkbox></md-checkbox>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <button (click)="save(frmNewRequest.valid, frmNewRequest.value)" class="cta-1">
              Make Request
            </button>
          </form>
        </div>

        <div class="tblWrapa" class="actSect">
          <table cellpadding="0" cellspacing="0" border="0.5">
            <thead>
              <tr>
                <th>
                  <i class="fa fa-sort-alpha-asc" aria-hidden="true"></i>
                  <!--<i class="fa fa-sort-alpha-desc" aria-hidden="true"></i>-->
                  <span style="padding-left: 3px;">Date</span>
                </th>
                <th>
                  <i class="fa fa-sort-alpha-asc" aria-hidden="true"></i>
                  <!--<i class="fa fa-sort-alpha-desc" aria-hidden="true"></i>-->
                  <span style="padding-left: 3px;">Patient</span>
                </th>
                <th>
                  <i class="fa fa-sort-alpha-asc" aria-hidden="true"></i>
                  <!--<i class="fa fa-sort-alpha-desc" aria-hidden="true"></i>-->
                  <span style="padding-left: 3px;">Investigation</span>
                </th>
                <th>Status</th>
                <th></th>
              </tr>
            </thead>

            <tbody>

              <tr>
                <td colspan="6">
                  <div class="tbl-actionRow">
                    <!-- <div class="frm-item-wrap">
                          <apmis-lookup [(ngModel)]="apmisLookupText" 
                          url="apmisLookupUrl" query="apmisLookupQuery" placeholder="Patient"
                          isSocket="false" displayKey="apmisLookupDisplayKey" 
                          (selectedItem)="apmisLookupHandleSelectedItem($event)"></apmis-lookup>
                        </div>

                        <div class="frm-item-wrap">
                          <apmis-lookup [(ngModel)]="apmisLookupText" 
                              url="apmisLookupUrl" query="apmisLookupQuery" placeholder="Practitioner"
                              isSocket="false" displayKey="apmisLookupDisplayKey" 
                              (selectedItem)="apmisLookupHandleSelectedItem($event)"></apmis-lookup>
                        </div>

                        <div class="frm-item-wrap">
                          <apmis-lookup [(ngModel)]="apmisLookupText" 
                              url="apmisLookupUrl" query="apmisLookupQuery" placeholder="Location"
                              isSocket="false" displayKey="apmisLookupDisplayKey" 
                              (selectedItem)="apmisLookupHandleSelectedItem($event)"></apmis-lookup>
                        </div> -->
                  </div>
                </td>
              </tr>

              <tr>
                <td>11th Jan, 2017. 09:00AM</td>
                <td>
                  <div class="empWrap">
                    <div class="list-img">
                      <img src="assets/images/users/default.png">
                    </div>
                    <div>Johnson Wade</div>
                  </div>
                </td>
                <td>Blood Test</td>
                <td>
                  <div class="status-wrap">
                    <div class="status-item">
                      <div class="status-label">Payment Made</div>
                      <div [class.isSample]="paymentStatus" [class.notSample]="!paymentStatus" class="status-val"></div>
                    </div>
                    <div class="status-item">
                      <div class="status-label">Sample Taken</div>
                      <div [class.isSample]="sampleStatus" [class.notSample]="!sampleStatus" class="status-val"></div>
                    </div>
                    <div class="status-item">
                      <div class="status-label">Sample Recieved</div>
                      <div [class.isSample]="recievedStatus" [class.notSample]="!recievedStatus" class="status-val"></div>
                    </div>
                    <div class="status-item">
                      <div class="status-label">Result Available</div>
                      <div [class.isSample]="resultStatus" [class.notSample]="!resultStatus" class="status-val"></div>
                    </div>
                  </div>
                </td>
                <td class="action-placeholder">
                  <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                  <div class="action-container shadow-RB">
                    <div (click)="reqDetail()" class="action-item">
                      <i class="fa fa-file-text-o" aria-hidden="true"></i>
                      <span>View Investigation</span>
                    </div>

                    <div class="action-item">
                      <i class="fa fa-file-text" aria-hidden="true"></i>
                      <span>Write Report</span>
                    </div>

                    <div (click)="showImageBrowseDlg()" class="action-item">
                      <i class="fa fa-cloud-upload" aria-hidden="true"></i>
                      <span>Upload File</span>
                    </div>
                    <input style="display:none;" #fileInput type="file" id="uploadResult" (click)="onChange($event)">
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="reqDetail_view" class="modal-overlay">
  <app-request-detail (closeModal)="close_onClick($event)" id="form-modal" class="form-modal center-center"></app-request-detail>
</div>
<div *ngIf="personAcc_view" class="modal-overlay">
  <app-person-account (closeModal)="close_onClick($event)" id="form-modal" class="form-modal center-center"></app-person-account>
</div>