<div class="pg-subtitle">
    LABORATORY REQUESTS
</div>
<div>
    <div class="doc-mainWrap">
        <div class="doc-contentArea">

            <div class="clinicalNoteWrap">
                <div class="actSect">
                    <div (click)="request_show()" class="act-wrap">
                        <i *ngIf="request_view" class="fa fa-minus" aria-hidden="true"></i>
                        <i [hidden]="request_view" class="fa fa-plus" aria-hidden="true"></i>
                        <span>New Request</span>
                    </div>

                    <form class="frmNoteWrap" *ngIf="request_view" [formGroup]="frmNewRequest" novalidate>

                        <div class="labBtn-wrap">
                            <div (click)="newPerson()" class="lab-btn"><i class="fa fa-plus" aria-hidden="true"></i>Register Patient</div>
                        </div>
                        <div class="clear-r"></div>

                        <div class="frm-wrap">
                            <div class="frm-l">
                                <div class="frm-item-wrap">
                                    <apmis-lookup formControlName="patient" [(ngModel)]="apmisLookupText" [url]="apmisLookupUrl" [query]="apmisLookupQuery" placeholder="search for patient" [isSocket]="false" [displayKey]="apmisLookupDisplayKey" [displayImage]="true" [imgObj]="apmisLookupImgKey"
                                        [multipleKeys]="true" [otherKeys]="apmisLookupOtherKeys" (selectedItem)="apmisLookupHandleSelectedItem($event)"></apmis-lookup>
                                </div>

                                <div class="frm-item-wrap">
                                    <md-input-container>
                                        <textarea mdInput formControlName="clinicalInfo" placeholder="Clinical Information"></textarea>
                                    </md-input-container>
                                </div>

                            </div>
                            <div class="frm-r">
                                <div class="frm-item-wrap">
                                    <md-input-container>
                                        <input mdInput placeholder="Lab Number" formControlName="labNo">
                                    </md-input-container>
                                </div>

                                <div class="frm-item-wrap">
                                    <md-input-container>
                                        <textarea mdInput formControlName="diagnosis" placeholder="Diagnosis"></textarea>
                                    </md-input-container>
                                </div>

                            </div>
                        </div>

                        <div class="investigation-sect">

                            <div class="investigation-list">
                                <div class="frm-item-wrap">
                                    <md-input-container>
                                        <input mdInput [formControl]="searchInvestigation" placeholder="search for Investigation">
                                    </md-input-container>
                                </div>
                                <!-- <div class="sect-listItem">
                  <md-checkbox></md-checkbox>
                  <div class="listItem-tag invstn">Investigation</div>
                  <div class="sect-listLabel">Bilateral Test</div>
                </div>

                <div class="sect-listItem">
                  <md-checkbox></md-checkbox>
                  <div class="listItem-tag panel">Panel</div>
                  <div class="sect-listLabel">Pregnancy Test</div>
                </div> -->
                                <div *ngFor="let investigation of investigations">
                                    <div *ngIf="investigation.investigation.isPanel">
                                        <div class="panel-wrap">
                                            <div class="list-item panel">
                                                <div class="txt-innerWrap">
                                                    <md-checkbox (change)="investigationChanged($event, investigation)" [checked]="investigation.isChecked"></md-checkbox>
                                                    <div class="txt-label list-label">{{investigation.investigation.name}}</div>
                                                </div>
                                                <i class="fa fa-long-arrow-down" aria-hidden="true"></i>
                                            </div>
                                            <div *ngFor="let panel of investigation.investigation.panel" class="child-list">
                                                <div class="txt-innerWrap">
                                                    <md-checkbox [checked]="panel.investigation.isChecked" (change)="investigationChanged($event, investigation, panel,true)"></md-checkbox>
                                                    <div class="txt-label child-item">{{panel.investigation.name}}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div *ngIf="!investigation.investigation.isPanel" class="list-item investigation">
                                        <div class="txt-innerWrap">
                                            <md-checkbox (change)="investigationChanged($event, investigation)" [checked]="investigation.isChecked"></md-checkbox>
                                            <div class="list-label">{{investigation.investigation.name}}</div>
                                        </div>
                                    </div>
                                </div>

                                <<<<<<< HEAD <div class="panel-wrap">
                                    <div class="list-item panel">
                                        <div class="txt-innerWrap">
                                            <md-checkbox></md-checkbox>
                                            <div class="txt-label list-label">Bilateral Test</div>
                                        </div>
                                        <i class="fa fa-long-arrow-down" aria-hidden="true"></i>
                                    </div>

                                    <div class="child-list">
                                        <div class="txt-innerWrap">
                                            <md-checkbox></md-checkbox>
                                            <div class="txt-label child-item">Pregnancy Test</div>
                                        </div>
                                    </div>

                                    <div class="child-list">
                                        <div class="txt-innerWrap">
                                            <md-checkbox></md-checkbox>
                                            <div class="txt-label child-item">HIV Test</div>
                                        </div>
                                    </div>
                            </div>

                            <div class="list-item investigation">
                                <div class="txt-innerWrap">
                                    <md-checkbox></md-checkbox>
                                    <div class="list-label">Pregnancy Test</div>
                                </div>
                            </div>

                            <div class="list-item investigation">
                                <div class="txt-innerWrap">
                                    <md-checkbox></md-checkbox>
                                    <div class="list-label">HIV Test</div>
                                </div>
                            </div>
                        </div>

                        <div class="selected-list">
                            <div class="sel-list-title">SELECTED INVESTIGATIONS</div>

                            <div class="panel-wrap">
                                <div class="panel-inner">
                                    <div class="list-item panel">
                                        <div class="txt-innerWrap item-bi-sect">
                                            <div class="txt-label list-label">Bilateral Test</div>
                                        </div>
                                        <div class="txt-wrap actions-wrapa item-bi-sect">
                                            <div class="txt-innerWrap">
                                                <div class="txt-label">External</div>
                                                <div class="txt-val">
                                                    <md-checkbox></md-checkbox>
                                                </div>
                                            </div>

                                            <div class="txt-innerWrap">
                                                <div class="txt-label">Urgent</div>
                                                <div class="txt-val">
                                                    <md-checkbox></md-checkbox>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="panel-inner child-list">
                                    <div class="list-item">
                                        <div class="txt-innerWrap  item-bi-sect">
                                            <div class="txt-label child-item">Pregnancy Test</div>
                                        </div>

                                        <div class="txt-wrap actions-wrapa item-bi-sect">
                                            <div class="txt-innerWrap">
                                                <div class="txt-label">External</div>
                                                <div class="txt-val">
                                                    <md-checkbox></md-checkbox>
                                                </div>
                                            </div>

                                            <div class="txt-innerWrap">
                                                <div class="txt-label">Urgent</div>
                                                <div class="txt-val">
                                                    <md-checkbox></md-checkbox>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel-inner child-list">
                                    <div class="list-item">
                                        <div class="txt-innerWrap  item-bi-sect">
                                            <div class="txt-label child-item">HIV Test</div>
                                        </div>

                                        <div class="txt-wrap actions-wrapa item-bi-sect">
                                            <div class="txt-innerWrap">
                                                <div class="txt-label">External</div>
                                                <div class="txt-val">
                                                    <md-checkbox></md-checkbox>
                                                </div>
                                            </div>

                                            <div class="txt-innerWrap">
                                                <div class="txt-label">Urgent</div>
                                                <div class="txt-val">
                                                    <md-checkbox></md-checkbox>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="list-item investigation">
                                <div class="item-bi-sect">
                                    <div class="list-label">Pregnancy Test</div>
                                </div>

                                <div class="txt-wrap actions-wrapa item-bi-sect">
                                    <div class="txt-innerWrap">
                                        <div class="txt-label">External</div>
                                        <div class="txt-val">
                                            <md-checkbox></md-checkbox>
                                        </div>
                                    </div>

                                    <div class="txt-innerWrap">
                                        <div class="txt-label">Urgent</div>
                                        <div class="txt-val">
                                            <md-checkbox></md-checkbox>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="list-item investigation">
                                <div class="item-bi-sect">
                                    <div class="list-label">HIV Test</div>
                                </div>

                                <div class="txt-wrap actions-wrapa item-bi-sect">
                                    <div class="txt-innerWrap">
                                        <div class="txt-label">External</div>
                                        <div class="txt-val">
                                            <md-checkbox></md-checkbox>
                                        </div>
                                    </div>

                                    <div class="txt-innerWrap">
                                        <div class="txt-label">Urgent</div>
                                        <div class="txt-val">
                                            <md-checkbox></md-checkbox>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                </div>

                =======
            </div>

            <div class="selected-list">
                <div class="sel-list-title">SELECTED INVESTIGATIONS</div>

                <div *ngFor="let investigation of bindInvestigations">
                    <div *ngIf="investigation.investigation.isPanel" class="panel-wrap">
                        <div class="panel-inner">
                            <div class="list-item panel">
                                <div class="txt-innerWrap item-bi-sect">
                                    <div class="txt-label list-label">{{investigation.investigation.name}}</div>
                                </div>
                                <div class="txt-wrap actions-wrapa item-bi-sect">
                                    <div class="txt-innerWrap">
                                        <div class="txt-label">External</div>
                                        <div class="txt-val">
                                            <md-checkbox></md-checkbox>
                                        </div>
                                    </div>

                                    <div class="txt-innerWrap">
                                        <div class="txt-label">Urgent</div>
                                        <div class="txt-val">
                                            <md-checkbox></md-checkbox>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div *ngFor="let panel of investigation.investigation.panel" class="panel-inner child-list">
                            <div class="list-item">
                                <div class="txt-innerWrap  item-bi-sect">
                                    <div class="txt-label child-item">{{panel.investigation.name}}</div>
                                </div>

                                <div class="txt-wrap actions-wrapa item-bi-sect">
                                    <div class="txt-innerWrap">
                                        <div class="txt-label">External</div>
                                        <div class="txt-val">
                                            <md-checkbox></md-checkbox>
                                        </div>
                                    </div>

                                    <div class="txt-innerWrap">
                                        <div class="txt-label">Urgent</div>
                                        <div class="txt-val">
                                            <md-checkbox></md-checkbox>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div *ngIf="!investigation.investigation.isPanel" class="list-item investigation">
                        <div class="item-bi-sect">
                            <div class="list-label">{{investigation.investigation.name}}</div>
                        </div>

                        <div class="txt-wrap actions-wrapa item-bi-sect">
                            <div class="txt-innerWrap">
                                <div class="txt-label">External</div>
                                <div class="txt-val">
                                    <md-checkbox></md-checkbox>
                                </div>
                            </div>

                            <div class="txt-innerWrap">
                                <div class="txt-label">Urgent</div>
                                <div class="txt-val">
                                    <md-checkbox></md-checkbox>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        >>>>>>> 96a2829a46ee92d51c25a5642676a67f681c7a34
        <button (click)="save(frmNewRequest.valid, frmNewRequest.value)" class="cta-1">
              Make Request
            </button>
        </form>
    </div>

    <div class="tblWrapa" class="actSect">
        <table cellpadding="0" cellspacing="0" border="0.5">
            <thead>
                <tr>
                    <th>
                        <i class="fa fa-sort-alpha-asc" aria-hidden="true"></i>
                        <!--<i class="fa fa-sort-alpha-desc" aria-hidden="true"></i>-->
                        <span style="padding-left: 3px;">Date</span>
                    </th>
                    <th>
                        <i class="fa fa-sort-alpha-asc" aria-hidden="true"></i>
                        <!--<i class="fa fa-sort-alpha-desc" aria-hidden="true"></i>-->
                        <span style="padding-left: 3px;">Patient</span>
                    </th>
                    <th>
                        <i class="fa fa-sort-alpha-asc" aria-hidden="true"></i>
                        <!--<i class="fa fa-sort-alpha-desc" aria-hidden="true"></i>-->
                        <span style="padding-left: 3px;">Investigation</span>
                    </th>
                    <th>
                        <i class="fa fa-sort-alpha-asc" aria-hidden="true"></i>
                        <!--<i class="fa fa-sort-alpha-desc" aria-hidden="true"></i>-->
                        <span style="padding-left: 3px;">Source</span>
                    </th>
                    <th>
                        <i class="fa fa-sort-alpha-asc" aria-hidden="true"></i>
                        <!--<i class="fa fa-sort-alpha-desc" aria-hidden="true"></i>-->
                        <span style="padding-left: 3px;">Physician</span>
                    </th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>

                <tr>
                    <td colspan="10">
                        <div class="tbl-actionRow">
                            <!-- <div class="frm-item-wrap">
                          <apmis-lookup [(ngModel)]="apmisLookupText" 
                          url="apmisLookupUrl" query="apmisLookupQuery" placeholder="Patient"
                          isSocket="false" displayKey="apmisLookupDisplayKey" 
                          (selectedItem)="apmisLookupHandleSelectedItem($event)"></apmis-lookup>
                        </div>

                        <div class="frm-item-wrap">
                          <apmis-lookup [(ngModel)]="apmisLookupText" 
                              url="apmisLookupUrl" query="apmisLookupQuery" placeholder="Practitioner"
                              isSocket="false" displayKey="apmisLookupDisplayKey" 
                              (selectedItem)="apmisLookupHandleSelectedItem($event)"></apmis-lookup>
                        </div>

                        <div class="frm-item-wrap">
                          <apmis-lookup [(ngModel)]="apmisLookupText" 
                              url="apmisLookupUrl" query="apmisLookupQuery" placeholder="Location"
                              isSocket="false" displayKey="apmisLookupDisplayKey" 
                              (selectedItem)="apmisLookupHandleSelectedItem($event)"></apmis-lookup>
                        </div> -->
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>11th Jan, 2017. 09:00AM</td>
                    <td>
                        <div class="empWrap">
                            <div class="list-img">
                                <img src="assets/images/users/default.png">
                            </div>
                            <div>Johnson Wade</div>
                        </div>
                    </td>
                    <td>Blood Test</td>
                    <td>EMT Clinic</td>
                    <td>
                        <div class="empWrap">
                            <div class="list-img">
                                <img src="assets/images/users/default.png">
                            </div>
                            <div>Solomon Jim</div>
                        </div>
                    </td>
                    <td>
                        <div class="status-wrap">
                            <div class="status-item">
                                <div class="status-label">Payment Made</div>
                                <!-- <div [class.isSample]="paymentStatus" [class.notSample]="!paymentStatus" class="status-val"></div> -->
                                <i *ngIf="paymentStatus" class="fa fa-check isSample" aria-hidden="true"></i>
                                <i *ngIf="!paymentStatus" class="fa fa-minus notSample" aria-hidden="true"></i>
                            </div>
                            <div class="status-item">
                                <div class="status-label">Sample Taken</div>
                                <!-- <div [class.isSample]="sampleStatus" [class.notSample]="!sampleStatus" class="status-val"></div> -->
                                <i *ngIf="sampleStatus" class="fa fa-check isSample" aria-hidden="true"></i>
                                <i *ngIf="!sampleStatus" class="fa fa-minus notSample" aria-hidden="true"></i>
                            </div>
                            <div class="status-item">
                                <div class="status-label">Sample Recieved</div>
                                <!-- <div [class.isSample]="recievedStatus" [class.notSample]="!recievedStatus" class="status-val"></div> -->
                                <i *ngIf="recievedStatus" class="fa fa-check isSample" aria-hidden="true"></i>
                                <i *ngIf="!recievedStatus" class="fa fa-minus notSample" aria-hidden="true"></i>
                            </div>
                            <div class="status-item">
                                <div class="status-label">Result Available</div>
                                <!-- <div [class.isSample]="resultStatus" [class.notSample]="!resultStatus" class="status-val"></div> -->
                                <i *ngIf="resultStatus" class="fa fa-check isSample" aria-hidden="true"></i>
                                <i *ngIf="!resultStatus" class="fa fa-minus notSample" aria-hidden="true"></i>
                            </div>
                        </div>
                    </td>
                    <td class="action-placeholder" style="text-align:center;">
                        <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                        <div class="action-container shadow-RB">
                            <div (click)="reqDetail()" class="action-item">
                                <i class="fa fa-file-text-o" aria-hidden="true"></i>
                                <span>View Investigation</span>
                            </div>

                            <div class="action-item">
                                <i class="fa fa-file-text" aria-hidden="true"></i>
                                <span>Write Report</span>
                            </div>

                            <div (click)="showImageBrowseDlg()" class="action-item">
                                <i class="fa fa-cloud-upload" aria-hidden="true"></i>
                                <span>Upload File</span>
                            </div>
                            <input style="display:none;" #fileInput type="file" id="uploadResult" (click)="onChange($event)">
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</div>
</div>
</div>

<div *ngIf="reqDetail_view" class="modal-overlay">
    <app-request-detail (closeModal)="close_onClick($event)" id="form-modal" class="form-modal center-center"></app-request-detail>
</div>
<div *ngIf="personAcc_view" class="modal-overlay">
    <app-person-account (closeModal)="close_onClick($event)" id="form-modal" class="form-modal center-center"></app-person-account>
</div>