<div class="pg-subtitle">
    LABORATORY REQUESTS
</div>
<div>
    <div class="doc-mainWrap">
        <div class="doc-contentArea">
            <div class="clinicalNoteWrap">
                <div class="actSect">
                    <div (click)="request_show()" class="act-wrap">
                        <i *ngIf="request_view" class="fa fa-minus" aria-hidden="true"></i>
                        <i [hidden]="request_view" class="fa fa-plus" aria-hidden="true"></i>
                        <span>New Request</span>
                    </div>

                    <form class="frmNoteWrap" *ngIf="request_view" [formGroup]="frmNewRequest" novalidate>
                        <div class="labBtn-wrap">
                            <div (click)="newPerson()" class="lab-btn"><i class="fa fa-plus" aria-hidden="true"></i>Register Patient</div>
                        </div>
                        <div class="clear-r"></div>

                        <div class="frm-wrap">
                            <div class="frm-l">
                                <div class="frm-item-wrap">
                                    <apmis-lookup formControlName="patient" [(ngModel)]="apmisLookupText" [url]="apmisLookupUrl" [query]="apmisLookupQuery" placeholder="search for patient"
                                        [isSocket]="false" [displayKey]="apmisLookupDisplayKey" [displayImage]="true" [imgObj]="apmisLookupImgKey"
                                        [multipleKeys]="true" [otherKeys]="apmisLookupOtherKeys" (selectedItem)="apmisLookupHandleSelectedItem($event)"></apmis-lookup>
                                </div>

                                <div class="frm-item-wrap">
                                    <md-input-container>
                                        <textarea mdInput formControlName="clinicalInfo" placeholder="Clinical Information"></textarea>
                                    </md-input-container>
                                </div>

                            </div>
                            <div class="frm-r">
                                <div class="frm-item-wrap">
                                    <md-input-container>
                                        <input mdInput placeholder="Lab Number" formControlName="labNo">
                                    </md-input-container>
                                </div>

                                <div class="frm-item-wrap">
                                    <md-input-container>
                                        <textarea mdInput formControlName="diagnosis" placeholder="Diagnosis"></textarea>
                                    </md-input-container>
                                </div>

                            </div>
                        </div>

                        <div class="investigation-sect">

                            <div class="investigation-list">
                                <div class="frm-item-wrap">
                                    <md-input-container>
                                        <input mdInput [formControl]="searchInvestigation" placeholder="search for Investigation">
                                    </md-input-container>
                                </div>

                                <div *ngFor="let investigation of investigations">
                                    <div *ngIf="investigation.investigation.isPanel">
                                        <div class="panel-wrap">
                                            <div class="list-item panel">
                                                <div class="txt-innerWrap">
                                                    <md-checkbox (change)="investigationChanged($event, investigation)" [checked]="investigation.isChecked"></md-checkbox>
                                                    <div class="txt-label list-label">{{investigation.investigation.name}}</div>
                                                </div>
                                                <i class="fa fa-long-arrow-down" aria-hidden="true"></i>
                                            </div>

                                            <div class="panel-loc">
                                                <div class="inner-radio">
                                                    <md-radio-group>
                                                        <md-radio-button class="opt" value="1">
                                                            <div class="opt-inner">
                                                                <div>Legacy Lab</div>
                                                                <div class="opt-price"><span>&#x20a6;</span>30,000</div>
                                                            </div>
                                                        </md-radio-button>
                                                        <md-radio-button value="2">
                                                            <div class="opt-inner">
                                                                <div>Legacy Lab</div>
                                                                <div class="opt-price"><span>&#x20a6;</span>30,000</div>
                                                            </div>
                                                        </md-radio-button>
                                                        <md-radio-button class="opt" value="1">
                                                            <div class="opt-inner">
                                                                <div>External</div>
                                                            </div>
                                                        </md-radio-button>
                                                    </md-radio-group>
                                                </div>
                                            </div>

                                            <div *ngFor="let panel of investigation.investigation.panel" class="child-list">
                                                <div class="txt-innerWrap">
                                                    <div class="chkbox-wrap">
                                                        <md-checkbox [checked]="panel.investigation.isChecked" (change)="investigationChanged($event, investigation, panel,true)"></md-checkbox>
                                                        <div class="child-item">{{panel.investigation.name}}</div>
                                                    </div>

                                                    <div class="inner-radio">
                                                        <div class="opt-inner">
                                                            <div>Legacy Lab</div>
                                                            <div class="opt-price"><span>&#x20a6;</span>30,000</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div *ngIf="!investigation.investigation.isPanel" class="list-item investigation">
                                        <div class="txt-innerWrap">
                                            <div class="chkbox-wrap">
                                                <md-checkbox (change)="investigationChanged($event, investigation)" [checked]="investigation.isChecked"></md-checkbox>
                                                <div class="list-label">{{investigation.investigation.name}}</div>
                                            </div>

                                            <div class="inner-radio">
                                                <md-radio-group>
                                                    <md-radio-button class="opt" value="1">
                                                        <div class="opt-inner">
                                                            <div>Legacy Lab</div>
                                                            <div class="opt-price"><span>&#x20a6;</span>30,000</div>
                                                        </div>
                                                    </md-radio-button>
                                                    <md-radio-button value="2">
                                                        <div class="opt-inner">
                                                            <div>Legacy Lab</div>
                                                            <div class="opt-price"><span>&#x20a6;</span>30,000</div>
                                                        </div>
                                                    </md-radio-button>
                                                    <md-radio-button class="opt" value="1">
                                                        <div class="opt-inner">
                                                            <div>External</div>
                                                        </div>
                                                    </md-radio-button>
                                                </md-radio-group>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="selected-list">
                                <div class="sel-list-title">SELECTED INVESTIGATIONS</div>
                                <div class="sel-total"><span>&#x20a6;</span>2,500</div>
                                <div *ngFor="let investigation of bindInvestigations">
                                    <div *ngIf="investigation.investigation.isPanel" class="panel-wrap">
                                        <div class="panel-inner">
                                            <div class="list-item panel">
                                                <div class="txt-innerWrap item-bi-sect">
                                                    <div class="txt-label list-label">{{investigation.investigation.name}}</div>
                                                </div>
                                                 <div class="txt-wrap actions-wrapa item-bi-sect">
                                                    <!-- <div class="txt-innerWrap">
                                                        <div class="txt-label">External</div>
                                                        <div class="txt-val">
                                                            <md-checkbox (change)="externalChanged($event, investigation)" [checked]="investigation.isExternal"></md-checkbox>
                                                        </div>
                                                    </div>  -->

                                                    <div class="txt-innerWrap">
                                                        <div class="txt-label">Urgent</div>
                                                        <div class="txt-val">
                                                            <md-checkbox (change)="urgentChanged($event, investigation)" [checked]="investigation.isUrgent"></md-checkbox>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="close">X</div>
                                            </div>

                                        </div>
                                        <div *ngFor="let panel of investigation.investigation.panel" class="panel-inner child-list">
                                            <div class="list-item">
                                                <div class="txt-innerWrap  item-bi-sect">
                                                    <div class="txt-label child-item">{{panel.investigation.name}}</div>
                                                </div>

                                                <div class="txt-wrap actions-wrapa item-bi-sect">
                                                    <!-- <div class="txt-innerWrap">
                                                        <div class="txt-label">External</div>
                                                        <div class="txt-val">
                                                            <md-checkbox (change)="externalChanged($event, panel)" [checked]="investigation.isExternal"></md-checkbox>
                                                        </div>
                                                    </div> -->

                                                    <div class="txt-innerWrap">
                                                        <div class="txt-label">Urgent</div>
                                                        <div class="txt-val">
                                                            <md-checkbox (change)="urgentChanged($event, panel)" [checked]="investigation.isUrgent"></md-checkbox>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div *ngIf="!investigation.investigation.isPanel" class="list-item investigation">
                                        <div class="item-bi-sect">
                                            <div class="list-label">{{investigation.investigation.name}}</div>
                                        </div>

                                        <div class="txt-wrap actions-wrapa item-bi-sect">
                                            <!-- <div class="txt-innerWrap">
                                                <div class="txt-label">External</div>
                                                <div class="txt-val">
                                                    <md-checkbox (change)="externalChanged($event, investigation)" [checked]="investigation.isExternal"></md-checkbox>
                                                </div>
                                            </div> -->

                                            <div class="txt-innerWrap">
                                                <div class="txt-label">Urgent</div>
                                                <div class="txt-val">
                                                    <md-checkbox (change)="urgentChanged($event, investigation)" [checked]="investigation.isUrgent"></md-checkbox>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="close">X</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button (click)="save(frmNewRequest.valid, frmNewRequest.value)" class="cta-1">Make Request</button>
                    </form>
                </div>

                <div class="tblWrapa" class="actSect">
                    <table cellpadding="0" cellspacing="0" border="0.5">
                        <thead>
                            <tr>
                                <th>
                                    <i class="fa fa-sort-alpha-asc" aria-hidden="true"></i>
                                    <!--<i class="fa fa-sort-alpha-desc" aria-hidden="true"></i>-->
                                    <span style="padding-left: 3px;">Date</span>
                                </th>
                                <th>
                                    <i class="fa fa-sort-alpha-asc" aria-hidden="true"></i>
                                    <!--<i class="fa fa-sort-alpha-desc" aria-hidden="true"></i>-->
                                    <span style="padding-left: 3px;">Patient</span>
                                </th>
                                <th>
                                    <i class="fa fa-sort-alpha-asc" aria-hidden="true"></i>
                                    <!--<i class="fa fa-sort-alpha-desc" aria-hidden="true"></i>-->
                                    <span style="padding-left: 3px;">Description</span>
                                </th>
                                <th>
                                    <i class="fa fa-sort-alpha-asc" aria-hidden="true"></i>
                                    <!--<i class="fa fa-sort-alpha-desc" aria-hidden="true"></i>-->
                                    <span style="padding-left: 3px;">Source</span>
                                </th>
                                <th>Status</th>
                            </tr>
                        </thead>

                        <tbody>

                            <tr>
                                <td colspan="10">
                                    <div class="tbl-actionRow">
                                        <!-- <div class="frm-item-wrap">
                          <apmis-lookup [(ngModel)]="apmisLookupText" 
                          url="apmisLookupUrl" query="apmisLookupQuery" placeholder="Patient"
                          isSocket="false" displayKey="apmisLookupDisplayKey" 
                          (selectedItem)="apmisLookupHandleSelectedItem($event)"></apmis-lookup>
                        </div>

                        <div class="frm-item-wrap">
                          <apmis-lookup [(ngModel)]="apmisLookupText" 
                              url="apmisLookupUrl" query="apmisLookupQuery" placeholder="Practitioner"
                              isSocket="false" displayKey="apmisLookupDisplayKey" 
                              (selectedItem)="apmisLookupHandleSelectedItem($event)"></apmis-lookup>
                        </div>

                        <div class="frm-item-wrap">
                          <apmis-lookup [(ngModel)]="apmisLookupText" 
                              url="apmisLookupUrl" query="apmisLookupQuery" placeholder="Location"
                              isSocket="false" displayKey="apmisLookupDisplayKey" 
                              (selectedItem)="apmisLookupHandleSelectedItem($event)"></apmis-lookup>
                        </div> -->
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td>11th Jan, 2017. 09:00AM</td>
                                <td>
                                    <div class="empWrap">
                                        <div class="list-img">
                                            <img src="assets/images/users/default.png">
                                        </div>
                                        <div>Johnson Wade</div>
                                    </div>
                                </td>
                                <td>Payment for pregnancy test</td>
                                <td>Jilad Lab</td>
                                <td>Not Paid</td>
                            </tr>

                            <tr>
                                <td>11th Jan, 2017. 09:00AM</td>
                                <td>
                                    <div class="empWrap">
                                        <div class="list-img">
                                            <img src="assets/images/users/default.png">
                                        </div>
                                        <div>Johnson Wade</div>
                                    </div>
                                </td>
                                <td>Payment for pregnancy test</td>
                                <td>Jilad Lab</td>
                                <td>Paid</td>
                            </tr>

                            <tr>
                                <td>11th Jan, 2017. 09:00AM</td>
                                <td>
                                    <div class="empWrap">
                                        <div class="list-img">
                                            <img src="assets/images/users/default.png">
                                        </div>
                                        <div>Johnson Wade</div>
                                    </div>
                                </td>
                                <td>Payment for pregnancy test</td>
                                <td>Jilad Lab</td>
                                <td>Paid</td>
                            </tr>

                            <tr>
                                <td>11th Jan, 2017. 09:00AM</td>
                                <td>
                                    <div class="empWrap">
                                        <div class="list-img">
                                            <img src="assets/images/users/default.png">
                                        </div>
                                        <div>Johnson Wade</div>
                                    </div>
                                </td>
                                <td>Payment for pregnancy test</td>
                                <td>Jilad Lab</td>
                                <td>Paid</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="reqDetail_view" class="modal-overlay">
    <app-request-detail (closeModal)="close_onClick($event)" id="form-modal" class="form-modal center-center"></app-request-detail>
</div>
<div *ngIf="personAcc_view" class="modal-overlay">
    <app-person-account (closeModal)="close_onClick($event)" id="form-modal" class="form-modal center-center"></app-person-account>
</div>