<div class="modal-baseWrap animated pulse">

  <div (click)="close_onClick()" class="modal-close-ico" aria-hidden="true">X</div>
  <div class="facility-title">New Modifier</div>
  <div class="mainErr animated shake" [hidden]="mainErr">{{errMsg}}</div>

  <div class="f_sg1">

    <form [formGroup]="frmNewmodefier" novalidate>

      <div class="headWrap">
        <div class="service-name">{{selectedFacilityServicePrice.service.name}}</div>
        <div class="service-cat">{{selectedFacilityServicePrice.category}}</div>
        <div class="service-amount">{{selectedFacilityServicePrice.price}}</div>
      </div>

      <div class="frm-item-wrap">
        <small class="alert-label" [hidden]="frmNewmodefier.controls.tag.valid || frmNewmodefier.controls.tag.pristine">
          required field.
        </small>
        <i class="fa fa-user" aria-hidden="true"></i>
        <input type="text" formControlName="tag" placeholder="Select Tag" autocomplete="off">
        <div class="suggestionFeeds">
          <div (click)="onSelectedTag(tag)" *ngFor="let tag of tags" class="suggestedItem">
            <div class="suggetedName">{{tag.name}}</div>
          </div>
        </div>
      </div>

      <div class="frm-radio-wrap">
        <div style=" font-size: 12px; color: #0288D1; width: 80px; display: inline-block;">
          <input style="width: 60px;" type="radio" formControlName="valueCheck" value="Percentage"> %
        </div>
        <div style=" font-size: 12px; color: #0288D1; width: 110px; display: inline-block;">
          <input style="width: 60px;" type="radio" formControlName="valueCheck" value="Amount" checked>Amount
        </div>
      </div> 

      <div class="frm-item-wrap">
        <i class="fa fa-user" aria-hidden="true"></i>
        <input type="number" formControlName="value" placeholder="Value" autocomplete="off">
      </div>

      <button (click)="newModefier(frmNewmodefier.value, frmNewmodefier.valid)" class="cta-1">
        CREATE MODiFIER
      </button>

    </form>
  </div>

</div>