<div class="search-container">
  <div class="searchproduct">
    <div class="InputGroup">
      <input [formControl]="productConfigSearch" (focus)="onFocus('in')" (focusout)="onFocus('out')" class="customInput"
        type="text" required>
      <span class="highlight"></span>
      <label class="customLabel"><i class="fa fa-search" aria-hidden="true"></i>Search Product</label>
      <ul class="search-sugestions" *ngIf="showProduct">
        <li *ngFor="let config of productConfigs" (click)="setSelectedOption(config)" class="search-sugestion">{{config.productObject.name}}</li>
      </ul>
    </div>
    <div class="search-noResult-blue" *ngIf="searchHasBeenDone">
      <span>Product configuration not found <i (click)="configureProduct()">- Configure</i></span>
    </div>
  </div>
  <div [class.disabled]="selectedProduct===undefined" (click)="addProduct()" class="new-btn-solid-blue">
    <span>Add Product</span>
  </div>
</div>


<div>
  <div class="store-table">
    <div class="store-thead">
      <div class="store-tr">
        <div class="store-th store-td-actions"></div>
        <div class="store-tr-in">
          <div class="store-th">Product </div>
          <div class="store-th">Total Quantity</div>
          <div class="store-th">Cost Price</div>
          <div class="store-th">Total Cost Price</div>
          <div class="store-th">Margin</div>
          <div class="store-th">Recommended Selling Price</div>
        </div>
        <div class="store-th store-td-actions"></div>
      </div>
    </div>

    <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
      <div formArrayName="productArray">
        <div class="store-tbody">
          <!-- <div class="store-pre-tr" *ngFor="let picked of selectedProducts"> -->
          <div *ngFor="let picked of productForm['controls'].productArray['controls']; let i = index;">
            <div formGroupName="{{i}}">
              <div class="store-tr">
                <div class="store-td store-td-actions">
                  <i *ngIf="item_to_show(i)" (click)="toggle_tr(i, 'down')" class="exp-tr fa fa-angle-down"></i>
                  <i *ngIf="!item_to_show(i)" (click)="toggle_tr(i, 'right')" class="exp-tr fa fa-angle-right"></i>
                </div>
                <div class="store-tr-in">
                  <div class="store-td">{{picked?.value?.configProduct?.name}}</div>
                  <div class="store-td">{{picked?.value?.totalQuantity | number}} Tablets</div>
                  <div class="store-td">
                    <div class="InputGroup input-space">
                      <input formControlName="costPrice" min="0" class="customInput" type="number" placeholder="&#8358;10/sachet"
                        required>
                      <span class="highlight"></span>
                    </div>
                  </div>
                  <div class="store-td">
                    <div class="InputGroup input-space">
                      <input formControlName="totalCostPrice" min="0" class="customInput" type="number" placeholder="&#8358;300,000 "
                        required>
                      <span class="highlight"></span>
                    </div>
                  </div>
                  <div class="store-td">
                    <div class="InputGroup input-space">
                      <input formControlName="margin" min="0" class="customInput" type="number" placeholder="10%"
                        required>
                      <span class="highlight"></span>
                    </div>
                  </div>
                  <div class="store-td">
                    <div class="InputGroup input-space">
                      <input formControlName="sellingPrice" class="customInput" min="0" type="number" placeholder="&#8358;"
                        required>
                      <span class="highlight"></span>
                    </div>
                  </div>
                </div>
                <div class="table-list col-xs-1 action-placeholder">
                  <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                  <div class="action-container shadow-RB">

                    <div class="action-item opt-menu">
                      <span>Edit Details </span>
                    </div>

                    <div class="action-item opt-menu">
                      <span>Edit configuration </span>
                    </div>

                    <div class="action-item opt-menu">
                      <span>Remove Product</span>
                    </div>
                  </div>
                </div>
              </div>


              <div *ngIf="item_to_show(i)" class="store-tr-content">
                <div class="batches-wrap" formArrayName="batches">
                  <ul class="batches" [formGroupName]="j" *ngFor="let batch of picked['controls'].batches['controls']; let j = index">
                    <li class="batch" *ngIf="!batch.value.complete">
                      <div class="btc-top">
                        <div class="val-wrap">
                          <div class="val-label">Batch:</div>
                          <div class="InputGroup input-space">
                            <input class="customInput" formControlName="batchNumber" type="text" required>
                            <span class="highlight"></span>
                          </div>
                        </div>
                        <div class="val-wrap">
                          <div class="val-label">Batch Quantity:</div>
                          <div class="InputGroup input-space">
                            <input class="customInput" min="0" type="number" formControlName="quantity" required>
                            <span class="highlight"></span>
                          </div>
                        </div>
                      </div>

                      <div class="btc-body">
                        <div class="btc-body-item">
                          <div class="val-label">Batch Expiring Date:</div>
                          <div class="InputGroup input-space" style="width: 125px !important;">
                            <input class="customInput" type="date" formControlName="expiryDate" required>
                            <span class="highlight"></span>
                          </div>
                        </div>
                        <div class="btc-body-item batch-entry-action">
                          <i [class.disabled]="batch.valid===false" (click)="checkBatchValidation(batch)" class="fa fa-2x fa-check-circle"
                            aria-hidden="true"></i>
                          <i (click)="removeBatch(picked['controls'].batches, j)" class="fa fa-2x fa-times-circle"
                            aria-hidden="true"></i>
                        </div>
                      </div>
                    </li>
                    <li class="batch" *ngIf="batch.value.complete">
                      <div class="btc-top">
                        <div class="val-wrap">
                          <div class="val-label">Batch:</div>
                          <div class="val-val">{{batch.value.batchNumber}}</div>
                        </div>
                        <div class="orange-label">Out of Stock</div>
                      </div>
                      <div class="btc-body">
                        <div class="btc-body-item">
                          <div class="val-label">Batch Quantity:</div>
                          <div class="val-val">{{batch.value.quantity}} Tablets</div>
                        </div>
                        <div class="btc-body-item">
                          <div class="val-label">Batch Expiring Date:</div>
                          <div class="val-val">{{batch.value.expiryDate | date:'shortDate'}}</div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
                <!-- "picked['controls'].batches['controls'].push(initBatch()) -->
                <div (click)="pushBatch(picked)" class="tbl-cont-cta"><i class="fa fa-plus"></i>
                  Add Batches</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>






    <!-- <app-apmis-pagination (emitCurrentPage)="loadCurrentPage($event)" [total]="total" [limit]="limit" [numberOfPages]="numberOfPages"></app-apmis-pagination> -->
  </div>
</div>

<div *ngIf="showConfigureProduct" class="modal-overlay">
  <app-product-config-popup (closeModal)="close_onClick($event)" id="form-modal" class="form-modal center-center"></app-product-config-popup>
</div>