<div class="inner-wrap-b body-wrap">
    <div class="facility-title" (pageInView)="pageInViewLoader($event)">{{pageInView}}</div>
    <div *ngIf="isStoreAvailable" class="small-header">{{storeTitle}}</div>
    <div class="inner-page-wrap">
        <!-- <div class="lhs inner-page-menuTab">
            <div class="lTab-title">Prescription List</div>
            <ul class="nav-group">
                <li [class.navActive]="productNavMenu" routerLink="/dashboard/pharmacy/prescriptions">Prescriptions</li>
                <li [class.navActive]="supplierNavMenu" routerLink="/dashboard/pharmacy/external-prescriptions">External Prescriptions</li>
            </ul>

            <div class="lTab-title">Dispense</div>
            <ul class="nav-group">
                <li [class.navActive]="supplierNavMenu" routerLink="/dashboard/pharmacy/dispense">Walk in</li>
            </ul>
        </div> -->



        <div class="lhs inner-page-menuTab">
            <ul class="nav-group">
                <li [class.navActive]="productNavMenu" routerLink="/dashboard/pharmacy/prescriptions">Prescriptions</li>
                <li [class.navActive]="supplierNavMenu" routerLink="/dashboard/pharmacy/external-prescriptions">External Prescriptions</li>
                <li [class.navActive]="supplierNavMenu" routerLink="/dashboard/pharmacy/dispense">Walk in</li>
            </ul>
        </div>
        <div class="rhs inner-page-contentArea c-page-wrapper">
            <router-outlet></router-outlet>
        </div>
        <div class="clear"></div>
    </div>
</div>

<div *ngIf="modal_on" class="modal-overlay">
    <app-store-check-in [loginEmployee]="loginEmployee" (closeModal)="close_onClick($event)" id="form-modal" class="form-modal center-center"></app-store-check-in>
</div>