<div class="inner-wrap-b body-wrap">
    <div class="facility-title" (pageInView)="pageInViewLoader($event)">{{pageInView}}</div>
    <div (focusout)="contentSecMenuToggle()" class="inner-menu1-wrap responsive_nav-group">
        <i id="contentSecMenuToggle" (click)="contentSecMenuToggle()" [class.content-sec-icoActive]="contentSecMenuShow" class=" content-sec-ico fa fa-ellipsis-v" aria-hidden="true"></i>
        <ul id="innerMenu-ul" *ngIf="contentSecMenuShow" class="innerMenu-ul shadow">
            <li [routerLink]="['/modules/store/home']">Manage Store</li>
            <li [routerLink]="['/modules/product-manager/products']">Manage Product</li>
            <li [routerLink]="['/modules/purchase-manager/orders']">Manage Purchase</li>
            <li [routerLink]="['/modules/inventory-manager/inventory']">Manage Inventory</li>
        </ul>
    </div>
    <div class="inner-page-wrap">
        <div class="lhs inner-page-menuTab">
            <ul class="nav-group">
                <li [class.navActive]="productNavMenu"  routerLink="/modules/pharmacy/prescription-list">Prescription List</li>
                <li [class.navActive]="supplierNavMenu" (click)="onClickSupplierNavMenu()" routerLink="/modules/pharmacy/dispense">Dispense</li>
            </ul>
        </div>
        <div class="rhs inner-page-contentArea c-page-wrapper">
            <router-outlet></router-outlet>
        </div>
        <div class="clear"></div>
    </div>
</div>

<div *ngIf="productCat">
    <!--<app-category-manager></app-category-manager>-->
</div>

<div *ngIf="generic">
    <!--<app-generic-manager></app-generic-manager>-->
</div>

<div *ngIf="productRoute">
    <!--<app-route-manager></app-route-manager>-->
</div>

<div *ngIf="manufacturer">
    <!--<app-manufacturer-manager></app-manufacturer-manager>-->
</div>

<div *ngIf="presentation">
    <!--<app-presentation-manager></app-presentation-manager>-->
</div>

<!--<div *ngIf="strength">
    <app-strength-manager></app-strength-manager>
</div>-->