<!-- <div class="inner-wrap-b body-wrap">
    <div class="facility-title">Payment</div>
    <div class="inner-page-wrap">
        <div class="megaPgWrap pay-pg">
            <div class="feedsWrap leftCol">
                <div class="feedbox">
                    <div class="pending-wrap">
                        <div class="pending-header">
                            <div class="pending-title">Patient's Pending Bills</div>
                            <div class="search-wrap">
                                <mat-input-container>
                                    <input matInput placeholder="search for bill" [formControl]="searchPendingBill">
                                </mat-input-container>
                            </div>
                        </div>
                        <ul class="pending-bills">
                            <li class="empWrap" *ngFor="let pendingBill of pendingBills; let i = index;" routerLink="/dashboard/payment/bill/{{pendingBill?.principalObject?._id }}">
                                <div class="list-img">
                                    <img *ngIf="pendingBill?.principalObject?.personDetails?.profileImageObject == undefined" src="assets/images/users/default.png">
                                    <img class="shadow" *ngIf="pendingBill?.principalObject?.personDetails?.profileImageObject != undefined" [src]="facilityService.transform(pendingBill?.principalObject?.personDetails?.profileImageObject.thumbnail)">
                                </div>
                                <div class="list-labels">
                                    <div class="pending-name">{{pendingBill?.principalObject?.personDetails?.firstName}} {{pendingBill?.principalObject?.personDetails?.lastName}}</div>
                                    <div class="oda">
                                        <div class="pending-date">{{ pendingBill?.updatedAt |date:'medium'}}</div>
                                        <div class="pending-amount" *ngIf="pendingBill.grandTotalExcludeInvoice!=0">
                                            <span>&#x20a6;</span>{{ pendingBill?.grandTotalExcludeInvoice|numberThr }}</div>
                                    </div>
                                </div>
                            </li>
                            <li *ngIf="loadingPendingBills">
                                <div class="text-center">
                                    <i class="fa fa-circle-o-notch fa-spin fa-3x text-blue" aria-hidden="true"></i>
                                </div>
                            </li>

                            <li *ngIf="pendingBills.length === 0 && !loadingPendingBills" class="empWrap">
                                <div>No data available in table</div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="feedbox">
                    <div class="pending-wrap">
                        <div class="pending-header">
                            <div class="pending-title">Invoices</div>
                            <div class="search-wrap">
                                <mat-input-container>
                                    <input matInput placeholder="search for invoice" [formControl]="searchPendingInvoices">
                                </mat-input-container>
                            </div>
                        </div>
                        <div>
                            <li *ngIf="isLoadingInvoice" class="empWrap">
                                <div class="text-center">
                                    <i class="fa fa-circle-o-notch fa-spin fa-3x text-blue" aria-hidden="true"></i>
                                </div>
                            </li>
                            <li *ngIf="invoiceGroups.length === 0 && !isLoadingInvoice" class="empWrap">
                                <div>No data available in table</div>
                            </li>
                        </div>
                        <div>
                            <ul class="pending-bills" *ngFor="let invoice of invoiceGroups">
                                <li class="empWrap" (click)="onSelectedInvoice(invoice)">
                                    <!-- <div class="list-img">
                                        <img *ngIf="invoice?.personDetails.profileImageObject != undefined" [src]="facilityService.transform(invoice?.personDetails.profileImageObject.thumbnail)">
                                        <img *ngIf="invoice?.personDetails.profileImageObject == undefined" src="assets/images/users/default.png">
                                    </div> -->
                                    <div class="list-labels">
                                        <div class="pending-name">{{invoice?.invoiceNo}}</div>
                                        <div class="pending-date">{{invoice?.patientObject?.personDetails?.firstName}} {{invoice?.patientObject?.personDetails?.lastName}}</div>
                                        <div class="oda">
                                            <div class="pending-date">{{invoice?.updatedAt|date:'medium'}}</div>
                                            <div class="pending-amount">
                                                <span>&#x20a6;</span>{{invoice?.balance|numberThr}}</div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Where to insert chart -->
            <!-- <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas> -->

        </div>
    </div>
</div> -->
<div class="container">
    <h2 style="text-align: center;">Payment Overview</h2>
    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <div>
                    <h2 style="padding-top:10px; text-align: center">
                        Pending Bills
                    </h2>
                </div>
                <div class="search-box">
                    <i class="fa fa-2x fa-search"></i>
                    <input type="text" placeholder="Search first name, Apmis ID">
                </div>
                <div class="card-list">
                    <div class="card-list-item">
                        <div class="list-img">

                        </div>
                        <div class="list-text">
                            <span class="title">David Modupe</span> 
                            <span class="sub">April 15 2018 Total Amount Due: <b>N9,000</b></span>
                        </div>
                        <div class="badge">
                            1
                        </div>
                    </div>
                    <div class="card-list-item">
                            <div class="list-img">
    
                            </div>
                            <div class="list-text">
                                <span class="title">David Modupe</span> 
                                <span class="sub">April 15 2018 Total Amount Due: <b>N9,000</b></span>
                            </div>
                            <div class="badge">
                                1
                            </div>
                        </div>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="row">
                <div class="col-sm-4">
                    <div class="card">
                        <div class="summary-card">
                            <span class="summary-label">
                                Amount Received
                            </span>
                            <span class="summary-title">
                                N42,000
                                <i style="float: right; color: green" class=" fa-arrow-circle-o-down fa fa-2x"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                        <div class="card">
                            <div class="summary-card">
                                <span class="summary-label">
                                     Amount Paid
                                </span>
                                <span class="summary-title">
                                    N24,532
                                    <i style="float: right; color: red" class=" fa-arrow-circle-o-up fa fa-2x"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                            <div class="card">
                                <div class="summary-card">
                                    <span class="summary-label">
                                        Wallet Balance
                                    </span>
                                    <span class="summary-title">
                                        N17,468
                                        <i style="float: right; color: #3B86FF" class=" fa-money fa fa-2x"></i>
                                    </span>
                                </div>
                            </div>
                        </div>

            </div>
        </div>
    </div>
</div>