
<!-- <div class="survery">
    <div class="col-sm-3">
        1 - something here
    </div>
    <div class="col-sm-6">
        <div class="white-box">
            <h3 class="box-title">Recent Billing
            </h3>
            <div class="row sales-report">
                <div class="col-md-8 col-sm-8 col-xs-8">
                    <h2>August 2017</h2>
                    <p>BILLING REPORT</p>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4 ">
                    <select class="form-control pull-right row b-none">
                    <option>August 2017</option>
                    <option>July 2017</option>
                    <option>June 2017</option>
                    <option>May 2017</option>
                    <option>April 2017</option>
                    </select>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table ">
                    <thead>
                        <tr>
                            <th><i class="fa fa-sort-alpha-asc"></i> Name</th>
                            <th><i class="fa fa-sort-alpha-asc"></i> Status</th>
                            <th><i class="fa fa-sort-alpha-asc"></i> Date</th>
                            <th><i class="fa fa-sort-alpha-asc"></i>Total Bill</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="txt-oflo">Aser Ogbe</td>
                            <td><span class="label label-info label-rounded">PAID</span></td>
                            <td class="txt-oflo">April 19</td>
                            <td><span class="text-info">N1250</span></td>
                        </tr>
                        <tr>
                            <td class="txt-oflo">Blessing Ibanga</td>
                            <td><span class="label label-danger label-rounded">PENDING</span></td>
                            <td class="txt-oflo">April 20</td>
                            <td><span class="text-danger">N2024</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        3-something here
    </div>
</div> -->
<div class="facility-title">Bills/Payment</div>
<div class="pg-wrap">
    <div class="content-wrap">
        <table cellpadding="0" cellspacing="0" border="0.5">
            <thead>
                <tr>
                    <th>
                        <i class="fa fa-sort-alpha-asc" aria-hidden="true"></i>
                        <!--<i class="fa fa-sort-alpha-desc" aria-hidden="true"></i>-->
                        <span style="padding-left: 3px;">Date</span>
                    </th>
                    <th>
                        <i class="fa fa-sort-alpha-asc" aria-hidden="true"></i>
                        <!--<i class="fa fa-sort-alpha-desc" aria-hidden="true"></i>-->
                        <span style="padding-left: 3px;">Patient</span>
                    </th>
                    <th>
                        <i class="fa fa-sort-alpha-asc" aria-hidden="true"></i>
                        <!--<i class="fa fa-sort-alpha-desc" aria-hidden="true"></i>-->
                        <span style="padding-left: 3px;">Investigation</span>
                    </th>
                    <th>
                        <i class="fa fa-sort-alpha-asc" aria-hidden="true"></i>
                        <!--<i class="fa fa-sort-alpha-desc" aria-hidden="true"></i>-->
                        <span style="padding-left: 3px;">Source</span>
                    </th>
                    <th>
                        <i class="fa fa-sort-alpha-asc" aria-hidden="true"></i>
                        <!--<i class="fa fa-sort-alpha-desc" aria-hidden="true"></i>-->
                        <span style="padding-left: 3px;">Physician</span>
                    </th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>

                <tr>
                    <td colspan="10">
                        <div class="tbl-actionRow">
                            <!-- <div class="frm-item-wrap">
                <apmis-lookup [(ngModel)]="apmisLookupText" 
                url="apmisLookupUrl" query="apmisLookupQuery" placeholder="Patient"
                isSocket="false" displayKey="apmisLookupDisplayKey" 
                (selectedItem)="apmisLookupHandleSelectedItem($event)"></apmis-lookup>
            </div>

            <div class="frm-item-wrap">
                <apmis-lookup [(ngModel)]="apmisLookupText" 
                    url="apmisLookupUrl" query="apmisLookupQuery" placeholder="Practitioner"
                    isSocket="false" displayKey="apmisLookupDisplayKey" 
                    (selectedItem)="apmisLookupHandleSelectedItem($event)"></apmis-lookup>
            </div>

            <div class="frm-item-wrap">
                <apmis-lookup [(ngModel)]="apmisLookupText" 
                    url="apmisLookupUrl" query="apmisLookupQuery" placeholder="Location"
                    isSocket="false" displayKey="apmisLookupDisplayKey" 
                    (selectedItem)="apmisLookupHandleSelectedItem($event)"></apmis-lookup>
            </div> -->
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>11th Jan, 2017. 09:00AM</td>
                    <td>
                        <div class="empWrap">
                            <div class="list-img">
                                <img src="assets/images/users/default.png">
                            </div>
                            <div>Johnson Wade</div>
                        </div>
                    </td>
                    <td>Blood Test</td>
                    <td>EMT Clinic</td>
                    <td>
                        <div class="empWrap">
                            <div class="list-img">
                                <img src="assets/images/users/default.png">
                            </div>
                            <div>Solomon Jim</div>
                        </div>
                    </td>
                    <td></td>
                    <td class="action-placeholder" style="text-align:center;">
                        <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                        <div class="action-container shadow-RB">
                            <div (click)="reqDetail()" class="action-item">
                                <i class="fa fa-file-text-o" aria-hidden="true"></i>
                                <span>View Investigation</span>
                            </div>

                            <div class="action-item">
                                <i class="fa fa-file-text" aria-hidden="true"></i>
                                <span>Write Report</span>
                            </div>

                            <div (click)="showImageBrowseDlg()" class="action-item">
                                <i class="fa fa-cloud-upload" aria-hidden="true"></i>
                                <span>Upload File</span>
                            </div>
                            <input style="display:none;" #fileInput type="file" id="uploadResult" (click)="onChange($event)">
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>11th Jan, 2017. 09:00AM</td>
                    <td>
                        <div class="empWrap">
                            <div class="list-img">
                                <img src="assets/images/users/default.png">
                            </div>
                            <div>Johnson Wade</div>
                        </div>
                    </td>
                    <td>Blood Test</td>
                    <td>EMT Clinic</td>
                    <td>
                        <div class="empWrap">
                            <div class="list-img">
                                <img src="assets/images/users/default.png">
                            </div>
                            <div>Solomon Jim</div>
                        </div>
                    </td>
                    <td></td>
                    <td class="action-placeholder" style="text-align:center;">
                        <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                        <div class="action-container shadow-RB">
                            <div (click)="reqDetail()" class="action-item">
                                <i class="fa fa-file-text-o" aria-hidden="true"></i>
                                <span>View Investigation</span>
                            </div>

                            <div class="action-item">
                                <i class="fa fa-file-text" aria-hidden="true"></i>
                                <span>Write Report</span>
                            </div>

                            <div (click)="showImageBrowseDlg()" class="action-item">
                                <i class="fa fa-cloud-upload" aria-hidden="true"></i>
                                <span>Upload File</span>
                            </div>
                            <input style="display:none;" #fileInput type="file" id="uploadResult" (click)="onChange($event)">
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>11th Jan, 2017. 09:00AM</td>
                    <td>
                        <div class="empWrap">
                            <div class="list-img">
                                <img src="assets/images/users/default.png">
                            </div>
                            <div>Johnson Wade</div>
                        </div>
                    </td>
                    <td>Blood Test</td>
                    <td>EMT Clinic</td>
                    <td>
                        <div class="empWrap">
                            <div class="list-img">
                                <img src="assets/images/users/default.png">
                            </div>
                            <div>Solomon Jim</div>
                        </div>
                    </td>
                    <td></td>
                    <td class="action-placeholder" style="text-align:center;">
                        <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                        <div class="action-container shadow-RB">
                            <div (click)="reqDetail()" class="action-item">
                                <i class="fa fa-file-text-o" aria-hidden="true"></i>
                                <span>View Investigation</span>
                            </div>

                            <div class="action-item">
                                <i class="fa fa-file-text" aria-hidden="true"></i>
                                <span>Write Report</span>
                            </div>

                            <div (click)="showImageBrowseDlg()" class="action-item">
                                <i class="fa fa-cloud-upload" aria-hidden="true"></i>
                                <span>Upload File</span>
                            </div>
                            <input style="display:none;" #fileInput type="file" id="uploadResult" (click)="onChange($event)">
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>11th Jan, 2017. 09:00AM</td>
                    <td>
                        <div class="empWrap">
                            <div class="list-img">
                                <img src="assets/images/users/default.png">
                            </div>
                            <div>Johnson Wade</div>
                        </div>
                    </td>
                    <td>Blood Test</td>
                    <td>EMT Clinic</td>
                    <td>
                        <div class="empWrap">
                            <div class="list-img">
                                <img src="assets/images/users/default.png">
                            </div>
                            <div>Solomon Jim</div>
                        </div>
                    </td>
                    <td></td>
                    <td class="action-placeholder" style="text-align:center;">
                        <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                        <div class="action-container shadow-RB">
                            <div (click)="reqDetail()" class="action-item">
                                <i class="fa fa-file-text-o" aria-hidden="true"></i>
                                <span>View Investigation</span>
                            </div>

                            <div class="action-item">
                                <i class="fa fa-file-text" aria-hidden="true"></i>
                                <span>Write Report</span>
                            </div>

                            <div (click)="showImageBrowseDlg()" class="action-item">
                                <i class="fa fa-cloud-upload" aria-hidden="true"></i>
                                <span>Upload File</span>
                            </div>
                            <input style="display:none;" #fileInput type="file" id="uploadResult" (click)="onChange($event)">
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>11th Jan, 2017. 09:00AM</td>
                    <td>
                        <div class="empWrap">
                            <div class="list-img">
                                <img src="assets/images/users/default.png">
                            </div>
                            <div>Johnson Wade</div>
                        </div>
                    </td>
                    <td>Blood Test</td>
                    <td>EMT Clinic</td>
                    <td>
                        <div class="empWrap">
                            <div class="list-img">
                                <img src="assets/images/users/default.png">
                            </div>
                            <div>Solomon Jim</div>
                        </div>
                    </td>
                    <td></td>
                    <td class="action-placeholder" style="text-align:center;">
                        <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                        <div class="action-container shadow-RB">
                            <div (click)="reqDetail()" class="action-item">
                                <i class="fa fa-file-text-o" aria-hidden="true"></i>
                                <span>View Investigation</span>
                            </div>

                            <div class="action-item">
                                <i class="fa fa-file-text" aria-hidden="true"></i>
                                <span>Write Report</span>
                            </div>

                            <div (click)="showImageBrowseDlg()" class="action-item">
                                <i class="fa fa-cloud-upload" aria-hidden="true"></i>
                                <span>Upload File</span>
                            </div>
                            <input style="display:none;" #fileInput type="file" id="uploadResult" (click)="onChange($event)">
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="graphs-wrap">
        <div class="graph-item">
            <div style="display: block">
                <canvas baseChart
                        [datasets]="barChartData"
                        [labels]="barChartLabels"
                        [options]="barChartOptions"
                        [legend]="barChartLegend"
                        [chartType]="barChartType"
                        (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)"></canvas>
            </div>
        </div> 

        <div class="graph-item">
            <div style="display: block">
                <canvas baseChart
                        [data]="polarAreaChartData"
                        [labels]="polarAreaChartLabels"
                        [legend]="polarAreaLegend"
                        [chartType]="polarAreaChartType"
                        (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)"></canvas>
            </div>
        </div>
    </div>
</div>