<app-add-prescription [prescriptionItems]="prescriptionItems"></app-add-prescription>

<div class="row margin-top-bottom">
    <div class="col-sm-12 col-md-12 text-center">
        <button class="btn bnt-default" (click)="onClickSavePrescription();"> Save </button>
    </div>
</div>
<div class="sec-border">
    <div class="table-head">
        <div class="table-head-inner-content" id="drugs">
            <p>Drugs</p>
        </div>
        <div class="table-head-inner-content" id="qt">
            <p>Qty</p>
        </div>
        <div class="table-head-inner-content" id="batch">
            <p>Batch</p>
        </div>
        <div class="table-head-inner-content">
            <p>Cost</p>
        </div>
    </div>
    <div class="table-inner" *ngFor="let prescription of prescriptions">
        <div class="table-data drugs">
            {{ prescription.genericName }} - {{ prescription.frequency }} for {{ prescription.duration }}<br>
            <span *ngIf="prescription.isBilled" style="color:#2e7d32;">
                Drug: {{ prescription.productName }}, Quantity: {{ prescription.quantity }}, Price: {{ prescription.cost }}
            </span>
        </div>
        <div class="table-data qt">
            {{ prescription.quantity }}
        </div>
        <div class="table-data">
            {{ prescription.batch }}
        </div>
        <div class="table-data">
            <p style="color:red;">&#x20A6;{{ prescription.cost }}</p>
        </div>
    </div>
</div>
<div class="row margin-top-15">
    <div class="col-sm-12 col-md-12 text-center">
        <button class="cta-1" (click)="onClickDispense();"> Dispense </button>
        <!--<p class="total pull-right">&#x20A6;200</p>-->
    </div>
</div>