.inner-page-contentArea {
    padding: 0 !important;
}
.btning-inventory {
    border: 1px solid #0288d1;
}
.c-page-wrapper {
    border: 0px solid #fff;
}

.menuContent {
    width: 73%;
}

.list-break-line {
    padding: 0;
    border-bottom: 1px solid #018cd2;
    &:hover {
        border: 1px solid transparent;
    }
}

.inner-menu1-wrap {
    top: 10px;
    right: auto;
    left: 0px;
}

.content-sec-ico {
    font-size: 2rem;
    color: #757575;
    padding: 4px;
    width: 21px;
    height: 21px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.switch-store{
    position: fixed;
    right: 0;
    top: 85px;
}
.content-sec-ico:hover,
.content-sec-icoActive {
    background: #F5F5F5;
    color: #4bb8ef;
}

.inner-menu1-wrap {
    top: 10px;
    right: 10px;
    left: auto;
}

.inner-menu1-wrap .innerMenu-ul {
    margin-top: 33px;
}

.content-sec-ico {
    position: absolute;
    right: 0;
}

.inner-page-wrap {
    margin-top: 40px !important;
}

.treeview {
    padding-right: 20px;
    span {
        i {
            &.fa {
                padding-top: 2px;
            }
        }
    }
    .treeview-menu {
        display: none;
        list-style: none;
        padding: 0 0 0 5px;
        margin: 0;
        >li {
            margin: 0 0 0 -5px;
        }
    }
}
.navActive {
    border: 1.5px solid #fff;
}
navActive.active {
   border: 1.5px solid #fff;  
}

.nav-group {
    .treeview {
        >.treeview-menu {
            margin-top: 10px;
            margin-left: 18px;
        }
    }
    .navActive {
        span {
            i {
                &.fa-chevron-left {
                    -webkit-transform: rotate(-90deg);
                    -ms-transform: rotate(-90deg);
                    transform: rotate(-90deg);
                }
            }
        }
        .treeview-menu {
            display: block;
        }
    }
}

