<div class="inner-wrap-b body-wrap">
    <div class="facility-title" (pageInView)="pageInViewLoader($event)">{{pageInView}}</div>
     <div  class="second-menu">
        <a [routerLink]="['/dashboard/store/home']" class="btning">Store</a>
        <a [routerLink]="['/dashboard/product-manager/products']" class="btning">Product</a>
        <a [routerLink]="['/dashboard/purchase-manager/orders']" class="btning">Purchase</a>
        <a [routerLink]="['/dashboard/inventory-manager/inventory']" class="btning">Inventory</a>
        <a (click)="onChangeCheckedIn()" class="btning">CheckedIn</a>
    </div>
    <!--<div class="inner-menu1-wrap responsive_nav-group">
        <i id="contentSecMenuToggle" (click)="contentSecMenuToggle()" [class.content-sec-icoActive]="contentSecMenuShow" class=" content-sec-ico fa fa-ellipsis-v" aria-hidden="true"></i>
        <ul id="innerMenu-ul" *ngIf="contentSecMenuShow" class="innerMenu-ul shadow">
            <li [routerLink]="['/dashboard/store']">Manage Store</li>
            <li [routerLink]="['/dashboard/product-manager/products']">Manage Product</li>
            <li [routerLink]="['/dashboard/purchase-manager/orders']">Manage Purchase</li>
            <li [routerLink]="['/dashboard/inventory-manager/inventory']">Manage Inventory</li>
            <li (click)="onChangeCheckedIn()">Change CheckedIn Store</li>
        </ul>
    </div>-->
    <div class="inner-page-wrap">
        <div class="lhs inner-page-menuTab">
            <ul class="nav-group">
                <li [class.navActive]="inventoryNavMenu" (click)="onClickInventoryNavMenu()" routerLink="/dashboard/inventory-manager/inventory">My Inventory</li>
                <!-- <li [class.navActive]="stockTakingNavMenu" (click)="onClickStockTakingNavMenu()" routerLink="/dashboard/inventory-manager/stock-taking">Stock Auditing</li> -->
                <li routerLink="/dashboard/inventory-manager/stock-transfer" [class.navActive]="stockTransferNavMenu" (click)="onClickStockTransferNavMenu()">Transfer Stock</li>
                <li [class.navActive]="stockHistoryNavMenu" (click)="onClickStockHistoryNavMenu()" routerLink="/dashboard/inventory-manager/stock-history">Transfer History</li>
                <li [class.navActive]="receiveStockNavMenu" (click)="onClickReceiveStockNavMenu()" routerLink="/dashboard/inventory-manager/receive-stock">Receive Stock</li>
                <li [class.navActive]="requisitionNavMenu" (click)="onClickRequisitionNavMenu()" routerLink="/dashboard/inventory-manager/requisition">Requisition</li>
                <li class="list-break-line"></li>
                <li [class.navActive]="purchaseManagerNavMenu" routerLink="/dashboard/purchase-manager/orders">Purchase Manager</li>
            </ul>
        </div>
        <div class="rhs inner-page-contentArea c-page-wrapper">
            <router-outlet></router-outlet>
        </div>
        <div class="clear"></div>
        <div *ngIf="modal_on" class="modal-overlay">
            <app-store-check-in  [workSpace]="workSpace" (closeModal)="close_onClick($event)" id="form-modal" class="form-modal center-center"></app-store-check-in>
        </div>