<div class="home-main">
	<ul class="hm-tabs">
		<li (click)="tab_click('store')" [class.hm-tab-active]='tab_store' class="hm-tab">Stores</li>
	</ul>

	<div class="tab-content">
		<div class="filterTop">
			<div class="tbl-header-lhs">
				<div class="searchproduct">
					<mat-form-field>
						<input matInput placeholder="Search Product">
					</mat-form-field>
				</div>
				<div (click)="changeRoute('new-store')" class="new-btn-blue"><i class="fa fa-plus"></i> Add New Store</div>
			</div>
			<div class="tbl-header-rhs">
				<div>
					<h3>Show:</h3>
				</div>
				<div class="ft-btn ft-btn-selected">
					<span>All</span>
				</div>
				<div>
					<!-- <span>Major Location</span>
					<span class="item-val">Ward</span> -->
					<div>
						<select [formControl]="formControlLocation">
							<option value="" disabled selected>Major Location</option>
							<option value={{item._id}} *ngFor="let item of locations">{{item.name}}</option>
						</select>
					</div>
				</div>
				<div>
					<!-- <span>Minor Location</span>
					<span class="item-val">Mateernity Ward</span> -->
					<div class="select">
						<select [formControl]="formControlMinorLocation">
							<option value="" disabled selected>Minor Location</option>
							<option *ngFor="let item of storeLocations" value="{{item._id}}">{{item.name}}</option>
						</select>
					</div>
				</div>
			</div>
		</div>
		<app-store-tab *ngIf="tab_store" [minorLocationId]="loc" [locationId]="formControlLocation.name">
		</app-store-tab>
	</div>
</div>