<div class="survery">
    <div class="cover-edit">
        <form class="form-signin">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <a (click)="onClickClose($event);" aria-hidden="true" class="modal-close-ico">X</a>
                                <legend class="modal_title">Add Workbench</legend>
                                <form class="form form-signup" [formGroup]="addWorkbench" novalidate>
                                    <md-select placeholder="Select Lab Name" formControlName="labName">
                                        <md-option *ngFor="let lab of laboratories" [value]="lab._id">
                                            {{ lab.viewValue }}
                                        </md-option>
                                    </md-select>
                                    <md-input-container class="example-full-width">
                                        <input formControlName="workbenchName" mdInput placeholder="Workbench Name">
                                    </md-input-container>
                                </form>
                                <div class="text-center">
                                    <button class="apmis-blue" md-raised-button (click)="saveWorkbench(addWorkbench.value, addWorkbench.valid);" [disabled]="!addWorkbench.valid || disableWorkbenchBtn" [innerHtml]="workbenchBtnText"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>