<div class="searchWrap">
  <div class="search-sugestions" style="position: relative !important;">
    <div class="con-list-wrap">
      <h3>Commonly Prescribed</h3>
      <div class="list">Compound benzoin tincture (USP) 45 MG/ML Gas for Inhalation</div>
      <div class="list">Compound benzoin tincture (USP) 45 MG/ML Gas for Inhalation</div>
      <div class="list green">Compound benzoin tincture (USP) 45 MG/ML Gas for Inhalation
        <div class="custom-chk">
          <input type="checkbox" id="markCommon">
          <label for="markCommon">Commonly prescribed</label>
        </div>
      </div>
    </div>

    <div class="con-list-wrap">
      <h3>All</h3>
      <div class="list">Compound benzoin tincture (USP) 45 MG/ML Gas for Inhalation</div>
      <div class="list">Compound benzoin tincture (USP) 45 MG/ML Gas for Inhalation</div>
      <div class="list green">Compound benzoin tincture (USP) 45 MG/ML Gas for Inhalation
        <div class="custom-chk">
          <input type="checkbox" id="markCommon">
          <label for="markCommon">Mark as commonly prescribed</label>
        </div>
      </div>
      <div class="list green">Compound benzoin tincture (USP) 45 MG/ML Gas for Inhalation
        <div class="custom-chk">
          <input type="checkbox" id="markCommon">
          <label for="markCommon">Mark as commonly prescribed</label>
        </div>
      </div>
    </div>

  </div>
  <div class="btm">
    <div class="cls-btn">
      <span>Close</span>
    </div>
  </div>
</div>