@import "./../diagnosis/diagnosis.component.scss";

<<<<<<< HEAD
@import "./../../../../payment/invoice/invoice.component.scss";
=======
@import "./../../../../payment/invoice/invoice.component.scss";


.filter-space{
    padding-left: 10px;
}

.filter-session{
    padding-left: 10px;
}

.mat-input{
    width: 120px !important;
}

.status-filter{
    padding-top: 15px;
}
>>>>>>> 647d3bb22dcea8e82457511fef5bedbe8a70948e
