<table class="table table-striped text-center">
  <thead>
    <tr>
      <th>Product</th>
      <th>Pack Type</th>
      <th>Re Order Level</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let productItem of reorderProducts">
      <td class="wrapa">
        <span>{{productItem?.productObject?.name}}</span>
      </td>
      <td>
          <span [hidden]="productItem.isEdit !== undefined && productItem.isEdit === true">{{productItem.productItemConfigObject.name}}</span>
          <select *ngIf="productItem.isEdit !== undefined && productItem.isEdit === true" [formControl]="packType">
              <option *ngFor="let config of editSelectedProduct.productConfigObject" [selected]="productItem.productItemConfigObject._id" [value]="config._id">{{config.name}}</option>
          </select>
        </td>
      <td>
          <span [hidden]="productItem.isEdit !== undefined && productItem.isEdit === true">{{productItem.reOrderLevel}}</span>
          <input *ngIf="productItem.isEdit !== undefined && productItem.isEdit === true" [value]="productItem.reOrderLevel" [formControl]="reorderLevel">
      </td>
      <td>
          <i [hidden]="productItem.isEdit !== undefined && productItem.isEdit === true" (click)="onEdit_click(productItem)" class="fa fa-pencil td-ico"></i>
          <i *ngIf="productItem.isEdit !== undefined && productItem.isEdit === true" (click)="onSaveEdit_click(productItem)" class="fa fa-check td-ico"></i>
      </td>
    </tr>
  </tbody>
  <tbody>
    <tr>
      <td class="wrapa">
        <input type="text" [formControl]="newProduct" autocomplete="off">
        <ul class="suggestions nice-scroll" *ngIf="collapseProductContainer && products.length > 0">
          <li class="suggestion" *ngFor="let item of products" (click)="onSelectProduct(item)">
            <div class="listing-label">{{item.name}}</div>
          </li>
        </ul>
      </td>
      <td>
        <select [formControl]="newPackType">
          <option *ngFor="let config of selectedProduct.productConfigObject" [value]="config._id">{{config.name}}</option>
        </select>

      </td>
      <td>
        <input type="number" [formControl]="newReorderLevel">
      </td>
      <td>
        <div *ngIf="addBtnDisable">
            <i (click)="setLevel_click()" class="fa fa-check td-ico"></i>
        </div>
      </td>
    </tr>
  </tbody>
</table>