<div class="side-sect">
  <div class="pp-card shadow-grey">
    <div class="card-seperator">
      <div class="patient-img-wrap">
        <img src="../../../../assets/images/users/default.png">
      </div>

      <div class="basic-info-wrap">
        <div class="basic-info-name">Jonathan Nelson</div>
        <div class="basic-info-others"><i class="fa fa-envelope-o" aria-hidden="true"></i>jonathan.nelson@gmail.com</div>
        <div class="basic-info-others"><i class="fa fa-phone" aria-hidden="true"></i>080999009988</div>
      </div>
    </div>

    <div class="facility-count-sect card-seperator clickable-sect">
      <div class="facility-count">3</div>
      <div class="count-label">My Work Places</div>
    </div>
  </div>
</div>
<div class="mid-sect">
    <div class="pp-card shadow-grey"></div>
</div>
<div class="side-sect">
    <div class="pp-card shadow-grey"></div> 
</div>