<div class="inner-wrap-b body-wrap">
    <div class="facility-title" (pageInView)="pageInViewLoader($event)">{{pageInView}}</div>
    <div class="inner-menu1-wrap responsive_nav-group">
        <i id="contentSecMenuToggle"  [class.content-sec-icoActive]="contentSecMenuShow" class=" content-sec-ico fa fa-ellipsis-v" aria-hidden="true"></i>
        <ul id="innerMenu-ul" *ngIf="contentSecMenuShow" class="innerMenu-ul shadow">
            <li routerLink="/dashboard/ward-manager/admission"><i class="fa fa-home" aria-hidden="true"></i> Admission</li>
            <li routerLink="/dashboard/ward-manager/admitted"><i class="fa fa-home" aria-hidden="true"></i> Admitted Patients</li>
            <li routerLink="/dashboard/ward-manager/setup"><i class="fa fa-braille" aria-hidden="true"></i> Ward Setup</li>
            <li routerLink="/dashboard/ward-manager/wards"><i class="fa fa-building" aria-hidden="true"></i> Wards</li>
        </ul>
    </div>
    <!--<div class="fullwidth-topActions">
        <ul *ngIf="!homeContentArea" class="moduleNav">
            <li [class.navActive]="homeContentArea" (click)="HomeContentArea_show()"><i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i>Go Back</li>
        </ul>
        <div style="display: flex; justify-content: center; align-items: center;">
            <div class="searchInputWrap">
                <input [formControl]="searchControl" type="search" autofocus class="searchInput" placeholder="search patients">
                <i class="fa fa-search" aria-hidden="true"></i>
            </div>
        </div>
    </div>-->
    <div class="inner-page-wrap">

        <div class="lhs inner-page-menuTab">
            <ul class="nav-group">
                <li [class.navActive]="admissionNavMenu" (click)="onClickAdmissionNavMenu()" routerLink="/dashboard/ward-manager/admission">Admission List</li>
                <li [class.navActive]="admittedNavMenu" (click)="onClickAdmittedNavMenu()" routerLink="/dashboard/ward-manager/admitted">Admitted Patients</li>
                <li [class.navActive]="setupNavMenu" (click)="onClickSetupNavMenu()" routerLink="/dashboard/ward-manager/setup">Setup</li>
                <li [class.navActive]="wardNavMenu" (click)="onClickWardNavMenu()" routerLink="/dashboard/ward-manager/wards">Wards</li>
            </ul>
        </div>
        <div class="rhs inner-page-contentArea c-page-wrapper">
            <router-outlet></router-outlet>
        </div>
        <div class="clear"></div>
    </div>
</div>