<div class="survery">
    <div class="">
        <!-- purchase order details-->
        <div class="inPatient-activityTimeline shadow-RB animated slideInRight">
            <div (click)="onClickClose($event);" class="hide-actionWrap">
                <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
            </div>
            <div class="purchasedetails">
                <div class="container container-width">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-xs-12">
                            <h5>Generate Bill for</h5>
                            <h6>{{ title }}</h6>
                            <div class="border-box">
                                <div class="mainErr animated shake" [hidden]="mainErr">{{errMsg}}</div>
                                <form [formGroup]="addBillForm" novalidate>
                                    <div class="row">
                                        <div class="col-sm-12 col-md-12" style="margin-top: 20px">
                                            <md-select placeholder="Drug" formControlName="drug" class="example-full-width">
                                                <md-option *ngFor="let drug of drugs" [(value)]="drug._id" #productId [attr.data-p-id]="drug._id" [attr.data-p-fsid]="drug.facilityServiceId" [attr.data-p-sid]="drug.serviceId" [attr.data-p-cid]="drug.categoryId" (click)="onClickCustomSearchItem($event, productId)">{{ drug.name }}</md-option>
                                            </md-select>
                                        </div>
                                        <div class="col-sm-12 col-md-12" style="margin-top: 20px; padding: 0;">
                                            <div class="col-xs-6">
                                                <md-input-container class="example-full-width">
                                                    <input mdInput type="number" formControlName="qty" placeholder="Quantity">
                                                </md-input-container>
                                            </div>
                                            <div class="col-xs-6" style="margin-top: -5px;">
                                                <p>Cost: <b>&#x20A6; {{ itemCost }}</b></p>
                                                <p>Total Cost: <b>&#x20A6; {{ itemCost }}</b></p>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-md-12" style="margin-top: 20px; padding: 0;">
                                            <div class="col-xs-12">
                                                <p>Qty Available in Stores: <span class="badge">{{ qtyInStores }}</span></p>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <div class="row">
                                    <div class="col-sm-12 col-md-12">
                                        <button md-raised-button [disabled]="!addBillForm.valid" (click)="onClickSaveCost(addBillForm.value, addBillForm.valid)" class="btn btn-default">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><br><br>
                </div>
            </div>
        </div>
    </div>
</div>