
<div class="pp-card shadow-grey">
  <i class="fa fa-plus-square card-edit" aria-hidden="true"></i>
  <div class="card-title">My Appointments</div>

  <table cellpadding="0" cellspacing="0" border="0.5">
    <thead>
      <tr>
        <th>Date</th>
        <th>Time</th>
        <th>Clinic</th>
        <th>Provider</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>11/02/2018</td>
        <td>11:00am</td>
        <td>Eye Clinic</td>
        <td>John Noah</td>
        <td>Active</td>
      </tr>
      <tr>
        <td>11/02/2018</td>
        <td>11:00am</td>
        <td>Eye Clinic</td>
        <td>John Noah</td>
        <td>Active</td>
      </tr>
      <tr>
        <td>11/02/2018</td>
        <td>11:00am</td>
        <td>Eye Clinic</td>
        <td>John Noah</td>
        <td>Active</td>
      </tr>
      <tr>
        <td>11/02/2018</td>
        <td>11:00am</td>
        <td>Eye Clinic</td>
        <td>John Noah</td>
        <td>Active</td>
      </tr>
      <tr>
        <td>11/02/2018</td>
        <td>11:00am</td>
        <td>Eye Clinic</td>
        <td>John Noah</td>
        <td>Active</td>
      </tr>
      <tr>
          <td>11/02/2018</td>
          <td>11:00am</td>
          <td>Eye Clinic</td>
          <td>John Noah</td>
          <td>Active</td>
        </tr>
        <tr>
          <td>11/02/2018</td>
          <td>11:00am</td>
          <td>Eye Clinic</td>
          <td>John Noah</td>
          <td>Active</td>
        </tr>
        <tr>
          <td>11/02/2018</td>
          <td>11:00am</td>
          <td>Eye Clinic</td>
          <td>John Noah</td>
          <td>Active</td>
        </tr>
        <tr>
          <td>11/02/2018</td>
          <td>11:00am</td>
          <td>Eye Clinic</td>
          <td>John Noah</td>
          <td>Active</td>
        </tr>
        <tr>
          <td>11/02/2018</td>
          <td>11:00am</td>
          <td>Eye Clinic</td>
          <td>John Noah</td>
          <td>Active</td>
        </tr>
    </tbody>
  </table>
</div>

<div *ngIf="login_on" class="modal-overlay">
    <app-person-schedule-appointment (closeModal)="close_onClick($event)" class="form-modal center-center"></app-person-schedule-appointment>
</div>