 <div class="page-title">Departments</div>
 <div class="second-menu-c">
        <a (click)="newDeptModal_show()" class="btning">New Department</a>
       <!-- <a (click)="deptHomeContentArea_show()" class="btning">View Departments</a>-->
</div>
<div (click)="innerMenuHide($event)">
    <!--  <div class="inner-menu1-wrap">
       <i id="submenu_ico" (click)="innerMenuToggle()" class="innerMenu-icon fa fa-bars" aria-hidden="true"></i>
        <ul *ngIf="innerMenuShow" class="innerMenu-ul shadow">
            <li (click)="newDeptModal_show()">New Department</li>
            <li (click)="deptHomeContentArea_show()">View Departments</li>
        </ul>
    </div> -->
    
    <ul *ngIf="deptHomeContentArea">
        <li *ngFor="let depts of deptsObj; let i = even; let k = odd"> 
            <div class="dataMix-wrap" [class.color1]="i" [class.color2]="k">
                <div class="lhs">{{depts.name}}</div>
                <div class="tbl-icoOptions-wrap rhs" style="width: auto;">
                    <span (click)="deptDetalContentArea_show(depts)" style="color: #388E3C; text-align: right;"><i class="fa fa-eye" aria-hidden="true"></i> View</span>
                    <span (click)="deptDetalContentArea_remove(depts)" style="color: #ff2500; text-align: right;"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</span>
                </div>
                <div class="clear"></div>
            </div>
        </li>
    </ul>

    <div *ngIf="deptDetailContentArea">

        <ul class="goback-btn">
            <li [class.navActive]="homeContentArea" (click)="deptHomeContentArea_show()"><i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i>Go Back</li>
        </ul>

        <div class="block1">
            <div class="headers headers1">
                <div class="block-title">{{deptObj.name}}</div>

                <div class="module-menu">
                    <div class="btn-1 btn-blue" (click)="newUnitModal_show()"><i class="fa fa-plus-square" aria-hidden="true"></i> New Unit</div>
                </div>
                
            </div>

            <div class="dataMix-wrap color1">
                <div class="flex-display">
                    <div class="lhs">Department Name</div>
                    <div class="rhs">
                        <div [hidden]="deptEditNameIcoShow" class="lhs"> {{deptObj.name}} </div>
                        <!--<input *ngIf="deptEditNameIcoShow" class="edit-control lhs" type="text" value="{{deptObj.name}}" [formControl]="deptNameEdit">-->
                        <md-input-container *ngIf="deptEditNameIcoShow" class="example-full-width">
                            <input mdInput value="{{deptObj.name}}" [formControl]="deptNameEdit">
                        </md-input-container>
                        <i [hidden]="deptEditNameIcoShow" (click)="deptEditNameToggle()" class="edit-ico fa fa-pencil-square-o" aria-hidden="true"></i>
                        <i *ngIf="deptEditNameIcoShow" (click)="deptEditNameToggle()" class="done-ico fa fa-check" aria-hidden="true"></i>
                        <div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>

            <div class="dataMix-wrap color2">
                <div class="flex-display">
                    <div class="lhs">Short Name</div>
                    <div class="rhs">
                        <div [hidden]="deptEditShortNameIcoShow" class="lhs"> {{deptObj.shortName}} </div>
                        <!--<input *ngIf="deptEditShortNameIcoShow" class="edit-control lhs" type="text" value="{{deptObj.shortName}}" [formControl]="deptshortNameEdit">-->
                        <md-input-container *ngIf="deptEditShortNameIcoShow" class="example-full-width">
                            <input mdInput value="{{deptObj.shortName}}" [formControl]="deptshortNameEdit">
                        </md-input-container>
                        <i [hidden]="deptEditShortNameIcoShow" (click)="deptEditShortNameToggle()" class="edit-ico fa fa-pencil-square-o" aria-hidden="true"></i>
                        <i *ngIf="deptEditShortNameIcoShow" (click)="deptEditShortNameToggle()" class="done-ico fa fa-check" aria-hidden="true"></i>
                        <div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>

            <div class="dataMix-wrap color1">
                <div class="flex-display">
                    <div class="lhs">Describtion</div>
                    <div class="rhs">
                        <div [hidden]="deptEditDescIcoShow" class="lhs"> {{deptObj.description}} </div>
                        <!--<textarea *ngIf="deptEditDescIcoShow" class="edit-control lhs" value="{{deptObj.description}}" [formControl]="deptDescEdit"
                            style="width:90%; height:120px;"></textarea>-->
                            <md-input-container *ngIf="deptEditDescIcoShow" class="example-full-width">
                            <textarea mdInput value="{{deptObj.description}}" [formControl]="deptDescEdit"></textarea>
                            </md-input-container>
                        <i [hidden]="deptEditDescIcoShow" (click)="deptEditDescToggle()" class="edit-ico fa fa-pencil-square-o" aria-hidden="true"></i>
                        <i *ngIf="deptEditDescIcoShow" (click)="deptEditDescToggle()" class="done-ico fa fa-check" aria-hidden="true"></i>
                        <div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>


        <div class="block2">
            <div class="page-title">Units</div>
            <!--<div *ngFor="let unit of deptObj.units; let count = index; let i = even; let k = odd">
                <app-unit-component [unit]="unit" [department]="deptObj" [facility]="facilityObj"></app-unit-component>
            </div>-->

            <table cellpadding="0" cellspacing="0" border="0.5"> 
                <thead>
                    <tr>
                        <th>
                            <i class="fa fa-sort-alpha-asc" aria-hidden="true"></i>
                            <!--<i class="fa fa-sort-alpha-desc" aria-hidden="true"></i>-->
                            <span style="padding-left: 3px;">Unit</span>
                        </th>
                        <th>
                            <i class="fa fa-sort-alpha-asc" aria-hidden="true"></i>
                            <!--<i class="fa fa-sort-alpha-desc" aria-hidden="true"></i>-->
                            <span style="padding-left: 3px;">Short Name</span>
                        </th>
                        <th>
                            <i class="fa fa-sort-alpha-asc" aria-hidden="true"></i>
                            <!--<i class="fa fa-sort-alpha-desc" aria-hidden="true"></i>-->
                            <span style="padding-left: 3px;">Describtion</span>
                        </th>
                        <th>
                            <i class="fa fa-sort-alpha-asc" aria-hidden="true"></i>
                            <!--<i class="fa fa-sort-alpha-desc" aria-hidden="true"></i>-->
                            <span style="padding-left: 3px;">Clinic</span>
                        </th>
                        <th>Actions</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let unit of deptObj.units">
                        <td>                
                            <div [hidden]="unitEditNameIcoShow"> {{unit.name}} </div>
                            <md-input-container *ngIf="unitEditNameIcoShow"  class="example-full-width">
                                <input mdInput  value="{{unit.name}}" [formControl]="unitNameEdit">
                            </md-input-container>
                        </td>
                        <td>
                            <div [hidden]="unitEditShortNameIcoShow"> {{unit.shortName}} </div>
                            <md-input-container *ngIf="unitEditShortNameIcoShow"  class="example-full-width">
                                <input mdInput  value="{{unit.shortName}}" [formControl]="unitshortNameEdit">
                            </md-input-container>
                        </td>
                        <td>
                            <div [hidden]="unitEditDescIcoShow"> {{unit.description}} </div>
                            <md-input-container *ngIf="unitEditDescIcoShow" class="example-full-width">
                            <textarea mdInput value="{{unit.description}}" [formControl]="unitDescEdit"></textarea>
                            </md-input-container>
                        </td>
                        <!-- <td>
                            <div class="clinicsWrap">
                                <div class="clinicWrap">
                                    <div [hidden]="unitEditClinicIcoShow"> Authopeadic Clinic </div>
                                    <md-select *ngIf="unitEditClinicIcoShow">
                                    <md-option></md-option>
                                    </md-select>
                                </div>
                                <div class="clinicWrap">
                                    <div [hidden]="unitEditClinicIcoShow2"> Authopeadic Clinic </div>
                                    <md-select *ngIf="unitEditClinicIcoShow">
                                        <md-option></md-option>
                                    </md-select>
                                </div>
                            </div>
                        </td> -->
                        <td class="td-worspace">
                            <div class="workspace-count">{{getClinicCount(unit)}} Clinic(s)</div>
                            <ul *ngIf="unit.clinics !== undefined && unit.clinics.length > 0" class="shadow-RB workspace-listWrap animated zoomIn">
                                <li [hidden]="clinic.isActive===false" *ngFor="let clinic of unit.clinics; let i = index" class="workspace-listItem">
                                    <ng-container *ngIf="clinic!== undefined">
                                        <span>{{clinic?.clinicName}}</span>
                                        <!-- <i (click)="removeLocation(clinic, unit, i)" class="fa fa-trash" aria-hidden="true"></i> -->
                                    </ng-container>
                                </li>
                                <div class="pointer-wrap"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
                            </ul>
                        </td>
                        <td>
                            <i (click)="editUnit(unit)" class="edit-ico fa fa-pencil-square-o" aria-hidden="true"></i>
                            <!--<i *ngIf="unitEditNameIcoShow" (click)="unitEditNameSubmit()" class="done-ico fa fa-check" aria-hidden="true"></i>-->
                            <i class="del-ico fa fa-trash" aria-hidden="true"></i>
                        </td>
                    </tr> 
                </tbody>
            </table>
        </div>

    </div>

    <div *ngIf="deptEditContentArea"></div>
</div>

<div *ngIf="newDeptModal_on" class="modal-overlay">
    <app-new-department (closeModal)="close_onClick($event)" id="form-modal" class="form-modal center-center"></app-new-department>
</div>

<div *ngIf="newUnitModal_on" class="modal-overlay">
    <app-new-unit [department]="deptObj" [unit]="selectedUnit" (closeModal)="close_onClick($event)" id="form-modal" class="form-modal center-center"></app-new-unit>
</div>