<div class="supplierBase">
  <div class="suppSearch">
    <app-apmis-search-result></app-apmis-search-result>
  </div>
  <div class="contentLeftGrid">

    <div class="lst-inner-wrap">
      <div class="con-inner-wrap">
        <span>Supplier</span>
        <h3>Sidmach Medical Supplier</h3>
      </div>
      <div class="con-inner-wrap">
        <i class="fa fa-pencil-square-o">Edit</i>
        <i class="fa fa-trash-o">Delete</i>
      </div>
    </div>

    <hr>

    <div class="lst-inner-wrap x2">
      <div class="con-inner-wrap">
        <span>Contacts</span>
        <h3>Oluwatomide Adesidmach</h3>
      </div>
      <div class="con-inner-wrap">
        <span>Phone </span>
        <h3>08067710761</h3>
      </div>
      <div class="con-inner-wrap">
        <span>Email</span>
        <h3>sidmachmedicalsupply@gmail.com</h3>
      </div>
    </div>
    <div class="lst-inner-wrap">
      <div class="con-inner-wrap">
        <span>Contact Address</span>
        <h3>Block J CBD Ikeja, Plot 15 Otunba Jobi Fele Way, 100212, Ojodu</h3>
      </div>
    </div>

    <hr>

    <div class="filterTop x2">
      <div class="tbl-header-lhs">
        <h2>Invoices</h2>
      </div>
      <div class="tbl-header-rhs">
        <div>
          <h3>Show from:</h3>
        </div>
        <div class="supp-ft-btn">
          <span>02/11/2018</span>
        </div>
        <div>
          <span>--</span>
        </div>
        <div class="supp-ft-btn">
          <span>02/11/2018</span>
        </div>
      </div>
      <div class="tbl-header-rhs">
        <div>
          <h3>Show:</h3>
        </div>
        <div class="ft-btn ft-btn-selected">
          <span>All</span>
        </div>
        <div class="ft-btn">
          <span>Unpaid</span>
        </div>
        <div class="ft-btn">
          <span>Partial payment</span>
        </div>
        <div class="ft-btn">
          <span>Paid</span>
        </div>
      </div>
    </div>
  </div>