<div class="pg-title">Administer Vaccine</div>
<ul class="tree-ul">
    <li class="tree-li" *ngFor="let immunizationRecord of immunizationRecords; let i = index;">
        <div class="tree-node">
            <div class="node-ico node-ico-parent">
                <i (click)="node_toggle(immunizationRecord[0])" *ngIf="immunizationRecord[0] === currentDocument" class="fa fa-minus" aria-hidden="true"></i>
                <i (click)="node_toggle(immunizationRecord[0])" *ngIf="immunizationRecord[0] !== currentDocument" class="fa fa-plus" aria-hidden="true"></i>
            </div>

            <div (click)="node_toggle(immunizationRecord[0])" class="node-date">{{ immunizationRecord[0] }}</div>
        </div>

        <div class="node-content" *ngIf="should_show(immunizationRecord[0]) && immunizationRecord[0]===currentDocument ">
            <ul class="vaccine-list">
                <li class="vaccine-item" *ngFor="let record of immunizationRecord[1] ">
                    <div class="vac-label">{{ record?.vaccine?.code }} {{ record?.sequence }}</div>
                    <div class="vac-cta">
                        <button class="cta-blue" *ngIf="!checkIfTodayIsGreater(null, record?.appointmentDate) && !record?.administered" [disabled]="!checkIfRecordIsToday(record?.appointmentDate) || disableAdminister" (click)="onClickAdministerOrSuspendRecord(record);">
                            <span *ngIf="onAdminister"><i class="fa fa-check" aria-hidden="true"> </i>Administer</span>
                            <span *ngIf="onAdministering">Administering... <i class="fa fa-spinner fa-spin" aria-hidden="true"> </i></span>
                        </button>
                        <!-- <button class="cta-blue" (click)="onClickAdministerOrSuspendRecord(record);">
                            <span><i class="fa fa-check" aria-hidden="true"> </i>Administer</span>
                        </button> -->
                        <button class="btn-green" *ngIf="record?.administered">
                            <span><i class="fa fa-check" aria-hidden="true"> </i>Administered</span>
                        </button>
                        <button class="cta-orange" *ngIf="!record?.administered"><i class="fa fa-repeat" aria-hidden="true"> </i>Reshedule</button>
                    </div>
                </li>
            </ul>
        </div>
    </li>
    <!-- <li class="tree-li">
    <div class="tree-node">
        <div class="node-ico node-ico-parent">
            <i (click)="node_toggle()" *ngIf="expanded" class="fa fa-minus" aria-hidden="true"></i>
            <i (click)="node_toggle()" *ngIf="!expanded" class="fa fa-plus" aria-hidden="true"></i>
        </div> 

        <div (click)="node_toggle()" class="node-date">15th June, 2018.</div>
    </div>

    <div class="node-content" *ngIf="expanded">
      <ul class="vaccine-list">
        <li class="vaccine-item">
          <div class="vac-label">HBV 1</div>
          <div class="vac-cta">
            <button class="cta-blue"><i class="fa fa-check" aria-hidden="true"> </i>Administer</button>
            <button class="cta-orange"><i class="fa fa-pause" aria-hidden="true"> </i>Suspend</button>
          </div>
        </li>
        <li class="vaccine-item">
          <div class="vac-label">DPT 1</div>
          <div class="vac-cta">
            <button class="cta-blue"><i class="fa fa-check" aria-hidden="true"> </i>Administer</button>
            <button class="cta-orange"><i class="fa fa-pause" aria-hidden="true"> </i>Suspend</button>
          </div>
        </li>
        <li class="vaccine-item">
          <div class="vac-label">OPV 1</div>
          <div class="vac-cta">
            <button class="cta-blue"><i class="fa fa-check" aria-hidden="true"> </i>Administer</button>
            <button class="cta-orange"><i class="fa fa-pause" aria-hidden="true"> </i>Suspend</button>
          </div>
        </li>
      </ul>
    </div>
  </li> -->
</ul>