@import "../facility-page-home.component.scss";

.modal-baseWrap{
    width: 560px;
}
.modal-baseWrap .mat-input-container {
    width: 100%;
}
.custom-autocomplete__input input{
    width: 100% !important;
}