<div class="apmis-search-wrap">
  <div class="apmis-search-header">
    <div class="apmis-search-label">Add Product Type</div> 
    <img (click)="toggler_click()" class="plus-ico" src="assets/images/report_icons/plus.svg" /> 
  </div>
 
  <div *ngIf="showSearch" class="apmis-search-content"> 
    <div class="apmis-search-item input-wrap">   
      <img class="ico" src="assets/images/report_icons/search-small.svg" />   
      <input class="input" [formControl]="apmisSearch" type="text">
    </div>
    <ul>
      <li class="apmis-search-item asi-list">
        <div class="item-payload">
          <div class="item-img">
            <img class="ico" src="assets/images/report_icons/check.svg" /> 
          </div> 
          <div class="item-val">Consumables</div>
        </div>
        <img class="ico" src="assets/images/report_icons/times.svg" />  
      </li>
    </ul>
  </div>

  <div class="apmis-search-selected-list"></div>
</div>