.InputGroup{
    width: 100% !important;
} 
.apmis-search-wrap{
    position: relative;
    font-size: 16px;
    .apmis-search-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    } 
    .plus-ico {
        cursor: pointer;
    }
    .apmis-search-content{
        border: 1px solid #0288D1;
        border-radius: 6px;
        width: 100%;
        margin-top: 10px;
        -webkit-box-shadow: 0 4px 8px var(--shadow-color);
        -moz-box-shadow: 0 4px 8px var(--shadow-color);
        box-shadow: 0 4px 8px var(--shadow-color);
        ul{
            width: 100%;
        }
        .ico{
            cursor: pointer;
        }
        .apmis-search-item{
            width: 100%;
            border-bottom: 1px solid #ddd;
            padding: 20px;
            box-sizing: border-box;
            .input-wrap{
                position: relative;
                width: 100%;
            }
            .ico{
                position: absolute;
                left: 10px;
            }
            .input{
                font-size: 12px;
                color: #777777;
                border: 1px solid #C4C4C4;
                padding: 5px;
                box-sizing: border-box;
                padding-left: 50px;
                width: 100% !important; 
            }
            
        }
        .asi-list{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .item-payload{
                display: flex;
                align-items: center;
                .item-val{
                    font-weight: 400;
                    cursor: pointer;
                }
            }
            .item-img{
                width: 40px;
                display: flex;
                justify-content: flex-start;
                align-items: center
            }
        }
    }
}
