<div class="modal-baseWrap animated pulse">
 
  <div (click)="close_onClick()" class="modal-close-ico" aria-hidden="true">X</div>
  <legend class="modal_title">System Login</legend>
  <div class="modal_mini_title">All Purpose Medical Information System</div>
  <div class="mainErr animated shake" [hidden]="mainErr">{{errMsg}}</div>

  <div class="f_sg_1">

    <form [formGroup]="frm_login" novalidate>
        
      <div class="frm-item-wrap">
        <md-input-container class="example-full-width">
          <input mdInput md-error placeholder="Apmis ID or Email" formControlName="username" [(ngModel)]="input_username">
        </md-input-container>
      </div>

      <div class="frm-item-wrap">
        <md-input-container class="example-full-width">
          <i *ngIf="show" (click)="toggleShow($event)" class="fa fa-lock toggle-pass" aria-hidden="true"></i>
          <input type="password" mdInput md-error formControlName="password"  #showhideinput [(ngModel)]="input_password" placeholder="Password">
          <a [hidden]="show" (click)="toggleShow($event)" class="toggle-pass"><i class="fa fa-eye"></i></a>
        </md-input-container>
      </div> 

      <!--<div class="frm-item-wrap">
        <small class="alert-label" [hidden]="frm_login.controls.password.valid || frm_login.controls.password.pristine">
          Kindly supply your password.
        </small>
        <i class="fa fa-lock" aria-hidden="true"></i>
        <input type="password" formControlName="password" #showhideinput [(ngModel)]="input_password" placeholder="Password" autocomplete="off">
        <a (click)="toggleShow($event)" class="absolute"><i class="fa fa-eye"></i></a>
      </div>-->
      <div (click)="reset()" class="forgetPword">forgot password?</div>
      <div (click)="login(frm_login.valid)" class="cta-1">
        Log In
      </div>

    </form>
  </div>

</div>
<div *ngIf="loadIndicatorVisible" class="div_loading">
    <md-spinner></md-spinner>
</div>

