<!-- table header start-->
<div class="row table-wrapper">
    <div class="wrap-th">
        <div class="pres-col long-text">Prescription</div>
        <div class="pres-col">Instruction</div>
        <div class="pres-col">Refill Count</div>
        <div class="pres-col action-long">Action</div>
    </div>
    <div *ngFor="let prescription of prescriptionItems.prescriptionItems; let i = index;">
        <div class="wrap-tr">
            <div class="pres-data long-text">
                {{ prescription.genericName }} - {{ prescription.frequency }} for {{ prescription.duration }}<br>
                <span *ngIf="prescription.isBilled" style="color:#2e7d32;">
                    Drug: {{ prescription.productName }}, Quantity: {{ prescription.quantity }}, Price: {{ prescription.cost }}
                </span>
            </div>
            <div class="pres-data instruction-text">{{ prescription.patientInstruction }}</div>
            <div class="pres-data">{{ prescription.refillCount }}</div>
            <div class="pres-data action-long">
                <a class="trash-box" (click)="onClickDeleteItem(i);"><i class="fa fa-trash"></i></a>
                <md-checkbox *ngIf="!prescription.isBilled" (change)="onClickIsExternal(i, $event.checked, prescription);" [checked]="prescription.isExternal">External?</md-checkbox>
                <button md-raised-button *ngIf="!prescription.initiateBill" (click)="toggleBill(i, prescription);" class="btn {{ prescription.isBilled ? ' btn-green': ' btn-default'}}">
                <span *ngIf="!prescription.isBilled">Bill</span>
                <span *ngIf="prescription.isBilled" style="color: #fff;">Billed</span>
            </button>
            </div>
        </div>
    </div>
</div>
<div class="wrap-tr text-center" *ngIf="prescriptionItems.length === 0">
    <div class="pres-data" style="width: 100%">No data to display in table</div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 padding-10px">
        <div class="col-sm-6 pull-right">
            <p class="pull-right"><strong>Total Bill</strong> <span>&#x20A6; 0</span></p>
        </div>
    </div>
</div>

<app-bill-prescription *ngIf="billShow" [prescriptionData]="prescriptionData" (closeModal)="close_onClick($event)"></app-bill-prescription>