@import '../patient-prescription/patient-prescription.component.scss';

.dx-checkbox-container {
    width: auto !important;
}
.dx-checkbox-text {
    padding: 0 !important;
}
.fa {
    margin: 0 6px;
}