<div class="modal-baseWrap animated pulse">

    <div (click)="close_onClick()" class="modal-close-ico" aria-hidden="true">X</div>
    <legend class="modal_title">Add Bed</legend>
    <div class="mainErr animated shake" [hidden]="mainErr">{{errMsg}}</div>

    <form [formGroup]="addBedFormGroup" novalidate>
        <div class="lhs padding-up">
            <div class="frm-item-wrap">
                <small class="alert-label" [hidden]="addBedFormGroup.controls.bed.valid || addBedFormGroup.controls.bed.pristine">
					Kindly enter the bed name.
				</small>
                <i class="fa fa-bullseye" aria-hidden="true"></i>
                <input formControlName="bed" type="text" placeholder="Enter room name">
            </div>
        </div>
        <div class="clear"></div>
        <button (click)="addbed(addBedFormGroup.value, addBedFormGroup.valid)" class="cta-1">Add Bed</button>
    </form>
</div>