<div class="modal-baseWrap animated pulse">

    <div (click)="close_onClick()" class="modal-close-ico" aria-hidden="true">X</div>
    <legend class="modal_title">Add Bed</legend>
    <div class="mainErr animated shake" [hidden]="mainErr">{{errMsg}}</div>

    <form [formGroup]="addBedFormGroup" novalidate>
        <div class="frm-item-wrap">
            <md-input-container>
                <input mdInput md-error placeholder="Enter room name" formControlName="bed">
            </md-input-container>
        </div>
        <button (click)="addbed(addBedFormGroup.value, addBedFormGroup.valid)" class="cta-1">Add Bed</button>
    </form>
</div>