<div class="modal-baseWrap animated pulse">

    <div (click)="close_onClick()" class="modal-close-ico" aria-hidden="true">X</div>
    <legend class="modal_title">Add Bed</legend>
    <div class="mainErr animated shake" [hidden]="mainErr">{{errMsg}}</div>

    <form [formGroup]="addBedFormGroup" novalidate>
        <div class="frm-item-wrap">
            <md-form-field>
                <input mdInput placeholder="Enter Room Name" formControlName="bed">
            </md-form-field>
        </div>
        <div class="btn-box">
            <button md-raised-button [disabled]="!addBedFormGroup.valid || disableAddBtn" (click)="addbed(addBedFormGroup.value, addBedFormGroup.valid)" class="btn" [innerHtml]="addBedBtnText"></button>
        </div>
    </form>
</div>