<div class="modal-baseWrap animated pulse">

    <div (click)="close_onClick()" class="modal-close-ico">X</div>
    <legend class="modal_title">Tags</legend>

    <div class="cont-wrap">
        <table>
            <tbody>
                <tr>
                    <td class="td-checkbox">
                        <md-checkbox></md-checkbox>
                    </td>
                    <td class="td-tag">HIV</td>
                </tr>

                <tr>
                    <td class="td-checkbox">
                       <md-checkbox></md-checkbox>
                    </td>
                    <td class="td-tag">Children</td>
                </tr>

                <tr>
                    <td class="td-checkbox">
                        <md-checkbox></md-checkbox>
                    </td>
                    <td class="td-tag">VIP</td>
                </tr>

                <tr>
                    <td class="td-checkbox">
                       <md-checkbox></md-checkbox>
                    </td>
                    <td class="td-tag">TB</td>
                </tr>
            </tbody>
        </table>

        <button>Add Tags</button>
    </div>
</div> 