<div class="quicklinks-wrap">
    <div class="ql-title">Quick Links</div>

    <div class="ql-sect">
        <div class="ql-sect-title">Purchase</div>
        <ul class="ql-links">
            <li class="ql-link">Purchase History</li>
            <li class="ql-link" routerLink="/dashboard/purchase-manager/invoices">Invoices</li>
            <li class="ql-link" routerLink="/dashboard/product-manager/suppliers">Suppliers</li>
        </ul>
    </div>

    <div class="ql-sect">
        <div class="ql-sect-title">Inventory</div>
        <ul class="ql-links">
            <li class="ql-link" routerLink="/dashboard/inventory-manager/inventory">My Inventory</li>
            <li class="ql-link" routerLink="/dashboard/inventory-manager/stock-transfer">Transfer Stock</li>
            <li class="ql-link" routerLink="/dashboard/inventory-manager/stock-history">Transfer History</li>
            <li class="ql-link" routerLink="/dashboard/inventory-manager/receive-stock">Recieve Stocky</li>
            <li class="ql-link" routerLink="/dashboard/inventory-manager/requisition">Requisition</li>
            <li class="ql-link">Audit</li>
        </ul>
    </div>

    <div class="ql-sect">
        <div class="ql-sect-title">Store</div>
        <ul class="ql-links">
            <li class="ql-link" routerLink="/dashboard/store/view-store">View Store</li>
        </ul>
    </div>

    <div class="ql-sect">
        <div class="ql-sect-title">Product</div>
        <ul class="ql-links">
            <li class="ql-link" routerLink="/dashboard/product-manager/products">Product List</li>
            <li class="ql-link" routerLink="/dashboard/product-manager/products">Product Configuration</li>
            <!--<li class="ql-link" (click)="productCatPopShow()">Product Category</li>
            <li class="ql-link" (click)="genericSlide()">Generics</li>
            <li class="ql-link" (click)="manufacturerSlide()">Manufacturers</li>
            <li class="ql-link" (click)="presentationSlide()">Presentation</li>
            <li class="ql-link" (click)="routeSlide()">Route</li>
            <li class="ql-link" (click)="strengthSlide()">Strength</li>-->
        </ul>
    </div>

    <div class="ql-sect">
        <div class="ql-sect-title">Config</div>
        <ul class="ql-links">
            <li class="ql-link" routerLink="/dashboard/store/view-store">Create Store</li>
            <li class="ql-link" routerLink="/dashboard/product-manager/products">Create Product</li>
            <li class="ql-link" routerLink="/dashboard/inventory-manager/initialize-store">Initialize Store</li>
        </ul>
    </div>
</div>


<!-- <div *ngIf="isProductCat" class="modal-overlay center-center">
    <app-category-manager (closeModal)="close_onClick($event);"></app-category-manager>
</div>

<div *ngIf="isGeneric" class="modal-overlay center-center">
    <app-generic-manager (closeModal)="close_onClick($event);"></app-generic-manager>
</div>

<div *ngIf="isProductRoute" class="modal-overlay center-center">
    <app-route-manager (closeModal)="close_onClick($event);"></app-route-manager>
</div>

<div *ngIf="isManufacturer" class="modal-overlay center-center">
    <app-manufacturer-manager (closeModal)="close_onClick($event);"></app-manufacturer-manager>
</div>

<div *ngIf="isPresentation" class="modal-overlay center-center">
    <app-presentation-manager (closeModal)="close_onClick($event);"></app-presentation-manager>
</div>

<div *ngIf="isStrength" class="modal-overlay center-center">
    <app-strength-manager (closeModal)="close_onClick($event);"></app-strength-manager>
</div> -->