<div class="quicklinks-wrap">
    <div class="ql-title">Quick Links</div>

    <div class="ql-sect">
        <div class="ql-sect-title">Purchase</div>
        <ul class="ql-links">
            <li class="ql-link">Purchase History</li>
            <li class="ql-link">Invoices</li>
            <li class="ql-link">Suppliers</li>
        </ul>
    </div>

    <div class="ql-sect">
        <div class="ql-sect-title">Inventory</div>
        <ul class="ql-links">
            <li class="ql-link">My Inventory</li>
            <li class="ql-link">Transfer Stock</li>
            <li class="ql-link">Transfer History</li>
            <li class="ql-link">Recieve Stocky</li>
            <li class="ql-link">Requisition</li>
            <li class="ql-link">Audit</li>
        </ul>
    </div>

    <div class="ql-sect">
        <div class="ql-sect-title">Store</div>
        <ul class="ql-links">
            <li class="ql-link">View Store</li>
        </ul>
    </div>

    <div class="ql-sect">
        <div class="ql-sect-title">Product</div>
        <ul class="ql-links">
            <li class="ql-link">Product List</li>
            <li class="ql-link">Product Types</li>
            <li class="ql-link">Generics</li>
            <li class="ql-link">Manufacturers</li>
            <li class="ql-link">Presentation</li>
            <li class="ql-link">Route</li>
            <li class="ql-link">Strength</li>
        </ul>
    </div>

    <div class="ql-sect">
        <div class="ql-sect-title">Config</div>
        <ul class="ql-links">
            <li class="ql-link">Create Store</li>
            <li class="ql-link">Create Product</li>
            <li class="ql-link">Initialize Store</li>
        </ul>
    </div>
</div>