<div class="container">
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-12">
                <h2 style="text-align: center">
                    Payment History
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="card-header-item col-md-2">Collect By</div>
                        <div class="card-header-item col-md-2">Amount</div>
                        <div class="card-header-item col-md-1">Balance</div>
                        <div class="card-header-item col-md-2">Service</div>
                        <div class="card-header-item col-md-2">Location</div>
                        <div class="card-header-item col-md-2">Date</div>
                        <div class="card-header-item col-md-1">Payment Status</div>
                    </div>
                </div>
                <div class="card-list">
                    <div class="invoice-table-list row">
                        <div class="col-md-2">Steven Keshi</div>
                        <div class="col-md-2">NGN 12000</div>
                        <div class="col-md-1">NGN 2000</div>
                        <div class="col-md-2">Blood Test</div>
                        <div class="col-md-2">Laborary</div>
                        <div class="col-md-2">March, 2018</div>
                        <div class="col-md-1"><i class="fa fa-money fa-2x"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>