<div class="container">
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-12">
                <h2 style="text-align: center">
                    Payment History
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="card-header-item col-xs-1">S/N</div>
                        <div class="card-header-item col-xs-2">Person</div>
                        <div class="card-header-item col-xs-2">Invoice No</div>
                        <div class="card-header-item col-xs-2">Items</div>
                        <div class="card-header-item col-xs-2">Amount</div>
                        <div class="card-header-item col-xs-2">Date</div>
                        <div class="card-header-item col-xs-1">Payment Status</div>
                    </div>
                </div>
                <div class="card-list">
                    <div class="invoice-table-list row" (click)="onClickViewDetails(item);" *ngFor="let item of invoiceGroups; let i = index;">
                        <div class="col-xs-1">{{i+1}}</div>
                        <div class="col-xs-2">{{item?.patientObject?.personDetails?.firstName}} {{item?.patientObject?.personDetails?.lastName}}</div>
                        <div class="col-xs-2">{{item?.invoiceNo}}</div>
                        <div class="col-xs-2">{{item?.payments.length}}</div>
                        <div class="col-xs-2">{{item?.totalPrice}}</div>
                        <div class="col-xs-2">{{item?.createdAt|date:'medium'}}</div>
                        <div class="col-xs-1">
                            <span *ngIf="item?.paymentCompleted" class="text-green">Completed</span>
                            <span *ngIf="!item?.paymentCompleted" class="text-red">Not Completed</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>