@import "../new-opd-entry/new-opd-entry.component.scss";

.form_entry {
    max-width: 100px;
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 1.2rem !important;
<<<<<<< HEAD
    width: 100%;   
=======
    width:100%;   
>>>>>>> 88044b56cfd5d19337a6cb5b08ed012780e8e0e1
  }
  mat-form-field-input{
      font-size: 1.2rem !important;
  }

  mat-tab-body-content {
    height: 100%;
    overflow: hidden;
}

