<!--<div class="checkedinPatients search-results">
    <div class="inPatients">
        <ul class="inHeader">
            <li class="emp-img"></li>
            <li class="emp-name" style="cursor: pointer;"><i style="padding-left: 10px;" class="fa fa-sort" aria-hidden="true"></i>Name</li>
            <li class="emp-apmis" style="cursor: pointer;"><i style="padding-left: 10px;" class="fa fa-sort" aria-hidden="true"></i>Apmis ID</li>
            <li class="emp-dept" style="cursor: pointer;"><i style="padding-left: 10px;" class="fa fa-sort" aria-hidden="true"></i>Department</li>
            <li class="emp-status" style="cursor: pointer;"><i style="padding-left: 10px;" class="fa fa-sort" aria-hidden="true"></i>Status</li>
            <li class="emp-action" style="cursor: pointer;"><i style="padding-left: 10px;" class="fa fa-sort" aria-hidden="true"></i>Action</li>
        </ul>
        <div class="wrapper-content">
        <ul *ngFor="let item of employees" class="inBody">
            <li (click)="navEpDetail(item)" class="emp-img">
                <div *ngIf="item?.employeeDetails?.profileImageObject == undefined"><img src="assets/images/users/default.png"></div>
                <div *ngIf="item?.employeeDetails?.profileImageObject != undefined"><img [src]="facilityService.transform(item?.employeeDetails?.profileImageObject?.thumbnail)"></div>
            </li>
            <li (click)="navEpDetail(item)" class="emp-name">{{item.employeeDetails?.lastName}} {{item.employeeDetails?.firstName}}</li>
            <li class="emp-apmis">{{item.employeeDetails?.apmisId}}</li>
            <li class="emp-dept">{{item.department?.name}}</li>
            <li class="emp-status">
                <span *ngIf="!item.isActive" style="color:#E53935;">Inactive</span>
                <span [hidden]="!item.isActive" style="color: #43A047;">Active</span>
            </li>
            <li *ngIf="!item.isActive" class="survery">
                <span class="label label-success">Activate</span>
            </li>
         </ul>
            <div *ngIf="loadIndicatorVisible" class="div_loading">
                 <md-spinner></md-spinner>
            </div>
        </div>
    </div>
</div> -->

<table cellpadding="0" cellspacing="0" border="0.5"> 
    <thead>
        <tr>
            <th>
                <i class="fa fa-sort-alpha-asc" aria-hidden="true"></i>
                <!--<i class="fa fa-sort-alpha-desc" aria-hidden="true"></i>-->
                <span style="padding-left: 3px;">Employee</span>
            </th>
            <th>
                <i class="fa fa-sort-alpha-asc" aria-hidden="true"></i>
                <!--<i class="fa fa-sort-alpha-desc" aria-hidden="true"></i>-->
                <span style="padding-left: 3px;">Apmis ID</span>
            </th>
            <th>
                <i class="fa fa-sort-alpha-asc" aria-hidden="true"></i>
                <!--<i class="fa fa-sort-alpha-desc" aria-hidden="true"></i>-->
                <span style="padding-left: 3px;">Department</span>
            </th>
			<th>
                <i class="fa fa-sort-alpha-asc" aria-hidden="true"></i>
                <!--<i class="fa fa-sort-alpha-desc" aria-hidden="true"></i>-->
                <span style="padding-left: 3px;">Status</span>
            </th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        <!--<tr>
            <td colspan="7">
                <div class="tbl-actionRow">
					<div>
						<md-input-container>
							<input mdInput placeholder="Clinic" [mdAutocomplete]="auto" [formControl]="clinicCtrl">
						</md-input-container>

						<md-autocomplete #auto="mdAutocomplete">
							<md-option *ngFor="let state of filteredStates | async" [value]="state">
								{{ state }}
							</md-option>
						</md-autocomplete>
					</div>
					<div>
						<md-input-container>
							<input mdInput placeholder="Provider" [mdAutocomplete]="auto" [formControl]="providerCtrl">
						</md-input-container>

						<md-autocomplete #auto="mdAutocomplete">
							<md-option *ngFor="let state of filteredStates | async" [value]="state">
								{{ state }}
							</md-option>
						</md-autocomplete>
					</div>
					<div>
						<md-input-container>
							<input mdInput placeholder="Type" [mdAutocomplete]="auto" [formControl]="typeCtrl">
						</md-input-container>

						<md-autocomplete #auto="mdAutocomplete">
							<md-option *ngFor="let state of filteredStates | async" [value]="state">
								{{ state }}
							</md-option>
						</md-autocomplete>
					</div>
					<div>
						<md-input-container>
							<input mdInput placeholder="Status" [mdAutocomplete]="auto" [formControl]="statusCtrl">
						</md-input-container>

						<md-autocomplete #auto="mdAutocomplete">
							<md-option *ngFor="let state of filteredStates | async" [value]="state">
								{{ state }}
							</md-option>
						</md-autocomplete>
					</div>
                    <div>
						<md-input-container>
							<input mdInput placeholder="Day Count" [mdAutocomplete]="auto" [formControl]="todayCtrl">
						</md-input-container>

						<md-autocomplete #auto="mdAutocomplete">
							<md-option *ngFor="let state of filteredStates | async" [value]="state">
								{{ state }}
							</md-option>
						</md-autocomplete>
					</div>
                    <div class="tbl-search frm-item-wrap">
                        <div class="searchInputWrap">
                            <input [formControl]="searchControl" type="search" autofocus class="searchInput" placeholder="search">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </td>
        </tr>-->

        <tr  *ngFor="let item of employees">
            <td (click)="navEpDetail(item)">                
                <div class="empWrap">
                    <div class="list-img">
                        <div *ngIf="item?.employeeDetails?.profileImageObject == undefined"><img src="assets/images/users/default.png"></div>
                        <div *ngIf="item?.employeeDetails?.profileImageObject != undefined"><img [src]="facilityService.transform(item?.employeeDetails?.profileImageObject?.thumbnail)"></div>
                    </div>
                    <div>{{item.employeeDetails?.lastName}} {{item.employeeDetails?.firstName}}</div>
                </div>
            </td>
            <td>{{item.employeeDetails?.apmisId}}</td>
			<td>{{item.department?.name}}</td>
			<td>
                <span *ngIf="!item.isActive" style="color:#E53935;">Inactive</span>
                <span [hidden]="!item.isActive" style="color: #43A047;">Active</span>
            </td>
            <td>
                <div *ngIf="!item.isActive" class="tr-act-btn"><i class="fa fa-sign-out" aria-hidden="true"></i>Activate</div>
            </td>
        </tr>

        <div *ngIf="loadIndicatorVisible" class="div_loading">
            <md-spinner></md-spinner>
        </div>
    </tbody>
</table>