 <div class="preTbl-topItems-wrap">
    <ul class="topmenuwrap">
        <li (click)="modal_onClick()">
            <i class="fa fa-plus-circle" aria-hidden="true"></i>
            <span>Add Investigation</span>
        </li>
    </ul>
</div>

<div>
      <table class="points_table">
      <thead>
        <tr>
          <th class="col-xs-3">Lab Name</th>
          <th class="col-xs-3">Workbench</th>
          <th class="col-xs-3">Investigation</th>
          <th class="col-xs-2">Price</th>
          <th class="col-xs-1">Action</th>
        </tr>
      </thead>
      <tbody class="points_table_scrollbar">
        <tr>
          <td class="col-xs-3">
            <div>Minor location name</div>
          </td>
          <td class="col-xs-3">
            <div>Worchbench name</div>
          </td>
          <td class="col-xs-3">
            <div>Investigation name</div>
          </td>
          <td class="col-xs-2">
            <div>N 2,000</div>
          </td>
          <td class="col-xs-1"><a><i class="fa fa-edit"></i></a>
            <span>Inactive</span>
          </td>
        </tr> 
        <tr>
          <td class="col-xs-3">
            <div>Minor location name</div>
          </td>
          <td class="col-xs-3">
            <div>Worchbench name</div>
          </td>
          <td class="col-xs-3">
            <div>Investigation name</div>
          </td>
          <td class="col-xs-2">
            <div>N 20,000</div>
          </td>
          <td class="col-xs-1"><a><i class="fa fa-edit"></i></a>
            <span>Active</span>
          </td>
        </tr>              
      </tbody>
    </table>
</div>
      
  

<!--<div class="col-sm-12">
    <div class="x_panel">
        <div class="x_title">
          <h2>Investigation Setup</h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content"> 
          <md-select placeholder="Select minor location" [(ngModel)]="selectedValue" name="food">
            <md-option *ngFor="let food of foods" [value]="food.value">
              {{food.viewValue}}
            </md-option>
          </md-select>
          <md-select placeholder="Select bench" [(ngModel)]="selectedValue" name="food">
            <md-option *ngFor="let food of foods" [value]="food.value">
              {{food.viewValue}}
            </md-option>
          </md-select>
          <md-select placeholder="Select investigation" [(ngModel)]="selectedValue" name="food">
            <md-option *ngFor="let food of foods" [value]="food.value">
              {{food.viewValue}}
            </md-option>
          </md-select>
            <md-input-container class="example-full-width">
            <input type="number" mdInput placeholder="Set Price">
          </md-input-container>
          <div class="text-center">
            <button class="apmis-blue" md-raised-button>Add</button>
          </div>
        </div>
    </div>
  </div>-->

  <!-- add manage lab -->
  <div *ngIf = "openModal" class="survery">
    <div class="cover-edit">
    <form class="form-signin">
        <div class="container">
            <div class="row">
              <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                  <div class="panel-body">
                  <a (click)="closeModal()" aria-hidden="true" class="modal-close-ico">X</a>
                  <legend class="modal_title">Add Lab</legend>
                    <form class="form form-signup" role="form">
                        <md-select placeholder="Select Lab Name" [(ngModel)]="selectedValue" name="food">
                          <md-option *ngFor="let food of foods" [value]="food.value">
                            {{food.viewValue}}
                          </md-option>
                        </md-select>
                        <md-select placeholder="Select bench" [(ngModel)]="selectedValue" name="food">
                          <md-option *ngFor="let food of foods" [value]="food.value">
                            {{food.viewValue}}
                          </md-option>
                        </md-select>
                        <md-select placeholder="Select investigation" [(ngModel)]="selectedValue" name="food">
                          <md-option *ngFor="let food of foods" [value]="food.value">
                            {{food.viewValue}}
                          </md-option>
                        </md-select>
                        <md-input-container class="example-full-width">
                        <input type="number" mdInput placeholder="Set Price">
                      </md-input-container>
                      <md-checkbox>isActive?</md-checkbox>
                       <div class="text-center">
                          <button class="apmis-blue" md-raised-button>Add</button>
                      </div>
                    </form>
                  </div>      
                </div>
              </div>
            </div>
        </div>
    </form>
    </div>
  </div>