<div class="filterTop">
  <div class="tbl-header-lhs">
    <div class="input-group-x2">
      <div class="dropDown-container">
        <div class="select">
          <label>Store Location:</label>
          <select [formControl]="storeLocation" (change)="getStoresInLocation()" name="dropDown-container" id="dropDown-container">
            <option [value]="l.id" *ngFor="let l of locations">{{l.location}}</option>
           
          </select>
           
        </div>
      </div>
      <div class="dropDown-container">
        <div class="select">
          <label>Store Name:</label>
            <apmis-spinner size="small" [visible]="processing"></apmis-spinner>
          <select   [formControl]="storeName" name="dropDown-container" id="dropDown-container2">
            <option [value]="s.storeId" *ngFor="let s of stores">{{s.storeName}}</option>
           
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="tbl-header-rhs">
    <div class="items">
      <label class="label">Total Items Requested</label>
      <div class="val">400</div>
    </div>
    <div class="items">
      <label class="label">Total Items Value</label>
      <div class="val">#400,000</div>
    </div>
  </div>
</div>

<div class="tbl-sect-wrap" >
  
  <product-grid #grid [showStatus]="false" [products]="data" [selectedStore]="storeName.value">
      
      
  </product-grid>
  <div class="ob-btn-wrap">
    <button class="ob-btn" [disabled]="saving"
            (click)="sendSelectedItems()"> 
      <apmis-spinner size="medium" [visible]="saving"></apmis-spinner>
     <span *ngIf="saving"> &nbsp; Saving...</span>
      <span *ngIf="!saving">Send Items</span></button>
  </div>
</div>
<div class="" style="clear: both; margin-top: 10px;"></div>
<div class="" style="clear: both; margin-top: 10px;">
    <apmis-data-pager [pager-source]="pagerSource" 
                     [display-summary]="true" color="#497ED9"
    ></apmis-data-pager>
</div>
<div style="text-align: center;">
    <apmis-spinner  [visible]="isLoadingFromServer" size="x-large">

    </apmis-spinner>
</div>
<div class="tbl-sect-wrap tbl-top-with-border" *ngFor="let s of serverData">
  <div class="has-title">Outbound Requisition Ref: {{s.storeRequisitionNumber}}  <span style="float:right; margin :10px;">
        <apmis-pager-button background-color="#497ED9" (onClick)="s.showDetails = !s.showDetails" size="small">
            <i class="fa " [ngClass]="{'fa-chevron-up': s.showDetails,'fa-chevron-down': !s.showDetails }"></i></apmis-pager-button></span></div>
  <div class="date-sent">
    <span>Date Sent:</span>
    <div class="val">{{s.createdAt | date:'medium'}}  </div>
  </div>
  <div *ngIf="s.showDetails" >
      <product-grid [selectedStore]="s.storeId" [products]="s.items" [showStatus]="true"></product-grid>
  </div>
 
 
</div>
<div class="" style="clear: both; margin-top: 10px;">
    <apmis-data-pager [pager-source]="pagerSource" (onPageClick)="gotoPage($event)"
    [in-progress]="isLoadingFromServer" color="#497ED9" [show-total-record]="false"
    ></apmis-data-pager>
</div>