
@import "./../initialize-store/initialize-store.component.scss";

.div-space{
    height: 40px;
}
.sel-txt{   
    text-align: center;
    align-self: center;
}

.in-tr{
    grid-template-columns: 3fr repeat(4, 1fr) !important;
}
.item-action{
    i{
        padding-right: 5px;
       cursor: pointer;       
    }
    i:hover{
        color: rgba(0,0,0,.54);
       }
}

.tbl-btn-action{
    display: flex;
    justify-content: flex-end;
    padding: 15px;   
}
.action-pad{
    padding: 0px 5px;
}

.sel-sup{
    display: flex;
    .input-group-x2{
        padding-left: 10px;
        width: 40% !important;
    }
}