<div class="page-title">Schedule Appointment</div>

<ul class="topmenuwrap">
    <li [routerLink]="['/dashboard/clinic/appointment']">
        <i class="fa fa-bars" aria-hidden="true"></i>
        <span>Appointments</span>
    </li>
</ul>

<div class="clinic-running-days-wrap">
    <i class="fa fa-info-circle" aria-hidden="true"></i>
    <div class="sect-title">Clinic Running Days</div>
    <div class="runningDays">
        <div class="runningDay-wrap">
            <div class="running-day">Monday</div>
            <div class="running-time">09:00am to 4:00pm</div>
        </div>
        <div class="runningDay-wrap">
            <div class="running-day">Wednesday</div>
            <div class="running-time">09:00am to 4:00pm</div>
        </div>
        <div class="runningDay-wrap">
            <div class="running-day">Friday</div>
            <div class="running-time">10:00am to 4:00pm</div>
        </div>
    </div>
</div>

<app-schedule-frm></app-schedule-frm>
<table cellpadding="0" cellspacing="0" border="0.5"> 
    <thead>
        <tr>
            <th>
                <i class="fa fa-sort-alpha-asc" aria-hidden="true"></i>
                <!--<i class="fa fa-sort-alpha-desc" aria-hidden="true"></i>-->
                <span style="padding-left: 3px;">Patient</span>
            </th>
            <th>
                <i class="fa fa-sort-alpha-asc" aria-hidden="true"></i>
                <!--<i class="fa fa-sort-alpha-desc" aria-hidden="true"></i>-->
                <span style="padding-left: 3px;">Date</span>
            </th>
            <th>
                <i class="fa fa-sort-alpha-asc" aria-hidden="true"></i>
                <!--<i class="fa fa-sort-alpha-desc" aria-hidden="true"></i>-->
                <span style="padding-left: 3px;">Time</span>
            </th>
            <th>
                <i class="fa fa-sort-alpha-asc" aria-hidden="true"></i>
                <!--<i class="fa fa-sort-alpha-desc" aria-hidden="true"></i>-->
                <span style="padding-left: 3px;">Clinic</span>
            </th>
			<th>
                <i class="fa fa-sort-alpha-asc" aria-hidden="true"></i>
                <!--<i class="fa fa-sort-alpha-desc" aria-hidden="true"></i>-->
                <span style="padding-left: 3px;">Provider</span>
            </th>
			<th>
                <i class="fa fa-sort-alpha-asc" aria-hidden="true"></i>
                <!--<i class="fa fa-sort-alpha-desc" aria-hidden="true"></i>-->
                <span style="padding-left: 3px;">Status</span>
            </th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td colspan="7">
                <div class="tbl-actionRow">
					<div>
						<app-date-range [(dateRange)]="dateRange"></app-date-range>
					</div>
					<div>
						<md-input-container>
							<input mdInput placeholder="Clinic" [mdAutocomplete]="auto" [formControl]="clinicCtrl">
						</md-input-container>

						<md-autocomplete #auto="mdAutocomplete">
							<md-option *ngFor="let state of filteredStates | async" [value]="state">
								{{ state }}
							</md-option>
						</md-autocomplete>
					</div>
					<div>
						<md-input-container>
							<input mdInput placeholder="Provider" [mdAutocomplete]="auto" [formControl]="providerCtrl">
						</md-input-container>

						<md-autocomplete #auto="mdAutocomplete">
							<md-option *ngFor="let state of filteredStates | async" [value]="state">
								{{ state }}
							</md-option>
						</md-autocomplete>
					</div>
					<div>
						<md-input-container>
							<input mdInput placeholder="Type" [mdAutocomplete]="auto" [formControl]="typeCtrl">
						</md-input-container>

						<md-autocomplete #auto="mdAutocomplete">
							<md-option *ngFor="let state of filteredStates | async" [value]="state">
								{{ state }}
							</md-option>
						</md-autocomplete>
					</div>
					<div>
						<md-input-container>
							<input mdInput placeholder="Status" [mdAutocomplete]="auto" [formControl]="statusCtrl">
						</md-input-container>

						<md-autocomplete #auto="mdAutocomplete">
							<md-option *ngFor="let state of filteredStates | async" [value]="state">
								{{ state }}
							</md-option>
						</md-autocomplete>
					</div>
                    <div>
						<md-input-container>
							<input mdInput placeholder="Day Count" [mdAutocomplete]="auto" [formControl]="todayCtrl">
						</md-input-container>

						<md-autocomplete #auto="mdAutocomplete">
							<md-option *ngFor="let state of filteredStates | async" [value]="state">
								{{ state }}
							</md-option>
						</md-autocomplete>
					</div>
                    <div class="tbl-search frm-item-wrap">
                        <div class="searchInputWrap">
                            <input [formControl]="searchControl" type="search" autofocus class="searchInput" placeholder="search">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </td>
        </tr>

        <tr>
            <td>
                <div class="empWrap">
                    <div class="list-img">
                        <img src="assets/images/users/default.png">
                    </div>
                    <div>Johanna James</div>
                </div>
            </td>
            <td>10th July, 2017.</td>
            <td> 10:00am</td>
			<td>Eye Clinic</td>
			<td>
                <div class="empWrap">
                    <div class="list-img">
                        <img src="assets/images/users/default.png">
                    </div>
                    <div>Lara Jonah</div>
                </div>
            </td>
            <td>Checked In</td>
            <td>
                <div class="tr-act-btn"><i class="fa fa-sign-out" aria-hidden="true"></i> Check Out</div>
            </td>
        </tr>
    </tbody>
</table>

<div class="sect-title2">Patient Appointment History</div>

<table cellpadding="0" cellspacing="0" border="0.5"> 
    <thead>
        <tr>
            <th>
                <i class="fa fa-sort-alpha-asc" aria-hidden="true"></i>
                <!--<i class="fa fa-sort-alpha-desc" aria-hidden="true"></i>-->
                <span style="padding-left: 3px;">Date/Time</span>
            </th>
            <th>
                <i class="fa fa-sort-alpha-asc" aria-hidden="true"></i>
                <!--<i class="fa fa-sort-alpha-desc" aria-hidden="true"></i>-->
                <span style="padding-left: 3px;">Clinic</span>
            </th>
			      <th>
                <i class="fa fa-sort-alpha-asc" aria-hidden="true"></i>
                <!--<i class="fa fa-sort-alpha-desc" aria-hidden="true"></i>-->
                <span style="padding-left: 3px;">Provider</span>
            </th>
			      <th>
                <i class="fa fa-sort-alpha-asc" aria-hidden="true"></i>
                <!--<i class="fa fa-sort-alpha-desc" aria-hidden="true"></i>-->
                <span style="padding-left: 3px;">Status</span>
            </th>
        </tr>
    </thead>

    <tbody>
      <tr>
            
        <td>10th July, 2017. 10:00am</td>
			  <td>Eye Clinic</td>
			  <td>
            <div class="empWrap">
                <div class="list-img">
                    <img src="assets/images/users/default.png">
                </div>
                <div>Lara Jonah</div>
            </div>
        </td>
        <td>Checked In</td>
      </tr>

		<tr>
      <td>10th July, 2017. 10:00am</td>
			<td>Eye Clinic</td>
			<td>
        <div class="empWrap">
            <div class="list-img">
                <img src="assets/images/users/default.png">
            </div>
            <div>Lara Jonah</div>
        </div>
        </td>
        <td>Scheduled</td>
    </tr>
    </tbody>
</table>