<h2>General Store</h2>
<h3>Create purchase list</h3>
<span>Select products you will like to add to the purchase list below this table, Click Add items to purchase list when
  done</span>


<div class="div-space"></div>


<div class="filterTop">
  <div class="searchproduct">
    <div class="InputGroup">
      <input class="customInput" [formControl]="productConfigSearch" (focus)="onFocus('in')" (focusout)="onFocus('out')"
        type="text" required>
      <span class="highlight"></span>
      <label class="customLabel"><i class="fa fa-search" aria-hidden="true"></i>Search...</label>
      <!-- <ul class="search-sugestions" *ngIf="(showProduct && productConfigs.length > 0)">
        <li *ngFor="let config of productConfigs" (click)="setSelectedOption(config)" class="search-sugestion">{{config.productName}}</li>
      </ul> -->
    </div>
  </div>
  <div class="tbl-header-rhs">
    <div>
      <h3>Show:</h3>
    </div>
    <div [className]="selectedFilterIndex === i ? 'ft-btn ft-btn-selected' : 'ft-btn'" *ngFor="let filter of storeFilters; let i = index"
      (click)="setSelectedFilter(i,filter)">
      <span>{{filter}}</span>
    </div>
  </div>
</div>

<div class="store-table">
  <div class="store-thead">
    <div class="store-tr">
      <div class="store-th store-td-actions">
        <input type="checkbox">
      </div>
      <div class="config-tr-in in-tr">
        <div class="store-th">Products</div>
        <div class="store-th">Available Quantity</div>
        <div class="store-th">Re-Order Level</div>
        <div class="store-th">Cost/Unit</div>
        <div class="store-th">Total Cost Price</div>
        <div class="store-th">Unit Selling Price</div>
      </div>
      <div class="store-th store-td-actions"></div>
    </div>
  </div>

  <div class="store-tbody">
    <div class="store-pre-tr">
      <div class="store-tr" *ngFor="let picked of productConfigs">
        <div class="store-td store-td-actions">
          <input type="checkbox" [checked]="picked.isChecked" (change)="setSelectedOption($event, picked)">
        </div>
        <div class="config-tr-in in-tr">
          <div class="store-td">{{picked.productName}}</div>
          <div class="store-td">{{picked.availableQuantity | number}} {{picked.productConfiguration.name}}</div>
          <div class="store-td">{{picked.reOrderLevel}} {{picked.productConfiguration.name}}</div>
          <div class="store-td">#5/Sachet</div>
          <div class="store-td">#300,000</div>
          <div class="store-td">#{{picked.price}}/{{picked.productConfiguration.name}}</div>
        </div>
        <div class="store-td store-td-actions">
          <div class="table-list col-xs-1 action-placeholder">
            <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
            <div class="action-container shadow-RB">
              <div class="action-item">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                <span>Edit</span>
              </div>
              <div class="action-item">
                <i class="fa fa-trash" aria-hidden="true"></i>
                <span>Delete</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="div-space"></div>
<h3 class="sel-txt">50 Items selected and added to purchase list</h3>
<div class="div-space"></div>

<div class="store-table">
  <div class="store-thead">
    <div class="store-tr">
      <div class="store-th store-td-actions">
        <input type="checkbox">
      </div>
      <div class="config-tr-in in-tr">
        <div class="store-th">Products</div>
        <div class="store-th">Unit</div>
        <div class="store-th">Quantity Required</div>
        <div class="store-th">Cost/Unit</div>
        <div class="store-th">Total Cost Price</div>
        <div class="store-th">Actions</div>
      </div>
      <div class="store-th store-td-actions"></div>
    </div>
  </div>

  <div class="store-tbody">
    <div class="store-pre-tr">
      <div class="store-tr" *ngFor="let picked of selectedProducts">
        <div class="store-td store-td-actions">
          <input type="checkbox">
        </div>
        <div class="config-tr-in in-tr">
          <div class="store-td">{{picked.productName}}</div>
          <div class="store-td">{{picked.productConfiguration.name}}</div>
          <div class="store-td"> <input min="0" class="customInput" type="number" placeholder="&#8358;300,000 "
              required> {{picked.productConfiguration.name}}</div>
          <div class="store-td">#5/{{picked.productConfiguration.name}}</div>
          <div class="store-td">#300,000</div>
          <div class="store-td">
            <div class="btc-body-item item-action">
              <i class="fa fa-2x fa-check-circle" aria-hidden="true"></i>
              <i class="fa fa-2x fa-times-circle" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="tbl-btn-action">
  <div class="action-pad">
    <div class="new-btn-blue">
      <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
      <span>Export</span>
    </div>
  </div>
  <div class="action-pad">
    <div class="new-btn-blue">
      <i class="fa fa-envelope-o" aria-hidden="true"></i>
      <span>E-Mail</span>
    </div>
  </div>
  <div class="action-pad">
    <div class="new-btn-blue">
      <i class="fa fa-print" aria-hidden="true"></i>
      <span>Print</span>
    </div>
  </div>
</div>

<div class="sel-sup">
  <h3>Add Suppliers to send purchase list to:</h3>
  <div class="input-group-x2">
    <div class="dropDown-container" style="margin-right:40px;">
      <div class="select">
        <select name="dropDown-container" id="dropDown-container">
          <option value="0">Select Supplier</option>
          <option value="1">Kunle Ara</option>
          <option value="2">Pham-B Store</option>
          <option value="3">Alex Plus Store</option>
          <option value="4">Med-Plus</option>
        </select>
      </div>
    </div>
  </div>
</div>

<div class="supplier-list-wrap">
  <div class="supplier-wrap">
    <div style="display: flex;">
      <h3>SIDMACH Medical Suppliers </h3>
      <div class="cls-ico"><i class="fa fa-times-circle" aria-hidden="true"></i></div>
    </div>
    <span>08067710761 | sidmachmedicalsupply@gmail.com</span>
  </div>
  <div class="supplier-wrap">
    <div style="display: flex;">
      <h3>SIDMACH Medical Suppliers </h3>
      <div class="cls-ico"><i class="fa fa-times-circle" aria-hidden="true"></i></div>
    </div>
    <span>08067710761 | sidmachmedicalsupply@gmail.com</span>
  </div>
  <div class="supplier-wrap">
    <div style="display: flex;">
      <h3>SIDMACH Medical Suppliers </h3>
      <div class="cls-ico"><i class="fa fa-times-circle" aria-hidden="true"></i></div>
    </div>
    <span>08067710761 | sidmachmedicalsupply@gmail.com</span>
  </div>
  <div class="supplier-wrap">
    <div style="display: flex;">
      <h3>SIDMACH Medical Suppliers </h3>
      <div class="cls-ico"><i class="fa fa-times-circle" aria-hidden="true"></i></div>
    </div>
    <span>08067710761 | sidmachmedicalsupply@gmail.com</span>
  </div>
</div>


<div class="div-space"></div>

<hr>
<div class="sv-btn-container">
  <h3 class="sel-txt">Send purchase list with 50 items to 6 suppliers ? </h3>
  <div class="new-btn-solid-blue">
    <span>Send Purchase List</span>
  </div>
</div>