<div class="modal-baseWrap animated pulse">

    <div (click)="close_onClick()" class="modal-close-ico" aria-hidden="true">X</div>
    <legend class="modal_title" style="color:#0d47a1;;text-align:center;">Make Payment</legend>
    <div class="modal_mini_title">All Purpose Medical Information System</div>
    <div class="supplierTitle">B&B Pharmaceuticals LTD</div>
    <div class="mainErr animated shake" [hidden]="mainErr">{{errMsg}}</div>

    <form [formGroup]="frm_supplierPayment" novalidate>

        <div class="mainfrmwrap">
            <div class="sec-1">
                <div class="frm-item-wrap">
                    <small class="alert-label" [hidden]="frm_supplierPayment.controls.amount.valid || frm_supplierPayment.controls.amount.pristine">
              Kindly enter amount.
            </small>
                    <span class="frm-label">Amount</span>
                    <input type="text" formControlName="amount" autocomplete="off">
                </div>
                <div class="frm-item-wrap">
                    <small class="alert-label" [hidden]="frm_supplierPayment.controls.payment_type.valid || frm_supplierPayment.controls.payment_type.pristine">
              Kindly enter payment type.
            </small>
                    <span class="frm-label">Payment Type</span>
                    <select formControlName="payment_type">

            </select>
                </div>
            </div>
            <div class="sec-2">
                
                <div class="frm-item-wrap">
                    <small class="alert-label" [hidden]="frm_supplierPayment.controls.cheque_number.valid || frm_supplierPayment.controls.cheque_number.pristine">
                        Kindly enter cheque.
                    </small>
                    <span class="frm-label">Cheque Number</span>
                    <input type="text" formControlName="cheque_number">
                </div>
                <div class="frm-item-wrap">
                    <small class="alert-label" [hidden]="frm_supplierPayment.controls.transfer_number.valid || frm_supplierPayment.controls.transfer_number.pristine">
                        Kindly enter transfer number.
                    </small>
                    <span class="frm-label">Transfer Number</span>
                    <input type="text" formControlName="transfer_number">
                </div>

            </div>
        </div>

        <div (click)="login()" class="cta-1">
           Make Payment
        </div>

    </form>

</div>
<div *ngIf="loadIndicatorVisible" class="div_loading">
    <!--<dx-load-indicator id="large-indicator" height="60" width="60"></dx-load-indicator>-->
</div>