<div class="container">
  <div class="row">
      <div class="col-md-4">
          <h2> Name </h2>
          <input class="input" >
      </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <h1>
        Schedule
      </h1>
    </div>
    <div class="col-sm-6">
      <button class="btn btn-blue pull-right">ADD VACCINE</button>
    </div>
  </div>
 <div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="row">
        <div class="col-sm-12">
          <div class="close">
            <i class="fa fa-close fa-2x fa-fw"></i>
          </div>
        </div>
      </div>
      <div class="card-content">
        <div class="card-list-item">
            <div class="row">
              <div class="col-sm-12">
                <h2>
                  Vaccine
                </h2>
              </div>
              <div class="col-md-6">
                <input class="input" placeholder="Vaccine">
              </div>
              <div class="col-md-3">
                  <input class="input" placeholder="Code Name">                
              </div>
              <div class="col-md-3">
                <input class="input" placeholder="Site of Administration">
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <h2>
                  Time Schedule
                </h2>
              </div>
              <div class="col-md-2">
                <input class="input-time" placeholder="Time">
                <select class="input-time" name="" id="">
                    <option selected>Days</option>
                    <option>Weeks</option>
                    <option>Months</option>
                    <option>Years</option>
                  </select>
              </div>
              <div class="col-md-1" style="text-align: center">
                <img style="padding: 10px;" src="../../../../assets/images/timeline.svg">
              </div>
              <div class="col-md-1">
                <button class="btn btn-blue">
                  <i class="fa fa-fw fa-plus"></i>
                </button>
              </div>
              <div class="col-sm-12">
                <br>
                <br>
                  <button class="btn btn-blue">
                      SAVE
                  </button>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
 </div> 
</div>