@import "../../../../../globals/variables.scss";

.side-wrap-full{
    font-family: $font-titles;
    width: 73%;
    border: 1px solid #eee;
    min-height: 187px;
    padding: 10px;
    box-sizing: border-box;
    margin-left: 5px;
}
.secTitle{
    margin: 20px auto;
    text-align: center;
    font-weight: bold;
    padding: 5px;
    background: #F5F5F5;
}
.search-orgs{
    width: 34%;
    margin-left: 1px;
    background: #FAFAFA;
    min-height: 170px;
    padding: 10px;
    box-sizing: border-box;
}
.covered-orgs{
    display: flex;
    width: 64%;
    flex-wrap: wrap;
}
.covered-org{
    display: inline-flex;
    align-items: center;
    width: auto;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #eee; 
    font-size: 12px;
    padding: 10px;
    box-sizing: border-box;
    margin-right: 10px;
    margin-top: 10px;
    cursor: pointer;
}
.covered-org:hover, .orgWrap:hover{
    background: #F5F5F5;
}
.covered-org img{
    width: 30px;
    border-radius: 100%;
    margin-right: 10px;
}
.facility{
    font-weight: bold;
}
.listedFacilityDesc{
    color: #039BE5;
    font-size: 10px;
}
.searchInputWrap{
    display: flex;
    align-items: center;
    position: relative;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 20px;
}
.searchInputWrap i{
    position: absolute;
    color: #939393;
    margin-left: 10px;
}
.searchInput{
    border: 1px solid #eee;
    background: #FAFAFA;
    border-radius: 7px;
    padding: 7px;
    padding-left: 30px;
    text-align: center;
    width: 100%;
}
.orgWrap{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 12px;
    cursor: pointer;
    padding: 5px;
}
.orgWrap img{
    width: 30px;
    margin-right: 10px;
}
.accept-request .orgWrap:hover{
    background: transparent;
}
.addCoverBtn{
    position: absolute;
    right: -6px;
    top: -34px;
    margin: 0;
}

.coveredDetailView{
    width: 64%;
}
.coveredDetailHeader{
    text-align: center;
}
.coveredDetailHeader img{
    width: 100px;
}
.coveredDetailHeader-txt{
    text-align: center;
}
.coveredDetailHeader-txt .orgName{
    font-weight: bold;
    font-size: 16px;
}
.coveredDetailHeader-txt .orgAddress{
    font-weight: normal;
    font-size: 12px;
}
.coveredDetailBodyTitle {
    margin: 40px 0px 5px 0px;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}
.coveredEmployees{
    margin-bottom: 20px;
}
.coveredEmployee{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
}
.coveredEmployee:hover{
    background: #E0E0E0;
}
.coveredEmployee img{
    width: 30px;
    margin-right: 10px;
}
.nameImgWrap{
    display: flex;
    align-items: center;
}
.modal-overlay {
    position: fixed;
    left: 0;
}
.accept-request .modal-overlay{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-1{
    width: 111px;
    margin-bottom: 5px;
}
.tablinkWrap{
    display: flex;
}
.innerBodyTab {
    width: 100%;
    box-sizing: border-box;
}
.tablink{
    cursor: pointer;
}
.tablink:hover{
    background: #EEEEEE;
}
.tablinkWrap .activeTab, .tab{
    background: #FAFAFA;
    color: #757575;
}
.tablink, .tab{
    padding: 10px;
    box-sizing: border-box;
}
.tblBg {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    width: 98%;
    text-align: left;
    border-collapse: collapse; 
    background-color: #EEEEEE;
    margin: 10px auto;
}
.tblBg th {
    font-weight: normal;
    font-size: 14px;
    color: #757575;
    font-weight: bold;
    padding: 12px;
}
.tblBg td {
    position: relative;
    color: #757575;
    border-top: 1px solid #fff;
    padding: 9px 12px;
}
tbody tr:hover{
    background: #E0E0E0;
}
td i{
    margin-right: 5px;
    font-size: 16px;
    cursor: pointer;
}
td i:hover{
    color: #0288D1;
}
.tblWrap {
    max-width: 522px;
}
.tblTitle{
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 20px;
}
.tblTop{
    display: flex;
    margin: 10px 0px;
}

#search {
    margin-left: -24px;
    margin-bottom: 9px;
}