<div class="search-container">
  <div class="searchproduct">
    <div class="InputGroup">
      <input class="customInput" type="text" required>
      <span class="highlight"></span>
      <label class="customLabel"><i class="fa fa-search" aria-hidden="true"></i>Search Product</label>

      **Please Uncomment for the search result***
      <!-- <ul class="search-sugestions">
        <li class="search-sugestion">Diclofenac</li>
        <li class="search-sugestion">Paracetamol</li>
      </ul> -->
    </div>
    <div class="search-noResult">
      <span>This product configuration
        already exists</span>
    </div>
  </div>
  <div class="new-btn-solid-blue">
    <span>Configure</span>
  </div>
</div>

<div class="config-container">
  <div class="config-layout">
    <div class="config-wrap">
      <h3 style="margin-right: 120px;">Set Base Unit</h3>
      <i class="fa fa-plus" aria-hidden="true"></i>
    </div>
    <div class="config-tags-wrap-x2">
      <div class="tag-btn">
        <span>Tablets</span>
      </div>
    </div>
  </div>
  <div class="config-layout">
    <div class="config-wrap">
      <h3>Add Configuration (Based on Unit)</h3>
      <i class="fa fa-plus" aria-hidden="true"></i>
    </div>
    <div class="config-tags-wrap-x2">
      <div class="tag-btn">
        <span>Sachet</span>
      </div>
      <span>=</span>
      <div class="InputGroup">
        <input class="customInput" type="text" required>
        <span class="highlight"></span>
      </div>
      <h4>Tablets</h4>
    </div>
  </div>
</div>

<div class="config-container">
  <div class="config-layout">
    <div class="config-wrap">
      <h3>Add Configuration (Based on Unit)</h3>
      <i class="fa fa-plus" aria-hidden="true"></i>
    </div>
    <div class="config-tags-wrap-x2">
      <div class="tag-btn">
        <span>Packs</span>
      </div>
      <span>=</span>
      <div class="InputGroup">
        <input class="customInput" type="text" required>
        <span class="highlight"></span>
      </div>
      <h4>Tablets</h4>
    </div>
  </div>
  <div class="config-layout">
    <div class="config-wrap">
      <h3>Add Configuration (Based on Unit)</h3>
      <i class="fa fa-plus" aria-hidden="true"></i>
    </div>
    <div class="config-tags-wrap-x2">
      <div class="tag-btn">
        <span>Carton</span>
      </div>
      <span>=</span>
      <div class="InputGroup">
        <input class="customInput" type="text" required>
        <span class="highlight"></span>
      </div>
      <h4>Tablets</h4>
    </div>
  </div>
</div>

<div class="sv-btn-container">
  <div class="new-btn-solid-blue">
    <span>Save Configuration</span>
  </div>
</div>
<div class="tbl-config-wrap">
  <h2>Configured Product</h2>
  <div class="store-table">
    <div class="store-thead">
      <div class="store-tr">
        <div class="store-th store-td-actions">
          <input type="checkbox">
        </div>
        <div class="config-tr-in">
          <div class="store-th">Products</div>
          <div class="store-th">Base Unit</div>
          <div class="store-th">Pack Types</div>
        </div>
        <div class="store-th store-td-actions"></div>
      </div>
    </div>

    <div class="store-tbody">
      <div class="store-pre-tr">
        <div class="store-tr">
          <div class="store-td store-td-actions">
            <input type="checkbox">
          </div>
          <div class="config-tr-in">
            <div class="store-td">Medroxyprogesterone acetate 10 MG Oral Tablet [Curretab]</div>
            <div class="store-td">Tablet</div>
            <div class="store-td">
              <div class="config-tags-wrap">
                <div class="tag-btn">
                  <span>500 Tablets</span>
                </div>
                <div class="tag-btn">
                  <span>100 Sachets</span>
                </div>
                <div class="tag-btn">
                  <span>10 Packs</span>
                </div>
              </div>
            </div>
          </div>
          <div class="store-td store-td-actions">
            <div class="table-list col-xs-1 action-placeholder">
              <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
              <div class="action-container shadow-RB">
                <div class="action-item">
                  <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                  <span>Edit</span>
                </div>
                <div class="action-item">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                  <span>Delete</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="store-tr">
          <div class="store-td store-td-actions">
            <input type="checkbox">
          </div>
          <div class="config-tr-in">
            <div class="store-td">Medroxyprogesterone acetate 10 MG Oral Tablet [Curretab]</div>
            <div class="store-td">Tablet</div>
            <div class="store-td">
              <div class="config-tags-wrap">
                <div class="tag-btn">
                  <span>500 Tablets</span>
                </div>
                <div class="tag-btn">
                  <span>100 Sachets</span>
                </div>
                <div class="tag-btn">
                  <span>10 Packs</span>
                </div>
              </div>
            </div>
          </div>
          <div class="store-td store-td-actions">
            <div class="table-list col-xs-1 action-placeholder">
              <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
              <div class="action-container shadow-RB">
                <div class="action-item">
                  <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                  <span>Edit</span>
                </div>
                <div class="action-item">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                  <span>Delete</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="store-tr">
          <div class="store-td store-td-actions">
            <input type="checkbox">
          </div>
          <div class="config-tr-in">
            <div class="store-td">Medroxyprogesterone acetate 10 MG Oral Tablet [Curretab]</div>
            <div class="store-td">Tablet</div>
            <div class="store-td">
              <div class="config-tags-wrap">
                <div class="tag-btn">
                  <span>500 Tablets</span>
                </div>
                <div class="tag-btn">
                  <span>100 Sachets</span>
                </div>
                <div class="tag-btn">
                  <span>10 Packs</span>
                </div>
              </div>
            </div>
          </div>
          <div class="store-td store-td-actions">
            <div class="table-list col-xs-1 action-placeholder">
              <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
              <div class="action-container shadow-RB">
                <div class="action-item">
                  <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                  <span>Edit</span>
                </div>
                <div class="action-item">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                  <span>Delete</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="store-tr">
          <div class="store-td store-td-actions">
            <input type="checkbox">
          </div>
          <div class="config-tr-in">
            <div class="store-td">Medroxyprogesterone acetate 10 MG Oral Tablet [Curretab]</div>
            <div class="store-td">Tablet</div>
            <div class="store-td">
              <div class="config-tags-wrap">
                <div class="tag-btn">
                  <span>500 Tablets</span>
                </div>
                <div class="tag-btn">
                  <span>100 Sachets</span>
                </div>
                <div class="tag-btn">
                  <span>10 Packs</span>
                </div>
              </div>
            </div>
          </div>
          <div class="store-td store-td-actions">
            <div class="table-list col-xs-1 action-placeholder">
              <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
              <div class="action-container shadow-RB">
                <div class="action-item">
                  <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                  <span>Edit</span>
                </div>
                <div class="action-item">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                  <span>Delete</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>