<div class="modal-baseWrap animated pulse">

    <div (click)="close_onClick()" class="modal-close-ico" aria-hidden="true">X</div>
    <div class="modal-userStrap">
        <div class="strapImgWrap">
            <img *ngIf="loginEmployee?.employeeDetails?.profileImageObject === undefined" src="assets/images/users/default.png">
            <img *ngIf="loginEmployee?.employeeDetails?.profileImageObject !== undefined" [src]="facilityService.transform(loginEmployee?.employeeDetails?.profileImageObject?.thumbnail)">
            <!-- <img [src]="facilityService.transform(loginEmployee?.employeeDetails?.profileImageObject?.thumbnail)"> -->
        </div>
        <div class="strapUser">{{loginEmployee.employeeDetails?.lastName}} {{loginEmployee.employeeDetails?.firstName}}</div>
    </div>

    <div class="postStrap-title">Check Into Store</div>
    <div class="cont-wrap">
        <div class="cont-item">
            <div class="mainErr animated shake" [hidden]="mainErr">{{errMsg}}</div>

            <form [formGroup]="storeCheckin" novalidate>
                <div class="frm-item-wrap">
                    <md-select class="example-full-width" placeholder="Location" formControlName="location">
                        <md-option *ngFor="let location of locations" value={{location._id}}>{{location.name}}</md-option>
                        <!-- <md-option *ngFor="let location of workSpace?.locations" [value]="location.minorLocationId">{{location.minorLoactionDetails.name}}</md-option> -->
                    </md-select>
                </div>


                <div class="frm-item-wrap">
                    <md-select class="example-full-width" placeholder="Store" formControlName="room">
                        <md-option *ngFor="let store of stores" [value]="store._id">{{store.name}}</md-option>
                    </md-select>
                </div>

                <div class="set-default">
                    <div class="dx-field-value">
                        <md-checkbox class="example-margin" formControlName="isDefault">Set as default</md-checkbox>
                    </div>
                </div>

                <div class="btn-group">
                    <button md-raised-button [disabled]="!storeCheckin.valid" (click)="checkIn(storeCheckin.valid, storeCheckin.value);" style="color: #fff; margin-right: 5px;" [innerHtml]="checkInBtnText"> </button>
                    <button md-raised-button (click)="close_onClick();" style="color: #fff; background-color: #B71C1C;">Cancel</button>
                </div>
            </form>
        </div>

        <div class="cont-item recent-rooms">
            <div class="item-title">Recent Stores</div>
            <table>
                <thead>
                    <tr>
                        <th>Location</th>
                        <th>Store</th>
                        <th>Last Check-In</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody *ngIf="loginEmployee?.storeCheckIn?.length > 0">
                    <tr *ngFor="let checkIn of loginEmployee.storeCheckIn">
                        <td>{{checkIn?.minorLocationObject?.name}}</td>
                        <td>{{checkIn?.storeObject?.name}}</td>
                        <td>{{checkIn?.lastLogin | date:'medium'}}</td>
                        <td class="tblMenu">
                            <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                            <ul class="popMenu">
                                <li (click)="changeRoom(checkIn)">Switch To Room</li>
                                <li><i class="fa fa-trash tblMenu" aria-hidden="true"></i> Delete History</li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
                <tbody *ngIf="loginEmployee?.storeCheckIn == undefined || loginEmployee?.storeCheckIn.length === 0">
                    <tr>
                        <td colspan="4"><span class="fa fa-spinner fa-spin"></span> Please wait while loading recent stores checked into!</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>