<section id="presc-list">
    <div class="survery">
        <div class="row margin-top-10">
            <div class="col-sm-5 col-md-5">
                <div class="dx-field-value">
                    <dx-text-box value="Search"></dx-text-box>
                </div>
            </div>
        </div>
        <div class="row margin-top-10">
            <div class="col-sm-4 col-md-4">
                <a class="presc-anchor">PRESCRIPTION LIST</a>
            </div>
        </div>
        <div class="row margin-top-10">
            <div class="table-head">
                <div class="table-head-inner-content">
                    Date
                </div>
                <div class="table-head-inner-content" id="patient">
                    Patient
                </div>
                <div class="table-head-inner-content">
                    Clinic
                </div>
                <div class="table-head-inner-content">
                    Priority
                </div>
                <div class="table-head-inner-content" id="patient">
                    Prescriber
                </div>
                <div class="table-head-inner-content">
                    Status
                </div>
            </div>
        </div>
        <div *ngFor="let prescription of prescriptionLists">
            <div class="row">
                <a routerLink='/modules/pharmacy/prescription-list/{{prescription._id}}'>
                    <div class="table-data">
                        <div class="table-data-inner">
                            {{prescription.updatedAt}}
                        </div>
                        <div class="table-data-inner" id="patient">
                            <img class="img-circle img-responsive" src="http://placeholder.pics/svg/30" />
                            <span class="absolute">{{prescription.patient}}</span>
                        </div>
                        <div class="table-data-inner">
                            {{prescription.unit}}
                        </div>
                        <div class="table-data-inner">
                            {{prescription.priority}}
                        </div>
                        <div class="table-data-inner" id="patient">
                            <img class="img-circle img-responsive" src="http://placeholder.pics/svg/30" />
                            <span class="absolute">{{prescription.prescriber}}</span>
                        </div>
                        <div class="table-data-inner">
                            Assessed
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>