<div class="pg-subtitle">
    EXTERNAL REQUESTS
</div>
<div>
    <section id="presc-list">
        <div class="survery">
            <div class="col-xs-12 " style="padding: 0; ">
                <table cellpadding="0 " cellspacing="0 " border="0.5 ">
                    <thead>
                        <tr class="table-header ">
                            <th>
                                <i class="fa fa-sort-alpha-asc " aria-hidden="true "></i>
                                <span>Date</span>
                            </th>
                            <th>
                                <i class="fa fa-sort-alpha-asc " aria-hidden="true "></i>
                                <span>Patient</span>
                            </th>
                            <th>
                                <i class="fa fa-sort-alpha-asc " aria-hidden="true "></i>
                                <span>Doctor</span>
                            </th>
                            <th>
                                <i class="fa fa-sort-alpha-asc " aria-hidden="true "></i>
                                <span>Priority</span>
                            </th>
                            <th>
                                <i class="fa fa-sort-alpha-asc " aria-hidden="true "></i>
                                <span>Status</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="table-content " colspan="5">
                                <form [formGroup]="extRequestFormGroup">
                                    <div class="col-sm-6">
                                        <input type="search" formControlName="search" class="form-control" placeholder="APMIS ID or Name">
                                    </div>
                                    <div class="col-sm-6">
                                        <mat-form-field>
                                            <input matInput formControlName="date" [matDatepicker]="picker" placeholder="Choose a date">
                                            <mat-datepicker-toggle mdSuffix [for]="picker"></mat-datepicker-toggle>
                                            <mat-datepicker #picker></mat-datepicker>
                                        </mat-form-field>

                                        <!-- <mat-input-container>
                                            <input formControlName="date" matInput [matDatepicker]="picker" placeholder="Choose a date">
                                            <button mdSuffix [matDatepickerToggle]="picker"></button>
                                            <mat-datepicker-toggle mdSuffix [for]="picker"></mat-datepicker-toggle>
                                        </mat-input-container>
                                        <mat-datepicker #picker></mat-datepicker> -->
                                    </div>
                                </form>
                            </td>
                        </tr>
                        <tr >
                            <td class="table-content">11th Oct 2018</td>
                            <td class="table-content">Xray of the right arm</td>
                            <td class="table-content">John Wade</td>
                            <td class="table-content">Urgent</td>
                            <td class="table-content"> 
                                <!-- <span *ngIf="extRequest.status == 'completely'" style="color:forestgreen">Completely<br>Assessed</span>
                                <span *ngIf="extRequest.status == 'partly'" style="color:blue">Partly<br>Assessed</span> -->
                                <span style="color:crimson">Not<br>Assessed</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>