@import '../purchase-order/new-purchase-order/new-purchase-order.component.scss';
.sec-aa {
    box-sizing: border-box;
    border-radius: 10px;
    border: solid 1px #cacaca;
    margin-top: 10px;
    background: rgba(255, 255, 255, 85.8);
}

.sec-b {
    margin-top: 20px;
    height: 95%;
    overflow-y: scroll;
    position: relative;
    border-radius: 10px;
    border: solid 1px #cacaca;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

.btnn {
    position: relative;
    padding: 6px 12px;
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.42857143;
    white-space: nowrap;
    cursor: pointer;
    border-radius: 4px;
    color: #fff;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    align-items: center;
    margin-top: 10px;
    border-radius: 0px;
    margin-left: 1500px;
    border-radius: 8px;
}

.btnn:hover {
    border-radius: 8px;
    background: #0288D1;
    color: #fff;
}

.wrapOne {
    width: 54%;
    padding-left: 35px;
}

.mat-lg-btn {
    background: #0288D1 !important;
}

.dis {
    display: inline;
}

.wrapTwo {
    width: 40.5%;
}

.sec-c {
    max-width: 437px;
    display: flex;
    justify-content: space-around;
    float: right;
    margin: 0 auto;
    margin-top: 25px;
    box-shadow: 0px 3px 10px #ccc;
    position: relative;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

.sec-c .frm-item-wrap {
    width: 350px;
}

.sec-aa .frm-item-wrap {
    width: 450px;
}

.bottomwrap {
    display: flex;
    justify-content: space-between;
}

.summaries {
    margin-top: 10px;
}

.midwrapsect {
    align-items: center;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
}

.uploadWrap {
    width: 150px;
}

.mat-raised-button {
    background: none;
}

.navActive {
    border: 1px solid #fff;
}

.container{
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    box-sizing: border-box;
}