<div class="np-mainwrap">
    <div class="mainErr animated shake" [hidden]="mainErr">{{errMsg}}</div>
    <form [formGroup]="frm_purchaseOrder" novalidate>

        <div class="sec-a">
            <div class="wrap1">
                <div class="row">
                    <div class="frm-item-wrap">
                        <mat-select style="width: 350px;" class="example-full-width" placeholder="Store" formControlName="store">
                            <mat-option *ngFor="let store of stores" [value]="store._id">{{store.name}}</mat-option>
                        </mat-select>
                    </div>
                    <div class="frm-item-wrap">
                        <mat-select style="width: 350px;" class="example-full-width" placeholder="Supplier" formControlName="supplier">
                            <mat-option *ngFor="let supplier of suppliers" [value]="supplier._id">{{supplier.name}}</mat-option>
                        </mat-select>
                    </div>
                    <div class="frm-item-wrap">
                        <mat-select style="width: 350px;" class="example-full-width" placeholder="Order Id" formControlName="orderId">
                            <mat-option *ngFor="let order of orders" [value]="order._id">{{order.purchaseOrderNumber}}</mat-option>
                        </mat-select>
                    </div>
                </div>

                <div class="frm-item-wrap">
                    <mat-input-container>
                        <input matInput formControlName="deliveryDate" [matDatepicker]="picker" placeholder="Delivery Date (Choose a date)">
                    </mat-input-container>
                    <!-- <button mdSuffix [mdDatepickerToggle]="picker"></button> -->
                    <mat-datepicker-toggle mdSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </div>
            </div>
            <div class="wrap2">
                <div class="frm-item-wrap">
                    <mat-input-container class="example-full-width">
                        <input matInput mat-error placeholder="Invoice Number" formControlName="invoiceNo">
                    </mat-input-container>
                </div>

                <div class="frm-item-wrap">
                    <mat-input-container class="example-full-width">
                        <input type="number" matInput mat-error placeholder="Amount" formControlName="amount">
                    </mat-input-container>
                </div>
                <div class="frm-item-wrap">
                    <mat-input-container class="example-full-width">
                        <textarea matInput mat-error placeholder="Remark" formControlName="desc"></textarea>
                    </mat-input-container>
                </div>
            </div>
        </div>

        <div class="midwrapsect">
            <div (click)="flyout_toggle($event)" class="txt-link">Add Product</div>
            <!--<div class="uploadWrap">
                <dx-file-uploader selectButtonText="Select photo" labelText="" accept="image/*" uploadMode="useForm">
                </dx-file-uploader>
            </div>-->
        </div>
        <div *ngIf="flyout" class="flyout animated slideOut">
            <div class="sec-b">
                <div (click)="flyout_toggle($event)" class="slideInWrap"><i class="fa fa-arrow-circle-right pull-right" aria-hidden="true"></i></div>
                <div class="col-a">
                    <div class="filter-sect">
                        <div class="frm-item-wrap">
                            <mat-input-container class="example-full-width">
                                <input matInput mat-error placeholder="search product here..." [formControl]="searchControl">
                            </mat-input-container>
                        </div>


                        <div class="check-filterWrap">
                            <div class="frm-item-wrap chkbox-wrap">
                                <mat-checkbox [formControl]="checkAll">All</mat-checkbox>
                            </div>
                            <div class="frm-item-wrap chkbox-wrap">
                                <mat-checkbox [formControl]="myInventory">My Inventory</mat-checkbox>
                            </div>
                            <div class="frm-item-wrap chkbox-wrap">
                                <mat-checkbox [formControl]="zeroQuantity">Out of stock</mat-checkbox>
                            </div>
                            <div class="frm-item-wrap chkbox-wrap">
                                <mat-checkbox [formControl]="reOrderLevelQuantity">Re-order Level</mat-checkbox>
                            </div>
                            <div class="frm-item-wrap chkbox-wrap">
                                <mat-checkbox [formControl]="expired">Expired</mat-checkbox>
                            </div>
                        </div>
                    </div>
                    <div class="product-sect">
                        <div class="control-group" *ngFor="let group of superGroups">
                            <label *ngFor="let item of group" class="control control--checkbox">{{item.name}}
                                <div class="control__indicator"> 
                                     <mat-checkbox (change)="onProductCheckChange($event,item)" [checked]="item.checked"></mat-checkbox>
                                 </div>
                            </label>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="bottomwrap">
        <!--    <div class="summaries">
                <div class="summary">
                    <div class="s-itemLabel">Invoice Amount</div>
                    <div class="s-divider">-</div>
                    <div class="s-itemVal">&#8358; 1,200,102.00</div>
                </div>

                <div class="summary">
                    <div class="s-itemLabel">Discount</div>
                    <div class="s-divider">-</div>
                    <div class="s-itemVal">10 &#37;</div>
                </div>

                <div class="summary">
                    <div class="s-itemLabel">VAT</div>
                    <div class="s-divider">-</div>
                    <div class="s-itemVal">5 &#37;</div>
                </div>

                <div class="summary-total">
                    <div class="s-itemLabel">Total</div>
                    <div class="s-divider">-</div>
                    <div class="s-itemVal">&#8358; 1,200,102.00</div>
                </div>
            </div>-->

            <div class="sec-c">
                <div class="frm-item-wrap" style="width:50%">
                    <mat-input-container class="example-full-width">
                        <input type="number" matInput mat-error placeholder="Discount" formControlName="discount">
                    </mat-input-container>

                </div>
                <div class="frm-item-wrap" style="width:50%">
                    <mat-input-container class="example-full-width">
                        <input type="number" matInput mat-error placeholder="VAT" formControlName="vat">
                    </mat-input-container>
                </div>
            </div>
        </div>

        <div class="clear"></div>

        <div class="col-b">

            <form *ngIf="productTableForm.controls['productTableArray'].value.length > 0" [formGroup]="productTableForm">
                <div formArrayName="productTableArray" class="frmArrayWrap">
                    <div class="frmArray" *ngFor="let schedule of productTableForm.controls['productTableArray'].controls; let i = index;">
                        <div formGroupName="{{i}}">
                            <div class="prod-wrap">

                                <div class="inputWrap-productDetail">
                                    <div (click)="removeProduct(i, schedule)" class="modal-close-ico" aria-hidden="true">X</div>

                                    <div style="width: 35%;" class="frm-item-wrap">
                                        <mat-input-container class="example-full-width">
                                            <input matInput mat-error placeholder="Product" formControlName="product">
                                        </mat-input-container>
                                    </div>
                                    <div style="width: 10%;" class="frm-item-wrap">
                                        <mat-input-container class="example-full-width">
                                            <input matInput mat-error placeholder="Batch No" formControlName="batchNo">
                                        </mat-input-container>
                                    </div>
                                    
                                    <div style="width: 15%;" class="frm-item-wrap">
                                        <mat-input-container class="example-full-width">
                                            <input [step]="0.01" (change)="getCostSummary(schedule)" matInput mat-error placeholder="Cost Price" formControlName="costPrice">
                                        </mat-input-container>
                                    </div>

                                    <div style="width: 10%;" class="frm-item-wrap">
                                        <mat-input-container class="example-full-width">
                                            <input type="number" (change)="getCostSummary(schedule)" matInput mat-error placeholder="Quantity" formControlName="qty">
                                        </mat-input-container>
                                    </div>

                                    <div style="width: 10%;" class="frm-item-wrap">
                                        <mat-input-container class="example-full-width">
                                            <input formControlName="total" matInput mat-error placeholder="Total Cost">
                                        </mat-input-container>
                                    </div>

                                    <div style="width: 15%;" class="frm-item-wrap">
                                        <input matInput formControlName="expiryDate" [matDatepicker]="picker" placeholder="Expiry Date">
                                        <mat-datepicker-toggle mdSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </form>
    <div class="" style="width: 100%;height: 50px; text-align: center;">
        <button mat-raised-button (click)="cancelAll();">Reset</button>
        <button mat-raised-button class="mat-lg-btn" (click)="create(frm_purchaseOrder.valid, frm_purchaseOrder.value)" style="line-height: 1;">Done</button>
        <!-- <div (click)="cancelAll();" class="cta-1" st>
            Cancel
        </div>
        <div (click)="create(frm_purchaseOrder.valid, frm_purchaseOrder.value)" class="cta-1">
            Done
        </div> -->
    </div>
</div>