.schedule-wrap {
    background: rgba(3, 169, 244,0.03);
    padding: 5px 20px;
    box-sizing: border-box;
    margin-bottom: 10px;
}
.frm-appointment{
    display: flex;
    justify-content: space-between;
}
.sect-wrap{
    width: 33%;
}
.cta-1{
    height: 35px;
    font-size: 14px;
}
.sect-wrap .frm-item-wrap{
    width: 100%;
}