.schedule-wrap {
    padding: 5px 20px;
    box-sizing: border-box;
    margin-bottom: 10px;
}
.frm-appointment{
    display: flex;
    justify-content: space-between;
}
.sect-wrap{
    position: relative;
    width: 33%;
}
.sect-wrap .tr-act-btn {
    width: 180px;
    font-size: 12px;
    position: absolute;
    top: 90px;
}
.cta-1{
    height: 35px;
    font-size: 14px;
}
.sect-wrap .frm-item-wrap{
    width: 100%;
}