<div class="sch-wrap">
  <div class="searchproduct">
    <div class="InputGroup">
      <input class="customInput" type="text" required>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label class="customLabel"><i class="fa fa-search" aria-hidden="true"></i>Search Customer Name / APMIS ID /
        Invoice No.</label>
      <!-- <ul class="search-sugestions">
          <li class="search-sugestion"></li>
        </ul> -->
    </div>
  </div>
</div>

<div class="div-space"></div>

<div class="store-table" style="margin-top: 20px;">
  <div class="store-thead">
    <div class="store-tr">
      <div class="store-th store-td-actions">
      </div>
      <div class="config-tr-in in-tr">
        <div class="store-th">Invoices</div>
        <div class="store-th">Age</div>
        <div class="store-th">Gender</div>
        <div class="store-th">Apmis ID</div>
        <div class="store-th">Phone Number</div>
        <div class="store-th">Action</div>
      </div>
      <div class="store-th store-td-actions"></div>
    </div>
  </div>

  <div class="store-tbody">
    <div class="store-pre-tr">
      <div class="store-tr">
        <div class="store-td store-td-actions">
        </div>
        <div class="config-tr-in in-tr">
          <div class="store-td">Michael I. Bamigboye</div>
          <div class="store-td">33 years</div>
          <div class="store-td"> F </div>
          <div class="store-td">SO-6115</div>
          <div class="store-td"> 09088765433 </div>
          <div class="store-td">
            <div class="ft-btn">
              <span>Open Prescription</span>
            </div>
          </div>
        </div>
        <div class="store-td store-td-actions">
        </div>
      </div>
      <div class="store-tr">
        <div class="store-td store-td-actions">
        </div>
        <div class="config-tr-in in-tr">
          <div class="store-td">Michael I. Bamigboye</div>
          <div class="store-td">33 years</div>
          <div class="store-td"> F </div>
          <div class="store-td">SO-6115</div>
          <div class="store-td"> 09088765433 </div>
          <div class="store-td">
            <div class="ft-btn">
              <span>Open Prescription</span>
            </div>
          </div>
        </div>
        <div class="store-td store-td-actions">
        </div>
      </div>
      <div class="store-tr">
        <div class="store-td store-td-actions">
        </div>
        <div class="config-tr-in in-tr">
          <div class="store-td">Michael I. Bamigboye</div>
          <div class="store-td">33 years</div>
          <div class="store-td"> F </div>
          <div class="store-td">SO-6115</div>
          <div class="store-td"> 09088765433 </div>
          <div class="store-td">
            <div class="ft-btn">
              <span>Open Prescription</span>
            </div>
          </div>
        </div>
        <div class="store-td store-td-actions">
        </div>
      </div>
      <div class="store-tr">
        <div class="store-td store-td-actions">
        </div>
        <div class="config-tr-in in-tr">
          <div class="store-td">Michael I. Bamigboye</div>
          <div class="store-td">33 years</div>
          <div class="store-td"> F </div>
          <div class="store-td">SO-6115</div>
          <div class="store-td"> 09088765433 </div>
          <div class="store-td">
            <div class="ft-btn">
              <span>Open Prescription</span>
            </div>
          </div>
        </div>
        <div class="store-td store-td-actions">
        </div>
      </div>
      <div class="store-tr">
        <div class="store-td store-td-actions">
        </div>
        <div class="config-tr-in in-tr">
          <div class="store-td">Michael I. Bamigboye</div>
          <div class="store-td">33 years</div>
          <div class="store-td"> F </div>
          <div class="store-td">SO-6115</div>
          <div class="store-td"> 09088765433 </div>
          <div class="store-td">
            <div class="ft-btn">
              <span>Open Prescription</span>
            </div>
          </div>
        </div>
        <div class="store-td store-td-actions">
        </div>
      </div>
      <div class="store-tr">
        <div class="store-td store-td-actions">
        </div>
        <div class="config-tr-in in-tr">
          <div class="store-td">Michael I. Bamigboye</div>
          <div class="store-td">33 years</div>
          <div class="store-td"> F </div>
          <div class="store-td">SO-6115</div>
          <div class="store-td"> 09088765433 </div>
          <div class="store-td">
            <div class="ft-btn">
              <span>Open Prescription</span>
            </div>
          </div>
        </div>
        <div class="store-td store-td-actions">
        </div>
      </div>
      <div class="store-tr">
        <!-- <app-apmis-pagination></app-apmis-pagination> -->
      </div>
    </div>
  </div>
</div>