@import "../employeemanager-detailpage.component.scss";

.empLookup_status{
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 10px;
}
.empLookup_active{
    color: #43A047;
}
.empLookup_inactive{
    color: #ff2500;
}
.empLookup_name{
    color: #0D47A1;
    font-size: 16px;
}
.empLookup_apmisid{
    font-family: $font-main;
    color: #ff2500;
    font-size: 10px;
}
.empLookup_email{
    font-family: $font-main;
    color: #757575;
    font-size: 10px;
    text-decoration: underline;
}
.empLookup-sec{
    position: relative;
    width: 100%;
}