<div class="c-page-header">
    <h3 class="c-page-title">Admission waiting list</h3>
</div>
<div class="c-page-body">
    <div class="inPatients">
        <ul class="moduleNav">
            <li (click)="newAdmissionTab()" [class.moduleNav-active]="newAdmissionShow">New Admission</li>
            <li (click)="transferInTab()" [class.moduleNav-active]="transferInShow">Transfer In</li>
            <li (click)="transferOutTab()" [class.moduleNav-active]="transferOutShow">Transfer Out</li>
            <li (click)="dischargeTab()" [class.moduleNav-active]="dischargeShow">Discharge</li>
        </ul>
        <div *ngIf="newAdmissionShow" class="mod-sect-wrap">
            <div class="table-responsive">
                <table class="table table-striped no-margin" cellspacing="0" width="100%">
                    <thead>
                        <tr class="table-bordered">
                            <th style="width: 5%">No</th>
                            <th style="width: 10%">Image</th>
                            <th style="width: 30%">Name</th>
                            <th>Age</th>
                            <th>Sex</th>
                            <th>Phone Number</th>
                            <th>Clinic</th>
                            <th>To Ward</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody class="custom-tbody">
                        <tr *ngIf="listPatientAdmissionWaiting.length == 0">
                            <td colspan="9"> No data available in table</td>
                        </tr>
                        <tr *ngFor="let inPatientWaitingItem of listPatientAdmissionWaiting;let i = index">
                            <td>{{i+1}}</td>
                            <td class="patient-img text-center">
                                <div><img [src]="_inPatientListService.transform(inPatientWaitingItem.patientDetails?.personDetails.profileImageObject?.thumbnail)"></div>
                            </td>
                            <td>{{inPatientWaitingItem.patientDetails?.personDetails?.personFullName}}</td>
                            <td>{{inPatientWaitingItem.patientDetails?.personDetails?.age}}</td>
                            <td>{{inPatientWaitingItem.patientDetails?.personDetails?.gender.name}}</td>
                            <td>{{inPatientWaitingItem.patientDetails?.personDetails?.phoneNumber}}</td>
                            <td>{{inPatientWaitingItem.clinicDetails?.clinicName}}</td>
                            <td>{{inPatientWaitingItem.wardDetails.name}}</td>
                            <td>
                                <div (click)="admitPatient_onClick(inPatientWaitingItem, typeChecker)" class=" btn-1 btn-blue "><i class="fa fa-bed" aria-hidden="true "></i> Admit</div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div *ngIf="transferInShow" class="mod-sect-wrap">
            <div class="table-responsive">
                <table class="table table-striped no-margin" cellspacing="0" width="100%">
                    <thead>
                        <tr class="table-bordered">
                            <th style="width: 5%">No</th>
                            <th style="width: 10%">Image</th>
                            <th style="width: 30%">Name</th>
                            <th>Age</th>
                            <th>Sex</th>
                            <th>Phone Number</th>
                            <th>From Ward</th>
                            <th>To Ward</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody class="custom-tbody">
                        <tr *ngIf="listPatientTransferWaiting.length == 0">
                            <td colspan="9"> No data available in table</td>
                        </tr>
                        <tr *ngFor="let inPatientWaitingItem of listPatientTransferWaiting;let i = index">
                            <td>{{i+1}}</td>
                            <td class="patient-img text-center">
                                <div><img [src]="_inPatientListService.transform(inPatientWaitingItem.patientDetails?.personDetails.profileImageObject?.thumbnail)"></div>
                            </td>
                            <td>{{inPatientWaitingItem.patientDetails?.personDetails?.personFullName}}</td>
                            <td>{{inPatientWaitingItem.patientDetails?.personDetails?.age}}</td>
                            <td>{{inPatientWaitingItem.patientDetails?.personDetails?.gender.name}}</td>
                            <td>{{inPatientWaitingItem.patientDetails?.personDetails?.phoneNumber}}</td>
                            <td>{{inPatientWaitingItem.transfers[0].name}}</td>
                            <td>{{inPatientWaitingItem.transfers[0].proposeWard.ward.name}}</td>
                            <td>
                                <div (click)="transferAdmitPatient_onClick(inPatientWaitingItem, typeChecker)" class=" btn-1 btn-green"><i class="fa fa-bed" aria-hidden="true "></i> Accept</div>
                                <div (click)="onClickDeclineTransfer(inPatientWaitingItem)" class=" btn-1 btn-red"><i class="fa fa-bed" aria-hidden="true "></i> Decline</div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div *ngIf="transferOutShow" class="mod-sect-wrap">
            <div class="table-responsive">
                <table class="table table-striped no-margin" cellspacing="0" width="100%">
                    <thead>
                        <tr class="table-bordered">
                            <th style="width: 5%">No</th>
                            <th style="width: 10%">Image</th>
                            <th style="width: 30%">Name</th>
                            <th>Age</th>
                            <th>Sex</th>
                            <th>Phone Number</th>
                            <th>From Ward</th>
                            <th>To Ward</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody class="custom-tbody">
                        <tr *ngIf="listPatientTransferWaiting.length == 0">
                            <td colspan="9"> No data available in table</td>
                        </tr>
                        <tr *ngFor="let inPatientWaitingItem of listPatientTransferWaiting;let i = index">
                            <td>{{i+1}}</td>
                            <td class="patient-img text-center">
                                <div><img [src]="_inPatientListService.transform(inPatientWaitingItem.patientDetails?.personDetails.profileImageObject?.thumbnail)"></div>
                            </td>
                            <td>{{inPatientWaitingItem.patientDetails?.personDetails?.personFullName}}</td>
                            <td>{{inPatientWaitingItem.patientDetails?.personDetails?.age}}</td>
                            <td>{{inPatientWaitingItem.patientDetails?.personDetails?.gender.name}}</td>
                            <td>{{inPatientWaitingItem.patientDetails?.personDetails?.phoneNumber}}</td>
                            <td>{{inPatientWaitingItem.transfers[0].name}}</td>
                            <td>{{inPatientWaitingItem.transfers[0].proposeWard.ward.name}}</td>
                            <td class="">
                                <div (click)="cancelTransfer_onClick(inPatientWaitingItem)" class=" btn-1 btn-red"><i class="fa fa-bed" aria-hidden="true "></i> Cancel</div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div *ngIf="dischargeShow" class="mod-sect-wrap">
            <div class="table-responsive">
                <table class="table table-striped no-margin" cellspacing="0" width="100%">
                    <thead>
                        <tr class="table-bordered">
                            <th style="width: 5%">No</th>
                            <th style="width: 10%">Image</th>
                            <th style="width: 30%">Name</th>
                            <th>Age</th>
                            <th>Sex</th>
                            <th>Phone Number</th>
                            <th>Ward</th>
                            <th>Discharged Date</th>
                        </tr>
                    </thead>
                    <tbody class="custom-tbody">
                        <tr *ngIf="listPatientDischarge.length === 0">
                            <td colspan="8"> No data available in table</td>
                        </tr>
                        <tr *ngFor="let inPatientWaitingItem of listPatientDischarge;let i = index">
                            <td>{{i+1}}</td>
                            <td class="patient-img text-center">
                                <div><img [src]="_inPatientListService.transform(inPatientWaitingItem.patientDetails?.personDetails.profileImageObject?.thumbnail)"></div>
                            </td>
                            <td>{{inPatientWaitingItem.patientDetails?.personDetails?.personFullName}}</td>
                            <td>{{inPatientWaitingItem.patientDetails?.personDetails?.age}}</td>
                            <td>{{inPatientWaitingItem.patientDetails?.personDetails?.gender.name}}</td>
                            <td>{{inPatientWaitingItem.patientDetails?.personDetails?.phoneNumber}}</td>
                            <td>{{inPatientWaitingItem.transfers[0].name}}</td>
                            <td>{{inPatientWaitingItem.updatedAt}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div *ngIf="admitPatient" class="modal-overlay">
            <app-admit-patient (closeModal)="close_onClick($event)" [inpatientItem]="selectInpatient" id="form-modal" class="form-modal center-center"></app-admit-patient>
        </div>
    </div>
</div>