@import "../../../../../globals/variables.scss";
.tr-act-btn {
    width: auto;
    margin: 0;
}

.table-content {
    padding: 10px;
    text-align: center;
}

// table {
//     width: 100%;
//     position: relative;
//     border-collapse: collapse;
//     font-size: 1.2rem;
//     background: #fff;
// }
// table,
// td {
//     border: 0.5px solid $td-border;
// }
// th {
//     height: 50px;
//     background: $th-background;
//     border: 0.5px solid $th-border;
// }
// td {
//     vertical-align: center;
//     text-align: center;
//     padding: 2px;
// }
// tr:hover {
//     background-color: $tr-hover
// }
// tr:nth-child(even) {
//     background-color: $tr-stripe
// }