<div class="survery">
    <div class="">
        <div class="row">
            <div class="col-sm-4 col-md-4 col-xs-12">
                <!--<dx-select-box  placeholder="Choose" [showClearButton]="true">
                </dx-select-box>-->
            </div>
            <div class="col-sm-4 col-md-4 col-xs-12 pull-right">
                <input class="top-tab-search" type="search" placeholder="Search inventory" [formControl]="searchControl">
            </div>
        </div>
        <!--<table class="table table-striped text-center">
            <thead>
                <tr>
                    <th><i class="fa fa-sort-alpha-asc"></i>Product</th>
                    <th><i class="fa fa-sort-alpha-asc"></i>Quantity</th>
                    <th><i class="fa fa-sort-alpha-asc"></i>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngIf="inventories.length === 0">
                    <td colspan="6"> No data available in table</td>
                </tr>
                <tr *ngFor="let inventory of inventories">
                    <td>{{inventory.productObject.name}}</td>
                    <td>{{inventory.totalQuantity}}</td>
                    <td>
                        <a class="action-btn" (click)="slideInventoryDetailsToggle({}, $event)"><i class="fa fa-eye"></i></a>
                        <a class="action-btn" (click)="onSelectProduct(product)"><i class="fa fa-pencil"></i></a>
                        <a class="action-btn"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>-->

        <div class="product-parentWrap">
            <div class="prod-row prodParent-header">
                <div class="prod-rowItem item1">Product</div>
                <div class="prod-rowItem item4">Batches</div>
                <div class="prod-rowItem item2">Quantity</div>
                <!-- <div class="prod-rowItem item3">Actions</div> -->
            </div>

            <div class="prodParent-content">
                <div class="prodWrap" *ngFor="let inventory of inventories">
                    <div class="prod-row">
                        <div (click)="onShowBatch(inventory)" class="prod-rowItem item1">{{inventory.productObject.name}}</div>
                        <div (click)="onShowBatch(inventory)" class="prod-rowItem item4">{{inventory.transactions.length}}</div>
                        <div (click)="onShowBatch(inventory)" class="prod-rowItem item2">{{inventory.totalQuantity}}</div>
                        <!-- <div class="prod-rowItem item3">
                            <a class="action-btn" (click)="slideInventoryDetailsToggle(inventory)"><i class="fa fa-eye"></i></a>
                            <a class="action-btn" (click)="onSelectProduct(product)"><i class="fa fa-pencil"></i></a>
                            <a class="action-btn"><i class="fa fa-trash"></i></a>
                        </div> -->
                    </div>
                    <div *ngIf="inventory.isOpen===true && (selectedInventory._id === inventory._id)" class="prodBatch-wrap animated flipInX">
                        <div class="prodBatch-row batchHeader">
                            <div class="prodBatch-item batchItem1">Batch No</div>
                            <div class="prodBatch-item batchItem2">Expiry Date</div>
                            <div class="prodBatch-item batchItem3">Quantity</div>
                            <div class="prodBatch-item batchItem4">Actions</div>
                        </div>
                        <div class="prodBatch-row batchContent" *ngFor="let transaction of inventory.transactions">
                            <div class="prodBatch-item batchItem1">{{transaction.batchNumber}}</div>
                            <div class="prodBatch-item batchItem2">{{transaction.expiryDate | date:'shortDate'}}</div>
                            <div class="prodBatch-item batchItem3">{{transaction.quantity}}</div>
                            <div class="prodBatch-item batchItem4">
                                <div (click)="onAdjustStock(inventory,transaction)" class="btn-liner">Adjust Stock</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="slideInventoryDetails" class="inPatient-activityTimeline shadow-RB animated slideInRight">
        <div (click)="slideInventoryDetailsToggle({}, $event)" class="hide-actionWrap">
            <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
        </div>

        <div style="margin-top: 10px;">
            <!--<dx-lookup [items]="employees" [value]="" [showPopupTitle]="false">
            </dx-lookup>-->
        </div>
        <div class="timeline-active">
            <span class="text-green pull-right">Active</span>
            <!--<span class="text-red pull-right">InActive</span>-->
        </div>
        <h4 class="title">{{selectedProduct.name}}</h4>

        <div class="product-details">
            <div>
                <table>
                    <tbody>
                        <tr>
                            <td>Product Name(brand)</td>
                            <td>{{selectedProduct.name}}</td>
                        </tr>
                        <tr>
                            <td>Category</td>
                            <td>{{selectedProduct?.categoryObject?.name}}</td>
                        </tr>
                        <tr>
                            <td>Generic Name</td>
                            <td>{{selectedProduct.genericName}}</td>
                        </tr>
                        <tr>
                            <hr/>
                        </tr>
                        <tr>
                            <td>Selling Price</td>
                            <td>#20.00</td>
                        </tr>
                        <tr>
                            <td>Re-order Level</td>
                            <td>3,000</td>
                        </tr>
                        <tr>
                            <td>Re-order Qty</td>
                            <td>10,000</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <button (click)="onAdjustStock()" class="btn-liner" style="margin-top: 10px;">Adjust Stock</button>
        </div>
    </div>

    <div *ngIf="adjustStock" class="adjust-overlay">
        <div class="container" id="container-width">
            <a (click)="closeAdjustStock()" class="closebtn pull-right">&times;</a>
            <h4 class="text-center h2-margin-top"> ADJUST STOCK {{selectedInventory.productObject.name}} | {{selectedTransaction.batchNumber}} </h4>
            <div class="overlay-content">
                <form class="form-inline">
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="col-md-6 col-sm-6 col-xs-12 ">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">System Quantity</label>
                                        <input [formControl]="systemQuantity" type="number" min="0" class="form-control" id="textInput" placeholder="123">
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12 ">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Unit</label>
                                        <select class="form-control"> 
                                    <option>Packs</option>
                                    <option>Big Packs</option>
                                    <option>Small Packs</option>
                                </select>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6 margin-top-28px">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Physical Quantity</label>
                                        <input [formControl]="physicalQuantity" type="number" min="0" class="form-control" id="textInput" placeholder="123">
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12 margin-top-28px">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Unit</label>
                                        <select class="form-control"> 
                                        <option>Packs</option>
                                        <option>Big Packs</option>
                                        <option>Small Packs</option>
                                    </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <label for="exampleInputEmail1">Comment</label>
                                <textarea [formControl]="comment" type="text"> </textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 text-center margin-top-28px">
                        <button (click)="auditProduct()" class="btn btn-primary adjust-btn">Adjust Stock</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>