<div class="wrap">
    
    <div class="row">
        <div class="col-sm-4">
            <h2> Select a Product </h2>
            <apmis-lookup></apmis-lookup>
            <br><br>
            <h2> Select a Pack Type </h2>
            <ul>
                <li>
                    <div class="checkwrap">
                        <label class="container">
                            Carton
                            <input type="checkbox" [checked]="true">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                </li>
                <li>
                    <div class="checkwrap">
                        <label class="container">
                            Bundle
                            <input type="checkbox" [checked]="true">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                </li>
                <li>
                    <div class="checkwrap">
                        <label class="container">
                            Sachet
                            <input type="checkbox" [checked]="true">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-sm-8">
                <h2>
                    Selected Product
                </h2>
                <div class="row card">
                    <div class="col-xs-6">
                        <h2 style="line-height: 60px">Carton
                            <span></span>
                        </h2>
                    </div>
                    <mat-input-container class="col-xs-3">
                        <input matInput mat-error>
                    </mat-input-container>
                    <div class="col-xs-3">
                        <h2 class="action-icon">
                            <i class="fa fa-close fa-fw" style="color : red"></i>
                            <i class="fa fa-unsorted fa-fw"></i>
                        </h2>
                    </div>
                </div>
                <div class="row card">
                        <div class="col-xs-6">
                            <h2 style="line-height: 60px">Bundle
                                <span></span>
                            </h2>
                        </div>
                        <mat-input-container class="col-xs-3">
                            <input matInput mat-error>
                        </mat-input-container>
                        <div class="col-xs-3">
                            <h2 class="action-icon">
                                <i class="fa fa-close fa-fw" style="color : red"></i>
                                <i class="fa fa-unsorted fa-fw"></i>
                            </h2>
                        </div>
                    </div>
                    <div class="row card">
                            <div class="col-xs-6">
                                <h2 style="line-height: 60px">Sachet
                                    <span></span>
                                </h2>
                            </div>
                            <mat-input-container class="col-xs-3">
                                <input matInput mat-error>
                            </mat-input-container>
                            <div class="col-xs-3">
                                <h2 class="action-icon">
                                    <i class="fa fa-close fa-fw" style="color : red"></i>
                                    <i class="fa fa-unsorted fa-fw"></i>
                                </h2>
                            </div>
                        </div>
                        <div class="row card">
                                <div class="col-xs-12">
                                    <h2 style="line-height: 60px; text-align: center;">
                                        You don't have any pack type yet. 
                                    </h2>
                                </div>
                        
                            </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <button class="button"> SAVE </button>
                            </div>
                        </div>
            </div>
    </div> 
</div>