<div class="page-title">Consulting Room Manager</div>
<div class="room-wrap">
    <div class="lhsInnerFrm">
        <div class="sect-title">New Consulting Room</div>
        <div class="dx-fieldset">
            <form action="/Login" method="post">
                <div class="frmitemwrap">
                    <md-select placeholder="Location" [formControl]="locationTypeControl">
                        <md-option *ngFor="let cliniclocation of clinicLocations" [value]="cliniclocation">{{ cliniclocation.name }}</md-option>
                    </md-select>
                </div>
                <form *ngIf="locationTypeControl.value != null" [formGroup]="consultingRoomForm" class="form-horizontal" (ngSubmit)="onSubmit()">
                    <div formArrayName="consultingRoomArray" class="frmArrayWrap">
                        <div class="frmArray" *ngFor="let room of consultingRoomForm.controls['consultingRoomArray'].controls; let i = index;">
                            <div (click)="closeConsultingRoom(room, i)" class="closeIcon"><i class="fa fa-times-circle-o" aria-hidden="true"></i></div>
                            <div formGroupName="{{i}}">
                                <div>
                                    <div class="frmitemwrap">
                                        <div class="dx-field">
                                            <md-input-container class="example-full-width">
                                                 <input mdInput placeholder="Room Name" formControlName="name">
                                            </md-input-container>
                                        </div>
                                    </div>

                                    <div class="frmitemwrap">
                                        <div class="dx-field">
                                            <md-input-container class="example-full-width">
                                                 <input mdInput placeholder="Room capacity" formControlName="capacity">
                                            </md-input-container>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div *ngIf="room.readOnly == true || room.valid == true" (click)="pushNewConsultingRoom(room)" class="addFrmLink"><i class="fa fa-plus" aria-hidden="true"></i><span>Another Room</span></div>
                        </div>
                    </div>

                </form>

                <div *ngIf="consultingRoomForm.controls['consultingRoomArray'].value.length === 0 && locationTypeControl.value != null"
                    (click)="pushNewConsultingRoom(room)" class="addFrmLink"><i class="fa fa-plus" aria-hidden="true"></i><span>Another Room</span></div>
                    <button *ngIf="locationTypeControl.value != null" [disabled]="consultingRoomForm.controls['consultingRoomArray'].valid == false || consultingRoomForm.controls['consultingRoomArray'].value.length === 0"
                    md-raised-button class="apmis-blue">Create</button>
            </form>

        </div>
    </div>

    <div class="rhsInnerCArea">
        <ul>
            <li class="listHeader">
                <div class="li-Item" style="cursor: pointer;">Location<i style="padding-left: 10px;" class="fa fa-sort" aria-hidden="true"></i></div>
                <div class="li-Item" style="cursor: pointer;">Room Name<i style="padding-left: 10px;" class="fa fa-sort" aria-hidden="true"></i></div>
                <div class="li-Item" style="cursor: pointer;">Room Capacity<i style="padding-left: 10px;" class="fa fa-sort" aria-hidden="true"></i></div>
                <div class="li-cta"></div>
            </li>

            <li (click)="onSelectSchedulerManager(manager)" *ngFor="let manager of roomManager" class="li-itemWrap">
                <div class="li-Item">{{manager.minorLocationDetails.name}}</div>
                <div class="li-Item-group">
                    <div class="group-wrap" *ngFor="let room of manager.rooms">
                        <div class="group-Item">{{room.name}}</div>
                        <div class="group-Item">{{room.capacity}}</div>
                    </div>
                </div>
                <div class="li-cta">
                    <i (click)="onSelectSchedulerManager(manager)" class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </div> 
            </li>
        </ul>
    </div>
</div>