<div>
    <div class="doc-mainWrap">
        <div class="doc-contentArea">
            <div class="clinicalNoteWrap">

                <div class="actSect">
                    <div class="actSect-header">
                        <div (click)="addCompany_show()" class="act-wrap">
                            <i *ngIf="addCompany" class="fa fa-minus" aria-hidden="true"></i>
                            <i [hidden]="addCompany" class="fa fa-plus" aria-hidden="true"></i>
                            <span>Add Company</span>
                        </div>
                    </div>

                    <div class="frmNoteWrap" *ngIf="addCompany">
                        <div class="frm-title">ADD COMPANY</div>

                        <div class="frm-item-wrap">
                            <md-input-container>
                              <input mdInput placeholder="State" [mdAutocomplete]="auto" [formControl]="stateCtrl">
                            </md-input-container>

                            <md-autocomplete #auto="mdAutocomplete">
                              <md-option *ngFor="let state of filteredStates | async" [value]="state">
                                {{ state }}
                              </md-option>
                            </md-autocomplete>
                        </div>
                    </div>

                    <button *ngIf="addCompany" (click)="save()" class="cta-1">Add Company</button>
                </div>

                <div class="tblWrapa" class="actSect">
                    <table cellpadding="0" cellspacing="0" border="0.5">
                        <thead>
                            <tr>
                                <th>
                                    <i class="fa fa-sort-alpha-asc" aria-hidden="true"></i>
                                    <!--<i class="fa fa-sort-alpha-desc" aria-hidden="true"></i>-->
                                    <span style="padding-left: 3px;">Company</span>
                                </th>
                                <th>
                                    <i class="fa fa-sort-alpha-asc" aria-hidden="true"></i>
                                    <!--<i class="fa fa-sort-alpha-desc" aria-hidden="true"></i>-->
                                    <span style="padding-left: 3px;">Address</span>
                                </th>
                                <th>
                                    <i class="fa fa-sort-alpha-asc" aria-hidden="true"></i>
                                    <!--<i class="fa fa-sort-alpha-desc" aria-hidden="true"></i>-->
                                    <span style="padding-left: 3px;">Email</span>
                                </th>
                                <th>
                                    <i class="fa fa-sort-alpha-asc" aria-hidden="true"></i>
                                    <!--<i class="fa fa-sort-alpha-desc" aria-hidden="true"></i>-->
                                    <span style="padding-left: 3px;">Phone</span>
                                </th>
                                <th>Plans</th>
                                <th>No. of Beneficiaries</th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody>

                            <tr>
                                <td colspan="10">
                                    <div class="tbl-actionRow">
                                        <!-- <div class="frm-item-wrap">
                          <apmis-lookup [(ngModel)]="apmisLookupText" 
                          url="apmisLookupUrl" query="apmisLookupQuery" placeholder="Patient"
                          isSocket="false" displayKey="apmisLookupDisplayKey" 
                          (selectedItem)="apmisLookupHandleSelectedItem($event)"></apmis-lookup>
                        </div>

                        <div class="frm-item-wrap">
                          <apmis-lookup [(ngModel)]="apmisLookupText" 
                              url="apmisLookupUrl" query="apmisLookupQuery" placeholder="Practitioner"
                              isSocket="false" displayKey="apmisLookupDisplayKey" 
                              (selectedItem)="apmisLookupHandleSelectedItem($event)"></apmis-lookup>
                        </div>

                        <div class="frm-item-wrap">
                          <apmis-lookup [(ngModel)]="apmisLookupText" 
                              url="apmisLookupUrl" query="apmisLookupQuery" placeholder="Location"
                              isSocket="false" displayKey="apmisLookupDisplayKey" 
                              (selectedItem)="apmisLookupHandleSelectedItem($event)"></apmis-lookup>
                        </div> -->
                                    </div>
                                </td>
                            </tr>

                            <tr (click)="show_beneficiaries()">
                                <td>Axa Mansard</td>
                                <td>12B Alaro Alao Street, Akure, Lagos.</td>
                                <td>axamansard@gmail.com</td>
                                <td>08032323212</td>
                                <td>Gold, Silver, Bronze, Copper</td>
                                <td>230</td>
                                <td class="action-placeholder" style="text-align:center;">
                                    <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                                    <div class="action-container shadow-RB">
                                        <div (click)="showImageBrowseDlg()" class="action-item">
                                            <i class="fa fa-cloud-upload" aria-hidden="true"></i>
                                            <span>Upload Beneficiary List</span>
                                            <input style="display:none;" #fileInput type="file" id="uploadResult" (click)="onChange($event)">
                                        </div>

                                        <div class="action-item">
                                            <i class="fa fa-ban" aria-hidden="true"></i>
                                            <span>Deactivate</span>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                            <tr (click)="show_beneficiaries()">
                                <td>Axa Mansard</td>
                                <td>12B Alaro Alao Street, Akure, Lagos.</td>
                                <td>axamansard@gmail.com</td>
                                <td>08032323212</td>
                                <td>Gold, Silver, Bronze, Copper</td>
                                <td>230</td>
                                <td class="action-placeholder" style="text-align:center;">
                                    <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                                    <div class="action-container shadow-RB">
                                        <div (click)="showImageBrowseDlg()" class="action-item">
                                            <i class="fa fa-cloud-upload" aria-hidden="true"></i>
                                            <span>Upload Beneficiary List</span>
                                            <input style="display:none;" #fileInput type="file" id="uploadResult" (click)="onChange($event)">
                                        </div>

                                        <div class="action-item">
                                            <i class="fa fa-ban" aria-hidden="true"></i>
                                            <span>Deactivate</span>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                            <tr (click)="show_beneficiaries()">
                                <td>Axa Mansard</td>
                                <td>12B Alaro Alao Street, Akure, Lagos.</td>
                                <td>axamansard@gmail.com</td>
                                <td>08032323212</td>
                                <td>Gold, Silver, Bronze, Copper</td>
                                <td>230</td>
                                <td class="action-placeholder" style="text-align:center;">
                                    <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                                    <div class="action-container shadow-RB">
                                        <div (click)="showImageBrowseDlg()" class="action-item">
                                            <i class="fa fa-cloud-upload" aria-hidden="true"></i>
                                            <span>Upload Beneficiary List</span>
                                            <input style="display:none;" #fileInput type="file" id="uploadResult" (click)="onChange($event)">
                                        </div>

                                        <div class="action-item">
                                            <i class="fa fa-ban" aria-hidden="true"></i>
                                            <span>Deactivate</span>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                            <tr (click)="show_beneficiaries()">
                                <td>Axa Mansard</td>
                                <td>12B Alaro Alao Street, Akure, Lagos.</td>
                                <td>axamansard@gmail.com</td>
                                <td>08032323212</td>
                                <td>Gold, Silver, Bronze, Copper</td>
                                <td>230</td>
                                <td class="action-placeholder" style="text-align:center;">
                                    <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                                    <div class="action-container shadow-RB">
                                        <div (click)="showImageBrowseDlg()" class="action-item">
                                            <i class="fa fa-cloud-upload" aria-hidden="true"></i>
                                            <span>Upload Beneficiary List</span>
                                            <input style="display:none;" #fileInput type="file" id="uploadResult" (click)="onChange($event)">
                                        </div>

                                        <div class="action-item">
                                            <i class="fa fa-ban" aria-hidden="true"></i>
                                            <span>Deactivate</span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>