<div class="modal-baseWrap animated pulse">

    <div (click)="close_onClick()" aria-hidden="true" class="modal-close-ico">X</div>
    <legend class="modal_title">Add Profession</legend>
    <div class="modal_mini_title">All Purpose Medical Information System</div>
    <div class="mainErr animated shake" hidden="">you have unresolved errors</div>

    <div class="f_sg_1">

    <form [formGroup]="frm_profession" novalidate>
        <div class="">
          <div class="">
            <!--<small class="alert-label" [hidden]="frm_profession.controls.profession.valid || frm_profession.controls.profession.pristine">
                Kindly supply the professon name.
              </small>
            <span class="frm-label">Profession</span>
            <input type="text"  autocomplete="off" style="width:350px">-->
             <md-input-container class="example-full-width">
                <input mdInput placeholder="Profession">
                <md-hint align="end" [hidden]="frm_profession.controls.profession.valid || frm_profession.controls.profession.pristine">
                  Kindly supply a profession.
                </md-hint>
              </md-input-container>
          </div>
        </div>
        <div class="">
            <div class="">
              <!--<small class="alert-label" [hidden]="frm_profession.controls.level.valid || frm_profession.controls.level.pristine">
                  Kindly supply a level.
              </small>
              <span class="frm-label">Level</span>
              <input type="text"  autocomplete="off" style="width:350px">-->
              <md-input-container class="example-full-width">
                <input mdInput placeholder="Level">
                <md-hint align="end" [hidden]="frm_profession.controls.level.valid || frm_profession.controls.level.pristine">
                  Kindly supply a level.
                </md-hint>
              </md-input-container>
            </div>
        </div>
        <div  class="cta-1">
            Add
          </div>
    </form>
  </div>

            <div class="example-full-width" id="example-full-width">
                <button class="apmis-blue" md-raised-button>Add</button>
            </div>
        </form>
    </div>

</div>