@import '../lab-requests/lab-requests.component.scss';
.text-center {
    text-align: center;
}

.frm-l table,
.frm-r table {
    border-collapse: collapse;
}

.frm-l table,
.frm-l td,
.frm-r table,
.frm-r td {
    border: 0px solid transparent;
}

.frm-l td,
.frm-r td {
    vertical-align: center;
    text-align: left;
    padding: 2px;
}

.frm-l th,
.frm-r th {
    height: 50px;
    background: transparent;
    border: 0px solid transparent;
    text-align: left;
}

.frm-l td,
.frm-r td {
    padding: 5px;
}

.doc-mainWrap {
    margin-bottom: 100px;
}

.listWrap {
    background: #f8f8f8;
    padding: 10px;
    height: 187px;
    overflow-y: auto;
}

.list-title {
    font-size: 12px;
    margin: 14px 0;
}

.list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}

.list-label {
    width: 80%;
    text-align: left;
    color: #000;
}

.tab-key {
    display: flex;
    justify-content: flex-start;
}

.act-wrap {
    margin-right: 5px;
    border: 5px solid transparent;
    padding: 5px;
}

.actWrap-active,
.act-wrap:hover {
    background: #f8f8f8;
    border: 5px solid #fff;
}

.investigation {
    background: #fff;
    border: 1px solid transparent;
    margin-bottom: 10px;
}

.investigation:hover {
    border: 1px solid #eee;
}

.panel-wrap {
    margin-bottom: 10px;
    background: #fff;
    padding: 2px;
}

.panel-wrap:hover {
    .child-list {
        display: block;
    }
}

.panel {
    background: #eee;
    cursor: pointer;
    border: 1px solid transparent;
}

.panel:hover {
    border: 1px solid #fff;
}

.child-list {
    display: none;
}

.child-item {
    font-size: 12px;
    margin: 5px;
    margin-left: 15px;
    color: #777;
}

.lone-input {
    background: #f8f8f8;
    padding: 0px 20px;
    margin: 10px 0;
    border-radius: 10px;
}

.frm-l {
    width: 38%;
    padding: 0;
    border: 1px solid #bebebe;
    border-radius: 10px;
}

.frm-r {
    width: 59%;
    padding: 5px;
}

.frm-l .frm-item-wrap {
    background: #f8f8f8;
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
    border-radius: 10px 10px 0 0;
}

.tbl-panel {
    border-top: 5px solid #fff;
    border-bottom: 5px solid #fff;
}

.panel-label {
    background-color: #B9F6CA !important;
}

.panel-foot {
    color: transparent;
    background-color: #B9F6CA !important;
}

.selected-patient-wrap {
    width: 100%;
}

.sel-patient-img {
    width: 40%;
    margin: 10px auto;
}

.sel-patient-img img {
    width: 100%;
}

.sel-patient-name {
    font-family: "Josefin Sans", sans-serif;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    font-size: 22px;
    color: #5f5f5f;
}

.sel-patient-detaills {
    display: flex;
    justify-content: space-between;
    margin: 10px auto;
    width: 100%;
    flex-wrap: wrap;
    font-size: 12px;
    color: #000;
    background: #FFE0B2;
    padding: 10px;
    box-sizing: border-box;
}

.sel-patient-detaills div {
    width: 40%;
    margin: 2px;
    margin-right: 5px;
}

.pending-req-wrap {
    max-height: 230px;
    overflow-y: auto;
    margin: 0 auto;
    margin-top: 20px;
    width: 98%;
}

.tab-title {
    color: #ff2500;
    border-bottom: 1px solid #ff2500;
    font-size: 16px;
    text-align: center;
}

td .mat-select {
    height: 23px;
}

.initial-contenet {
    margin-bottom: 10px;
    background: #f8f8f8;
    padding: 5px 20px;
}

.lettering-wrap {
    margin-top: 20px;
}

.report-title {
    display: flex;
    justify-content: space-between;
    font-family: "Josefin Sans", sans-serif;
    font-size: 18px;
    color: #0288D1;
    border-bottom: 1px solid #bebebe;
    margin-bottom: 5px;
}

.report-title .action {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8px;
    color: #bebebe;
    cursor: pointer;
    padding: 2px 8px;
    border: 1px solid transparent;
}

.report-title .action:hover {
    border: 1px solid #bebebe;
    color: #000;
}

.invstn-vals {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    color: #000;
}

.invstn-vals .frm-item-wrap {
    min-width: 240px;
}

.initial-val {
    color: #000;
    font-size: 12px;
    line-height: 1.5;
    padding-left: 20px;
    margin-bottom: 20px;
}

.invstn-wrap {
    padding: 2px 10px;
    border: 1px solid #bebebe;
    margin-bottom: 20px;
}

.frmNoteWrap {
    padding-left: 5px;
    padding-bottom: 5px;
}

.act-actions-wrap {
    display: flex;
    justify-content: space-between;
}

.act-right-actions {
    display: flex;
    font-size: 12px;
    justify-content: flex-end;
    align-items: center;
}

.act-right-actions .action-item {
    margin-left: 10px;
}

.act-right-actions .action-item:hover {
    background: #fff;
}

.resultSect-title {
    margin-top: 20px;
    color: #777;
    font-size: 14px;
    margin-bottom: 2px;
}

.no-selected-patient-wrap {
    padding: 20px;
    text-align: center;
}

.frm-container-l {
    width: 100%;
}

.frm-container-r {
    display: none;
}

.table-content {
    padding: 10px;
}