@import "../documentation-detail/documentation-detail.component.scss";

.frmNoteWrap{
    background: #fff;
    width: 90%;
    margin: 0 auto;
    padding: 3px;
    box-sizing: border-box;
}
.modal_title{
    padding-top: 10px;
    font-size: 16px;
}