@import "../documentation-detail/documentation-detail.component.scss";
.frmNoteWrap {
    position: relative;
    background: #fff;
    width: 90%;
    margin: 0 auto;
    padding: 3px;
    box-sizing: border-box;
}

.modal_title {
    padding-top: 10px;
    font-size: 16px;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 20px;
}

.jsonFrnWrap {
    position: relative;
}

.actWrappers-jsonFrm {
    position: absolute;
    bottom: 21px;
    right: 10px;
    display: flex;
}

.atch-orderSet {
    font-size: 12px;
    cursor: pointer;
    color: #0288D1;
    margin-right: 10px;
}

.atch-orderSet:hover,
.links-ul li:hover {
    text-decoration: underline;
}

.links-ul {
    position: absolute;
    top: 105px;
    right: 5px;
    font-size: 12px;
    cursor: pointer;
    color: #0288D1;
}

.tags {
    border: 1px solid #0288D1;
    padding: 3px 5px;
    cursor: pointer;
    border-radius: 7px;
    margin: 5px;
    color: #0288D1;
    background: #fff;
    font-size: 10px;
}

.order-set {
    padding: 10px;
    .tbl-listWrap {
        .sect-title {
            font-size: 12px;
            font-weight: bold;
            padding: 5px;
        }
    }
}