<div class="pg-subtitle">SUMMARY</div>
<!-- <div class="menuSummary">
  <div class="patientPage-subSect">
    <div *ngIf="subsect_biodata" class="subsect-group">
      <div class="subsect-title">Bio Data</div>
      <div class="subsect-contentWrap">

        <div class="subsect-itemWrap">
          <div class="subsect-label">First Name</div>
          <div class="subsect-val">{{patient?.personDetails.firstName}}</div>
        </div>

        <div class="subsect-itemWrap">
          <div class="subsect-label">Last Name</div>
          <div class="subsect-val">{{patient?.personDetails.lastName}}</div>
        </div>

        <div class="subsect-itemWrap">
          <div class="subsect-label">Gender</div>
          <div class="subsect-val">{{patient?.personDetails.gender.name}}</div>
        </div>

        <div class="subsect-itemWrap">
          <div class="subsect-label">Age</div>
          <div class="subsect-val">{{patient?.personDetails.age}} Years</div>
        </div>

        <div class="subsect-itemWrap">
          <div class="subsect-label">Address</div>
          <div class="subsect-val">{{patient?.personDetails?.homeAddress?.street}} {{patient?.personDetails?.addressObj?.city}} {{patient?.personDetails?.addressObj?.state}}
            {{patient?.personDetails?.addressObj?.country}}.
          </div>
        </div>

        <div class="subsect-itemWrap">
          <div class="subsect-label">Mobile</div>
          <div class="subsect-val">{{patient?.personDetails?.phoneNumber}}</div>
        </div>

        <div class="subsect-itemWrap">
          <div class="subsect-label">Email</div>
          <div class="subsect-val">{{patient?.personDetails?.email}}</div>
        </div>

      </div>
    </div>

    <div *ngIf="subsect_contacts" class="subsect-group">
      <div class="subsect-title">Contacts</div>
      <div class="subsect-contentWrap">

        <div class="subsect-itemGroupWrap">
          <div *ngFor="let kin of patient?.personDetails?.nextOfKin" class="subsect-itemGroup">
            <div class="subsect-itemWrap">
              <div class="subsect-label">Full Name</div>
              <div class="subsect-val">{{kin.fullName}}</div>
            </div>

            <div class="subsect-itemWrap">
              <div class="subsect-label">Address</div>
              <div class="subsect-val">{{kin.address}}.</div>
            </div>

            <div class="subsect-itemWrap">
              <div class="subsect-label">Mobile</div>
              <div class="subsect-val">{{kin.phoneNumber}}</div>
            </div>
            <div class="subsect-itemWrap">
              <div class="subsect-label">Email</div>
              <div class="subsect-val">{{kin.email}}</div>
            </div>
            <div class="subsect-itemWrap">
              <div class="subsect-label">Relationship</div>
              <div class="subsect-val">Brother</div>
            </div>
            <div class="isNOK">Next of Kin</div>
          </div>
        </div>
      </div>
    </div>

    <div class="sect-bottomMenuWrap">
      <div (click)="subsect_biodata_click()" [class.bottomMenuItem-active]="subsect_biodata" class="bottomMenuItem">Basic Info</div>
      <div (click)="subsect_contacts_click()" [class.bottomMenuItem-active]="subsect_contacts" class="bottomMenuItem">Contacts</div>
    </div>
  </div>

  <div class="patientPage-subSect">
    <div *ngIf="subsect_vitals" class="subsect-group">
      <div class="subsect-title">Vital Signs</div>
      <div class="subsect-contentWrap">
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>Date Time</th>
              <th>Taken By</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let documentation of documentations;let i = index">
              <th scope="row">{{i+1}}</th>
              <td>{{documentation.createdAt|date}}</td>
              <td><img [src]="_documentationService.transform(documentation?.employeeDetails?.employeeDetails?.profileImageObject?.thumbnail)"></td>
            </tr>
          </tbody>
        </table>
        <div class="subsect-itemGroupWrap subsect-itemGroupWrap-vitals">
          <div class="subsect-itemGroup">
            <div class="subsect-itemWrap subsect-itemWrap-vitals" *ngFor="let documentation of documentations">
              <div class="subsect-label">{{documentation.createdAt|date}}</div>
              <div class="medicWrap">
                <div class="subsect-val medic-data">
                  {{documentation.document|json}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="sect-prebottomMenuWrap">
      <div (click)="addVitalsPop_show()" class="bottomMenuItem"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add Vitals</div>
    </div>

    <div class="sect-bottomMenuWrap">
      <div (click)="subsect_vitals_click()" [class.bottomMenuItem-active]="subsect_vitals" class="bottomMenuItem">Vital Signs</div>
      <div (click)="subsect_contacts_click()" [class.bottomMenuItem-active]="subsect_contacts" class="bottomMenuItem">Contacts</div>
    </div>
  </div>
  <div class="patientPage-subSect">
    <div class="subsect-title">Patient Tags</div>

    <div class="tags-wrap">
      <div class="tag-item shadow-RB">Children</div>
      <div class="tag-item shadow-RB">VIP</div>
    </div>

    <div class="sect-prebottomMenuWrap">
      <div (click)="addTagsPop_show()" class="bottomMenuItem"><i class="fa fa-plus-circle" aria-hidden="true"></i> Edi Tags</div>
    </div>

    <div class="sect-bottomMenuWrap">
      <div (click)="subsect_tags_click()" [class.bottomMenuItem-active]="subsect_tags" class="bottomMenuItem">Tags</div>
    </div>
  </div>
  <div class="patientPage-subSect">
    <div class="subsect-title">Bio Data</div>
  </div>
  <div *ngIf="addVitalsPop" class="modal-overlay">
    <app-add-vitals [patientId]="patient._id" (closeModal)="close_onClick($event)" id="form-modal" class="form-modal center-center"></app-add-vitals>
  </div>
</div> -->

<div class="doc-mainWrap">
    <div class="doc-contentArea">
        <div class="doc-cardWrap">
            <div class="doc-card2">
                <div class="modal_title">Bio Data</div>
                <div class="docCard-header">
                    <div>
                        <div class="val-tag">Apmis ID</div>
                        <div class="list-label">{{patient?.personDetails.apmisId}}</div>
                    </div>

                    <div>
                        <div class="val-tag">Age</div>
                        <div class="list-label">{{patient?.personDetails.age}} Years</div>
                    </div>

                    <div>
                        <div class="val-tag">Account Balance</div>
                        <div class="list-label">
                            <span class="{{ patient?.personDetails?.wallet?.balance > 0 ? 'text-blue' : 'accBal-val'}}">
                          &#8358; {{patient?.personDetails?.wallet?.balance}}
                        </span>
                        </div>
                    </div>
                </div>

                <div class="docCard-body">
                    <div class="body-divide">
                        <div class="subsect-itemWrap">
                            <div class="subsect-label">First Name</div>
                            <div class="subsect-val">{{patient?.personDetails.firstName}}</div>
                        </div>

                        <div class="subsect-itemWrap">
                            <div class="subsect-label">Last Name</div>
                            <div class="subsect-val">{{patient?.personDetails.lastName}}</div>
                        </div>

                        <div class="subsect-itemWrap">
                            <div class="subsect-label">Gender</div>
                            <div class="subsect-val">{{patient?.personDetails.gender.name}}</div>
                        </div>

                        <div class="subsect-itemWrap">
                            <div class="subsect-label">Date of Birth</div>
                            <div class="subsect-val">{{patient?.personDetails.dateOfBirth | date}}</div>
                        </div>
                    </div>

                    <div class="body-divide">

                        <div class="subsect-itemWrap">
                            <div class="subsect-label">Address</div>
                            <div class="subsect-val">{{patient?.personDetails?.homeAddress?.street}} {{patient?.personDetails?.addressObj?.city}} {{patient?.personDetails?.addressObj?.state}} {{patient?.personDetails?.addressObj?.country}}.
                            </div>
                        </div>

                        <div class="subsect-itemWrap">
                            <div class="subsect-label">Mobile</div>
                            <div class="subsect-val">{{patient?.personDetails?.phoneNumber}}</div>
                        </div>

                        <div class="subsect-itemWrap">
                            <div class="subsect-label">Email</div>
                            <div class="subsect-val">{{patient?.personDetails?.email}}</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="doc-card2">
                <div class="modal_title">Vital Signs <i (click)="addVitals_show($event)" class="fa fa-plus-circle" aria-hidden="true"></i></div>
                <div class="row">
                    <div class="col-md-6">
                        <div style="display: block;">
                            <canvas baseChart style="width:100%;" height="300" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType" (chartHover)="chartHovered($event)"
                                (chartClick)="chartClicked($event)"></canvas>
                        </div>
                    </div>
                </div>
            </div>

            <div class="doc-card2">
                <div class="modal_title">Contact Persons</div>

                <div class="docCard-body">
                    <div *ngFor="let kin of patient?.personDetails?.nextOfKin" class="nok-wrap">
                        <div class="body-divide">
                            <div class="subsect-itemWrap">
                                <div class="subsect-label">Full Name</div>
                                <div class="subsect-val">{{kin.fullName}}</div>
                            </div>

                            <div class="subsect-itemWrap">
                                <div class="subsect-label">Address</div>
                                <div class="subsect-val">{{kin.address}}.</div>
                            </div>

                            <div class="subsect-itemWrap">
                                <div class="subsect-label">Mobile</div>
                                <div class="subsect-val">{{kin.phoneNumber}}</div>
                            </div>
                        </div>

                        <div class="body-divide">

                            <div class="subsect-itemWrap">
                                <div class="subsect-label">Email</div>
                                <div class="subsect-val">{{kin.email}}</div>
                            </div>

                            <div class="subsect-itemWrap">
                                <div class="subsect-label">Relationship</div>
                                <div class="subsect-val">Brother</div>
                            </div>
                            <div class="isNOK shadow">Next of Kin</div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="doc-rArea">
        <app-right-tab [patient]="patient" (addProblem)="addProblem_show($event)" (addAllergy)="addAllergy_show($event)" (addHistory)="addHistory_show($event)" (addVitals)="addVitals_show($event)"></app-right-tab>
    </div>

    <div *ngIf="addProblem_view" class="modal-overlay">
        <app-add-patient-problem [patient]="patient" (closeModal)="close_onClick($event)" id="form-modal" class="form-modal center-center"></app-add-patient-problem>
    </div>

    <div *ngIf="addAllergy_view" class="modal-overlay">
        <app-add-allergy [patient]="patient" (closeModal)="close_onClick($event)" id="form-modal" class="form-modal center-center"></app-add-allergy>
    </div>

    <div *ngIf="addHistory_view" class="modal-overlay">
        <app-add-history (closeModal)="close_onClick($event)" id="form-modal" class="form-modal center-center"></app-add-history>
    </div>

    <div *ngIf="addVitals_view" class="modal-overlay">
        <app-add-vitals (closeModal)="close_onClick($event)" id="form-modal" [patient]="patient" class="form-modal center-center"></app-add-vitals>
    </div>
</div>