@import '../product-manager/product-manager.component.scss';
.content-sec-ico {
    top: 0px;
}

.c-page-wrapper {
    border: 0;
}

.inner-page-wrap {
    margin-top: 40px !important;
}

.switch-store {
    position: absolute;
    right: 0;
    top: 59px;
    z-index: 10;
    border-radius: 0;
    margin-right: 21px;
    color: #F5F5F5;
}

.switch-store:hover {
    color: #000000;
}

.navActive {
    border: 1.5px solid #fff;
}

.navActive.active {
    border: 1.5px solid #fff;
}

.btning-purchase {
    border: 1px solid #0288d1;
}

.small-btn {
    color: #fff;
}

.small-btn:hover {
    background: royalblue;
    cursor: pointer;
    color: black;
}