<div class="mainErr animated shake" [hidden]="mainErr">{{errMsg}}</div>
<div *ngIf="sg1_show" class="f_sg1">

    <form [formGroup]="facilityForm1" novalidate>

      <div class="lhs">
        <div class="frm-item-wrap">
            <md-input-container class="example-full-width">
                <input mdInput md-error placeholder="Facility Name" formControlName="facilityname" value="inputFacility.name">
            </md-input-container>
        </div>
        <div class="frm-item-wrap">
            <md-input-container class="example-full-width">
                <input mdInput md-error placeholder="Facility Short Name" formControlName="facilityalias" value="inputFacility.shortName">
            </md-input-container>
        </div>
        <div class="frm-item-wrap">
            <md-select placeholder="Type of Facility"  formControlName="facilitytype" (change)="onFacilityTypeChange($event.value._id)">
                <md-option *ngFor="let item of facilityTypes" selected="inputFacility.facilityTypeId" [value]="item">{{item.name}}</md-option>
            </md-select>
        </div>
        <div class="frm-item-wrap">
            <md-select placeholder="Facility Category"  formControlName="facilitycategory">
                <md-option *ngFor="let item of selectedFacilityType?.facilityClasses"  [value]="item._id">{{item.name}}</md-option>
            </md-select>
        </div>
      </div>

      <div class="rhs">
        <div class="frm-item-wrap">
            <md-select placeholder="Facility Ownership"  formControlName="facilityownership">
                <md-option *ngFor="let item of ownerships" [value]="item._id">{{item.name}}</md-option>
            </md-select>
        </div>
        <div class="frm-item-wrap">
            <md-input-container class="example-full-width">
                <input type="email" mdInput md-error placeholder="Facility Email" formControlName="facilityemail" value="inputFacility.email">
            </md-input-container>
        </div>
        <div class="frm-item-wrap">
            <md-input-container class="example-full-width">
                <input type="url" mdInput md-error placeholder="Official Website" formControlName="facilitywebsite" value="inputFacility.website">
            </md-input-container>
        </div>
        <div class="frm-item-wrap">
            <md-select placeholder="Select Country"  formControlName="facilitycountry">
                <md-option *ngFor="let item of countries" selected="inputFacility.address.country" [value]="item._id">{{item.name}}</md-option>
            </md-select>
        </div>

      </div>

      <div class="clear"></div>

      <div (click)="facilitySetup1(facilityForm1.valid, facilityForm1.value, selectedCountry.value)" class="cta-1">
        CONTINUE
      </div>

    </form>
</div>
<app-contact-info *ngIf="sg1_1_show" (closeModal)="close_onClick($event)" [inputFacility] = "inputFacility"></app-contact-info>
  