<div class="home-main" style="margin-top: 30px;">
  <ul class="hm-tabs">
    <li (click)="tab_click('product')" [class.hm-tab-active]='tab_all_products' class="hm-tab">All Products</li>
    <li (click)="tab_click('productConfig')" [class.hm-tab-active]='tab_product_config' class="hm-tab">Product
      Configuration</li>
    <div class="btnContainer">
      <div class="st-btn">
        <i class="fa fa-plus" aria-hidden="true"></i>
        <span>Add New Store</span>
      </div>
    </div>
  </ul>

  <div class="tab-content" *ngIf="tab_all_products">
    <div class="filterTop">
      <div class="searchproduct">
        <mat-form-field>
          <input matInput placeholder="Search Product">
        </mat-form-field>
      </div>
      <div class="tbl-header-rhs">
        <div>
            <h3>Show:</h3>
        </div>        
        <div class="ft-btn ft-btn-selected">
          <span>All</span>
        </div>
        <div class="ft-btn">
          <span>Expire: This Week</span>
        </div>
        <div class="ft-btn">
          <span>Expired</span>
        </div>
        <div class="ft-btn">
          <span>Below Re-Order Level</span>
        </div>
        <div class="ft-btn">
          <span>Out of Stock</span>
        </div>
        <div class="ft-btn">
          <span>High Consumption Rate</span>
        </div>
      </div>
    </div>
    <app-all-products> </app-all-products>
  </div>
</div>

