<div class="head">
  <div class="wallet-summary">
    <div class="summary-item">
      <div class="item-label">Total Balance</div>
      <div class="item-val"><span>&#x20a6;</span> 300,000</div>
    </div>
    <div class="summary-item">
      <div class="item-label">Ledger Balance</div>
      <div class="item-val"><span>&#x20a6;</span> 300,000</div>
    </div>
    <div class="summary-item">
      <div class="item-label">Available Balance</div>
      <div class="item-val"><span>&#x20a6;</span> 300,000</div>
    </div>
  </div>
  <div class="head-others">kjj</div>
</div>
