<div class="animated pulse">
    <div class="modal-header-wrap">
        <div (click)="close_onClick()" class="modal-close-ico" aria-hidden="true">X</div>
        <legend class="modal_title">Basic Info</legend>
        <div class="modal_mini_title">All Purpose Medical Information System</div>
    </div>
    <div class="modal-baseWrap">

        <div class="">
            <!-- <i class="fa fa-pencil-square-o card-edit" aria-hidden="true"></i> -->
            <div class="card-title">Basic Data</div>

            <table cellpadding="0" cellspacing="0" border="0.5">
                <tbody>
                    <tr>
                        <td>Gender</td>
                        <td>{{selectedPerson.gender}}</td>
                    </tr>
                    <tr>
                        <td>Marital Status</td>
                        <td>{{selectedPerson?.maritalStatus}}</td>
                    </tr>
                    <tr>
                        <td>Mothers Maiden Name</td>
                        <td>{{selectedPerson?.motherMaidenName}}</td>
                    </tr>
                    <tr>
                        <td>Date of Birth</td>
                        <td>{{selectedPerson?.dateOfBirth | date:'shortDate'}}</td>
                    </tr>
                    <tr>
                        <td>Primary Contact</td>
                        <td>{{selectedPerson?.primaryContactPhoneNo}}</td>
                    </tr>
                    <tr>
                        <td>Secondary Contact</td>
                        <td>{{selectedPerson?.primaryContactPhoneNo}}</td>
                    </tr>
                    <tr>
                        <td>Nationality</td>
                        <td>{{selectedPerson?.nationality}}</td>
                    </tr>
                    <tr>
                        <td>State of Origin</td>
                        <td>{{selectedPerson?.stateOfOrigin}}</td>
                    </tr>
                    <tr>
                        <td>LGA</td>
                        <td>{{selectedPerson?.lgaOfOrigin}}</td>
                    </tr>
                    <tr>
                        <td>Residential Address</td>
                        <td>{{selectedPerson?.homeAddress?.street}}, {{selectedPerson?.homeAddress?.city}}, {{selectedPerson?.homeAddress?.lga}}, {{selectedPerson?.homeAddress?.state}}, {{selectedPerson?.homeAddress?.country}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="">
            <!-- <i class="fa fa-pencil-square-o card-edit" aria-hidden="true"></i> -->
            <div class="card-title">Next of Kin</div>

            <table cellpadding="0" cellspacing="0" border="0.5">
                <tbody>
                    <tr *ngFor="let kin of selectedPerson.nextOfKin">
                        <td>kin.fullName</td>
                        <td>
                            <div>{{kin.phoneNumber}}</div>
                            <div>{{kin.email}}</div>
                            <div>{{kin.address}}</div>
                            <div>{{kin.relationship}}</div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>