<div class="modal-baseWrap animated pulse">

    <div (click)="close_onClick()" class="modal-close-ico" aria-hidden="true">X</div>
    <legend class="modal_title">New Employee</legend>
    <div class="modal_mini_title">All Purpose Medical Information System</div>
    <div class="mainErr animated shake" [hidden]="mainErr">{{errMsg}}</div>

    <div *ngIf="apmisId_show" class="newEmp-idWrap">
        <input type="text" placeholder="Employee's Apmis ID'" [formControl]="newEmpIdControl">
        <div class="gen_idWrap">Employee has no <strong>apmis ID</strong>? <span (click)="newPerson1_show()">Generate New ID</span></div>
        <div (click)="empApmisID()" class="btn-1 btn-blue">Add Employee</div>
    </div>

    <div *ngIf="frmNewPerson1_show">

        <form [formGroup]="frmNewEmp1" novalidate>

            <div class="lhs">

                <div class="frm-item-wrap">
                    <i class="fa fa-bullseye" aria-hidden="true"></i>
                    <md-select placeholder="Title" formControlName="empTitle" (change)="onEmpTitleChange($event.value)">
                        <md-option *ngFor="let item of titles" [value]="item._id">{{item.name}}</md-option>
                    </md-select>
                </div>

                <div class="frm-item-wrap">
                    <i class="fa fa-building-o" aria-hidden="true"></i>
                    <md-input-container class="example-full-width">
                        <input mdInput type="text" placeholder="First Name" formControlName="empFirstName">
                    </md-input-container>
                </div>

                <div class="frm-item-wrap">
                    <i class="fa fa-circle-o" aria-hidden="true"></i>
                    <md-input-container class="example-full-width">
                        <input mdInput type="text" placeholder="Other Names" formControlName="empOtherNames">
                    </md-input-container>
                </div>

                <div class="frm-item-wrap">
                    <i class="fa fa-building-o" aria-hidden="true"></i>
                    <md-input-container class="example-full-width">
                        <input mdInput type="text" placeholder="Sur Name" formControlName="empLastName">
                    </md-input-container>
                </div>
                <div class="frm-item-wrap">
                    <i class="fa fa-building-o" aria-hidden="true"></i>
                    <md-input-container class="example-full-width">
                        <input mdInput type="text" placeholder="File Number" formControlName="fileNumber">
                    </md-input-container>
                </div>

                <div class="frm-item-wrap">
                    <i class="fa fa-venus-mars" aria-hidden="true"></i>
                    <md-select placeholder="Gender" formControlName="empGender" (change)="onEmpGenderChange($event.value)">
                        <md-option *ngFor="let item of genders" [value]="item._id">{{item.name}}</md-option>
                    </md-select>
                </div>
            </div>

            <div class="rhs">

                <div class="frm-item-wrap">
                    <i class="fa fa-bullseye" aria-hidden="true"></i>
                    <md-select placeholder="Nationality" formControlName="empNationality" (change)="onEmpNationalityChange($event.value)">
                        <md-option *ngFor="let item of countries" [value]="item">{{item.name}}</md-option>
                    </md-select>
                </div>

                <div class="frm-item-wrap">
                    <i class="fa fa-bullseye" aria-hidden="true"></i>
                    <md-select placeholder="State of Origin" formControlName="empState" (change)="onEmpStateChange($event.value)">
                        <md-option *ngFor="let item of states" [value]="item">{{item.name}}</md-option>
                    </md-select>
                </div>

                <div class="frm-item-wrap">
                    <i class="fa fa-bullseye" aria-hidden="true"></i>
                    <md-select placeholder="LGA" formControlName="empLga" (change)="onEmpLgaChange($event.value)">
                        <md-option *ngFor="let item of lgs" [value]="item._id">{{item.name}}</md-option>
                    </md-select>
                </div>

                <div class="frm-item-wrap">
                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                    <md-input-container class="example-full-width">
                        <input mdInput type="email" placeholder="Email Address" formControlName="empEmail">
                    </md-input-container>
                </div>

                <div class="frm-item-wrap">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    <md-input-container class="example-full-width">
                        <input mdInput type="tel" placeholder="Contact Number" formControlName="empPhonNo">
                    </md-input-container>
                </div>

            </div>

            <div class="clear"></div>

            <div (click)="back_empApmisID()" class="backBtn"><i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i>Go Back</div>

            <div (click)="newPerson1(frmNewEmp1.valid, frmNewEmp1.value)" class="cta-1">
                CONTINUE
            </div>

        </form>
    </div>

    <div *ngIf="frmNewPerson2_show">

        <form [formGroup]="frmNewEmp2" novalidate>

            <div class="lhs">

                <div class="frm-item-wrap">
                    <i class="fa fa-bullseye" aria-hidden="true"></i>                  
                    <md-select placeholder="Marital Status" formControlName="empMaritalStatus" (change)="onEmpMaritalStatusChange($event.value)">
                        <md-option *ngFor="let item of maritalStatuses" [value]="item._id">{{item.name}}</md-option>
                    </md-select>
                </div>

                <div class="frm-item-wrap">
                    <i class="fa fa-location-arrow" aria-hidden="true"></i>
                    <md-select placeholder="Country (Residence)" formControlName="empCountry">
                        <md-option *ngFor="let item of countries" [value]="item">{{item.name}}</md-option>
                    </md-select>
                </div>

                <div class="frm-item-wrap">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    <md-select placeholder="State (Residence)" formControlName="empContactState">
                        <md-option *ngFor="let item of contactStates" [value]="item">{{item.name}}</md-option>
                    </md-select>
                </div>

            </div>

            <div class="rhs">
                <div class="frm-item-wrap">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    <md-select placeholder="City (Residence)" formControlName="empCity">
                        <md-option *ngFor="let item of cities" [value]="item._id">{{item.name}}</md-option>
                    </md-select>
                </div>

                <div class="frm-item-wrap">
                    <i class="fa fa-building-o" aria-hidden="true"></i>
                    <md-input-container class="example-full-width">
                        <input mdInput md-error placeholder="Home Address" formControlName="empHomeAddress">
                    </md-input-container>
                </div>
                <div class="frm-item-wrap" style="margin-top:-6px;">
                    <md-input-container>
                        <input mdInput [mdDatepicker]="picker" formControlName="empDOB" placeholder="Date of Birth">
                        <!-- <button mdSuffix [mdDatepickerToggle]="picker"></button> -->
                        <md-datepicker-toggle mdSuffix [for]="picker"></md-datepicker-toggle>
                    </md-input-container>
                    <md-datepicker #picker></md-datepicker>
                </div>

                <!--<div class="frm-item-wrap">
                    <div>
                        <img-cropper [image]="empImg" #cropper [settings]="cropperSettings"></img-cropper>
                    </div>
                </div>-->

            </div>

            <div class="clear"></div>

            <div (click)="back_newPerson1()" class="backBtn"><i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i>Go Back</div>

            <div (click)="newPerson2(frmNewEmp2.valid, frmNewEmp2.value)" class="cta-1">
                CONTINUE
            </div>

        </form>
    </div>

    <div *ngIf="frmNewPerson3_show">

        <form [formGroup]="frmNewEmp3" novalidate>

            <div class="lhs">

                <div class="frm-item-wrap">
                    <i class="fa fa-building-o" aria-hidden="true"></i>
                    <md-input-container class="example-full-width">
                        <input mdInput md-error [readonly]="nextOfKinReadOnly" placeholder="Next Of Kin's' Apmis ID" formControlName="nok_apmisID">
                    </md-input-container>
                </div>

                <div class="frm-item-wrap">
                    <i class="fa fa-building-o" aria-hidden="true"></i>
                    <md-input-container class="example-full-width">
                        <input mdInput md-error [readonly]="nextOfKinReadOnly" placeholder="Next Of Kin's' Full Name" formControlName="nok_fullname">
                    </md-input-container>
                </div>

                <div class="frm-item-wrap">
                    <i class="fa fa-building-o" aria-hidden="true"></i>
                    <md-input-container class="example-full-width">
                        <input mdInput md-error [readonly]="nextOfKinReadOnly" placeholder="Next Of Kin's Home Address" formControlName="nok_Address">
                    </md-input-container>
                </div>
            </div>

            <div class="rhs">

                <div class="frm-item-wrap">
                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                    <md-input-container class="example-full-width">
                        <input mdInput md-error type="email" [readonly]="nextOfKinReadOnly" placeholder="Next Of Kin's Email Address" formControlName="nok_email">
                    </md-input-container>
                </div>

                <div class="frm-item-wrap">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    <md-input-container class="example-full-width">
                        <input mdInput md-error type="tel" [readonly]="nextOfKinReadOnly" placeholder="Next Of Kin's Contact Number" formControlName="nok_phoneNo">
                    </md-input-container>
                </div>

                <div class="frm-item-wrap">
                    <i class="fa fa-building-o" aria-hidden="true"></i>
                    <md-select placeholder="Relationship" formControlName="nok_relationship" (change)="onNokRelationshipChange($event.value)">
                        <md-option *ngFor="let item of relationships" [value]="item._id">{{item.name}}</md-option>
                    </md-select>
                </div>

            </div>

            <div class="clear"></div>

            <div class="frmNavControls_wrap">
                <div (click)="back_newPerson2()" class="backBtn"><i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i>Go Back</div>
                <div (click)="skip_nok()" class="backBtn"><i class="fa fa-forward" aria-hidden="true"></i>Skip</div>
            </div>

            <div (click)="newPerson3(frmNewEmp3.valid, frmNewEmp3.value)" class="cta-1">
                CONTINUE
            </div>

        </form>
    </div>

    <div *ngIf="frmNewEmp4_show">

        <form [formGroup]="frmNewEmp4" novalidate>

            <div class="lhs">

                <div class="frm-item-wrap">
                    <i class="fa fa-bullseye" aria-hidden="true"></i>
                    <md-select placeholder="Asign Department" formControlName="empDept" (change)="onEmpDeptChange($event.value)">
                        <md-option *ngFor="let item of departments" [value]="item._id">{{item.name}}</md-option>
                    </md-select>
                </div>

                <div class="frm-item-wrap">
                    <i class="fa fa-bullseye" aria-hidden="true"></i>
                    <md-select placeholder="Asign Unit" formControlName="empUnit" (change)="onEmpDeptChange($event.value)">
                        <md-option *ngFor="let item of units" [value]="item._id">{{item.name}}</md-option>
                    </md-select>
                </div>

                <div class="frm-item-wrap">
                    <i class="fa fa-bullseye" aria-hidden="true"></i>
                    <md-select placeholder="Asign Work Location" formControlName="empLoc" (change)="onEmpLocChange($event.value)">
                        <md-option *ngFor="let item of minorLocations" [value]="item._id">{{item.name}}</md-option>
                    </md-select>
                </div>

                <div class="frm-item-wrap">
                    <i class="fa fa-bullseye" aria-hidden="true"></i>
                    <md-select placeholder="Job Title" formControlName="empJobTitle" (change)="onEmpJobTitleChange($event.value)">
                        <md-option *ngFor="let item of professions" [value]="item">{{item.name}}</md-option>
                    </md-select>
                </div>
            </div>

            <div class="rhs">

                <div class="frm-item-wrap">
                    <i class="fa fa-bullseye" aria-hidden="true"></i>
                    <md-select placeholder="Level" formControlName="empLevel" (change)="onEmpLevelChange($event.value)">
                        <md-option *ngFor="let item of cadres" [value]="item._id">{{item.name}}</md-option>
                    </md-select>
                </div>

                <div class="frm-item-wrap">
                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                    <md-input-container class="example-full-width">
                        <input mdInput md-error type="email" placeholder="Official (Work) Email" formControlName="empWorkEmail">
                    </md-input-container>
                </div>

                <div class="frm-item-wrap">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    <md-input-container class="example-full-width">
                        <input mdInput md-error type="email" placeholder="Official (Work) Contact Number" formControlName="empWorkPhonNo">
                    </md-input-container>
                </div>

            </div>

            <div class="clear"></div>
            <div (click)="back_newPerson3()" class="backBtn"><i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i>Go Back</div>

            <div (click)="newEmp4(frmNewEmp4.valid, frmNewEmp4.value)" class="cta-1">
                Create Employee
            </div>

        </form>
    </div>

</div>