@import "../../../../../globals/variables.scss";
.lhs,
.rhs {
    padding: 10px;
}

.newEmp-idWrap input {
    border: 1px solid #727272;
    border-radius: 10px;
    display: block;
    margin: 20px auto;
    padding: 10px;
}
th {
    height: 50px;
    background: transparent;
    border: 0.5px solid $th-border;
}
.gen_idWrap {
    width: 100%;
    text-align: center;
    font-size: 13px;
    font-style: italic;
    color: #424242;
}

.gen_idWrap strong {
    font-style: normal;
    color: #000;
}

.gen_idWrap span {
    font-style: normal;
    color: #C62828;
    padding-left: 6px;
    cursor: pointer;
}

.gen_idWrap span:hover {
    text-decoration: underline;
}

.btn-1 {
    width: 120px;
    margin: 20px auto;
}
.modal-baseWrap {
    margin-left: 0;
    padding: 30px;
    padding-bottom: 10px;
}
.modal_mini_title{
    margin-bottom: 0;
}
.dx-dropdowneditor-button-visible .dx-texteditor-input {
    padding-right: 34px;
    background: transparent;
    border-radius: 0;
}