<div class="inner-wrap-b body-wrap">
    <div class="facility-title">{{pageInView}}</div>
    <div class="title2">{{checkedInObject?.typeObject?.minorLocationObject?.name}}</div>
    <div class="inner-menu1-wrap responsive_nav-group">
        <i id="contentSecMenuToggle" (click)="contentSecMenuToggle()" [class.content-sec-icoActive]="contentSecMenuShow" class=" content-sec-ico fa fa-ellipsis-v" aria-hidden="true"></i>
        <ul id="innerMenu-ul" *ngIf="contentSecMenuShow" class="innerMenu-ul shadow">
            <li (click)="navFpHome()"><i class="fa fa-home" aria-hidden="true"></i> Home</li>
            <li (click)="navFpModules()"><i class="fa fa-braille" aria-hidden="true"></i> Modules</li>
            <li (click)="navFpDepartments()"><i class="fa fa-building" aria-hidden="true"></i> Departments</li>
            <li (click)="navFpLocations()"><i class="fa fa-map-marker" aria-hidden="true"></i> Locations</li>
        </ul>
    </div>
    <div class="inner-page-wrap">
        <div class="lhs inner-page-menuTab">
            <div class="lTab-title">LABORATORY MANAGER</div>
            <ul class="nav-group">
                <li [class.navActive]="requestContentArea" (click)="checkPageUrl('request');" routerLink="/dashboard/laboratory/requests">Laboratory Requests</li>
                <li [class.navActive]="externalContentArea" (click)="checkPageUrl('external');" routerLink="/dashboard/laboratory/external-requests">External Requests</li>
                <li [class.navActive]="reportContentArea" (click)="checkPageUrl('report');" routerLink="/dashboard/laboratory/reports">Report</li>
            </ul>

            <div class="lTab-title">LABORATORY SETUP</div>
            <ul class="nav-group">
                <li [class.navActive]="workbenchContentArea" (click)="checkPageUrl('workbenches');" routerLink="/dashboard/laboratory/workbenches">Workbench</li>
                <li [class.navActive]="investigationContentArea" (click)="checkPageUrl('investigation');" routerLink="/dashboard/laboratory/investigations">Investigation</li>
                <li [class.navActive]="pricingContentArea" (click)="checkPageUrl('investigation-pricing');" routerLink="/dashboard/laboratory/investigation-pricing">Investigation Pricing</li>
                <li [class.navActive]="templateContentArea" (click)="checkPageUrl('template');" routerLink="/dashboard/laboratory/templates">Templates</li>
                <li (click)="checkIntoWorkbench();">Check into Workbench</li>
            </ul>
        </div>

        <div class="rhs inner-page-contentArea c-page-wrapper">
            <router-outlet></router-outlet>
        </div>
        <div class="clear"></div>
    </div>
</div>

<div *ngIf="modal_on" class="modal-overlay">
    <app-lab-check-in [loginEmployee]="loginEmployee" (closeModal)="close_onClick($event)" id="form-modal" class="form-modal center-center"></app-lab-check-in>
</div>