<div class="primary-tab">
    <div class="inner-wrap inner-wrap-pri">
        <div class="brand">
            <div class="logo-wrap">
                <img src="assets/images/app_logo/logo2.png">
            </div>
            <div class="apmis">APMIS</div>
        </div>

        <div class="top-right">
            <div class="search-wrap">
                <input class="top-tab-search" type="search" placeholder="Search here..." [formControl]="searchControl">
                <i class="fa fa-search" aria-hidden="true"></i>
                <!-- <div class="x">x</div> -->
            </div>

            <div class="top-icons-wrap">
                <i [routerLink]="['/dashboard']" class="fa fa-home" aria-hidden="true"></i>
                <i class="fa fa-cog" aria-hidden="true"></i> 
                <i class="fa fa-bell-o" aria-hidden="true"></i> 
                <span class="logout">LOGOUT</span>
            </div>

            <div class="logged-in-as">
                <div class="user-label">
                    <div class="user-name">{{selectedPerson?.personFullName}}</div>
                    <!-- <div *ngIf="checkedInObject?.typeObject?.minorLocationObject !== undefined && checkedInObject?.typeObject !== undefined && checkedInObject?.type==='clinic'" class="user-loc">{{checkedInObject?.typeObject?.minorLocationObject?.name}} - {{checkedInObject?.typeObject?.roomObject?.name}}</div>
                    <div *ngIf="checkedInObject?.typeObject?.minorLocationObject !== undefined && checkedInObject?.typeObject !== undefined && checkedInObject?.type==='store'" class="user-loc">{{checkedInObject?.typeObject?.minorLocationObject?.name}} - {{checkedInObject?.typeObject?.storeObject?.name}}</div>
                    <div *ngIf="checkedInObject?.typeObject?.minorLocationObject !== undefined && checkedInObject?.typeObject !== undefined && checkedInObject?.type==='workbench'" class="user-loc">{{checkedInObject?.typeObject?.minorLocationObject?.name}} - {{checkedInObject?.typeObject?.workbenchObject?.name}}</div> -->
                </div>

                <div class="user-imgWrap">
                    <img *ngIf="selectedPerson?.profileImageObject !== undefined" [src]="facilityService.transform(selectedPerson?.profileImageObject?.thumbnail)">
                    <img *ngIf="selectedPerson?.profileImageObject === undefined" src="assets/images/users/default.png">
                </div>
            </div>
        </div>
    </div>
</div>