<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Client Details</h3>
    </div>
    <div class="panel-body">
        <div class="">
            <p><strong>APMIS ID:</strong> {{ personDetails.apmisId }}</p>
        </div>
        <div class="">
            <p><strong>NAME:</strong> {{ personDetails.lastName }} {{ personDetails.firstName }}</p>
        </div>
        <div class="">
            <p><strong>AGE:</strong> {{ personDetails.age }} Year(s)</p>
        </div>
        <div class="">
            <p><strong>SEX:</strong> {{ personDetails.gender?.name }}</p>
        </div>
        <div class="">
            <p><strong>LAB N0:</strong> {{ personDetails.labNumber}}</p>
        </div>
        <div class="">
            <p><strong>PHONE NUMBER:</strong> {{ personDetails.phoneNumber }}</p>
        </div>
        <div class="">
            <p><strong>ADDRESS:</strong> {{ personDetails.homeAddress?.street }}</p>
        </div>
        <div class="row">
            <div class="inv-header">
                <h5><strong>Total: </strong> &#x20A6; {{ totalPrice }}</h5>
            </div>
        </div>
    </div>
</div>