<div class="animated pulse">
    <div class="modal-header-wrap">
    <div (click)="close_onClick()" class="modal-close-ico" aria-hidden="true">X</div>
    <legend class="modal_title">Facility Setup</legend>
    <div class="modal_mini_title">Edit Employee's Basic Info</div>
    </div>

    <div class="modal-baseWrap"> 
    
    <!-- <div class="infoAlert"><i class="fa fa-info-circle" aria-hidden="true"></i>Note that a verification token will be sent to the number supplied
        below</div> -->
        
    <div class="mainErr animated shake" [hidden]="mainErr">{{errMsg}}</div>
    <div class="menuBar-facilityName">
        <div class="menubar_facilityLogo orgLogo-wrap">
            <img src="../../../../../../assets/images/users/default.png">
        </div>
        <div class="upload-btn-wrapper">
            <button class="upload-btn" [disabled]="departmentbool">Change Image</button>
            <input type="file" name="myfile" />
        </div>
    </div>
    <form [formGroup]="facilityForm1" novalidate (submit)="save(facilityForm1)">
    
        <div class="frm-item-wrap">
            <mat-input-container class="example-full-width">
                <input matInput mat-error placeholder="First Name" formControlName="firstname">
            </mat-input-container>
        </div>
        <div class="frm-item-wrap">
            <mat-input-container class="example-full-width">
                <input matInput mat-error placeholder="Last Name" formControlName="lastname">
            </mat-input-container>
        </div>
        <div class="frm-item-wrap">
            <mat-input-container class="example-full-width">
                <input matInput mat-error placeholder="Other Names" formControlName="othernames">
            </mat-input-container>
        </div>
        <mat-form-field>
            <mat-select placeholder="Department" formControlName="dept">
                <mat-option *ngFor="let depts of departments" [value]="depts._id">{{depts.name}}</mat-option>
            </mat-select>
        </mat-form-field>
        <div class="frm-item-wrap">
            <mat-input-container class="example-full-width">
                <input type="email" matInput mat-error placeholder="Email Address" formControlName="email">
            </mat-input-container>
        </div>
        <div class="frm-item-wrap">
            <mat-input-container>
                <input type="tel" matInput mat-error placeholder="Contact Number" formControlName="phone">
            </mat-input-container>
        </div>
        
        <!-- <label class="control control--checkbox">Activate Employee
            <input type="checkbox"  formControlName="status" />
            <div class="control__indicator"></div>
        </label> -->
    
        <button class="cta-1" (click)="save()" [disabled]="!facilityForm1.valid || loading" > 
            <span *ngIf="!loading">UPDATE</span>
            <span *ngIf="loading">Loading...</span>
        </button>
    
    </form> 

    </div>
</div>