@import "../../../../../../globals/variables.scss";

input, select{
    border:0;
    outline: 0;
}
.modal-baseWrap {
    width: 560px;
    padding: 20px 100px;
    margin: 0px auto;
}
.cta-1 {
    font-size: 12px;
}
.mainErr {
    margin: 20px 0;
}
.facility-title {
    font-size: 25px;
}
.modal_title {
    font-size: 15px;
}

@media screen and (max-width: $break-small) {
    .modal-baseWrap {
    width: 278px;
    min-width: 250px;
}
}

.mat-raised-button {
    max-width: 200px;
    text-align: center;
    background: #153d70;
    color: #fff;
}