th.info, .survery .table > thead > tr.info > th {
    background: #4bb8ef !important;
    color: #fff;
    padding: 14px 10px;
}
.survery .panel-body {
    padding: 0 15px;

}
.survery .table-responsive {
    max-height: 322px;
}
.mat-checkbox-label {
    line-height: 10px !important;
}
.lobipanel {
    margin-bottom: 25px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.lobipanel {
    position: relative;
    margin-bottom: 15px;
    max-height: 322px;
    min-height: 322px;
    overflow-y: scroll;
}
panel-bd > .panel-heading {
    color: #010611;
    background-color: #e8f1f3;
    border-color: #b7b9bf;
    position: relative;
}
.lobipanel>.panel-heading {
    padding: 5px;
    position: relative;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
.lobipanel>.panel-heading>.panel-title {
    max-width: calc(100% - 30px);
    white-space: nowrap;
    font-size: 16px;
    line-height: 30px;
    padding-left: 15px;
}
.lobipanel>.panel-heading>.panel-title {
    overflow: hidden;
    text-overflow: ellipsis;
}
.lobipanel>.panel-heading>.panel-title h4 {
    margin: 0;
    line-height: 30px;
    letter-spacing: .5px;
}
.lobipanel>.panel-body {
    position: relative;
}
.form-array {
    max-height: 155px;
    border: 1px solid #c3ced4;
    border-radius: 5px;
    padding: 5px;
    overflow-y: scroll;
    margin: 5px 0;
}
.mat-mini-fab.mat-accent {
    background-color: #4bb8ef;
}