<div class="survery">
  <div class="row">
    <div class="col-sm-3">
      <div class="panel" data-index="0">
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-bordered table-hover">
              <thead>
                <tr class="info">
                  <th>Products</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <div class="col">
                      <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search Product" [formControl]="searchControl" />
                      </div>
                    </div>
                  </td>
                </tr>
                <tr *ngFor="let product of products; let i = index">
                  <td (click)="addProduct(product)">
                    {{product.name}}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-9">
      <div class="panel lobidisable panel-bd lobipanel lobipanel-sortable" data-inner-id="P3ax1HGUSa" data-index="0">
        
        <div style="padding-top:100px; text-align:center; color: #42a3d8" *ngIf="myForm['controls'].initproduct['controls'].length == 0">
          <h5>Select product to initialize</h5>
        </div>

        <div class="panel-body">
          <form [formGroup]="myForm" novalidate>
            <div formArrayName="initproduct">

              <div class="form-array" *ngFor="let batch of myForm['controls'].initproduct['controls']; let i=index;">
                <div [hidden]="i != 0">
                  <h5>{{ selectedProduct?.name }} <br></h5>
                </div>
                <div [formGroupName]="i">
                  <div class="col-sm-11">
                    <div class="row">
                        <mat-input-container class="col-sm-4">
                          <input type="text" matInput placeholder="Enter Batch No *" formControlName="batchNumber">
                        </mat-input-container>
                        <mat-input-container class="col-sm-4">
                          <input type="number" formControlName="quantity" matInput placeholder="Enter Quantity *" readonly>
                        </mat-input-container>
                        <mat-input-container class="col-sm-4">
                          <input type="date" matInput placeholder="Expiry Date *" placeholder="Expiry Date" formControlName="expiryDate">
                        </mat-input-container>
                      
                        <div class="row example-full-width" formArrayName="config">
                            <div class="row col-md-3" [formGroupName]="k" *ngFor="let itm of batch.controls.config.controls;let k = index">
                                <mat-input-container class="col-md-4">
                                    <input type="number" min="1" [readonly]="itm.value.packItem === null" matInput mat-error formControlName="size" (change)="onPackageSize(i,myForm.controls['initproduct'].controls)">
                                </mat-input-container>
                                <mat-form-field class="col-md-6">
                                    <mat-select placeholder="Select Packsize" formControlName="packItem" [compareWith]="compareItems">
                                        <mat-option disabled="">None</mat-option>
                                        <mat-option [value]="item._id" *ngFor="let item of itm.value.packsizes">
                                            <span>{{item.name}}</span>
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <div class="ico-wrap">
                                  <i *ngIf="itm.value.packsizes.length !== k+1 && batch.controls.config.controls.length===k+1" class="col-md-2 fa fa-fw fa-plus"
                                      (click)="onAddPackSize(itm.value.packsizes,batch)"></i>
                                  <i class="fa fa-close fa-fw" *ngIf="batch.controls.config.controls.length > 1" (click)="onRemovePack(batch,myForm.controls['initproduct'].controls,k,i)"></i>
                              </div>
                            </div>
                        </div>
                      </div>
                    </div>
                    
                      
                    
                  </div>
                  <div class="col-sm-1" style="text-align: left">
                    <a [hidden]="i < myForm.controls.initproduct.controls.length - 1" (click)="addBatch(i)"><i class="fa fa-plus fa-fw fa-2x"></i></a>
                    <a (click)="removeBatch(i)"><i style="color:red" class="fa fa-trash fa-fw fa-2x"></i></a>
                  </div>

                </div>
              

            </div>
            <div class="col-sm-12 text-center">
              <a mat-raised-button [hidden]="isItemselected" *ngIf="isEnable" (click)="save(myForm.valid,myForm.value,selectedProduct)">
                <span>
                  <div [hidden]="isProcessing">
                    Save
                  </div>
                  <div [hidden]="!isProcessing">
                    Processing...
                    <i class='fa fa-spinner fa-spin'></i>
                  </div>
                </span>

              </a>
            </div>
          </form>
        </div>
      </div>
    </div>