td{
    padding: 5px;
}
.list-img img{
    width: 100%;
}
.list-img{
    width: 30px;
    height: 30px;
}
.action-placeholder {
    position: relative;
    font-size: 16px;
    color: #0288D1;
    cursor: pointer;
}