<div class="pg-subtitle">LABORATORY TEMPLATE</div>
<div>
    <div class="doc-mainWrap">
        <div class="doc-contentArea">
            <div class="clinicalNoteWrap">
                <div class="actSect">
                    <div class="act-actions-wrap">
                        <div (click)="template_show()" class="act-wrap">
                            <i *ngIf="template_view" class="fa fa-minus" aria-hidden="true"></i>
                            <i [hidden]="template_view" class="fa fa-plus" aria-hidden="true"></i>
                            <span>New Template</span>
                        </div>
                    </div>
                    <div *ngIf="template_view" class="frmNoteWrap">
                        <div class="frm-wrap">
                            <form [formGroup]="templateFormGroup">
                                <div class="content-left">
                                    <div class="form-control-box">
                                        <md-select placeholder="Scope Level" formControlName="apmisScopeLevel">
                                            <md-option *ngFor="let scopeLevel of scopeLevels" [value]="scopeLevel">{{scopeLevel.name}}</md-option>
                                        </md-select>
                                    </div>
                                </div>
                                <div class="content-right">
                                    <div class="form-control-box">
                                        <md-select placeholder="Select Investigation" formControlName="investigation">
                                            <md-option *ngFor="let investigation of investigations" [value]="investigation">
                                                {{ investigation.name }}
                                            </md-option>
                                        </md-select>
                                    </div>
                                </div>
                                <div class="content-left" style="margin-top: 40px;">
                                    <div class="form-control-box">
                                        <md-input-container>
                                            <input mdInput placeholder="Template Name" formControlName="name">
                                        </md-input-container>
                                    </div>
                                </div>
                                <div class="content-right" style="margin-top: -40px;">
                                    <div class="form-control-box">
                                        <md-input-container>
                                            <textarea formControlName="result" mdInput placeholder="Result"></textarea>
                                        </md-input-container>
                                    </div>
                                </div>
                                <div class="content-left">
                                    <div class="form-control-box">
                                        <md-input-container>
                                            <textarea formControlName="conclusion" mdInput placeholder="Conclusion"></textarea>
                                        </md-input-container>
                                    </div>
                                </div>
                                <div class="content-right">
                                    <div class="form-control-box">
                                        <md-input-container>
                                            <textarea formControlName="recommendation" mdInput placeholder="Recommendation"></textarea>
                                        </md-input-container>
                                    </div>
                                </div>
                                <div class="fullwidth text-center">
                                    <button class="text-white" md-raised-button (click)="createTemplate(templateFormGroup.valid, templateFormGroup.value);" [disabled]="!templateFormGroup.valid" [innerHtml]="templateBtnText"></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="tab-title">Templates Created</div>
                <div class="tblWrapa" class="actSect">
                    <table cellpadding="0" cellspacing="0" border="0.5">
                        <thead>
                            <tr>
                                <th>
                                    <i class="fa fa-sort-alpha-asc" aria-hidden="true"></i>
                                    <span style="padding-left: 3px;">S/N</span>
                                </th>
                                <th>
                                    <i class="fa fa-sort-alpha-asc" aria-hidden="true"></i>
                                    <span style="padding-left: 3px;">Name</span>
                                </th>
                                <th>
                                    <i class="fa fa-sort-alpha-asc" aria-hidden="true"></i>
                                    <span style="padding-left: 3px;">Scope Level</span>
                                </th>
                                <th>
                                    <i class="fa fa-sort-alpha-asc" aria-hidden="true"></i>
                                    <span style="padding-left: 3px;">Investigation</span>
                                </th>
                                <th>
                                    <i class="fa fa-sort-alpha-asc" aria-hidden="true"></i>
                                    <span style="padding-left: 3px;">Result</span>
                                </th>
                                <th>
                                    <i class="fa fa-sort-alpha-asc" aria-hidden="true"></i>
                                    <span style="padding-left: 3px;">Conclusion</span>
                                </th>
                                <th>
                                    <i class="fa fa-sort-alpha-asc" aria-hidden="true"></i>
                                    <span style="padding-left: 3px;">Recommendation</span>
                                </th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr *ngIf="templates.length === 0 && !loading">
                                <td class="table-content" colspan="8" style="text-align: center"> No data available in table</td>
                            </tr>
                            <tr *ngIf="templates.length === 0 && loading">
                                <td class="table-content" colspan="8" style="text-align: center">
                                    <md-spinner class='small-spinner'></md-spinner>
                                </td>
                            </tr>

                            <tr *ngFor="let template of templates; let i = index;">
                                <td>{{ i+1 }}</td>
                                <td>{{ template?.name }}</td>
                                <td>{{ template?.scopeLevel.name }}</td>
                                <td>{{ template?.investigation.name }}</td>
                                <td>{{ template?.result }}</td>
                                <td>{{ template?.conclusion }}</td>
                                <td>{{ template?.recommendation }}</td>
                                <td class="action-placeholder">
                                    <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                                    <div class="action-container shadow-RB">
                                        <div (click)="editTemplate(template);" class="action-item">
                                            <i class="fa fa-file-text-o" aria-hidden="true"></i>
                                            <span>Edit</span>
                                        </div>
                                        <div class="action-item">
                                            <i class="fa fa-cloud-upload" aria-hidden="true"></i>
                                            <span>Delete</span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>