<div class="modal-baseWrap animated pulse">

  <div (click)="close_onClick()" class="modal-close-ico">X</div>
  <legend class="modal_title">Add Patient Vitals</legend>
  <div class="mainErr animated shake" [hidden]="mainErr">{{errMsg}}</div>

  <div>

    <form [formGroup]="frmAddVitals" novalidate>
      <div class="frm-addVitals">
        <div class="frmGroupWrap">
          <div class="frmGroupTitle">Pulse Rate</div>
          <div class="frm-item-wrap">
            <!--<label class="side-label">Pulse Rate<br>(80-100)</label>
            <input type="text" formControlName="pulseRate" autocomplete="off">-->
            <md-input-container class="example-full-width">
              <input type="number" mdInput placeholder="Pulse Rate (80-100)" formControlName="pulseRate">
            </md-input-container>
            <span class="trailer">Beats per Minute</span>
          </div>

          <div class="frm-item-wrap">
            <!--<label>Location</label>
            <select formControlName="pulseLoc">
              <option *ngFor="let location of vitalLocation"  value="{{location?.name}}" value="">{{location?.name}}</option>
            </select>-->
            <md-select placeholder="Location" formControlName="pulseLoc">
              <md-option *ngFor="let location of vitalLocation" [value]="location?.name">{{location?.name}}</md-option>
            </md-select>
          </div>

          <div class="frm-item-wrap">
            <!--<label>Rythm</label>
            <select formControlName="pulseRythm">
              <option *ngFor="let rythm of vitalRythm"  value="{{rythm?.name}}" value="">{{rythm?.name}}</option>
            </select>-->
            <md-select placeholder="Rythm" formControlName="pulseRythm">
              <md-option *ngFor="let rythm of vitalRythm" [value]="rythm?.name">{{rythm?.name}}</md-option>
            </md-select>
          </div>
        </div>

        <div class="frmGroupWrap">
          <div class="frmGroupTitle">Respiratory Rate</div>
          <div class="frm-item-wrap">
            <!--<label class="side-label">Respiratory Rate<br>(12-20)</label>
            <input type="number" formControlName="respiratoryRate" autocomplete="off">-->
            <md-input-container class="example-full-width">
              <input mdInput type="number" placeholder="Respiratory Rate (12-20)" formControlName="respiratoryRate">
            </md-input-container>
          </div>
          <div class="frmGroupTitle">Temperature</div>
          <div class="frm-item-wrap">
            <!--<label class="side-label">Temperature<br>(92-101) &#8451;</label>
            <input type="number" formControlName="temp" autocomplete="off">-->
            <md-input-container class="example-full-width">
              <input mdInput type="number" placeholder="Temperature (92-101)" formControlName="temp">
            </md-input-container>
          </div>
        </div>

        <div class="frmGroupWrap">
          <div class="frmGroupTitle">Height/Weight</div>
          <div class="frm-item-wrap">
            <!--<label class="side-label">Height (m)</label>
            <input type="number" formControlName="height" value="">-->
            <md-input-container class="example-full-width">
              <input mdInput type="number" placeholder="Height (m)" formControlName="height">
            </md-input-container>
          </div>
          <div class="frm-item-wrap">
            <!--<label class="side-label">Weight (kg)</label>
            <input type="number" formControlName="weight" value="">-->
            <md-input-container class="example-full-width">
              <input mdInput type="number" placeholder="Weight (kg)" formControlName="weight">
            </md-input-container>
          </div>
          <div class="frm-item-wrap">
            <!--<label class="side-label">BMI</label>
            <input type="number" [value]="bmi" [class.warning-flag]="isWarning" [readonly]="true" autocomplete="off">-->
            <md-input-container class="example-full-width">
              <input mdInput type="number" [class.warning-flag]="isWarning" [value]="bmi" placeholder="BMI" [readonly]="true" formControlName="weight">
            </md-input-container>
            <small class="alert-label" *ngIf="isWarning">
            {{bmiWarningMssg}}
          </small>
          </div>
        </div>

        <div class="frmGroupWrap bpGroup bp">
          <div class="frmGroupTitle">Blood Pressure</div>

          <div class="frm-row">
            <div class="itemGrp">
              <div class="frm-item">
                <div class="frm-item-wrap">
                  <!--<input type="text" formControlName="systolicBp1" autocomplete="off">-->
                  <md-input-container class="example-full-width">
                    <input placeholder="Systolic (90-119)" mdInput type="number" formControlName="systolicBp1">
                  </md-input-container>
                </div>
              </div>
              <div class="frm-slash">
                <div class="frm-item-wrap">
                  <span class="slash"><div class="frm-item-wrap">/</div></span>
                </div>
              </div>
              <div class="frm-item">
                <div class="frm-item-wrap">
                  <!--<input type="text" formControlName="diastolicBp1" autocomplete="off">-->
                  <md-input-container class="example-full-width">
                    <input placeholder="Diastolic (60-79)" mdInput type="number" formControlName="diastolicBp1">
                  </md-input-container>
                  <span class="trailer inputUnit">mmHg</span>
                </div>
              </div>
            </div>
            <div class="frm-item-wrap">
              <md-select placeholder="Location" formControlName="diastolicBp1Loc">
                <md-option *ngFor="let location of vitalLocation" [value]="location?.name">{{location?.name}}</md-option>
              </md-select>
            </div>
            <div class="frm-item-wrap">
              <md-select placeholder="Position" formControlName="diastolicBp1Pos">
                <md-option *ngFor="let position of vitalPosition" [value]="position?.name">{{position?.name}}</md-option>
              </md-select>
            </div>
          </div>

        </div>

        <div class="frmGroupWrap bpGroup bp">
          <div class="frmGroupTitle">Abdominal Condition</div>
          <div class="frm-row">
            <div class="itemGrp">
              <div class="frm-item">
                <div class="frm-item-wrap">
                  <!--<input type="text" formControlName="systolicBp1" autocomplete="off">-->
                  <md-input-container class="example-full-width">
                    <input placeholder="SPO" mdInput type="number" formControlName="spo2">
                  </md-input-container>
                </div>
              </div>
              <div class="frm-item">
                <div class="frm-item-wrap">
                  <!--<input type="text" formControlName="diastolicBp1" autocomplete="off">-->
                  <md-input-container class="example-full-width">
                    <input placeholder="abdominal girth" mdInput type="number" formControlName="girth">
                  </md-input-container>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

      <button [disabled]="!frmAddVitals.valid || diabledSaveBtn" (click)="addVitals(frmAddVitals.valid, frmAddVitals.value)" class="cta-1" [innerHtml]="saveBtnText"></button>

    </form>
  </div>

</div>