.pp-card{
    border: 0 !important;
}
td{
    border: 0;
}
.tbl-title{
    margin-bottom: 0 !important;
}
.etr-wrap{
    display: flex;
    align-items: center;
}
.other-wrap{
    margin-left: 20px;
    border-left: 1px solid #aaa;
    padding-left: 10px;
}
.etr-other {
    margin-bottom: 5px;
    margin-right: 25px;
    font-style: italic;
    font-size: 12px;
}
.etr-tags{
    display: flex;
    align-items: center;
}
.etr-ctas {
    display: flex;
    margin-top: 2px;
}
.etr-cta {
    margin-right: 5px;
    padding: 3px 10px;
    border: 1px solid #aaa;
    cursor: pointer;
}
.filters {
    background: #fff !important;
    border-bottom: 1px solid #eee;
    padding-left: 0 !important;
}
.search{
    padding: 4px;
}