<div class="modal-baseWrap animated pulse">

  <div (click)="close_onClick()" class="modal-close-ico" aria-hidden="true">X</div>
  <legend class="modal_title">Change Password</legend>
  <div class="modal_mini_title">All Purpose Medical Information System</div>

  <div class="mainErr animated shake" [hidden]="mainErr">{{errMsg}}</div>

  <div class="f_sg_1">

    <form [formGroup]="frm_changePass" novalidate>
        
      <div class="frm-item-wrap">
        <small class="alert-label" [hidden]="frm_changePass.controls.oldPass.valid || frm_changePass.controls.oldPass.pristine">
          Kindly supply your current password.
        </small>
        <i class="fa fa-lock" aria-hidden="true"></i>
        <input type="password" formControlName="oldPass"  placeholder="Current Password" autocomplete="off">
      </div>

      <div class="frm-item-wrap">
        <small class="alert-label" [hidden]="frm_changePass.controls.password.valid || frm_changePass.controls.password.pristine">
          Kindly supply your new password.
        </small>
        <i class="fa fa-lock" aria-hidden="true"></i>
        <input type="password" formControlName="password"  placeholder="New Password" autocomplete="off">
      </div>

      <div class="frm-item-wrap">
        <small class="alert-label" [hidden]="frm_changePass.controls.repassword.valid || frm_changePass.controls.repassword.pristine">
          Kindly supply your new password.
        </small>
        <i class="fa fa-lock" aria-hidden="true"></i>
        <input type="password" formControlName="repassword"  placeholder="Confirm Password" autocomplete="off">
      </div>

      <div (click)="changePword(frm_changePass.valid, frm_changePass.value)" class="cta-1">
        Change Password
      </div>

    </form>
  </div>

</div>

