@import '../../facility-page/facilitypage-workspace/facilitypage-workspace.component.scss';
.td-col-span-8 {
    padding: 22px 15px !important;
    background: #fff;
}

.survery .table>thead>tr>th,
.survery .table>tbody>tr>th,
.survery .table>tfoot>tr>th,
.survery .table>thead>tr>td,
.survery .table>tbody>tr>td,
.survery .table>tfoot>tr>td {
    padding: 7px;
    line-height: 1.42857143;
    vertical-align: middle;
    border-top: 1px solid #ddd;
    text-align: center;
}

.survery a {
    margin: 0 10px;
    color: #000;
    cursor: pointer;
}

.survery a:hover {
    text-decoration: none;
}

.survery table {
    color: #000;
}

.table-container {
    margin: 10px 0;
}