<div class="survery">

    <div class="fullwidth-topActions">
        <div class="row" style="margin-left: 0; margin-right: 0">
            <div class="col-md-4" style="padding-right: 0; padding-left: 0;">
                <select placeholder="Select Location" [formControl]="selMinorLocation" class="form-control">
                            <option value="Select by location" disabled selected>Select by location</option>
                            <option *ngFor="let minorLocation of minorLocations" value={{minorLocation._id}}>{{minorLocation.name}}</option>
                        </select>
            </div>
            <div class="col-md-4">
                <select [formControl]="selProductType" class="form-control">
                                    <option value="Select by product type" disabled selected>Select by product type</option>
                                    <option *ngFor="let productType of productTypes" value="{{productType._id}}">{{productType.name}}</option>
                                </select>
            </div>
            <div class="col-md-4" style="padding-right: 0; padding-left: 0;">
                <div class="col-xs-10" style="padding-right: 0; padding-left: 0;">
                    <input type="text" [formControl]="searchControl" placeholder="search store" class="searchInput" #inputsearch/>
                </div>
                <div class="col-xs-2" style="padding-right: 0; padding-left: 0;">
                    <button mat-raised-button (click)="refresh()" style="background: #FAFAFA;height: 35px;min-width:50px;"><i class="fa fa-refresh"></i></button>
                </div>
            </div>
        </div>
    </div>
    <div class="">
        <table class="table table-striped text-center">
            <thead>
                <tr>
                    <th><i class="fa fa-sort-alpha-asc"></i>S/N</th>
                    <th><i class="fa fa-sort-alpha-asc"></i>Name</th>
                    <th> <i class="fa fa-sort-alpha-asc"></i>Location</th>
                    <th><i class="fa fa-sort-alpha-asc"></i>Description</th>
                    <th><i class="fa fa-sort-alpha-asc"></i>Types</th>
                    <th><i class="fa fa-sort-alpha-asc"></i>Dispense</th>
                    <th><i class="fa fa-sort-alpha-asc"></i>Transfer</th>
                    <th><i class="fa fa-sort-alpha-asc"></i>Actions</th>
                </tr>
            </thead>
            <tbody>
                <!--<tr>
                    <td colspan="8">
                        <div class="fullwidth-topActions">
                            <div class="row" style="margin-left: 0; margin-right: 0">
                                <div class="col-md-4" style="padding-right: 0; padding-left: 0;">
                                    <select [formControl]="selMinorLocation" class="form-control">
                                        <option value="Select by location" disabled selected>Select by location</option>
                                        <option *ngFor="let minorLocation of minorLocations" value={{minorLocation._id}}>{{minorLocation.name}}</option>
                                    </select>
                                </div>
                                <div class="col-md-4">
                                    <select [formControl]="selProductType" class="form-control">
                                                <option value="Select by product type" disabled selected>Select by product type</option>
                                                <option *ngFor="let productType of productTypes" value="{{productType._id}}">{{productType.name}}</option>
                                            </select>
                                </div>
                                <div class="col-md-4" style="padding-right: 0; padding-left: 0;">
                                    <div class="col-xs-10" style="padding-right: 0; padding-left: 0;">
                                        <input type="text" [formControl]="searchControl" placeholder="search here" class="searchInput" #inputsearch/>
                                    </div>
                                    <div class="col-xs-2" style="padding-right: 0; padding-left: 0;">
                                        <button mat-raised-button (click)="refresh()" style="background: #FAFAFA;height: 35px;min-width:50px;"><i class="fa fa-refresh"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>-->
                <tr *ngFor="let store of stores; let i=index;">
                    <td>{{ i+1 }}</td>
                    <td>{{store.name}}</td>
                    <td>{{store?.minorLocation?.name}}</td>
                    <td>{{store.description}}</td>
                    <td class="td-worspace">
                        <div class="workspace-count"> {{store.productTypeId.length}} Product Type(s)</div>
                        <ul *ngIf="store.productTypeId.length > 0" class="shadow-RB workspace-listWrap animated zoomIn">
                            <li *ngFor="let storeType of store.productTypeId" class="workspace-listItem">
                                <ng-container>
                                    <span>{{storeType?.details?.name}}</span>
                                    <i (click)="removeLocation(location, workSpace, i)" class="fa fa-trash" aria-hidden="true"></i>
                                </ng-container>
                            </li>
                            <div class="pointer-wrap"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
                        </ul>
                    </td>
                    <td>
                        <span [hidden]="store.canDespense===false">Yes</span>
                        <span [hidden]="store.canDespense===true">No</span>
                    </td>
                    <td>
                        <span [hidden]="store.canTransfer===false">Yes</span>
                        <span [hidden]="store.canTransfer===true">No</span></td>
                    <td>
                        <a (click)="onEditStore(store)" class="pull-right"><i class="fa fa-pencil"></i></a>
                        <a class="pull-right"><i class="fa  fa-trash"></i></a>
                    </td>
                </tr>
                <tr *ngIf="stores.length === 0 && loading">
                    <td colspan="7">
                        <i class="fa fa-circle-o-notch fa-spin fa-3x text-blue" aria-hidden="true"></i>
                    </td>
                </tr>
                <tr *ngIf="stores.length === 0 && !loading">
                    <td colspan="7"> No data available in table</td>
                </tr>
            </tbody>
        </table>
        <div class="col-md-12">
            <span (click)="newStoreShow()" id="floating-button">
                <p class="plus">+</p>
            </span>
        </div>
    </div>


    <div *ngIf="newStore" class="modal-overlay">
        <app-new-store [selectedStore]="selectedStore" (refreshStore)="refreshStore($event)" (closeModal)="close_onClick($event)" id="form-modal" class="form-modal center-center"></app-new-store>
    </div>

</div>