@import '../documentation/documentation.component.scss';


.pg-subtitle {
    text-align: left;
    color: #0288D1;
    font-size: 14px;
    margin-top: -15px;
    margin-left: 5px;
}
.doc-mainWrap {
    min-height: 100vh;
    height: auto;
    background: transparent;
    margin-top: 4px;
    padding: 5px;
    box-sizing: border-box;
}
.background-color {
    background: #f8f8f8;
    height: 100vh;
}
.actSect {
    margin: 0;
}
.extrnal {
    background: #fff;
    padding:10px;
}
.mat-raised-button {
    padding: 10px;
    color: #fff;
}