<form [formGroup]="newPersonForm" novalidate>
    <div class="col-sm-12">
        <div class="col-sm-4">
            <md-input-container class="example-full-width">
                <input formControlName="firstName" mdInput placeholder="First Name">
            </md-input-container>
        </div>
        <div class="col-sm-4">
            <md-input-container class="example-full-width">
                <input formControlName="lastName" mdInput placeholder="Last name">
            </md-input-container>
        </div>
        <div class="col-sm-4">
            <md-input-container class="example-full-width">
                <input formControlName="phone" mdInput placeholder="Phone Number">
            </md-input-container>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="col-sm-4">
            <md-input-container class="example-full-width">
                <input formControlName="address" mdInput placeholder="Home Address">
            </md-input-container>
        </div>
        <div class="col-sm-4">
            <md-input-container>
                <input formControlName="dob" mdInput [mdDatepicker]="picker" placeholder="Date of birth">
                <button mdSuffix [mdDatepickerToggle]="picker"></button>
            </md-input-container>
            <md-datepicker #picker></md-datepicker>
        </div>
        <div class="col-sm-4">
            <md-select placeholder="Gender" formControlName="gender">
                <md-option *ngFor="let gender of genders" [value]="gender._id">
                    {{ gender.name }}
                </md-option>
            </md-select>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="col-sm-4">
            <md-select placeholder="Nationality" formControlName="nationality">
                <md-option *ngFor="let country of countries" [value]="country._id">
                    {{ country.name }}
                </md-option>
            </md-select>
        </div>
        <div class="col-sm-4">
            <md-select placeholder="State of origin" formControlName="state">
                <md-option *ngFor="let state of states" [value]="state._id">
                    {{ state.name }}
                </md-option>
            </md-select>
        </div>
        <div class="col-sm-4">
            <md-select placeholder="LGA" formControlName="lga">
                <md-option *ngFor="let lga of lgas" [value]="lga._id">
                    {{ lga.name }}
                </md-option>
            </md-select>
        </div>
    </div>
</form>
<div class="col-sm-12 text-center" style="margin-top:27px;margin-bottom:20px;">
    <button md-raised-button class="apmis-blue" [disabled]="!newPersonForm.valid || diabledSaveBtn" (click)="onClickSavePerson(newPersonForm.value, newPersonForm.valid);" [innerHtml]="saveBtnText"></button>
</div>