@import "../../../../../../globals/variables.scss";
@import "../../../patient-manager/patientmanager-homepage/patientmanager-homepage.component.scss";
.inner-page-contentArea {
    padding: 10px;
}

// .add-action-box {
//     height: 40px;
//     .btn-1 {
//         float: right;
//     }
// }
// .c-page-header {
//     height: 40px;
//     z-index: 2;
//     .c-page-title {
//         float: left;
//     }
//     .back-btn {
//         padding: 10px;
//         font-size: 16px;
//         font-family: "Josefin Sans", sans-serif;
//         color: #BDBDBD;
//         margin: 0;
//         z-index: 3;
//         &:hover {
//             cursor: pointer;
//         }
//     }
// }
.c-page-header {
    height: 40px;
    z-index: 2;
    .c-page-title {
        text-align: left;
        float: left;
        width: 60%;
    }
    .btn-box {
        width: 40%;
        .back-btn {
            padding: 10px;
            font-size: 16px;
            font-family: "Josefin Sans", sans-serif;
            color: #BDBDBD;
            margin: 0;
            z-index: 3;
            float: right;
            &:hover {
                cursor: pointer;
            }
        }
        .add-action-box {
            float: right;
            height: 40px;
            .btn {
                color: #fff;
            }
        }
    }
}

.inPatients {
    border: none;
    .filter-box {
        padding: 10px 0;
        .filter {
            width: 130px;
        }
    }
    .patient-sex {
        text-align: left;
    }
    .btn-1 {
        padding: 5px;
        margin: 0;
    }
    .table-content {
        padding: 10px;
    }
    .table-content-action {
        padding: 5px;
        .fa {
            font-size: 16px;
            padding: 5px;
            margin: 2px;
            cursor: pointer;
        }
    }
    // table {
    //     tbody {
    //         tr {
    //             padding: 5px;
    //             td {
    //                 padding: 8px;
    //                 line-height: 1.42857143;
    //                 .fa {
    //                     font-size: 16px;
    //                     padding: 5px;
    //                     margin: 2px;
    //                     cursor: pointer;
    //                 }
    //             }
    //         }
    //         .details-link {
    //             &:hover {
    //                 background-color: #ccc;
    //                 cursor: pointer;
    //             }
    //         }
    //     }
    // }
    .modal-overlay {
        position: fixed;
        top: 0;
        left: 0;
    }
}