@import "../../../../../../globals/variables.scss";
@import "../../../patient-manager/patientmanager-homepage/patientmanager-homepage.component.scss";
.inner-page-contentArea {
    padding: 10px;
}

// .add-action-box {
//     height: 40px;
//     .btn-1 {
//         float: right;
//     }
// }
// .c-page-header {
//     height: 40px;
//     z-index: 2;
//     .c-page-title {
//         float: left;
//     }
//     .back-btn {
//         padding: 10px;
//         font-size: 1.6rem;
//         font-family: "Josefin Sans", sans-serif;
//         color: #BDBDBD;
//         margin: 0;
//         z-index: 3;
//         &:hover {
//             cursor: pointer;
//         }
//     }
// }
.c-page-header {
    height: 40px;
    z-index: 2;
    .c-page-title {
        text-align: left;
        float: left;
        width: 60%;
    }
    .btn-box {
        width: 40%;
        .back-btn {
            padding: 10px;
            font-size: 1.6rem;
            font-family: "Josefin Sans", sans-serif;
            color: #BDBDBD;
            margin: 0;
            z-index: 3;
            float: right;
            &:hover {
                cursor: pointer;
            }
        }
        .add-action-box {
            float: right;
            height: 40px;
            .btn {
                color: #fff;
            }
        }
    }
}

.inPatients {
    border: none;
    .filter-box {
        padding: 10px 0;
        .filter {
            width: 130px;
        }
    }
    .table-content {
        padding: 10px;
        text-align: center;
    }
    .table-content-action {
        padding: 5px;
        .fa {
            font-size: 1.6rem;
            padding: 5px;
            margin: 2px;
            cursor: pointer;
        }
    }
    .details-link {
        &:hover {
            background-color: #ccc;
            cursor: pointer;
        }
    }
}