.modal_title {
    margin-bottom: 15px;
}

.lhs {
    float: none;
}

.edit-control {
    background-color: transparent;
    margin-right: 0;
    padding: 10px;
    width: 93% !important;
    border: 0.5px solid #37474F;
}

input,
select {
    width: 100%;
}