<div class="modal-baseWrap animated pulse">

    <div (click)="close_onClick()" class="modal-close-ico" aria-hidden="true">X</div>
    <legend class="modal_title">Discharge Segun Alabi</legend>
    <div class="mainErr animated shake" [hidden]="mainErr">{{errMsg}}</div>

    <form [formGroup]="dischargeFormGroup" novalidate>
        <div class="frm-item-wrap">
            <md-select placeholder="Facility LGA (Location)" (change)="onDischargeTypeChange($event.value)" formControlName="dischargeType">
                <md-option *ngFor="let discharge of dischargeTypeItems" [value]="discharge._id">{{discharge.name}}</md-option>
            </md-select>
        </div>
        <div class="frm-item-wrap">
            <md-input-container>
                <textarea mdInput formControlName="comment" placeholder="Comment"></textarea>
            </md-input-container>
        </div>
        <button class="cta-1" (click)="onDischarge(dischargeFormGroup.value, dischargeFormGroup.valid)"> Discharge Patient</button>
    </form>
</div>