<div (click)="closeActivate($event)" class="inner-wrap-b body-wrap">
    <div class="facility-title">{{pageInView}}</div>
    <div class="first-menu">
    <nav>
        <a href="#">Store</a>
        <a href="#">Product</a>
        <a href="#">Purchase</a>
        <a href="#">Inventory</a>
        <div class="animation start-home"></div>
    </nav>
    </div>
    <div  class="second-menu">
        <a href="#" class="btning">Store</a>
        <a href="#" class="btning">Product</a>
        <a href="#" class="btning">Purchase</a>
        <a href="#" class="btning">Inventory</a>
    </div>
    <div class="third" style="margin-top:40px;">
        <ul class="snip1189">
        <li class="current"><a href="#">Store</a></li>
        <li><a href="#">Product</a></li>
        <li><a href="#">Purcase</a></li>
        <li><a href="#">Inventory</a></li>
        </ul>
    </div>

    <div class="inner-page-wrap">
        <div (focusout)="contentSecMenuToggle()" class="inner-menu1-wrap">
            <i id="contentSecMenuToggle" (click)="contentSecMenuToggle()" [class.content-sec-icoActive]="contentSecMenuShow" class=" content-sec-ico fa fa-ellipsis-v" aria-hidden="true"></i>
            <ul id="innerMenu-ul" *ngIf="contentSecMenuShow" class="innerMenu-ul shadow">
                <li [routerLink]="['/dashboard/store/home']">Manage Store</li>
                <li [routerLink]="['/dashboard/product-manager/products']">Manage Product</li>
                <li [routerLink]="['/dashboard/purchase-manager/orders']">Manage Purchase</li>
                <li [routerLink]="['/dashboard/inventory-manager/inventory']">Manage Inventory</li>
            </ul>
        </div>

        <div class="inner-page-contentArea">
            <router-outlet class="menuContent"></router-outlet>
        </div>
    </div>
</div>