
  <div class="col-sm-12">
    <div class="x_panel">
        <div class="x_title">
          <h2>Setup workbench</h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content"> 
          <md-select placeholder="Select minor location" [(ngModel)]="selectedValue" name="food">
            <md-option *ngFor="let food of foods" [value]="food.value">
              {{food.viewValue}}
            </md-option>
          </md-select>
          <md-input-container class="example-full-width">
            <input mdInput placeholder="Workbench name">
          </md-input-container>

          <div class="text-center">
            <button class="apmis-blue" md-raised-button>Add</button>
          </div>
        </div>
    </div>
  </div>
  <div class="col-sm-12">
      <table class="points_table">
        <thead>
          <tr>
            <th class="col-xs-4">Minor Location</th>
            <th class="col-xs-4">Worknbench</th>
            <th class="col-xs-4">Action</th>
          </tr>
        </thead>
        <tbody class="points_table_scrollbar">
          <tr>
            <td class="col-xs-4">
              <div>Minor location name</div>
            </td>
            <td class="col-xs-4">
              <div *ngIf="!editworksetup">Workbench name</div>
              <div *ngIf="isMinorlocationedit">
                <md-input-container class="example-full-width">
                <input mdInput placeholder="Edit workbench">
                </md-input-container>
              </div>
            </td>
            <td class="col-xs-4"><a><i class="fa fa-edit"></i></a>
            </td>
          </tr>     
              <tr>
            <td class="col-xs-4">
              <div>Minor location name</div>
            </td>
            <td class="col-xs-4">
              <div>Workbench name</div>
            </td>
            <td class="col-xs-4"><a><i class="fa fa-edit"></i></a>
            </td>
          </tr>           
        </tbody>
  </table>
  </div>