.modal-baseWrap{
    width: 590px;
    padding: 10px 50px;
}
.dx-texteditor{
    border: 0;
    border-bottom: 0.5px solid #37474F;
    font-size: 14px;
    color: #37474F;
    width: 245px;
    border-radius: 0;
}
.modal-baseWrap .mat-input-container {
    width: 100%;
}