<div class="c-page-header">
    <div class="back-btn pull-right">
        <span routerLink="/dashboard/ward-manager/admitted"><i class="fa fa-arrow-circle-o-left"></i> Go Back</span>
    </div>
</div>
<div class="c-page-body">
    <div class="inPatients">
        <div class="patient-img">
            <img *ngIf="selectedPatient?.patientId?.personDetails.profileImageObject?.detailthumbnail !== undefined" [src]="_inPatientService.transform(selectedPatient?.patientId?.personDetails.profileImageObject?.detailthumbnail)">
            <img *ngIf="selectedPatient?.patientId?.personDetails.profileImageObject?.detailthumbnail == undefined" src="assets/images/users/default.png">
            <div class="action-box">
                <div class="btn-1 btn-blue" (click)="onClickDischargePatient();"><i class="fa fa-user-times" aria-hidden="true"></i> Discharge</div>
                <div class="btn-1 btn-gray"><i class="fa fa-eye" aria-hidden="true"></i> Patient Documentation</div>
                <!--<div class="btn-1 btn-green" routerLink="/dashboard/ward-manager/admitted/{{admittedPatientId}}/bill-details"><i class="fa fa-money" aria-hidden="true"></i> Bill Patient</div>-->
                <div class="btn-1 btn-red" (click)="onClickTransferPatient()"><i class="fa fa-share" aria-hidden="true"></i> Transfer</div>
            </div>
        </div>
        <div class="details">
            <div class="detail-left">
                <div class="subsect-itemWrap">
                    <div class="subsect-label">Full Name</div>
                    <div class="subsect-val">{{selectedPatient?.patientId.personDetails.personFullName}}</div>
                </div>
                <div class="subsect-itemWrap">
                    <div class="subsect-label">Address</div>
                    <div class="subsect-val">{{selectedPatient?.patientId.personDetails.fullAddress}}</div>
                </div>
                <div class="subsect-itemWrap">
                    <div class="subsect-label">Mobile</div>
                    <div class="subsect-val">{{selectedPatient?.patientId.personDetails.phoneNumber}}</div>
                </div>
                <div class="subsect-itemWrap">
                    <div class="subsect-label">Email</div>
                    <div class="subsect-val">{{selectedPatient?.patientId.personDetails.email}}</div>
                </div>
                <div class="subsect-itemWrap">
                    <div class="subsect-label">Diagnosis</div>
                    <div class="subsect-val">Headache, Malaria, Typhoid</div>
                </div>
                <div class="subsect-itemWrap">
                    <div class="subsect-label">Allergies</div>
                    <div class="subsect-val">Hot water, Dirt</div>
                </div>
            </div>
            <div class="detail-right">
                <div class="subsect-itemWrap">
                    <div class="subsect-label">Admission Date</div>
                    <div class="subsect-val">{{selectedPatient?.admissionDate | date }}</div>
                </div>
                <div class="subsect-itemWrap">
                    <div class="subsect-label">Drugs Administered</div>
                    <div class="subsect-val">{{selectedPatient?.admissionDate | date}}</div>
                </div>
                <div class="subsect-itemWrap">
                    <div class="subsect-label">Ward</div>
                    <div class="subsect-val">{{selectedPatient?.wardItem?.name}}</div>
                </div>
                <div class="subsect-itemWrap">
                    <div class="subsect-label">Room</div>
                    <div class="subsect-val">{{selectedPatient?.wardItem?.roomId?.name}}</div>
                </div>
                <div class="subsect-itemWrap">
                    <div class="subsect-label">Bed</div>
                    <div class="subsect-val">{{selectedPatient?.wardItem?.bedId?.name }}</div>
                </div>
                <div class="subsect-itemWrap">
                    <div class="subsect-label">Number of days on admission</div>
                    <div class="subsect-val">{{selectedPatient?.admissionDate | amTimeAgo }}</div>
                </div>
            </div>
        </div>

        <div *ngIf="dischargePatient" class="modal-overlay">
            <app-discharge-patient (closeModal)="close_onClick($event)" [selectedPatient]="selectedPatient" id="form-modal" class="form-modal center-center"></app-discharge-patient>
        </div>
        <div *ngIf="transferPatient" class="modal-overlay">
            <app-transfer-patient (closeModal)="close_onClick($event)" [selectedPatient]="selectedPatient" id="form-modal" class="form-modal center-center"></app-transfer-patient>
        </div>
    </div>
</div>