<div class="np-mainwrap">
  <div class="np-lhs">
    <div class="topItemsWrap">
      <div class="frm-item-wrap" style="width: 20%;">
        <mat-form-field>
          <mat-select class="example-full-width" (change)="flyout_toggle($event)" placeholder="Request From" [formControl]="productsControl">
            <mat-option *ngFor="let store of stores" [value]="store._id">{{store.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

    </div>
    <form [formGroup]="frm_purchaseOrder" novalidate>

      <div class="col-b">

        <div class="no-data" *ngIf="productTableForm.controls['productTableArray'].value.length  == 0" >Kindly select product from the right tab</div>
        <form *ngIf="productTableForm.controls['productTableArray'].value.length > 0" [formGroup]="productTableForm">
          <div formArrayName="productTableArray" class="frmArrayWrap">
            <div class="frmArray" *ngFor="let schedule of productTableForm.controls['productTableArray'].controls; let i = index;">
              <div formGroupName="{{i}}">
                <div class="prod-wrap">

                  <div class="inputWrap-productDetail">
                    <div (click)="removeProduct(i, schedule.value)" class="modal-close-ico" aria-hidden="true">X</div>

                    <div style="width: 50%;" class="frm-item-wrap">
                      <mat-input-container style="width:100%;" class="example-full-width">
                        <input matInput mat-error placeholder="Product" formControlName="product">
                      </mat-input-container>
                    </div>

                    <div style="width: 50%;" class="frm-item-wrap">
                      <mat-input-container style="width:100%;" class="example-full-width">
                        <input type="number" min="0" matInput mat-error placeholder="Qantity" formControlName="qty" readonly>
                      </mat-input-container>
                    </div>

                    <div class="row" formArrayName="config">
                          <mat-input-container class="col-sm-{{12/getProductConfig(schedule).length}}" [formGroupName]="j" *ngFor="let item of getProductConfig(schedule); let j = index">
                              <input type="number" formControlName="size" min="1" (change)="onPackageSize(i)" matInput placeholder="{{item.value.name}}">
                          </mat-input-container>
                  </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>

      </div>

      <div *ngIf="productTableForm.controls['productTableArray'].value.length > 0">
        <div class="wrap2">
          <div class="frm-item-wrap">
            <mat-input-container class="example-full-width">
              <textarea matInput mat-error placeholder="Remark" [formControl]="desc"></textarea>
            </mat-input-container>
          </div>
        </div>
      </div>
      <div class="CTAs-wrap" *ngIf="productTableForm.controls['productTableArray'].value.length > 0">
        <div (click)="save()" class="cta-1">Save Progress</div>
        <!-- <div (click)="save()" class="cta-1">Send Requisition</div> -->
      </div>
    </form>
  </div>
  <div class="flyout">
    <div class="sec-b">
      <!-- <div (click)="flyout_toggle($event)" class="slideInWrap">
        <i class="fa fa-arrow-circle-right pull-right" aria-hidden="true"></i>
      </div> -->
      <div class="col-a">
        <div class="filter-sect">
          <div class="frm-item-wrap">
            <input [formControl]="searchControl" class="search-input" placeholder="search product here...">
          </div>

          <div class="check-filterWrap">
            <div class="chkbox-wrap" *ngFor="let item of checkBoxLabel; let i=index">
              <mat-checkbox [checked]="item.checked" (change)="onChecked($event,item,checkBoxLabel,i)">{{item.name}}</mat-checkbox>
            </div>
          </div>
        </div>
        <div class="product-sect">
          <div *ngFor="let group of superGroups">
            <label *ngFor="let item of group" class="control control--checkbox">{{item.name}}
              <div class="control__indicator">
                <mat-checkbox (change)="onProductCheckChange($event,item)" [checked]="item.checked"></mat-checkbox>
              </div>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
