.card-title {
    font-size: 1.4rem;
    color: #194985;
    text-decoration: underline;
}
.tbl-top-items{
    display: flex;
    justify-content: space-between;
    margin: 20px 0 6px 0;
    align-items: flex-end;
}