<div class="pp-card shadow-grey">
  <div class="tbl-top-items">
      <div class="card-title">List Of Configured Products</div>
      <div class="searchInputWrap">
          <input [formControl]="searchControl" type="search" autofocus class="searchInput" placeholder="search">
          <i class="fa fa-search" aria-hidden="true"></i>
      </div>
    </div>
    <div class="tbl-resp-wrap">
        <table class="workspace-tbl" cellpadding="0" cellspacing="0" border="0.5">
            <thead>
                <tr>
                    <th>
                        <span style="padding-left: 3px;">Product Name</span>
                    </th>
                    <th>
                        <span style="padding-left: 3px;">Product Count</span>
                    </th>
                    <th>
                        <span style="padding-left: 3px;">Pack Type</span>
                    </th>
                    <th>
                        <span style="padding-left: 3px;">Date</span>
                    </th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>Paracetamol</td>
                    <td>20</td>
                    <td>Cartons</td>
                    <td>11th Sept 2018</td>
                    <td>
                      <i class="fa fa-edit"></i>
                    </td>
                </tr>
                <tr>
                  <td>Paracetamol</td>
                  <td>20</td>
                  <td>Cartons</td>
                  <td>11th Sept 2018</td>
                  <td>
                    <i class="fa fa-edit"></i>
                  </td>
                </tr>
                <tr>
                    <td>Paracetamol</td>
                    <td>20</td>
                    <td>Cartons</td>
                    <td>11th Sept 2018</td>
                    <td>
                      <i class="fa fa-edit"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>Paracetamol</td>
                    <td>20</td>
                    <td>Cartons</td>
                    <td>11th Sept 2018</td>
                    <td>
                      <i class="fa fa-edit"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>