@import "../../globals/variables.scss";

.noToken_wrap{
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    font-size: 12px;
    color: #616161;
}
.noToken_txt1 span{
    border-bottom: 1px solid;
    color: #0D47A1;
    margin: 0px 5px;
    cursor: pointer;
}
.noToken_txt1 span:hover{
    color: #ff2500;
}
.noToken_txt2{
    text-decoration: underline;
    color: #ff2500;
    cursor: pointer;
    width: 105px;
    margin: 10px auto;
}
.noToken_txt2:hover{
    color: #0D47A1;
}
.file-over{
    height: 200px;
    border: dotted 3px red;
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #616161;
}
.f_sg3 input{
    border-bottom: 0px;
}
.modal-baseWrap{
    width: 590px;
    padding: 10px 50px;
}
.modal-baseWrap .mat-input-container {
    width: 100%;
}