<div class="survery">
    <div class="row margin-bottom" style="position:absolute;width: 100%;top: -50px;display: block;">
        <div class="col-sm-4 col-md-4 col-xs-12">
            <mat-form-field>
                <mat-select class="example-full-width" placeholder="Choose">
                    <mat-option></mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-sm-4 col-md-4 col-xs-12 pull-right">
            <mat-input-container class="example-full-width">
                <input matInput mat-error placeholder="search">
            </mat-input-container>
        </div>
    </div>

    <div class="product-parentWrap">
        <div class="prod-row prodParent-header">
            <div class="prod-rowItem item1">Transfer To</div>
            <div class="prod-rowItem item4">Value (&#8358;)</div>
            <div class="prod-rowItem item2">Date</div>
            <div class="prod-rowItem item3">Transfer By</div>
        </div>

        <div class="prodParent-content" *ngIf="transferHistories.length > 0">
            <div class="prodWrap" *ngFor="let producthistory of transferHistories">
                <div class="prod-row">
                    <div (click)="onShowBatch(producthistory)" class="prod-rowItem item1">{{producthistory.destinationStoreObject?.name}}</div>
                    <div (click)="onShowBatch(producthistory)" class="prod-rowItem item4">{{producthistory.totalCostPrice|number:'1.2-2'}}</div>
                    <div (click)="onShowBatch(producthistory)" class="prod-rowItem item2">{{producthistory.createdAt|date:'short'}}</div>
                    <div (click)="onShowBatch(producthistory)" class="prod-rowItem item3">{{producthistory.storeObject?.name}}</div>
                </div>
                <div *ngIf="producthistory.isOpen===true && (selectedInventoryTransfer._id === producthistory._id)" class="prodBatch-wrap animated flipInX">
                    <div class="prodBatch-row batchHeader">
                        <div class="prodBatch-item batchItem1">Product</div>
                        <div class="prodBatch-item batchItem5">Batch No</div>
                        <div class="prodBatch-item batchItem2">Value</div>
                        <div class="prodBatch-item batchItem3">Transfer Qty</div>
                        <div class="prodBatch-item batchItem4">Status</div>
                    </div>
                    <div class="prodBatch-row batchContent" *ngFor="let transaction of producthistory.inventoryTransferTransactions">
                        <div class="prodBatch-item batchItem1">
                            <mat-checkbox [checked]="false">{{transaction?.productObject?.name}}</mat-checkbox>
                        </div>
                        <div class="prodBatch-item batchItem5">{{transaction.batchNumber}}</div>
                        <div class="prodBatch-item batchItem2">{{transaction.lineCostPrice|number:'1.2-2'}}</div>
                        <div class="prodBatch-item batchItem3">{{transaction.quantity}}</div>
                        <div class="prodBatch-item batchItem4">
                            <div>{{transaction.inventoryStatus}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>