<div class="modal-baseWrap animated pulse">
  <div (click)="close_onClick()" class="modal-close-ico" aria-hidden="true">X</div>
  <legend class="modal_title">Payment Plans</legend>
  <div class="mainErr animated shake" [hidden]="mainErr">{{errMsg}}</div>

  <div class="plans-wrap">
    <div>
      <div class="plan shadow-grey">
        <div class="plan-title">Out of Pocket</div>
        <md-checkbox class="plan-checker" [formControl]="walletPlanCheck"></md-checkbox>
        <div class="frm-item-wrap">
          <md-select placeholder="Select Plan" [formControl]="walletPlan">
            <md-option>Diamond</md-option>
            <md-option>Gold</md-option>
            <md-option>Bronze</md-option>
          </md-select>
        </div>
      </div>

      <div class="plan shadow-grey">
        <div class="plan-title">Family Cover</div>
        <md-checkbox class="plan-checker" [formControl]="familyPlanCheck"></md-checkbox>
        <div class="frm-item-wrap">
          <md-input-container class="example-full-width">
            <input mdInput md-error placeholder="Principal" [formControl]="familyPlanId">
          </md-input-container>
        </div>
      </div>
    </div>

    <div class="plan shadow-grey">
      <div class="plan-title">Insurance</div>
      <md-checkbox class="plan-checker" [formControl]="hmoPlanCheck"></md-checkbox>
      <div class="frm-item-wrap">
        <md-select placeholder="HMO" [formControl]="hmo">
          <md-option *ngFor="let item of hmos" [value]="item.hmo._id">{{item.hmo.name}}</md-option>
        </md-select>
      </div>
      <div class="frm-item-wrap">
        <md-input-container class="example-full-width">
          <input mdInput md-error placeholder="Insurance ID" [formControl]="hmoPlanId">
        </md-input-container>
      </div>
      <div class="frm-item-wrap">
        <md-select placeholder="Select Plan" [formControl]="hmoPlan">
          <md-option *ngFor="let item of plans" [value]="item">{{item}}</md-option>
        </md-select>
      </div>

      <div class="another">Another Insurance</div>
    </div>

    <div class="plan shadow-grey">
      <div class="plan-title">Company Cover</div>
      <md-checkbox class="plan-checker" [formControl]="ccPlanCheck"></md-checkbox>
      <div class="frm-item-wrap">
        <md-input-container class="example-full-width">
          <input mdInput md-error placeholder="Employee" [formControl]="ccPlanId">
        </md-input-container>
      </div>
      <div class="frm-item-wrap">
        <md-select placeholder="Select Plan" [formControl]="ccPlan">
          <md-option>Diamond</md-option>
          <md-option>Gold</md-option>
          <md-option>Bronze</md-option>
        </md-select>
      </div>

      <div class="another">Another Company</div>
    </div>

  </div>

  <button class="cta-1">Save</button>
</div>
