<div class="modal-baseWrap animated pulse">
  <div (click)="close_onClick()" class="modal-close-ico" aria-hidden="true">X</div>
  <legend class="modal_title">Payment Plans - {{selectedPatient?.personDetails?.personFullName}}</legend>
  <div class="mainErr animated shake" [hidden]="mainErr">{{errMsg}}</div>
  <div class="doc-mainWrap">
    <div class="tab-wrap">
      <div (click)="tabWallet_click()" [class.tab-item-active]="tabWallet" class="tab-item">Out of Pocket</div>
      <div (click)="tabInsurance_click()" [class.tab-item-active]="tabInsurance" class="tab-item">Insurance</div>
      <div (click)="tabCompany_click()" [class.tab-item-active]="tabCompany" class="tab-item">Company Cover</div>
      <div (click)="tabFamily_click()" [class.tab-item-active]="tabFamily" class="tab-item">Family Cover</div>
    </div>

    <div class="tab-content">
      <div *ngIf="tabWallet">
        <div class="plan">
          <div class="plan-title">Out of Pocket</div>
          <div class="frm-item-wrap">
            <md-select placeholder="Select Plan" [formControl]="walletPlan">
              <md-option>Diamond</md-option>
              <md-option>Gold</md-option>
              <md-option>Bronze</md-option>
            </md-select>
          </div>
          <button class="cta-1">Save</button>
        </div>
      </div>

      <div *ngIf="tabInsurance">

        <!-- for array -->
        <form [formGroup]="insurancePlanForm" class="form-horizontal">
          <div formArrayName="insurancePlanArray" class="frmArrayWrap">
            <div class="frmArray" *ngFor="let insurance of insurancePlanForm.controls['insurancePlanArray'].controls; let i = index;">
              <div (click)="closeInsurancePlan(insurance, i)" class="closeIcon"><i class="fa fa-times-circle-o" aria-hidden="true"></i></div>
              <div formGroupName="{{i}}">
                <div>
                  <div class="plan">
                    <div class="plan-title">Insurance</div>
                    <div *ngIf="insurance.controls.client.value !== null">
                      {{insurance.controls.client?.value.surname}} {{insurance.controls.client?.value.firstName}} <span class="role">{{getRole(insurance.controls.client?.value)}}</span>
                    </div>
                    <div class="frm-item-wrap">
                      <md-select (change)="formArrayControlChanges(insurance, i)" placeholder="HMO" formControlName="hmo">
                        <md-option *ngFor="let item of hmos" [value]="item?.hmo?._id">{{item?.hmo?.name}}</md-option>
                      </md-select>
                    </div>
                    <div class="frm-item-wrap">
                      <md-input-container class="example-full-width">
                        <input (change)="formArrayControlChanges(insurance, i)" mdInput md-error placeholder="Insurance ID" formControlName="hmoPlanId">
                      </md-input-container>
                      <md-error *ngIf="insurance.controls.hmoPlanId.hasError('idNotFound')">
                        <span style="font-size:10px">Insurance ID not found!</span>
                      </md-error>
                    </div>
                    <div class="addNew" *ngIf="insurance.controls.hmoPlanId.hasError('idNotFound') || insurance.controls.addInsuranceCondition.value">
                      <md-checkbox class="example-margin" formControlName="addToHMOPlan">Add</md-checkbox>
                      <md-checkbox *ngIf="insurance.controls.addToHMOPlan.value" class="example-margin" formControlName="isPrincipal">Principal</md-checkbox>
                    </div>

                    <div class="frm-item-wrap">
                      <md-select placeholder="Select Plan" formControlName="hmoPlan">
                        <md-option *ngFor="let item of insurance.controls.plans.value" [value]="item">{{item}}</md-option>
                      </md-select>
                    </div>
                    <button [disabled]="!insurance.valid" (click)="onSubmit(insurance, i)" class="cta-1">Save</button>

                    <div *ngIf="insurance.controls.readOnly.value && isLastChild(i)" (click)="pushNewInsurancePlan()" class="another">Another Insurance</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
        <!-- end -->
      </div>

      <!-- form array for company -->
      <!-- <div *ngIf="tabCompany">
          <div class="plan">
            <div class="plan-title">Company Cover</div>
            <div class="frm-item-wrap">
                <div class="frm-item-wrap">
                    <md-select (change)="formArrayControlChanges(insurance, i)" placeholder="Company" formControlName="company">
                      <md-option  *ngFor="let item of companies" [value]="item?.hmo?._id">{{item?.hmo?.name}}</md-option>
                    </md-select>
                  </div>
              <md-input-container class="example-full-width">
                <input mdInput md-error placeholder="Employee" [formControl]="ccPlanId">
              </md-input-container>
            </div>
            <div class="frm-item-wrap">
              <md-select placeholder="Select Plan" [formControl]="ccPlan">
                <md-option>Diamond</md-option>
                <md-option>Gold</md-option>
                <md-option>Bronze</md-option>
              </md-select>
            </div>
            <button class="cta-1">Save</button>

            <div class="another">Another Company</div>
          </div>
        </div> -->
      <div *ngIf="tabCompany">
        <form [formGroup]="companyCoverPlanForm" class="form-horizontal">
          <div formArrayName="companyCoverPlanArray" class="frmArrayWrap">
            <div class="frmArray" *ngFor="let company of companyCoverPlanForm.controls['companyCoverPlanArray'].controls; let i = index;">
              <div (click)="closeCompanyPlan(company, i)" class="closeIcon"><i class="fa fa-times-circle-o" aria-hidden="true"></i></div>
              <div formGroupName="{{i}}">
                <div>
                  <div class="plan">
                    <div class="plan-title">Company Cover</div>
                    <div *ngIf="company.controls.client.value !== null">
                      {{company.controls.client?.value.surname}} {{company.controls.client?.value.firstName}} <span class="role">{{getRole(company.controls.client?.value)}}</span>
                    </div>
                    <div class="frm-item-wrap">
                      <md-select (change)="companyFormArrayControlChanges(company, i)" placeholder="Company" formControlName="company">
                        <md-option *ngFor="let item of companies" [value]="item?.hmo?._id">{{item?.hmo?.name}}</md-option>
                      </md-select>
                    </div>
                    <div class="frm-item-wrap">
                      <md-input-container class="example-full-width">
                        <input (change)="companyFormArrayControlChanges(company, i)" mdInput md-error placeholder="Company Plan ID" formControlName="companyPlanId">
                      </md-input-container>
                      <md-error *ngIf="company.controls.companyPlanId.hasError('idNotFound')">
                        <span style="font-size:10px">Company Cover ID not found!</span>
                      </md-error>
                    </div>
                    <div class="addNew" *ngIf="company.controls.companyPlanId.hasError('idNotFound') || company.controls.addCompanyCondition.value">
                      <md-checkbox class="example-margin" formControlName="addToCompanyPlan">Add</md-checkbox>
                      <md-checkbox *ngIf="company.controls.addToCompanyPlan.value" class="example-margin" formControlName="isPrincipal">Principal</md-checkbox>
                    </div>

                    <div class="frm-item-wrap">
                      <md-select (change)="companyFormArrayControlChanges(company, i)" placeholder="Select Plan" formControlName="companyPlan">
                        <md-option *ngFor="let item of company.controls.plans.value" [value]="item">{{item}}</md-option>
                      </md-select>
                    </div>
                    <button *ngIf="!company.controls.readOnly.value" [disabled]="!company.valid" (click)="onSubmitCompanyCover(company, i)" class="cta-1">Save</button>

                    <div *ngIf="company.controls.readOnly.value && isCompanyLastChild(i)" (click)="pushNewCompanyCoverPlan()" class="another">Another Company Cover</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <!-- end form array for company -->

      <!-- <div *ngIf="tabFamily"> -->
      <!-- <div class="plan">
          <div class="plan-title">Family Cover</div>
          <div class="frm-item-wrap">
            <md-input-container class="example-full-width">
              <input mdInput md-error placeholder="Principal" [formControl]="familyPlanId">
            </md-input-container>
          </div>
          <button class="cta-1">Save</button>

        </div> -->








      <div *ngIf="tabFamily">
        <form [formGroup]="familyCoverPlanForm" class="form-horizontal">
          <div formArrayName="dependantArray" class="frmArrayWrap">
            <div class="frmArray" *ngFor="let dependant of familyCoverPlanForm.controls['dependantArray'].controls; let i = index;">
              <div *ngIf="!dependant.value.readOnly" (click)="closeDependant(dependant, i)" class="closeIcon"><i class="fa fa-times-circle-o" aria-hidden="true"></i></div>
              <div formGroupName="{{i}}">
                <div>
                  <div class="plan">
                    <div class="plan-title">Family Cover</div>
                    <div class="frm-x2 frmArray">
                        <div class="frm-item-wrap">
                            <md-input-container>
                              <input mdInput placeholder="Cover ID" formControlName="familyPlanId">
                            </md-input-container>
                          </div>
                      <div class="frm-item-wrap">
                        <md-input-container>
                          <input mdInput placeholder="Surname" formControlName="surname">
                        </md-input-container>
                      </div>
                      <div class="frm-item-wrap">
                        <md-input-container>
                          <input mdInput placeholder="Othernames" formControlName="othernames">
                        </md-input-container>
                      </div>

                      <div class="frm-item-wrap">
                        <md-input-container class="example-full-width">
                          <input type="email" mdInput md-error placeholder="Email" formControlName="email">
                        </md-input-container>
                      </div>

                      <div class="frm-item-wrap">
                        <md-input-container class="example-full-width">
                          <input type="tel" mdInput md-error placeholder="Phone Number" formControlName="phone">
                        </md-input-container>
                      </div>

                      <div class="frm-item-wrap">
                        <md-select placeholder="Gender" formControlName="gender">
                          <md-option *ngFor="let gender of genders" [value]="gender._id">{{gender.name}}</md-option>
                        </md-select>
                      </div>
                      <div class="frm-item-wrap">
                        <md-select placeholder="Status" formControlName="status">
                          <md-option *ngFor="let status of statuses" [value]="status._id">{{status.name}}</md-option>
                        </md-select>
                      </div>
                    </div>
                    <button *ngIf="!dependant.controls.readOnly.value" [disabled]="!dependant.valid" (click)="onSubmitFamilyCover(dependant, i)"
                      class="cta-1">Save</button>

                    <div *ngIf="dependant.controls.readOnly.value && isFamilyLastChild(i)" (click)="pushNewCompanyCoverPlan()" class="another">Another Company Cover</div>
                  </div>
                </div>
              </div>
              <!-- <div class="frmNoteWrap">
                <div class="">Add Dependant</div>
                <div>
    
                </div>
              </div> -->
            </div>
          </div>
        </form>
















      </div>
    </div>
  </div>
</div>
