.empWrap {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

ul.topmenuwrap { 
    position: absolute;
    top: -25px;
    right: 22px;
    font-size: 12px;
    color: #0288D1;
}
.apmis-blue {
     color: #fff;
    background: #0288D1;
}

ul.topmenuwrap li {
    border: 1px solid #0288D1;
    padding: 3px 5px;
    cursor: pointer;
    border-radius: 7px;
}

ul.topmenuwrap li:hover {
    border: 1px solid #0288D1;
    background: #0288D1;
    color: #000;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
}

td {
    position: relative;
}

.workspace-listWrap {
    position: absolute;
    bottom: 100%;
    display: none;
    padding: 2px;
    background: #ddd;
    z-index: 200;
    border: 1px solid #989898;
    border-radius: 7px;
    font-size: 12px;
}

.td-worspace:hover {
    .workspace-listWrap { 
        display: block;
    }
}

.workspace-listWrap:hover {
    display: block;
}

.workspace-listItem {
    padding: 5px 20px;
}

.workspace-listItem:hover {
    background: #D0D3D4;
}

.workspace-listItem span {
    padding-right: 2px;
}

.workspace-listItem i {
    cursor: pointer;
}

.workspace-listItem i:hover {
    color: #ff2500;
}

.list-img {
    margin: 0 15px;
}

.pointer-wrap {
    width: 100%;
    text-align: center;
    position: relative;
}

.pointer-wrap i {
    position: absolute;
    font-size: 35px;
    color: #989898;
    top: -10px;
    right: 20px;
    z-index: 1;
}

.td-ctaWrap {
    position: relative;
}

.del-confirmBox {
    position: absolute;
    bottom: 100%;
    display: block;
    padding: 2px;
    background: #ddd;
    z-index: 200;
    border: 1px solid #989898;
    border-radius: 7px;
    font-size: 12px;
}

.confirm-options {
    position: absolute;
    top: -26px;
    right: 0;
    font-size: 12px;
    color: #0288D1;
}

.confirm-options .option {
    border: 1px solid #0288D1;
    padding: 3px 5px;
    cursor: pointer;
    border-radius: 7px;
}

.confirm-options .option:hover {
    border: 1px solid #0288D1;
    background: #0288D1;
    color: #000;
}