<div class="home-main">
  <ul class="hm-tabs">
    <li (click)="tab_click('outbound')" [class.hm-tab-active]='tab_outbound' class="hm-tab">Outbound Transfer</li>
    <li (click)="tab_click('inbound')" [class.hm-tab-active]='tab_inbound' class="hm-tab">inbound Transfer</li> 
  </ul> 

  <div class="tab-content">
    <div class="filterTop">
      <div class="tbl-header-lhs">
        <div class="input-group-x2">
          <div class="dropDown-container">
            <div class="select">
              <label>Store Location:</label>
              <select [formControl]="storeLocation" name="dropDown-container" id="dropDown-container">
                <option value="0">Select Store</option>
                <option value="1">Central Store</option>
              </select>
            </div>
          </div>
          <div class="dropDown-container">
            <div class="select">
              <label>Store Name:</label>
              <select [formControl]="storeName" name="dropDown-container" id="dropDown-container">
                <option value="0">Select Batch</option>
                <option value="1">1234ERTCH</option>
                <option value="2">6434ERRSH</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="tbl-header-rhs">
        <div class="items">
          <label class="label">Total Items Requested</label>
          <div class="val">400</div>
        </div>
        <div class="items">
          <label class="label">Total Items Requested</label>
          <div class="val">400</div>
        </div>
      </div>
      </div>
    <app-outbound-transfer *ngIf="tab_outbound"> </app-outbound-transfer>
    <app-inbound-transfer *ngIf="tab_inbound"> </app-inbound-transfer>
  </div>
</div>