<div class="side-wrap-full">
  <div class="covered-orgs lhs">

    <div class="searchInputWrap">
      <!--<input type="search" autofocus class="searchInput" placeholder="search for HMO">-->
      <md-input-container class="example-full-width">
         <input mdInput autofocus placeholder="search for HMO">
      </md-input-container>
      <div id="search">
        <i class="fa fa-search" aria-hidden="true"></i>
      </div>
    </div>

    <div class="covered-org">
      <img src="assets/images/users/default.png">
      <div class="txtWrap">
        <div class="facility">Samuel Dwane</div>
        <div class="listedFacilityDesc">5 Dependants</div>
      </div>
    </div>

    <div class="covered-org">
      <img src="assets/images/users/default.png">
      <div class="txtWrap">
        <div class="facility">Loraine Phil</div>
        <div class="listedFacilityDesc">3 Dependants</div>
      </div>
    </div>

    <div class="covered-org">
      <img src="assets/images/users/default.png">
      <div class="txtWrap">
        <div class="facility">Juliane Chukwuemeka</div>
        <div class="listedFacilityDesc">7 Dependants</div>
      </div>
    </div>

    <div class="covered-org">
      <img src="assets/images/users/default.png">
      <div class="txtWrap">
        <div class="facility">Goldie Raine</div>
        <div class="listedFacilityDesc">2 Dependants</div>
      </div>
    </div>

    <div class="covered-org">
      <img src="assets/images/users/default.png">
      <div class="txtWrap">
        <div class="facility">Sam Wood</div>
        <div class="listedFacilityDesc">3 Dependants</div>
      </div>
    </div>

     <div class="covered-org">
      <img src="assets/images/users/default.png">
      <div class="txtWrap">
        <div class="facility">Loraine Phil</div>
        <div class="listedFacilityDesc">3 Dependants</div>
      </div>
    </div>

    <div class="covered-org">
      <img src="assets/images/users/default.png">
      <div class="txtWrap">
        <div class="facility">Juliane Chukwuemeka</div>
        <div class="listedFacilityDesc">7 Dependants</div>
      </div>
    </div>

    <div class="covered-org">
      <img src="assets/images/users/default.png">
      <div class="txtWrap">
        <div class="facility">Daniel Sticks</div>
        <div class="listedFacilityDesc">4 Dependants</div>
      </div>
    </div>

     <div class="covered-org">
      <img src="assets/images/users/default.png">
      <div class="txtWrap">
        <div class="facility">Loraine Phil</div>
        <div class="listedFacilityDesc">3 Dependants</div>
      </div>
    </div>

    <div class="covered-org">
      <img src="assets/images/users/default.png">
      <div class="txtWrap">
        <div class="facility">Juliane Chukwuemeka</div>
        <div class="listedFacilityDesc">7 Dependants</div>
      </div>
    </div>

     <div class="covered-org">
      <img src="assets/images/users/default.png">
      <div class="txtWrap">
        <div class="facility">Loraine Phil</div>
        <div class="listedFacilityDesc">3 Dependants</div>
      </div>
    </div>

    <div class="covered-org">
      <img src="assets/images/users/default.png">
      <div class="txtWrap">
        <div class="facility">Juliane Chukwuemeka</div>
        <div class="listedFacilityDesc">7 Dependants</div>
      </div>
    </div>
  </div>
  <div class="search-orgs rhs">
    <div class="secTitle">Corporate Organizations</div>

    <div class="searchInputWrap">
      <!--<input type="search" autofocus class="searchInput" placeholder="search organizations">
      <i class="fa fa-search" aria-hidden="true"></i>-->
      <md-input-container class="example-full-width">
         <input mdInput autofocus placeholder="search organizations">
      </md-input-container>
      <div id="search">
        <i class="fa fa-search" aria-hidden="true"></i>
      </div>
    </div>

    <div class="orgWrap">
      <img src="assets/images/logos/default.jpg">
      <div class="txtWrap">
        <div class="facility">Sidmach Technologie</div>
        <div class="listedFacilityDesc">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium do</div>
      </div>
    </div>

    <div class="orgWrap">
      <img src="assets/images/logos/default.jpg">
      <div class="txtWrap">
        <div class="facility">MTN Nigeria</div>
        <div class="listedFacilityDesc">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusan</div>
      </div>
    </div>

    <div class="orgWrap">
      <img src="assets/images/logos/default.jpg">
      <div class="txtWrap">
        <div class="facility">Julius Berger</div>
        <div class="listedFacilityDesc">Sed ut perspiciatis unde omnis iste natus error sit vol</div>
      </div>
    </div>

    <div class="orgWrap">
      <img src="assets/images/logos/default.jpg">
      <div class="txtWrap">
        <div class="facility">Dangote Group</div>
        <div class="listedFacilityDesc">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium do</div>
      </div>
    </div>
  </div>
  <div class="clear"></div>
</div>
