<div (click)="innerMenuHide($event)" class="inner-wrap-b body-wrap">
    <div class="facility-title">User Access Manager</div>

    <div class="inner-page-wrap">
        <div>
            <legend class="page-title">Create Group Role</legend>
            
            <div class="featuresMainWrap">
                <div class="accessInputWrap">
                    <mat-input-container class="">
                        <input type="text" matInput mat-error placeholder="Supply Access Name" [formControl]="txtAccessName">
                    </mat-input-container>
                    <!--<input id="txtAccessName" class="top-tab-search" type="text" autofocus placeholder="Supply Access Name" [formControl]="txtAccessName">-->
                </div>
                <legend class="title-label">Select accessible features</legend>
                <div class="searchWrap">
                    <mat-input-container *ngIf="searchfeatureActive" class="animated fadeIn">
                        <input type="text" matInput mat-error placeholder="Search for Feature" [formControl]="searchFeature">
                    </mat-input-container>
                    <!--<input *ngIf="searchfeatureActive" class="top-tab-search animated fadeIn" type="search" placeholder="Search for Feature" [formControl]="searchFeature">-->
                    <i (click)="searchFeatureToggle()" [hidden]="searchfeatureActive" style="margin-top: 7px;" class="fa fa-search-plus" aria-hidden="true"></i>
                    <i (click)="searchFeatureToggle()" *ngIf="searchfeatureActive" class="fa fa-search-minus" aria-hidden="true"></i>
                </div>
                <div class="modal-content-wrap">
                    <div class="control-group" *ngFor="let group of superGroups">
                        <label *ngFor="let item of group" class="control control--checkbox">{{item.name}}
                          <input type="checkbox" [(ngModel)]="item.checked" />
                          <div class="control__indicator"></div>
                        </label>
                    </div>
                </div>
                <div class="btn-1 btn-blue" (click)="create()"><i class="fa fa-sign-in" aria-hidden="true"></i>{{btnTitle}}</div>
            </div>
        </div>
    </div>
</div>