<div class="inner-wrap-b body-wrap">
    <div class="facility-title">User Role Manager</div>

    <div class="inner-page-wrap">
        <div>
            <legend class="page-title">Create Group Role</legend>
            <div class="btn-back" [routerLink]="['/dashboard/access-manager/access-role-details']">
                <i class="fa fa-chevron-circle-left fa-2x" aria-hidden="true"></i>
                <span class="span">back</span>
            </div>
            <div class="featuresMainWrap shadow-grey">
                <div class="filters-wraper">
                    <mat-input-container class="">
                        <input type="text" matInput mat-error placeholder="Role name" [formControl]="txtAccessName">
                    </mat-input-container>
                </div>
                <div class="access-content-sect">
                    <div class="moduleside-sect shadow-grey">
                        <div class="as-count-sect card-seperator">
                            <div class="cad-head">
                                <div class="module-label">MODULES</div>
                            </div>
                            <ul *ngIf="!loading && modules.length > 0" class="work-places-list">
                                <li (click)="onClickModule(module);" *ngFor="let module of modules" class="work-places-item">
                                    <div class="network-list">
                                        <div class="wp-name">{{ module?.name }}</div>
                                    </div>
                                </li>
                            </ul>
                            <ul *ngIf="!loading && modules.length === 0" class="work-places-list">
                                <li class="work-places-item">
                                    <div style="width: 100%; padding: 10px; text-align:center; font-size: 10px;">No data to display</div>
                                </li>
                            </ul>
                            <ul *ngIf="loading && modules.length === 0" class="work-places-list">
                                <li class="work-places-item">
                                    <div style="width: 100%; padding: 10px; text-align:center; font-size: 10px;">
                                        <i class="fa fa-circle-o-notch fa-spin fa-3x text-blue" aria-hidden="true"></i>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="right-column shadow-grey">
                        <div *ngIf="!accessLoading && actions.length > 0" class="checkwrap">
                            <label *ngFor="let action of actions" class="container">{{ action?.name }}
                                <input type="checkbox" [checked]="action.isChecked" (change)="onClickCheckInput(action, $event.target.checked);">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div *ngIf="!accessLoading && actions.length === 0" class="checkwrap">
                            <div style="width: 100%; padding: 10px; text-align:center; font-size: 10px;">No data to display</div>
                        </div>
                        <div *ngIf="accessLoading && actions.length === 0" class="checkwrap">
                            <div style="width: 100%; padding: 10px; text-align:center; font-size: 10px;">
                                <i class="fa fa-circle-o-notch fa-spin fa-3x text-blue" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <table cellpadding="0 " cellspacing="0" border="0.4 ">
                    <thead>
                        <tr class="table-header">
                            <th>
                                <i class="fa fa-sort-alpha-asc " aria-hidden="true "></i>
                                <span>No</span>
                            </th>
                            <th>
                                <i class="fa fa-sort-alpha-asc " aria-hidden="true "></i>
                                <span>Module</span>
                            </th>
                            <th>
                                <i class="fa fa-sort-alpha-asc " aria-hidden="true "></i>
                                <span>Accessibilities</span>
                            </th>
                            <th>
                                <i class="fa fa-sort-alpha-asc " aria-hidden="true "></i>
                                <span>Action</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let selectedItem of selectedItems; let i = index;">
                            <td class="table-content">{{ i+1 }}</td>
                            <td class="table-content">{{ selectedItem.moduleName }}</td>
                            <td class="table-content">{{ selectedItem.accessName }}</td>
                            <td><i class="fa fa-trash fa-icon "></i></td>
                        </tr>
                        <tr *ngIf="selectedItems.length === 0">
                            <td colspan="4">
                                <div style="width: 100%; padding: 10px; text-align:center; font-size: 10px;">No data to display</div>
                            </td>
                        </tr>
                    </tbody>
                </table>


                <!-- <legend class="title-label">Select accessible features</legend>
                <div class="searchWrap">
                    <mat-input-container *ngIf="searchfeatureActive" class="animated fadeIn">
                        <input type="text" matInput mat-error placeholder="Search for Feature" [formControl]="searchFeature">
                    </mat-input-container>
                    <!--<input *ngIf="searchfeatureActive" class="top-tab-search animated fadeIn" type="search" placeholder="Search for Feature" [formControl]="searchFeature">-->
                <!-- <i (click)="searchFeatureToggle()" [hidden]="searchfeatureActive" style="margin-top: 7px;" class="fa fa-search-plus" aria-hidden="true"></i>
                    <i (click)="searchFeatureToggle()" *ngIf="searchfeatureActive" class="fa fa-search-minus" aria-hidden="true"></i>
                </div> -->
                <!-- <div class="modal-content-wrap">
                    <div class="control-group" *ngFor="let group of superGroups">
                        <label *ngFor="let item of group" class="control control--checkbox">{{item.name}}
                          <input type="checkbox" [(ngModel)]="item.checked" />
                          <div class="control__indicator"></div>
                        </label>
                    </div>
                </div> -->
                <div class="btn-box">
                    <button mat-raised-button class="mat-sm-btn" (click)="create();" [disabled]="selectedItems.length === 0 || disableBtn" style="padding: 0px 20px !important;">
                      <span *ngIf="createRole"><i class="fa fa-plus"></i> Create Role</span>
                      <span *ngIf="creatingRole">Creating Role... <i class="fa fa-spinner fa-spin"></i></span>
                      <span *ngIf="updateRole"><i class="fa fa-plus"></i> Update Role</span>
                      <span *ngIf="updatingRole">Updating Role... <i class="fa fa-spinner fa-spin"></i></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>