<div class="animated pulse">
  <div class="modal-header-wrap">
      <div (click)="close_onClick()" class="modal-close-ico" aria-hidden="true">X</div>
      <legend class="modal_title">Subscribtion</legend>
      <div class="modal_mini_title">Continental Hospital</div>
  </div>
  <div class="modal-baseWrap">
    <div class="mainErr animated shake" [hidden]="mainErr">{{errMsg}}</div>

    <!-- <form [formGroup]="frmSubscribe" novalidate>

        <div class="frm-item-wrap">
          <mat-form-field class="example-full-width">
              <mat-select placeholder="Select Plan" formControlName="plan">
                  <mat-option>One Off</mat-option>
                  <mat-option>Subscribtion</mat-option>
              </mat-select>
          </mat-form-field>
        </div>
      <button class="cta-1"> 
        Subscribe
      </button>
  </form>   -->
  </div>
</div>