<div class="animated pulse">
  <div class="modal-header-wrap">
      <div (click)="close_onClick()" class="modal-close-ico" aria-hidden="true">X</div>
      <legend class="modal_title">Subscribtion</legend>
      <div class="modal_mini_title">Continental Hospital</div>
  </div>
  <div class="modal-baseWrap">
    <div class="mainErr animated shake" [hidden]="mainErr">{{errMsg}}</div>

    <div class="search-wrap">
      <select [formControl]="searchAccount" placeholder="Select Plan">
        <option>One Off Payment</option>
        <option>Subscribtion</option>
      </select>
    </div>

    <button class="cta-1"> 
        Subscribe
      </button>
  </div>
</div>