<div class="modal-wraper">
  <div class="search-container">
    <div class="searchproduct">
      <div class="InputGroup">
        <input class="customInput" style="width: 100% !important;" [formControl]="productSearch" [value]="selectedProductName" type="text" required>
        <span class="highlight"></span>
        <label class="customLabel"><i class="fa fa-search" aria-hidden="true"></i>Search Product</label>

        <ul class="search-sugestions" *ngIf="showProduct">
          <li class="search-sugestion" *ngFor="let product of searchedProducts; let i = index" (click)="setSelectedOption(product)">{{product.name}}</li>
        </ul>
      </div>
      <div class="search-noResult">
        <span>This product configuration
          already exisst</span>
      </div>
    </div>
    <div class="new-btn-solid-blue" (click)="onClickConfigure()">
      <span>Configure</span>
    </div>
  </div>

  <div class="config-container">

    <div class="config-layout" *ngIf="showSetBaseUnit">
      <div class="config-wrap">
        <h3 style="margin-right: 120px;">Set Base Unit</h3>
        <div (click)="onShowSearch()"><i class="fa fa-plus" aria-hidden="true"></i></div>
        <div class="apmisSearch-wrap" *ngIf="apmisSearch">
          <app-apmis-search-result [PackSizes]="packSizes"></app-apmis-search-result>
        </div>
      </div>

      <div class="config-tags-wrap-x2" *ngIf="isBaseUnitSet">
        <div class="tag-btn">
          <span>Tablets</span>
        </div>
      </div>
    </div>
    <!-- took out the div here -->
  </div>

  <div class="config-container" *ngIf="showConfigContainer">
    <div class="config-layout">
      <div class="config-wrap">
        <h3>Add Configuration (Based on Unit)</h3>
        <i class="fa fa-plus" aria-hidden="true"></i>
      </div>
      <div class="config-tags-wrap-x2">
        <div class="tag-btn">
          <span>Packs</span>
        </div>
        <span>=</span>
        <div class="InputGroup">
          <input class="customInput" type="text" required>
          <span class="highlight"></span>
        </div>
        <h4>Tablets</h4>
      </div>
    </div>
  </div>

  <div class="sv-btn-container" *ngIf="showConfigContainer">
    <div class="new-btn-solid-blue">
      <span>Save Configuration</span>
    </div>
  </div>
</div>