<div class="modal-baseWrap animated pulse">

    <div (click)="close_onClick()" class="modal-close-ico" aria-hidden="true">X</div>
    <div class="facility-title">Add Price To List</div>
    <div class="mainErr animated shake" [hidden]="mainErr">{{errMsg}}</div>

    <div class="f_sg1">

        <form [formGroup]="frmNewprice" novalidate>

            <div class="frm-item-wrap">
                <md-select class="example-full-width" placeholder="Service Category" formControlName="serviceCat">
                    <md-option *ngFor="let category of categories" [value]="category">{{category.name}}</md-option>
                </md-select>
            </div>

            <div class="frm-item-wrap">
                <md-select class="example-full-width" placeholder="Service" formControlName="service">
                    <md-option *ngFor="let service of services" [value]="service">{{service.service}}</md-option>
                </md-select>
            </div>

            <div class="frm-item-wrap">
                <md-input-container class="example-full-width">
                    <input style="text-align:left" currencyMask [options]="{ prefix: 'N ', thousands: ',', decimal: '.', precision:2 }" type="text" mdInput md-error placeholder="Amount" formControlName="price">
                </md-input-container>
                <!--<input currencyMask [options]="{ prefix: 'N ', thousands: ',', decimal: '.', precision:2 }" type="text" formControlName="price" placeholder="Amount" autocomplete="off">-->
            </div>
             <div class="text-center">
                <button md-raised-button (click)="newPrice(frmNewprice.value, frmNewprice.valid)" class="mat-lg-btn">
                  ADD PRICE TO LIST
                </button>
            </div>
        </form>
    </div>

</div>