<div class="new-modal">
  <div class="new-modal-wrap">
    <div class="new-modal_title">Invoice</div>
    <div (click)="close_onClick()" class="new-modal-close-ico"><i class="fa fa-times-circle" aria-hidden="true"></i></div>
    <div class="new-modal-baseWrap">
      <div class="list-inner-wrap">
        <div class="con-inner-wrap">
          <span>Supplier</span>
          <h3>Sidmach Medical Supplier</h3>
        </div>
        <div class="con-inner-wrap">
          <span>Invoice Date</span>
          <h3>19/10/2018</h3>
        </div>
        <div class="con-inner-wrap">
          <span>Amount</span>
          <h3>#45,000 paid out of #60,000</h3>
        </div>
        <div class="con-inner-wrap">
          <span>Status</span>
          <h3 class="orange-lbl">Partial Payment</h3>
        </div>
      </div>

      <div class="prd-dlv-wrap">
        <h4>Products Delivered</h4>
        <div class="prd-dlv-list">20 Packets of Parastamol 200MG </div>
        <div class="prd-dlv-list">20 Packets of Parastamol 200MG </div>
        <div class="prd-dlv-list">20 Packets of Parastamol 200MG </div>
        <div class="prd-dlv-list">20 Packets of Parastamol 200MG </div>
      </div>

      <div class="pay-supp-wrap">
        <h3>Pay Supplier</h3>
        <div class="pay-action-wrap">
          <h5 class="action-content">Amount</h5>
          <div class="InputGroup action-content">
            <input class="customInput" type="number" required>
            <span class="highlight"></span>
          </div>
          <div class="ft-btn ft-btn-selected action-content">
            <span>Pay #50,000</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>