#box-wrapper {
    margin-top: 20px;
}
.survery input, .survery select {
    height: 26px;
}
.tr-act-btn {
    text-align: center;
    margin: 0 auto;
}
  .apmis-blue {
       max-width: 200px;
    text-align: center;
    background: #0288D1;
    color: #fff;
  } 
ul.topmenuwrap {
    right: 0;
}
a:hover {
    text-decoration: none;
}
.tr-act-btn {
    width: 135px;
}