<div class="pgSubtitle">
  {{selectedHMO?.name}}
</div>
<div>
  <div class="doc-mainWrap">
    <div class="doc-contentArea">
      <div class="clinicalNoteWrap">
        <div class="tblWrapa" class="actSect">
          <div class="tbl-top-actions">
            <div (click)="newBeneficiary_click()" class="btn-outline"><i class="fa fa-plus"></i> New Beneficiary</div> 
            <mat-paginator [pageIndex]="0" [length]="beneficiaries.length" [pageSize]="pageSize" (page)="pageEvent = $event; onPaginateChange($event)"
              [pageSizeOptions]="pageSizeOptions">
            </mat-paginator>
          </div>
          <table cellpadding="0" cellspacing="0" border="0.5">
            <thead>
              <tr>
                <th>
                  <i class="fa fa-sort-alpha-asc" aria-hidden="true"></i>
                  <!--<i class="fa fa-sort-alpha-desc" aria-hidden="true"></i>-->
                  <span style="padding-left: 3px;">Name</span>
                </th>
                <th>
                  <i class="fa fa-sort-alpha-asc" aria-hidden="true"></i>
                  <!--<i class="fa fa-sort-alpha-desc" aria-hidden="true"></i>-->
                  <span style="padding-left: 3px;">Gender</span>
                </th>
                <th>
                  <i class="fa fa-sort-alpha-asc" aria-hidden="true"></i>
                  <!--<i class="fa fa-sort-alpha-desc" aria-hidden="true"></i>-->
                  <span style="padding-left: 3px;">Insurance ID</span>
                </th>
                <th>
                  <i class="fa fa-sort-alpha-asc" aria-hidden="true"></i>
                  <!--<i class="fa fa-sort-alpha-desc" aria-hidden="true"></i>-->
                  <span style="padding-left: 3px;">Role</span>
                </th>
                <th>Status</th>
                <th>Date</th>
              </tr>
            </thead>

            <tbody *ngIf="beneficiaries.length > 0">

              <tr>
                <td colspan="10">
                  <div class="tbl-actionRow">
                    <!-- <div class="frm-item-wrap">
                          <apmis-lookup [(ngModel)]="apmisLookupText" 
                          url="apmisLookupUrl" query="apmisLookupQuery" placeholder="Patient"
                          isSocket="false" displayKey="apmisLookupDisplayKey" 
                          (selectedItem)="apmisLookupHandleSelectedItem($event)"></apmis-lookup>
                        </div>

                        <div class="frm-item-wrap">
                          <apmis-lookup [(ngModel)]="apmisLookupText" 
                              url="apmisLookupUrl" query="apmisLookupQuery" placeholder="Practitioner"
                              isSocket="false" displayKey="apmisLookupDisplayKey" 
                              (selectedItem)="apmisLookupHandleSelectedItem($event)"></apmis-lookup>
                        </div>

                        <div class="frm-item-wrap">
                          <apmis-lookup [(ngModel)]="apmisLookupText" 
                              url="apmisLookupUrl" query="apmisLookupQuery" placeholder="Location"
                              isSocket="false" displayKey="apmisLookupDisplayKey" 
                              (selectedItem)="apmisLookupHandleSelectedItem($event)"></apmis-lookup>
                        </div> -->
                  </div>
                </td>
              </tr>

              <tr *ngFor="let beneficiary of filteredBeneficiaries">
                <td>{{beneficiary?.surname}} {{beneficiary?.firstname}}</td>
                <td>{{beneficiary?.gender}}</td>
                <td>{{beneficiary?.filNo}}</td>
                <td>
                  <div class="role">{{getRole(beneficiary)}}</div>
                </td>
                <td>Active</td>
                <td>{{beneficiary?.date | date:'shortDate'}}</td>
              </tr>
            </tbody>
            <tbody *ngIf="beneficiaries.length == 0 && !loading">
              <tr>
                <td class="table-content" colspan="6" style="text-align: center"> No data available in table</td>
              </tr>
            </tbody>
            <tbody *ngIf="beneficiaries.length === 0 && loading">
              <tr>
                <td class="table-content" colspan="6" style="text-align: center !important; padding: 10px !important;">
                  <i class="fa fa-circle-o-notch fa-spin fa-3x text-blue" aria-hidden="true"></i>
                </td>
              </tr>
            </tbody>
          </table>
          <mat-paginator [pageIndex]="0" [length]="beneficiaries.length" [pageSize]="pageSize" (page)="pageEvent = $event; onPaginateChange($event)"
            [pageSizeOptions]="pageSizeOptions">
          </mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="newBeneficiary" class="modal-overlay">
    <app-new-beneficiary (closeModal)="close_onClick($event)" id="form-modal" class="form-modal center-center"></app-new-beneficiary>
</div>