.modal-baseWrap {
    position: relative;
    padding: 20px 90px;
}
.modal_title {
    margin-bottom: 20px;
}
.emp-wrap{
    position: relative;
    width: 600px;
    height: 250px;
    background: #eee;
    overflow-y: scroll;
    padding: 10px;
}
td{
    padding: 4px;
}
ul.topmenuwrap {
    position: absolute;
    top: 36px;
    right: 89px;
    font-size: 1.2rem;
    color: #000;
}
ul.topmenuwrap li{
    border: 1px solid #000;
    padding: 3px 5px;
    cursor: pointer;
    border-radius: 7px;
}
ul.topmenuwrap li:hover{
    border: 1px solid #0288D1;
    background: #0288D1;
    color: #000;
}