<ul class="analytics">
	<li class="analytic">
		<div class="analytic-lhs">3,000</div>
		<div class="analytic-rhs">Inventory Items</div>
	</li>
	<li class="analytic">
		<div class="analytic-lhs">3,000</div>
		<div class="analytic-rhs">Expired Items</div>
	</li>
	<li class="analytic">
		<div class="analytic-lhs">3,000</div>
		<div class="analytic-rhs">About to Expire</div>
	</li>
	<li class="analytic">
		<div class="analytic-lhs">3,000</div>
		<div class="analytic-rhs">Require Reorder</div>
	</li>
	<li class="analytic">
		<div class="analytic-lhs">3,000</div>
		<div class="analytic-rhs">Out of Stock</div>
	</li>
	<li class="analytic">
		<div class="analytic-lhs">3,000</div>
		<div class="analytic-rhs">Transaction</div>
	</li>
	<li class="analytic">
		<div class="analytic-lhs">3,000</div>
		<div class="analytic-rhs">Revenue</div>
	</li>
</ul>;
