<div class="page-title">New Laboratory Request</div>
<section id="container">
  <div class="survery">
    <div class="container">
      <div class="row">
        <div class="col-sm-8">
          <md-tab-group>
            <md-tab label="Add a Person">
              <app-add-person></app-add-person>
            </md-tab>
            <md-tab label="Select Investigation">
              <app-investigation></app-investigation>
              <div class="col-sm-12 text-center" style="margin:10px 0;">
                 <button md-raised-button class="apmis-blue">Generate Bill</button>
              </div>
            </md-tab>
          </md-tab-group>
        </div>
        <div class="col-sm-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Client Details</h3>
            </div>
            <div class="panel-body">
              <div class="">
                <p><strong>Names:</strong> Samuel el Jackson</p>
              </div>
               <div class="">
                <p><strong>Age:</strong> 26 years</p>
              </div>
                <div class="">
                <p><strong>Sex:</strong> Mlae</p>
              </div>
              <div class="">
                <p><strong>Lab N0:</strong> 231098</p>
              </div>
              <div class="">
                <p><strong>Phone Number:</strong> (+234) 8141344709</p>
              </div>
              <div class="">
                <p><strong>Email:</strong> subaru4ten@gmail.com</p>
              </div>
               <div class="">
                <p><strong>Address:</strong>N0 26a fela job way, alausa</p>
              </div>
              <div class="row">
                <div class="inv-header text-center">
                 <h5></h5>
                </div>
                <div class="inv-selected">
                  <p><strong>Total:</strong> N50,000</p>
                </div>
              </div>
            </div>
          </div>
        </div>
       
      </div>
    </div>
  </div>
</section>
<app-global-patient-lookup></app-global-patient-lookup>