<div class="page-title">New Laboratory Request</div>
<section id="container">
    <div class="survery">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <md-tab-group>
                        <md-tab label="Add a Person">
                            <form [formGroup]="newRequestForm" novalidate>
                                <div class="col-sm-4">
                                    <md-input-container class="example-full-width">
                                        <input mdInput formControlName="firstName" placeholder="First Name">
                                    </md-input-container>
                                </div>
                                <div class="col-sm-4">
                                    <md-input-container class="example-full-width">
                                        <input mdInput formControlName="lastName" placeholder="Last name">
                                    </md-input-container>
                                </div>
                                <div class="col-sm-4">
                                    <md-input-container class="example-full-width">
                                        <input formControlName="phone" mdInput placeholder="Phone Number">
                                    </md-input-container>
                                </div>
                                <div class="col-sm-4">
                                    <md-input-container class="example-full-width">
                                        <input mdInput formControlName="address" placeholder="Home Address">
                                    </md-input-container>
                                </div>
                                <div class="col-sm-4">
                                    <div style="margin-top:25px;">
                                        <md-checkbox>Don't know my age?</md-checkbox>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <md-input-container class="example-full-width">
                                        <input type="number" formControlName="age" mdInput placeholder="Enter age">
                                    </md-input-container>
                                </div>
                                <div class="col-sm-4">
                                    <md-input-container>
                                        <input mdInput [mdDatepicker]="picker" formControlName="dob" placeholder="Date of birth">
                                        <button mdSuffix [mdDatepickerToggle]="picker"></button>
                                    </md-input-container>
                                    <md-datepicker #picker></md-datepicker>
                                </div>
                                <div class="col-sm-4">
                                    <md-select placeholder="Gender" formControlName="gender">
                                        <md-option *ngFor="let gender of genders" [value]="gender._id">
                                            {{ gender.name }}
                                        </md-option>
                                    </md-select>
                                </div>
                                <div class="col-sm-4">
                                    <md-input-container class="example-full-width">
                                        <input mdInput formControlName="labNumber" placeholder="Enter lab number">
                                    </md-input-container>
                                </div>
                                <div class="col-sm-4">
                                    <md-select placeholder="Nationality" formControlName="nationality">
                                        <md-option *ngFor="let nationality of Nationalities" [value]="nationality._id">
                                            {{ nationality.name }}
                                        </md-option>
                                    </md-select>
                                </div>
                                <div class="col-sm-4">
                                    <md-select placeholder="State of origin" formControlName="state">
                                        <md-option *ngFor="let state of states" [value]="state._id">
                                            {{ state.name }}
                                        </md-option>
                                    </md-select>
                                </div>
                                <div class="col-sm-4">
                                    <md-select placeholder="LGA" formControlName="lga">
                                        <md-option *ngFor="let lga of lgas" [value]="lga.value">
                                            {{ lga.name }}
                                        </md-option>
                                    </md-select>
                                </div>
                            </form>
                            <div class="col-sm-12 text-center" style="margin-top:27px;margin-bottom:20px;">
                                <button md-raised-button (click)="onClickSaveRequest(newRequestForm.value, newRequestForm.valid);" class="apmis-blue">Save</button>
                            </div>
                        </md-tab>
                        <md-tab label="Select Investigation">
                            <div class="col-sm-6">
                                <div class="inv-container">
                                    <md-input-container class="example-full-width">
                                        <input mdInput placeholder="Search investigation">
                                    </md-input-container>
                                    <i style="margin-left: -19px;" class="fa fa-search"></i>
                                    <div class="list-container">
                                        <ul class="tree">
                                            <li class="stand-alone">
                                                <md-checkbox>List1</md-checkbox>
                                            </li>
                                            <li class="tree-item">
                                                <a class="btn btn-default pull-right">add panel </a>
                                                <md-checkbox></md-checkbox><a style="margin-left: 9px;" (click)="clickParent()"><i class="fa fa-folder"></i>Panel</a>
                                                <ul *ngIf="isParent" class="tree-parent open">
                                                    <li class="tree-item view">
                                                        <md-checkbox>List4</md-checkbox>
                                                    </li>
                                                    <li class="tree-item view">
                                                        <md-checkbox>List4</md-checkbox>
                                                    </li>
                                                    <li class="tree-item view">
                                                        <md-checkbox>List4</md-checkbox>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="text-center">
                                        <a class="btn btn-primary">save</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="panel panel-success custom-panel">
                                    <div class="panel-heading" (click)="panelShow()">
                                        <h3 class="panel-title">Selected Investigation</h3>
                                        <span *ngIf="isPanel" class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
                                        <span *ngIf="!isPanel" class="pull-right clickable"><i class="glyphicon glyphicon-chevron-down"></i></span>
                                    </div>
                                    <div *ngIf="isPanel" class="panel-body">
                                        <ul class="list-container">
                                            <li>
                                                <md-checkbox>List1 (N200)</md-checkbox>
                                            </li>
                                            <li>
                                                <md-checkbox>List2 (N200)</md-checkbox>
                                            </li>
                                            <li>
                                                <md-checkbox>List3 (N200)</md-checkbox>
                                            </li>
                                        </ul>
                                    </div>
                                    <div>
                                        <div class="col-sm-12 text-center" style="margin:10px 0;">
                                            <button md-raised-button class="apmis-blue">Generate Bill</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </md-tab>
                    </md-tab-group>
                    <!--<div class="row">
                <div class="col-sm-12 text-center margin">
                  <a md-raised-button>Generate Bill</a>
              </div>
             </div>-->
                </div>
                <div class="col-sm-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Client Details</h3>
                        </div>
                        <div class="panel-body">
                            <div class="">
                                <p><strong>Names:</strong> Samuel el Jackson</p>
                            </div>
                            <div class="">
                                <p><strong>Age:</strong> 26 years</p>
                            </div>
                            <div class="">
                                <p><strong>Sex:</strong> Mlae</p>
                            </div>
                            <div class="">
                                <p><strong>Lab N0:</strong> 231098</p>
                            </div>
                            <div class="">
                                <p><strong>Phone Number:</strong> (+234) 8141344709</p>
                            </div>
                            <div class="">
                                <p><strong>Email:</strong> subaru4ten@gmail.com</p>
                            </div>
                            <div class="">
                                <p><strong>Address:</strong>N0 26a fela job way, alausa</p>
                            </div>
                            <div class="row">
                                <div class="inv-header text-center">
                                    <h5></h5>
                                </div>
                                <div class="inv-selected">
                                    <p><strong>Total:</strong> N50,000</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-global-patient-lookup></app-global-patient-lookup>