.margin {
    margin: 50px 0 50px 0;
}
md-tab-header {
    background: #f5f5f5 !important;
}
.mat-tab-group{
    border: 2px solid #f5f5f5;
}
.inv-container {
    max-height: 400px;
    border: 1px solid #f5f5f5;
    margin: 10px 0;
    background: #f5f5f5;
    border-radius: 10px;
    padding: 0 10px;
}
.list-container {
    overflow-y: auto;
    max-height: 300px;
}
.custom-panel {
    margin: 10px;
}
.survery .glyphicon {
    top: -16px;
}
.inv-header {
    width: 100%;
    background: #f5f5f5;
    padding: 4px;
}
.panel-body p {
    font-size: 12px;
}
.inv-selected span {
    font-size: 12px;
}
.inv-selected {
    padding: 10px;
}