.margin {
    margin: 50px 0 50px 0;
}
md-tab-header {
    background: #f5f5f5 !important;
}
.mat-tab-group{
    border: 2px solid #f5f5f5;
}
.inv-container {
    max-height: 290px;;
    border:1px solid #f5f5f5;
    overflow-y: auto;
    margin: 10px 0;
}
