<div class="pg-subtitle">
  ORDER SET
</div>
<div>
  <div class="doc-mainWrap">
      <div class="doc-contentArea">
          <div class="clinicalNoteWrap">
            <div class="frm-x2">
              <div class="frm-item-wrap">
                <apmis-lookup [formControl]="template" [url]="apmisLookupUrl" [query]="apmisLookupQuery" [isSocket]="false" [displayImage]="false" [multipleKeys]="false" [displayKey]="apmisLookupDisplayKey" placeholder="Select Template" (selectedItem)="apmisLookupHandleSelectedItem($event)"></apmis-lookup>
              </div>

              <div class="frm-item-wrap">
                <apmis-lookup [formControl]="diagnosis" [url]="apmisLookupUrl" [query]="apmisLookupQuery" [isSocket]="false" [displayImage]="false" [multipleKeys]="false" [displayKey]="apmisLookupDisplayKey" placeholder="Select Diagnosis" (selectedItem)="apmisLookupHandleSelectedItem($event)"></apmis-lookup>
              </div>
            </div>

            <div class="med-sect">
              <div class="itemSect-title">Medication</div>

              <table class="item-ul">
                <tbody>
                  <tr>
                    <td>Paracetamol</td>
                    <td>strength-route-frequency-duration+unit-refil-startdate-enddate</td>
                    <td class="action-placeholder" style="text-align:center;">
                      <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                      <div class="action-container shadow-RB">
                        <div (click)="popMed_show()" class="action-item">
                          <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                          <span>Edit Item</span>
                        </div>
                      
                        <div class="action-item">
                          <i class="fa fa-times" aria-hidden="true"></i>
                          <span>Remove Item</span>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>Paracetamol</td>
                    <td>strength-route-frequency-duration+unit-refil-startdate-enddate</td>
                    <td class="action-placeholder" style="text-align:center;">
                      <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                      <div class="action-container shadow-RB">
                        <div (click)="popMed_show()" class="action-item">
                          <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                          <span>Edit Item</span>
                        </div>
                      
                        <div class="action-item">
                          <i class="fa fa-times" aria-hidden="true"></i>
                          <span>Remove Item</span>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>Paracetamol</td>
                    <td>strength-route-frequency-duration+unit-refil-startdate-enddate</td>
                    <td class="action-placeholder" style="text-align:center;">
                      <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                      <div class="action-container shadow-RB">
                        <div (click)="popMed_show()" class="action-item">
                          <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                          <span>Edit Item</span>
                        </div>
                      
                        <div class="action-item">
                          <i class="fa fa-times" aria-hidden="true"></i>
                          <span>Remove Item</span>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div class="med-sect">
              <div class="itemSect-title">Investigation</div>

              <table class="item-ul">
                <tbody>
                  <tr>
                    <td>Paracetamol</td>
                    <td>strength-route-frequency-duration+unit-refil-startdate-enddate</td>
                    <td class="action-placeholder" style="text-align:center;">
                      <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                      <div class="action-container shadow-RB">
                        <div class="action-item">
                          <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                          <span>Edit Item</span>
                        </div>
                      
                        <div class="action-item">
                          <i class="fa fa-times" aria-hidden="true"></i>
                          <span>Remove Item</span>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>Paracetamol</td>
                    <td>strength-route-frequency-duration+unit-refil-startdate-enddate</td>
                    <td class="action-placeholder" style="text-align:center;">
                      <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                      <div class="action-container shadow-RB">
                        <div class="action-item">
                          <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                          <span>Edit Item</span>
                        </div>
                      
                        <div class="action-item">
                          <i class="fa fa-times" aria-hidden="true"></i>
                          <span>Remove Item</span>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>Paracetamol</td>
                    <td>strength-route-frequency-duration+unit-refil-startdate-enddate</td>
                    <td class="action-placeholder" style="text-align:center;">
                      <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                      <div class="action-container shadow-RB">
                        <div class="action-item">
                          <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                          <span>Edit Item</span>
                        </div>
                      
                        <div class="action-item">
                          <i class="fa fa-times" aria-hidden="true"></i>
                          <span>Remove Item</span>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div class="med-sect">
              <div class="itemSect-title">Procedure</div>

              <table class="item-ul">
                <tbody>
                  <tr>
                    <td>Paracetamol</td>
                    <td>strength-route-frequency-duration+unit-refil-startdate-enddate</td>
                    <td class="action-placeholder" style="text-align:center;">
                      <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                      <div class="action-container shadow-RB">
                        <div class="action-item" (click)="popMed_show()">
                          <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                          <span>Edit Item</span>
                        </div>
                      
                        <div class="action-item">
                          <i class="fa fa-times" aria-hidden="true"></i>
                          <span>Remove Item</span>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>Paracetamol</td>
                    <td>strength-route-frequency-duration+unit-refil-startdate-enddate</td>
                    <td class="action-placeholder" style="text-align:center;">
                      <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                      <div class="action-container shadow-RB">
                        <div (click)="popMed_show()" class="action-item">
                          <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                          <span>Edit Item</span>
                        </div>
                      
                        <div class="action-item">
                          <i class="fa fa-times" aria-hidden="true"></i>
                          <span>Remove Item</span>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>Paracetamol</td>
                    <td>strength-route-frequency-duration+unit-refil-startdate-enddate</td>
                    <td class="action-placeholder" style="text-align:center;">
                      <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                      <div class="action-container shadow-RB">
                        <div (click)="popMed_show()" class="action-item">
                          <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                          <span>Edit Item</span>
                        </div>
                      
                        <div class="action-item">
                          <i class="fa fa-times" aria-hidden="true"></i>
                          <span>Remove Item</span>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
      </div>
  </div>
</div>

<div *ngIf="popMed" class="modal-overlay">
  <app-edit-medication (closeModal)="close_onClick($event)" id="form-modal" class="form-modal center-center"></app-edit-medication>
</div>