<div class="modal-baseWrap animated pulse">

    <div (click)="close_onClick()" class="modal-close-ico" aria-hidden="true">X</div>
    <legend class="modal_title" style="color:#0d47a1;text-align:center;">Add Supplier</legend>
    <div class="modal_mini_title">All Purpose Medical Information System</div>
    <div class="mainErr animated shake" [hidden]="mainErr">{{errMsg}}</div>

    <form [formGroup]="frm_newSupplier" novalidate>

        <div class="mainfrmwrap">
            <div class="sec-full">
                <div class="frm-item-wrap">
                    <md-input-container class="example-full-width">
                        <input mdInput md-error placeholder="Name" formControlName="name">
                    </md-input-container>
                </div>
                <div class="frm-item-wrap">
                    <md-input-container class="example-full-width">
                        <input mdInput md-error placeholder="Contact" formControlName="contact">
                    </md-input-container>
                </div>
                <div class="frm-item-wrap">
                    <md-input-container class="example-full-width">
                        <input mdInput md-error placeholder="Email" formControlName="email">
                    </md-input-container>
                </div>
                <div class="frm-item-wrap">
                    <md-input-container class="example-full-width">
                        <input mdInput md-error placeholder="Phone Number" formControlName="phoneNumber">
                    </md-input-container>
                </div>
                <div class="frm-item-wrap">
                    <md-input-container class="example-full-width">
                        <textarea mdInput md-error placeholder="Address" formControlName="address"></textarea>
                    </md-input-container>
                </div>
            </div>
        </div>

        <div (click)="create(frm_newSupplier)" class="cta-1">
            Add
        </div>

    </form>

</div>
<div *ngIf="loadIndicatorVisible" class="div_loading">
    <dx-load-indicator id="large-indicator" height="60" width="60"></dx-load-indicator>
</div>