<div class="inner-wrap-b body-wrap">
    <div class="facility-title">DASHBOARD</div> 
    <div class="db-wrap">
      <div [routerLink]="['/modules/facility-page']" class="db-item">
        <div class="dbItem-insider">
          <i class="fa fa-building" aria-hidden="true"></i>
          <div class="dbItem-label">Facility</div>
        </div>
      </div>

      <div [routerLink]="['/modules/employee-manager']" class="db-item">
        <div class="dbItem-insider">
          <i class="fa fa-users" aria-hidden="true"></i>
          <div class="dbItem-label">Employee</div>
        </div>
      </div>

      <div [routerLink]="['/modules/patient-manager']" class="db-item">
        <div class="dbItem-insider">
          <i class="fa fa-bed" aria-hidden="true"></i>
          <div class="dbItem-label">Patient</div>
        </div>
      </div>

      <div [routerLink]="['/modules/ward-manager']" class="db-item">
        <div class="dbItem-insider">
          <i class="fa fa-bed" aria-hidden="true"></i>
          <div class="dbItem-label">Ward</div>
        </div>
      </div>

      <div [routerLink]="['/modules/payment']" class="db-item">
        <div class="dbItem-insider">
          <i class="fa fa-money" aria-hidden="true"></i>
          <div class="dbItem-label">Payment</div>
        </div>
      </div>

      <div [routerLink]="['/modules/clinic']" class="db-item">
        <div class="dbItem-insider">
          <i class="fa fa-medkit" aria-hidden="true"></i>
          <div class="dbItem-label">Clinic</div>
        </div>
      </div>

      <div [routerLink]="['/modules/store']" class="db-item">
        <div class="dbItem-insider">
          <i class="fa fa-plus-square" aria-hidden="true"></i>
          <div class="dbItem-label">Store</div>
        </div>
      </div>

      <div [routerLink]="['/modules/pharmacy']" class="db-item">
        <div class="dbItem-insider">
          <i class="fa fa-plus-square" aria-hidden="true"></i>
          <div class="dbItem-label">Pharmacy</div>
        </div>
      </div>

      <div [routerLink]="['/modules/pharmacy']" class="db-item">
        <div class="dbItem-insider">
          <i class="fa fa-flask" aria-hidden="true"></i>
          <div class="dbItem-label">Laboratory</div>
        </div>
      </div>

      <div [routerLink]="['/modules/pharmacy']" class="db-item">
        <div class="dbItem-insider">
          <i class="fa fa-picture-o" aria-hidden="true"></i>
          <div class="dbItem-label">Radiology</div>
        </div>
      </div>

      <div [routerLink]="['/modules/pharmacy']" class="db-item">
        <div class="dbItem-insider">
          <i class="fa fa-tint" aria-hidden="true"></i>
          <div class="dbItem-label">Blood Bank</div>
        </div>
      </div>

      <div [routerLink]="['/modules/pharmacy']" class="db-item">
        <div class="dbItem-insider">
          <i class="fa fa-heartbeat" aria-hidden="true"></i>
          <div class="dbItem-label">Theatre</div>
        </div>
      </div>

      <div [routerLink]="['/modules/health-coverage']" class="db-item">
        <div class="dbItem-insider">
          <i class="fa fa-university" aria-hidden="true"></i>
          <div class="dbItem-label">Health Coverage</div>
        </div>
      </div>

      <div [routerLink]="['/modules/access-manager']" class="db-item">
        <div class="dbItem-insider">
          <i class="fa fa-sign-in" aria-hidden="true"></i>
          <div class="dbItem-label">Access Control</div>
        </div>
      </div>

      <div [routerLink]="['/modules/billing']" class="db-item">
        <div class="dbItem-insider">
          <i class="fa fa-file-text" aria-hidden="true"></i>
          <div class="dbItem-label">Billing</div>
        </div>
      </div>

    </div>
</div>