<div class="modal-baseWrap animated pulse">

    <div (click)="close_onClick()" class="modal-close-ico" aria-hidden="true">X</div>
    <legend class="modal_title">Corporate Facility</legend>
    <div class="modal_mini_title">All Purpose Medical Information System</div>

    <div *ngIf="sg1_1_1_show" class="infoAlert"><i class="fa fa-info-circle" aria-hidden="true"></i>Note that a verification token will be sent to the number supplied below</div>
    <div class="mainErr animated shake" [hidden]="mainErr">{{errMsg}}</div>

    <div *ngIf="sg1_show" class="f_sg1">
        <form [formGroup]="facilityForm1" novalidate>
            <div class="lhs">
                <div class="frm-item-wrap">
                    <md-input-container class="example-full-width">
                        <input mdInput md-error placeholder="Company Name" formControlName="facilityname">
                    </md-input-container>
                </div>
                <div class="frm-item-wrap">
                    <md-input-container class="example-full-width">
                        <input type="email" mdInput md-error placeholder="Company Email" formControlName="facilityemail">
                    </md-input-container>
                </div>
            </div>

            <div class="rhs">
                <div class="frm-item-wrap">
                    <md-input-container class="example-full-width">
                        <input type="url" mdInput md-error placeholder="Official Website" formControlName="facilitywebsite">
                    </md-input-container>
                </div>
                <div class="frm-item-wrap">
                    <md-select placeholder="Select Country"  formControlName="facilitycountry">
                        <md-option *ngFor="let item of countries" [value]="item._id">{{item.name}}</md-option>
                    </md-select>
                </div>
            </div>
            <div class="clear"></div>
            <div (click)="facilitySetup1(facilityForm1.valid, facilityForm1.value, selectedCountry.value)" class="cta-1">CONTINUE</div>
        </form>
    </div>

    <div *ngIf="sg1_1_show" class="f_sg_1 animated zoomIn">
        <form [formGroup]="facilityForm1_1" novalidate>
            <div class="lhs">
                <div class="frm-item-wrap">
                    <md-select *ngIf="stateAvailable" placeholder="Facility State (Location)"  formControlName="facilitystate" (change)="onStateChange($event.target.value)">
                        <md-option *ngFor="let state of selectedCountry?.states" [value]="state">{{state.name}}</md-option>
                    </md-select>
                    <input [hidden]="stateAvailable" mdInput md-error placeholder="Facility State (Location)" formControlName="facilitystate">
                </div>
                <div class="frm-item-wrap">
                    <md-select placeholder="City (Location)" *ngIf="stateAvailable" formControlName="facilitycity">
                        <md-option *ngFor="let item of cities" [value]="item._id">{{item.name}}</md-option>
                    </md-select>
                </div>
                <div class="frm-item-wrap">
                    <md-select placeholder="Local Government (Location)" *ngIf="stateAvailable" formControlName="facilitylga">
                        <md-option *ngFor="let item of lgas" [value]="item._id">{{item.name}}</md-option>
                    </md-select>
                </div>
                <div class="frm-item-wrap">
                    <md-input-container>
                        <input mdInput md-error placeholder="Facility Address (Location)" formControlName="facilityaddress">
                    </md-input-container>
                </div>
                <div class="frm-item-wrap">
                    <md-input-container>
                        <input mdInput md-error placeholder="Major Landmark" formControlName="facilitylandmark">
                    </md-input-container>
                </div>
            </div>
            <div class="rhs">
                <div class="frm-item-wrap">
                    <md-input-container>
                        <input mdInput md-error placeholder="Contact Person (First Name)" formControlName="contactFName">
                    </md-input-container>
                </div>
                <div class="frm-item-wrap">
                    <md-input-container>
                        <input mdInput md-error placeholder="Contact Person (Last Name)" formControlName="contactLName">
                    </md-input-container>
                </div>
                <div class="frm-item-wrap">
                    <md-input-container>
                        <input type="tel" mdInput md-error placeholder="Contact Number" formControlName="facilityphonNo">
                    </md-input-container>
                </div>
                <div class="frm-item-wrap">
                    <md-input-container class="example-full-width">
                        <i *ngIf="show" (click)="toggleShow($event)" class="fa fa-lock toggle-pass" aria-hidden="true"></i>
                        <input type="password" mdInput md-error formControlName="password" #showhideinput placeholder="Password">
                        <a [hidden]="show" (click)="toggleShow($event)" class="toggle-pass"><i class="fa fa-eye"></i></a>
                    </md-input-container>
                </div>
                <div class="frm-item-wrap">
                    <md-input-container class="example-full-width">
                        <i *ngIf="show" (click)="toggleShow($event)" class="fa fa-lock toggle-pass" aria-hidden="true"></i>
                        <input type="password" mdInput md-error formControlName="repass" #showhideinput placeholder="Confirm Password">
                        <a [hidden]="show" (click)="toggleShow($event)" class="toggle-pass"><i class="fa fa-eye"></i></a>
                    </md-input-container>
                </div>
            </div>
            <div class="clear"></div>
            <div (click)="back_facilityForm1_1()" class="backBtn"><i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i>Go Back</div>
            <div (click)="facilitySetup1_1(facilityForm1_1.valid, facilityForm1_1.value)" class="cta-1">CONTINUE</div>
        </form>
    </div>

    <div *ngIf="sg2_show" class="f_sg2 animated zoomIn">
        <form [formGroup]="frm_numberVerifier" novalidate>
            <div class="frm-singleItem-wrap">
                <md-input-container>
                    <input mdInput md-error [(ngModel)]="InputedToken" placeholder="Supply Token" formControlName="txt_numberVerifier">
                </md-input-container>
            </div>
            <div class="noToken_wrap">
                <div class="noToken_txt1">...Didn't recieve a token on <span>{{input_facilityphonNo}}</span>?</div>
                <div class="noToken_txt2">Resend Token</div>
            </div>
            <div (click)="back_verifier()" class="backBtn"><i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i>Go Back</div>
            <div (click)="numberVerifier(frm_numberVerifier.valid)" class="cta-1">VERIFY</div>
        </form>
    </div>

    <div *ngIf="sg3_show" class="f_sg3 animated zoomIn">
        <!-- file uploader -->
        <input type="file" (change)="imageChange($event)">
        <div (click)="back_logoUp()" class="backBtn"><i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i>Go Back</div>
        <div (click)="f_sg4_show()" class="cta-1">CONTINUE</div>
    </div>
</div>