<div class="modal-baseWrap animated pulse">

  <div (click)="close_onClick()" class="modal-close-ico">X</div>
  <div class="modal_title">{{investigation?.name}} Lab Request</div> 

  <div class="pre-sects">
    <div class="status">Pending</div>
    <div class="payment">Paid</div>
    <div class="date">{{investigation?.createdAt | date:'short'}}</div>
  </div>

  <div class="sect-1">
    <div class="patientImg-wrap">
      <div *ngIf="investigation?.patient?.personDetails?.profileImageObject === undefined"><img src="assets/images/users/default.png"></div>
      <img *ngIf="investigation?.patient?.personDetails?.profileImageObject !== undefined" [src]="facilityService.transform(investigation?.patient?.personDetails?.profileImageObject?.detailthumbnail)">
    </div>
    <div class="sect1-content">
      <div class="sect-inner">
        <div class="txt-wrap">
          <div class="txt-label">Full Name</div>
          <div class="txt-val">{{investigation?.patient.personDetails.personFullName}}</div>
        </div>

        <div class="txt-wrap">
          <div class="txt-label">Gender</div>
          <div class="txt-val">{{investigation?.patient.personDetails.gender.name}}</div>
        </div>

        <div class="txt-wrap">
          <div class="txt-label">Investigation</div>
          <div class="txt-val">{{investigation?.name}}</div>
        </div>

        <div class="txt-wrap">
          <div class="txt-label">Sample</div>
          <div *ngIf="hasSample" class="txt-val"><i class="fa fa-check" aria-hidden="true"></i></div>
          <div *ngIf="!hasSample" class="txt-val flex-btw">
            <span class="sampleNotTaken">Not Taken</span> <div (click)="takeSample()" class="lab-btn"><i class="fa fa-plus" aria-hidden="true"></i>Take Sample</div>
          </div>
        </div>

        <div class="txt-wrap">
          <div class="txt-label">Specimen</div>
          <div *ngIf="hasSpecimen" class="txt-val">{{localInvestigation?.investigation?.specimen?.name}} - {{localInvestigation?.specimenNumber}}</div>
          <div [hidden]="hasSpecimen" class="txt-val hasBg">
            <mat-input-container style="position:relative;">
                <input [formControl]="specimenNumber" matInput>
                <span class="input-tag">{{localInvestigation?.investigation?.specimen?.name}}</span>
            </mat-input-container>
            <div (click)="receiveSpecimen()" class="lab-btn"><i class="fa fa-plus" aria-hidden="true"></i>Receive Specimen</div>
          </div>
        </div>

        <div class="txt-wrap">
          <div class="txt-label">Lab Number</div>
          <div *ngIf="hasLabNo" class="txt-val">{{client.clientNumber}}</div>
          <div [hidden]="hasLabNo" class="txt-val hasBg">
            <mat-input-container>
                <input [formControl]="labNumber" matInput>
            </mat-input-container>
            <div (click)="assignLabNo()" class="lab-btn"><i class="fa fa-plus" aria-hidden="true"></i>Assign</div>
          </div>
        </div>
      </div>
      <div class="sect-inner">

        <div class="txt-wrap">
          <div class="txt-label">Physician</div>
          <div class="txt-val">
            <div class="empWrap">
              <div class="list-img">
                  <div *ngIf="investigation?.createdBy?.employeeDetails?.profileImageObject === undefined"><img src="assets/images/users/default.png"></div>
                  <img *ngIf="investigation?.createdBy?.employeeDetails?.profileImageObject !== undefined" [src]="facilityService.transform(investigation?.createdBy?.employeeDetails?.profileImageObject?.thumbnail)">
              </div>
              <div>{{investigation?.createdBy?.employeeDetails?.personFullName}}</div>
            </div>
          </div>
        </div>

        <div class="txt-wrap">
          <div class="txt-label">Source</div>
          <div class="txt-val">{{investigation?.facility.name}} - (EMT Clinic-Get Location)</div>
        </div>

        <div class="txt-wrap">
          <div class="txt-label">Diagnosis</div>
          <div class="txt-val">
            {{investigation?.diagnosis}}
          </div>
        </div>

        <div class="txt-wrap">
          <div class="txt-label">Clinical Information</div>
          <div class="txt-val">
            {{investigation?.clinicalInformation}}
          </div>
        </div>

        <div class="txt-wrap">
          <div class="txt-label">External</div>
          <div class="checka">
            <mat-checkbox [checked]="investigation?.isExternal"></mat-checkbox>
          </div>
        </div>

        <div class="action-item">
          <i class="fa fa-file-text" aria-hidden="true"></i>
          <span>Write Report</span>
        </div>
      </div>
    </div>
  </div>
</div>