<div class="modal-baseWrap animated pulse">

  <div (click)="close_onClick()" class="modal-close-ico">X</div>
  <div class="modal_title">Lab Request</div> 

  <div class="pre-sects">
    <div class="status">Pending</div>
    <div class="payment">Paid</div>
    <div class="date">11th July, 2017.</div>
  </div>

  <div class="sect-1">
    <div class="patientImg-wrap"><img src="assets/images/users/default.png"></div>
    <div class="sect1-content">
      <div class="sect-inner">
        <div class="txt-wrap">
          <div class="txt-label">Full Name</div>
          <div class="txt-val">Philia Julia</div>
        </div>

        <div class="txt-wrap">
          <div class="txt-label">Gender</div>
          <div class="txt-val">Female</div>
        </div>

        <div class="txt-wrap">
          <div class="txt-label">Investigation</div>
          <div class="txt-val">HIV Test</div>
        </div>

        <div class="txt-wrap">
          <div class="txt-label">Sample</div>
          <div *ngIf="hasSample" class="txt-val"><i class="fa fa-check" aria-hidden="true"></i></div>
          <div [hidden]="hasSample" class="txt-val flex-btw">
            <span class="sampleNotTaken">Not Taken</span> <div (click)="takeSample()" class="lab-btn"><i class="fa fa-plus" aria-hidden="true"></i>Take Sample</div>
          </div>
        </div>

        <div class="txt-wrap">
          <div class="txt-label">Specimen</div>
          <div *ngIf="hasSpecimen" class="txt-val">Blood, Urine, Stool.</div>
          <div [hidden]="hasSpecimen" class="txt-val hasBg">
            <md-input-container style="position:relative;">
                <input mdInput>
                <span class="input-tag">Blood</span>
            </md-input-container>
            <div (click)="takeSpecimen()" class="lab-btn"><i class="fa fa-plus" aria-hidden="true"></i>Take Specimen</div>
          </div>
        </div>

        <div class="txt-wrap">
          <div class="txt-label">Lab Number</div>
          <div *ngIf="hasLabNo" class="txt-val">LGF-2211-FG</div>
          <div [hidden]="hasLabNo" class="txt-val hasBg">
            <md-input-container>
                <input mdInput>
            </md-input-container>
            <div (click)="assignLabNo()" class="lab-btn"><i class="fa fa-plus" aria-hidden="true"></i>Assign</div>
          </div>
        </div>

        <div class="txt-wrap">
          <div class="txt-label">External</div>
          <div class="txt-val">
            <md-checkbox></md-checkbox>
          </div>
        </div>
      </div>
      <div class="sect-inner">

        <div class="txt-wrap">
          <div class="txt-label">Practitioner</div>
          <div class="txt-val">
            <div class="empWrap">
              <div class="list-img">
                  <img src="assets/images/users/default.png">
              </div>
              <div>Johnson Wade</div>
            </div>
          </div>
        </div>

        <div class="txt-wrap">
          <div class="txt-label">Source</div>
          <div class="txt-val">Continental Hospital - EMT Clinic</div>
        </div>

        <div class="txt-wrap">
          <div class="txt-label">Diagnosis</div>
          <div class="txt-val">
            industry. Lorem Ipsum has been the industry's standard dumm
          </div>
        </div>

        <div class="txt-wrap">
          <div class="txt-label">Clinical Information</div>
          <div class="txt-val">
            when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five
          </div>
        </div>

        <div class="upload-wrap">
          <div class="uploadeds">
            <div class="uploaded">
              <i class="fa fa-file-text-o" aria-hidden="true"></i>
              <div class="upload-label">HIV AIDs Test</div>
            </div>

            <div class="uploaded">
              <i class="fa fa-file-text-o" aria-hidden="true"></i>
              <div class="upload-label">HIV AIDs Test</div>
            </div>

            <div class="uploaded">
              <i class="fa fa-file-text-o" aria-hidden="true"></i>
              <div class="upload-label">HIV AIDs Test</div>
            </div>
          </div>

          <div (click)="showImageBrowseDlg()" class="action-item">
            <i class="fa fa-cloud-upload" aria-hidden="true"></i>
            <span>Upload Result</span>
          </div>
          <input style="display:none;" #fileInput type="file" id="uploadResult" (click)="onChange($event)" >
        </div>
      </div>
    </div>
  </div>
</div>