@import "../../../patient-manager/patientmanager-detailpage/documentation/documentation.component.scss";

.modal-baseWrap {
    position: relative;
    width: 80%;
    height: 90%;
    box-sizing: border-box;
    background: #fff;
    overflow: hidden;
    padding: 50px;
    border-radius: 7px;
}
.cont-wrap{
    width: 100%;
    height: auto;
    max-height: 95%;
    // overflow-y: auto;
}
.docCard-header{
    margin: 20px 0;
    margin-top: 3px;
}
.docCard-ctaWrap {
    top: -13px;
    bottom: auto;
}
