@import "../../../patient-manager/patientmanager-detailpage/documentation/documentation.component.scss";

.modal-baseWrap {
    position: relative;
    width: 80%;
    height: 90%;
    box-sizing: border-box;
    background: #fff;
    overflow: hidden;
    padding: 50px;
    border-radius: 7px;
}
.cont-wrap{
    width: 100%;
    height: auto;
    max-height: 95%;
    // overflow-y: auto;
}
.docCard-header{
    margin: 20px 0;
    margin-top: 3px;
}
.docCard-ctaWrap {
    top: -13px;
    bottom: auto;
}
.sect-1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.patientImg-wrap {
    width: 29%;
    border: 0.5px solid #eee;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #eee;
}
.patientImg-wrap img{
    width: 100%;
}
.sect1-content{
    width: 70%;
    display: flex;
    justify-content: space-between;
}
.sect-inner{
    width: 47%;
    margin: 10px auto;
}
.txt-wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;margin-bottom: 15px;
}
.txt-label{
    font-size: 14px;
    font-family: "Josefin Sans", sans-serif;
    color: #8e8e8e;
    width: 30%;
}
.txt-val{
    font-size: 14px;
    color: #333;
    width: 69%;
}
.txt-val i{
    color: #0288D1;
}
.lab-btn {
    font-size: 12px;
    border: 1px solid #03A9F4;
    text-align: center;
    padding: 2px;
    cursor: pointer;
    width: 124px;
    margin: 0 auto;
}
.lab-btn:hover {
    background: #03A9F4;
    color: #000;
}
.lab-btn i{
    color: #333;
    padding-right: 10px;
}
.pre-sects {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 12px;
    background: #eee;
    padding: 10px;
    box-sizing: border-box;
}
.status{
    color: #ff2500;
}
.date {
    color: #8e8e8e;
}
.empWrap{
    justify-content: flex-start;
}
.modal-baseWrap{
    height: auto;
}
.hasBg{
    border: 1px solid #bebebe;
    padding: 2px 20px;
    padding-bottom: 10px;
    box-sizing: border-box;
    border-radius: 10px;
}
button, input{
    font-size: 12px;
}
button{
    color: #777;
}
.action-item{
    border: 1px solid #777;
    font-size: 12px;
    width: 120px;
    text-align: center;
}