<div style="background-image: url(assets/images/bg/dna.jpg);" class="base-wrap"> 

  <div class="logo-wrap">
    <img src="assets/images/app_logo/logo_outline.png">
  </div>

  <div class="nav-right-content home-wrap">
    <div class="signin-upWrap">

      <div class="txt1">APMIS</div>
      <div class="txt2">All Purpose Medical Information Systems</div>

      <div class="CTAs-wrap">
        <div class="cta-1" (click)="login_show()">Log In</div>
        <div class="wrapLabel">Don't have an account? <span [routerLink]="['/signup']" class="txtLink">Sign Up</span></div>
      </div>
    </div>

  </div>
  <div class="clear"></div>
</div>

<div *ngIf="login_on" class="modal-overlay">
  <app-login (closeModal)="close_onClick($event)" (pwordReset)="pwdReset_show($event)" id="form-modal" class="form-modal center-center"></app-login>
</div> 

<div *ngIf="pwdReset_on" class="modal-overlay">
  <app-password-reset (closeModal)="close_onClick($event)" (loginEmit)="login_show()" id="form-modal" class="form-modal center-center"></app-password-reset>
</div> 