<!--<div class="c-page-header">
    <div class="top-button-box">
        <ul class="topmenuwrap pull-right" (click)="goToFacility();">
            <li tabindex="0">
                <i class="fa fa-arrow-circle-o-right"></i>
                <span>Create Ward</span>
            </li>
        </ul>
    </div>
</div>
<div class="c-page-body">
    <div class="inPatients">
        <div class="table-responsive">
            <table class="table table-striped no-margin" cellspacing="0" width="100%">
                <thead>
                    <tr class="table-bordered">
                        <th style="width: 5%">No</th>
                        <th style="width: 30%">Ward</th>
                        <th style="width: 50%">Description</th>
                        <th style="width: 15%">No. of Rooms</th>
                    </tr>
                </thead>
                <tbody class="custom-tbody">
                    <tr *ngIf="wards.length === 0 && !loading">
                        <td class="table-content" colspan="4" style="text-align: center"> No data available in table</td>
                    </tr>
                    <tr *ngIf="wards.length === 0 && loading">
                        <td class="table-content" colspan="4" style="text-align: center">
                            <i class="fa fa-circle-o-notch fa-spin fa-3x text-blue" aria-hidden="true"></i>
                        </td>
                    </tr>
                    <tr class="details-link" routerLink="/dashboard/ward-manager/setup/ward/{{ward._id}}" *ngFor="let ward of wards; let i = index">
                        <td class="table-content">{{i+1}}</td>
                        <td class="table-content">{{ward?.name}}</td>
                        <td class="table-content">{{ward?.description}}</td>
                        <td class="table-content">
                            <span *ngIf="ward?.wardSetup === undefined">0</span>
                            <span *ngIf="ward?.wardSetup !== undefined">{{ward?.wardSetup?.rooms?.length}}</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>-->


<div class="c-page-header">
    <div class="top-button-box">
        <ul class="topmenuwrap pull-right" (click)="goToFacility();">
            <li tabindex="0">
                <i class="fa fa-arrow-circle-o-right"></i>
                <span>Create Ward</span>
            </li>
        </ul>
    </div>
</div>
<section class="c-page-body">
    <div class="InPatients">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="table-head col-md-1">
                        S/N
                    </div>
                    <div class="table-head col-md-4">
                        Ward
                    </div>
                    <div class="table-head col-md-4">
                        Description
                    </div>
                    <div class="table-head col-md-3">
                        Number of Rooms
                    </div>
                </div>
            </div>
            <div class="card-content">
                <div class="card-list-item">
                    <div *ngIf="wards.length === 0 && !loading" class="row">
                        <div class="table-list col-lg-12">
                            No data available in table
                        </div>
                    </div>

                    <div class="row" *ngIf="wards.length === 0 && loading">
                        <div class="table-list col-lg-12">
                            <i class="fa fa-circle-o-notch fa-spin fa-3x text-blue"></i>
                        </div>
                    </div>
                </div>
                <div class="card-list-item" routerLink="/dashboard/ward-manager/setup/ward/{{ward._id}}" *ngFor="let ward of wards; let i = index">

                    <div class="row">
                        <div class="table-list col-lg-1">{{i+1}}</div>
                        <div class="table-list col-lg-4">{{ward?.name}}</div>
                        <div class="table-list col-lg-4">{{ward?.description}}</div>
                        <div class="table-list col-lg-3">
                            <span *ngIf="ward?.wardSetup === undefined">0</span>
                            <span *ngIf="ward?.wardSetup !== undefined">{{ward?.wardSetup?.rooms?.length}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>