<div class="animated pulse">
    <div class="modal-header-wrap">
        <div (click)="close_onClick($event)" class="modal-close-ico" aria-hidden="true">X</div>
        <legend class="modal_title">Transfer Patient</legend>
        <div class="modal_mini_title">{{ selectedPatient.patientId.personDetails.personFullName }}</div>
    </div>
    <div class="modal-baseWrap">
        <div class="mainErr animated shake" [hidden]="mainErr">{{errMsg}}</div>
        <div class="padding"></div>
        <form [formGroup]="transferFormGroup" novalidate>
            <div class="frm-item-wrap">
                <mat-select placeholder="Select Ward" formControlName="ward">
                    <mat-option *ngFor="let ward of wards" [value]="ward">{{ward.name}}</mat-option>
                </mat-select>
            </div>
            <div class="btn-box">
                <button mat-raised-button [disabled]="!transferFormGroup.valid && disableTransferBtn" class="btn" (click)="onTransfer(transferFormGroup.value, transferFormGroup.valid)" [innerHtml]="transferBtnText"></button>
            </div>
        </form>
    </div>
</div>