.modal-baseWrap {
    position: relative;
    width: 650px;
    height: 400px;
    padding: 20px;
}

.lhs {
    float: none;
}

.edit-control {
    background-color: transparent;
    margin-right: 0;
    width: 93% !important;
    border: 0.5px solid #37474F;
}

.btn-box {
    text-align: center;
    .btn {}
}

.mat-select,
.mat-input-container {
    width: 100%;
}

input,
select {
    width: 100%;
}

@media screen and (max-width: 768px) {
    input,
    select {
        width: auto !important;
    }
}