<div class="con-pass-inwrap">
  <div class="cp-logo-wrap">
    <img src="../../../assets/images/app_logo/apmis_vector.svg">
  </div>
  <div class="img-label">Confirm password to continue</div>

  <form class="frm-conpass" [formGroup]="frm_conpass" novalidate>
    <div class="frm-item-wrap">
        <mat-input-container class="example-full-width">
            <input matInput mat-error placeholder="OTP" formControlName="otp">
        </mat-input-container>
    </div>
    <div class="frm-item-wrap">
      <mat-input-container class="example-full-width">
          <input matInput mat-error placeholder="Patient Authorisation Code" formControlName="pac">
      </mat-input-container>
    </div>
    <div class="frm-item-wrap" style="margin-bottom: 15px;">
        <mat-input-container class="example-full-width">
            <i *ngIf="show" (click)="toggleShow($event)" class="fa fa-lock toggle-pass" aria-hidden="true"></i>
            <input type="password" matInput mat-error formControlName="password" placeholder="Password">
        </mat-input-container>
    </div>
    <div class="back-btn-box">
        <span class="forgetPword">forgot password?</span>
    </div>
    <div class="example-full-width" id="example-full-width">
        <button class="small-btn" mat-raised-button>Confirm Password</button>
    </div>
</form>
</div>