<div (click)="innerMenuHide($event)" class="inner-wrap-b body-wrap">
        <div class="facility-title">User Role Details</div>     
        <div class="inner-page-wrap">
            <div>
                <div class="mainWrap shadow-grey">
                        <table cellpadding="0 " cellspacing="0" border="0.4 ">
                                    <thead>
                                        <tr class="table-header ">
                                            <th>
                                                <i class="fa fa-sort-alpha-asc " aria-hidden="true "></i>
                                                <span>Role Name</span>
                                            </th>
                                            <th>
                                                <i class="fa fa-sort-alpha-asc " aria-hidden="true "></i>
                                                <span>Module</span>
                                            </th>
                                            <th>
                                                <i class="fa fa-sort-alpha-asc " aria-hidden="true "></i>
                                                <span>Accessibilities</span>
                                            </th>
                                            <th>
                                                <i class="fa fa-sort-alpha-asc " aria-hidden="true "></i>
                                                <span>Action</span>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="table-content">Administrator</td>
                                            <td class="table-content">
                                                    <span>Facility Module</span><br>
                                                    <span> </span><br>
                                                    <span>Laboratory Module</span><br>
                                            </td>
                                            <td class="table-content">
                                                <span>Access One</span><br>
                                                <span>Access Three</span><br>
                                                <span>Write Report</span><br>
                                                <span>Collect Specimen</span><br>
                                                <span>View Report</span>
                                            </td>
                                            <td><i class="fa fa-edit fa-icon "></i></td>
                                        </tr>
                                        <tr>
                                            <td class="table-content">Laboratory Aministrator</td>
                                            <td class="table-content">Laboratory Module</td>
                                            <td class="table-content">
                                                    <span>External Requests</span><br>
                                                    <span>Collect Specimen</span>
                                            </td>
                                            <td><i class="fa fa-edit fa-icon"></i></td>
                                        </tr>
                                        <tr>
                                                <td class="table-content">Radiologist</td>
                                                <td class="table-content">Radiology Module</td>
                                                <td class="table-content">
                                                        <span>Make Requests</span><br>
                                                        <span>Scan Image</span><br>
                                                        <span>Send Report</span><br>
                                                </td>
                                                <td><i  class="fa fa-edit fa-icon"></i></td>
                                        </tr>
                                    </tbody>
                                </table>
                    </div>
            </div>
        </div>

        
    <div class="col-mat-12">
            <span [routerLink]="['/dashboard/access-manager/new-access']" id="floating-button">
                <div class="plus">+</div>
            </span>
        </div>
    </div>