@import "../../facility-page/employees/employeemanager-detailpage/generate-user/generate-user.component.scss";
@import "../../access-manager/create-access/create-access.component.scss";

.mainWrap{
    position: relative;
    border: 2px solid #bdbdbd; 
    margin-top: -5px; 
    margin-right: 50px;
    margin-left: 50px;
    padding: 10px;
}

.fa-icon{
    
}