<form [formGroup]="noPrescriptionForm" novalidate>
    <div class="row padding-10" style="margin-top: 20px;">
        <div class="col-sm-5">
            <div class="input-group-btn">
                <i class="fa fa-caret-right pull-right" style="position: absolute;right: 7px;vertical-align: middle;top: 10px;"></i>
                <md-select placeholder="Client" formControlName="client" [(ngModel)]="selectedClient" (change)="onChange($event.value)" class="example-full-width">
                    <md-option *ngFor="let client of clients" [value]="client.name">{{ client.name }}</md-option>
                </md-select>
            </div>
        </div>
    </div>
    <div class="individual-details">
        <div class="row">
            <!-- begin individual -->
            <div *ngIf="individualShow">
                <div class="col-sm-4 col-md-4 col-xs-12">
                    <md-input-container class="example-full-width">
                        <input mdInput formControlName="lastName" placeholder="Last Name">
                    </md-input-container>
                </div>
                <div class="col-sm-4 col-md-4 col-xs-12">
                    <md-input-container class="example-full-width">
                        <input mdInput formControlName="firstName" placeholder="First Name">
                    </md-input-container>
                </div>
                <div class="col-sm-4 col-md-4 col-xs-12">
                    <md-input-container class="example-full-width">
                        <input mdInput formControlName="phone" placeholder="Phone Number">
                    </md-input-container>
                </div>
            </div>
            <!--end individual-->
            <!-- begin corporate -->
            <div *ngIf="corporateShow">
                <div class="col-sm-8 col-md-8 col-xs-12">
                    <md-input-container class="example-full-width">
                        <input mdInput formControlName="companyName" placeholder="Company Name">
                    </md-input-container>
                </div>
                <div class="col-sm-4 col-md-4 col-xs-12">
                    <md-input-container class="example-full-width">
                        <input mdInput formControlName="companyPhone" placeholder="Company Phone">
                    </md-input-container>
                </div>
            </div>
            <!--end corporate-->
            <!-- begin Internal -->
            <div *ngIf="internalShow">
                <div class="col-sm-4 col-md-4 col-xs-12">
                    <md-select placeholder="Department" formControlName="dept" class="example-full-width">
                        <md-option *ngFor="let dept of departments" [(value)]="dept._id">{{ dept.name }}</md-option>
                    </md-select>
                </div>
                <div class="col-sm-4 col-md-4 col-xs-12">
                    <md-select placeholder="Unit" formControlName="unit" class="example-full-width">
                        <md-option *ngFor="let unit of units" [(value)]="unit._id">{{ unit.name }}</md-option>
                    </md-select>
                </div>
                <div class="col-sm-4 col-md-4 col-xs-12">
                    <md-select placeholder="Minor Location" formControlName="minorLocation" class="example-full-width">
                        <md-option *ngFor="let location of minorLocations" [(value)]="location._id">{{ location.name }}</md-option>
                    </md-select>
                </div>
            </div>
            <!--end Internal-->
            <div class="col-sm-4 col-md-4 col-xs-12" style="margin-top: 20px;">
                <div class="cu-search-box">
                    <md-input-container>
                        <input mdInput formControlName="product" [attr.data-selected-p-id]="selectedProductId" class="cu-search" (keydown)="keyupSearch();" (focus)="focusSearch();" (focusout)="focusOutSearch();" placeholder="Drug">
                    </md-input-container>
                    <div class="cu-popup-wrapper" *ngIf="showCuDropdown">
                        <div class="cu-popover-arrow"></div>
                        <div class="cu-header">
                            <p></p>
                        </div>
                        <ul class="cu-dropdown">
                            <li><a class="header">Select item</a></li>
                            <li *ngIf="products.length === 0 && !cuDropdownLoading" class="text-center"><a>Result is empty</a></li>
                            <li *ngIf="products.length === 0 && cuDropdownLoading" class="text-center"><a><i class="fa fa-spinner fa-spin"></i></a></li>
                            <li *ngFor="let product of products" #productId [attr.data-p-id]="product.productId" [attr.data-p-fsid]="product.facilityServiceId" [attr.data-p-sid]="product.serviceId" [attr.data-p-cid]="product.categoryId" [attr.data-p-batchNumber]="product.transactions[product.transactions?.length - 1].batchNumber"
                                [attr.data-p-costPrice]="product.transactions[product.transactions?.length - 1].costPrice" (click)="onClickCustomSearchItem($event, productId)"><a>{{ product.productObject.name }}</a></li>
                        </ul>
                        <div class="cu-footer">
                            <button class="btn btn-default">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 col-md-2 col-xs-12">
                <md-input-container class="example-full-width">
                    <input mdInput type="number" formControlName="qty" placeholder="Quantity">
                </md-input-container>
            </div>
            <div class="col-sm-3 col-md-3 col-xs-12">
                <md-input-container class="example-full-width">
                    <input mdInput formControlName="batchNumber" placeholder="Batch Number">
                </md-input-container>
            </div>
            <div class="col-sm-3 col-md-3 col-xs-12" style="margin-top: 20px;">
                <input type="hidden" formControlName="cost">
                <span style="margin-top: 40px;"> 
                    <small><b>Unit price: &#x20A6;{{ price }}</b></small><br>
                </span>
            </div>
        </div>
    </div>
</form>
<div class="row margin-top-bottom">
    <div class="col-sm-12 col-md-12 text-center">
        <button md-raised-button (click)="onClickSaveNoPrescription(noPrescriptionForm.value, noPrescriptionForm.valid);" class="btn btn-blue"> Save </button>
    </div>
</div>
<div class="sec-border">
    <div class="table-head">
        <div class="table-head-inner-content drugs">
            <p>Drugs</p>
        </div>
        <div class="table-head-inner-content">
            <p>Qty</p>
        </div>
        <div class="table-head-inner-content batch">
            <p>Batch</p>
        </div>
        <div class="table-head-inner-content unit-price">
            <p>Unit Price</p>
        </div>
        <div class="table-head-inner-content cost-price">
            <p>Cost</p>
        </div>
        <div class="table-head-inner-content">
            <p>Action</p>
        </div>
    </div>
    <div class="table-inner" *ngFor="let prescription of prescriptions; let i = index;">
        <div class="table-data drugs">
            <p>{{ prescription.productName }}</p>
        </div>
        <div class="table-data">
            <p> {{ prescription.qty }}</p>
        </div>
        <div class="table-data batch">
            <p> {{ prescription.batchNumber }}</p>
        </div>
        <div class="table-data unit-price">
            <p><b>&#x20A6;{{ prescription.unitPrice }}</b></p>
        </div>
        <div class="table-data cost-price">
            <p><b>&#x20A6;{{ prescription.cost }}</b></p>
        </div>
        <div class="table-data">
            <p> <i class="fa fa-trash" (click)="onClickDeleteItem(i, prescription);"></i></p>
        </div>
    </div>
    <div class="table-inner" *ngIf="prescriptions.length === 0">
        <div class="text-center">
            <p class="text-center">No data to display in table</p>
        </div>
    </div>
</div>
<div class="row" style="padding-right: 20px;">
    <p class="pull-right"> <b>Total Cost: &#x20A6;{{ totalItemPrice }}</b></p>
</div>
<div class="row margin-top-15" style="margin-bottom: 20px;">
    <div class="col-sm-12 col-md-12 text-center">
        <button class="mat-lg-btn" (click)="onClickDispense();" md-raised-button>Dispense</button>
    </div>
</div>