<form [formGroup]="noPrescriptionForm" novalidate>
    <div class="row padding-10">
        <div class="col-sm-5">
            <label> Client </label>
            <div class="input-group-btn">
                <i class="fa fa-caret-right pull-right" style="position: absolute;right: 7px;vertical-align: middle;top: 10px;"></i>
                <select formControlName="client" [(ngModel)]="selectedClient" class="form-control" id="select" (change)="onChange($event.target.value)">
                    <option *ngFor="let client of clients" value="{{ client.name }}">{{ client.name }}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="individual-details">
        <div class="row">
            <!-- begin individual -->
            <div *ngIf="individualShow">
                <div class="col-sm-4 col-md-4 col-xs-12">
                    <label> Last Name </label>
                    <dx-text-box formControlName="lastName"></dx-text-box>
                </div>
                <div class="col-sm-4 col-md-4 col-xs-12">
                    <label> First Name </label>
                    <dx-text-box formControlName="firstName"></dx-text-box>
                </div>
                <div class="col-sm-4 col-md-4 col-xs-12">
                    <label> Phone Number </label>
                    <dx-text-box formControlName="phone"></dx-text-box>
                </div>
            </div>
            <!--end individual-->
            <!-- begin corporate -->
            <div *ngIf="corporateShow">
                <div class="col-sm-8 col-md-8 col-xs-12">
                    <label> Company Name </label>
                    <dx-text-box formControlName="companyName"></dx-text-box>
                </div>
                <div class="col-sm-4 col-md-4 col-xs-12">
                    <label> Phone Number </label>
                    <dx-text-box formControlName="companyPhone"></dx-text-box>
                </div>
            </div>
            <!--end corporate-->
            <!-- begin Internal -->
            <div *ngIf="internalShow">
                <div class="col-sm-4 col-md-4 col-xs-12">
                    <label> Department </label>
                    <dx-lookup formControlName="dept" [items]="departments" displayExpr="name" valueExpr="_id">
                    </dx-lookup>
                </div>
                <div class="col-sm-4 col-md-4 col-xs-12">
                    <label> Unit </label>
                    <dx-lookup formControlName="unit" [items]="units" displayExpr="name" valueExpr="_id">
                    </dx-lookup>
                </div>
                <div class="col-sm-4 col-md-4 col-xs-12">
                    <label> Minor Location </label>
                    <dx-lookup formControlName="minorLocation" [items]="minorLocations" displayExpr="name" valueExpr="_id" [showPopupTitle]="false">
                    </dx-lookup>
                </div>
            </div>
            <!--end Internal-->
            <div class="col-sm-5 col-md-5 col-xs-12">
                <label> Drug </label>
                <dx-lookup formControlName="drug" [items]="drugs" displayExpr="name" valueExpr="name" [showPopupTitle]="false">
                </dx-lookup>
            </div>
            <div class="col-sm-5 col-md-5 col-xs-12">
                <label> Quantity </label>
                <div class="input-bg cacaca">
                    <div class="input-group">
                        <input type="number" class="form-control" id="input" required>
                        <div class="input-group-btn">
                            <select id="select">
                                <option>cards</option>
                            </select>
                        </div>
                        <!-- /btn-group -->
                    </div>
                </div>
            </div>
            <div class="col-sm-2 col-md-2 col-xs-2">
                <p style="color: red;margin-top: 40px;"> N200 </p>
            </div>
        </div>
    </div>
</form>
<div class="row margin-top-bottom">
    <div class="col-sm-12 col-md-12 text-center">
        <button (click)="onClickSaveNoPrescription(noPrescriptionForm.value, noPrescriptionForm.valid);" class="btn bnt-default"> Save </button>
    </div>
</div>
<div class="sec-border">
    <div class="table-head">
        <div class="table-head-inner-content" id="drugs">
            <p>Drugs</p>
        </div>
        <div class="table-head-inner-content">
            <p>Client</p>
        </div>
        <div class="table-head-inner-content" id="qt">
            <p>Qty</p>
        </div>
        <div class="table-head-inner-content" id="batch">
            <p>Batch</p>
        </div>
        <div class="table-head-inner-content">
            <p>Cost</p>
        </div>
    </div>
    <div class="table-inner" *ngFor="let prescription of prescriptions">
        <div class="table-data drugs">
            <p>{{ prescription.drug }}</p>
        </div>
        <div class="table-data batch">
            {{ prescription.client }}
        </div>
        <div class="table-data qt">
            <div class="input-bg cacaca">
                <div class="input-group">
                    <input type="text" class="form-control" value="{{ prescription.qty }}">
                    <div class="input-group-btn">
                        <i class="fa fa-caret-right pull-right" style="margin-top: 8px;"></i>
                        <select>
                            <option>Cards</option>
                        </select>
                    </div>
                </div>
            </div>
            <span class="plus"><i class="fa fa-plus"></i></span>
        </div>
        <div class="table-data">
            <dx-text-box></dx-text-box>
        </div>
        <div class="table-data">
            <p style="color:red;">200</p>
        </div>
    </div>
</div>
<div class="row margin-top-15">
    <div class="col-sm-12 col-md-12 text-center">
        <button class="cta-1" (click)="onClickDispense();"> Dispense </button>
        <p class="total pull-right">N200</p>
    </div>
</div>