@import '../dispense.component.scss';
.drugs {
    width: 40%;
}
.cacaca {
    background: #cacaca;
}
#select {
    border: 1px solid #fff;
    background: #fff;
    height: 30px;
}
#select {
    width: 96%;
    float: right;
}
select {
    text-indent: 1px;
    text-overflow: '';
}
#input, #select {
    border: 1px solid #fff;
    background: #fff;
    height: 30px;
}
.survery .input-group {
    position: relative;
    display: block;
}

#input {
    width:  100%;
    float: left;
}

.cacaca {
    background: #cacaca;
}
.input-bg {
    padding: 3px;
    border-radius: 4px;
}
.survery .input-group-btn {
    font-size: 13px;
}
.survery .input-group-btn {
    width: 50%;
}