<div class="preTbl-topItems-wrap">
    <ul class="topmenuwrap">
        <li (click)="close_onClick()">
            <i class="fa fa-plus-circle" aria-hidden="true"></i>
            <span>Create Panel</span>
        </li>
    </ul>
    <ul class="topmenuwrap" id="topmenuwarap-1">
        <li (click)="modal_onClick()">
            <i class="fa fa-plus-circle" aria-hidden="true"></i>
            <span>Add Investigation Service</span>
        </li>
    </ul>
</div>
  
       <table class="points_table">
              <thead>
                <tr>
                  <th class="col-xs-3">Investigations</th>
                  <th class="col-xs-3">Report Type</th>
                  <th class="col-xs-3">Specimen</th>
                   <th class="col-xs-1">Units</th>
                  <th class="col-xs-1">Ref N0</th>
                  <th class="col-xs-1">Action</th>
                </tr>
              </thead>
              <tbody class="points_table_scrollbar">
                <tr>
                  <td colspan="6">
                  <div class="survery">
                    <div class="col-sm-4">
                      <md-select placeholder="Investigations" [(ngModel)]="selectedValue" name="food">
                        <md-option *ngFor="let food of foods" [value]="food.value">
                            {{food.viewValue}}
                          </md-option>
                        </md-select>
                    </div>
                    <div class="col-sm-4">
                      <md-select placeholder="Report Type" [(ngModel)]="selectedValue" name="food">
                        <md-option *ngFor="let food of foods" [value]="food.value">
                          {{food.viewValue}}
                        </md-option>
                      </md-select>
                    </div>
                    <div class="col-sm-4">
                      <md-select placeholder="Specimen" [(ngModel)]="selectedValue" name="food">
                        <md-option *ngFor="let food of foods" [value]="food.value">
                          {{food.viewValue}}
                        </md-option>
                      </md-select>
                    </div>
                  </div>
                  </td>
                </tr>
                <tr>
                  <td class="col-xs-3">
                    <div>Lab name</div>
                  </td>
                  <td class="col-xs-3">
                    <div>Report type</div>
                  </td>
                  <td class="col-xs-3">
                    <div>specimen name</div>
                  </td>
                   <td class="col-xs-1">
                    <div>Mol</div>
                  </td>
                  <td class="col-xs-1">
                    <div>5 - 40</div>
                  </td>
                  <td class="col-xs-1">
                    <a><i class="fa fa-edit"></i></a>
                    <span>Active</span>
                  </td>
                </tr> 
                           
              </tbody>
		        </table>

          
      <!--  <div class="col-sm-12">
          <div class="x_panel">
              <div class="x_title">
                <h2>Investigation Service Setup</h2>
                <div class="clearfix"></div>
              </div>
              <div class="x_content"> 
                <div class="col-sm-12">
                   <md-input-container class="example-full-width">
                    <input mdInput placeholder="Enter Investigation">
                  </md-input-container>
                </div>
                <div class="col-sm-12">
                  <md-select placeholder="Select Report Type" [(ngModel)]="selectedValue" name="food">
                    <md-option *ngFor="let food of foods" [value]="food.value">
                      {{food.viewValue}}
                    </md-option>
                  </md-select>
                </div>
                <div class="col-sm-12">
                  <md-select placeholder="Select Specimen" [(ngModel)]="selectedValue" name="food">
                  <md-option *ngFor="let food of foods" [value]="food.value">
                    {{food.viewValue}}
                  </md-option>
                </md-select>
                </div>
                <div class="col-sm-6">
                  <md-input-container class="example-full-width">
                    <input type="number" mdInput placeholder="Ref N0 from">
                  </md-input-container>
                </div>
                <div class="col-sm-6">
                  <md-input-container class="example-full-width">
                    <input type="number" mdInput placeholder="Ref N0 to">
                  </md-input-container>
                </div>
                <div class="text-center">
                 <button md-raised-button class="apmis-blue"> Create Service </button>
               </div>
              </div>
          </div>
        </div>-->
    <!--begin flyout-->
    <div *ngIf = "flyout" class="flyout">
      <div class="arrow">
        <a (click)="flayoutClose()"><i class="fa fa-arrow-circle-right"></i></a>
      </div>
      <br><br>
      <div class="row">
        <div class="col-sm-6">
        <md-input-container class="example-full-width">
          <input mdInput placeholder="Panel name">
        </md-input-container>
        </div>
        <div *ngIf = "selectedPanel" class="col-sm-6">
          <div class="panel-seperate">
            <h5>Selected Investigation</h5>
          </div>
        </div>
        <div *ngIf = "viewPanel" class="col-sm-6">
          <div class="panel-seperate">
            <h5>All Panel Investigations</h5>
          </div>
        </div>
      </div>
      <br>
      <div class="col-sm-6">
        <div class="inv-container">
            <md-input-container class="example-full-width">
                  <input mdInput placeholder="Search investigation">
            </md-input-container>
           <ul class="unstyled scroll-y">
            <li><md-checkbox class="example-margin">Panel name</md-checkbox></li>
            <li><md-checkbox class="example-margin">Panel name</md-checkbox></li>
            <li><md-checkbox class="example-margin">Panel name</md-checkbox></li>
            <li><md-checkbox class="example-margin">Panel name</md-checkbox></li>
            <li><md-checkbox class="example-margin">Panel name</md-checkbox></li>
            <li><md-checkbox class="example-margin">Panel name</md-checkbox></li>
          </ul>
          </div>
      </div>
      <div *ngIf="selectedPanel" class="col-sm-6">
          <div class="list-container">                  
            <ul class="tree">
              <li class="tree-item">
                <a (click)="clickParent()"><i class="fa fa-folder"></i>Panel name</a>
                <ul *ngIf="isParent" class="tree-parent open"> 
                  <li class="tree-item view">
                    <md-checkbox>panel children</md-checkbox>
                  </li>
                </ul>   
              </li> 
            </ul>
          </div>
          <button class="apmis-blue" md-raised-button>Create Panel</button>
          <a class="pull-right" (click)="viewPanelShow()" md-raised-button>View Panels</a>
      </div>
        <!-- all panels -->
          <div *ngIf="viewPanel" class="col-sm-6">
          <div class="list-container">                  
            <ul class="tree">
              <li class="tree-item">
                <a (click)="clickParent()"><i class="fa fa-folder"></i>Panel name</a>
                <span class="pull-right"><i class="fa fa-close"></i></span>
                <ul *ngIf="isParent" class="tree-parent open"> 
                  <li class="tree-item view">
                    <md-checkbox>panel children</md-checkbox>
                  </li>
                </ul>   
              </li> 
            </ul>
          </div>
          <a (click)="backIvestigation()" md-raised-button>Back to selected panels</a>
      </div>
        <!-- end all panels -->
    </div>
    <!-- end fly out -->


  <!-- add investigation service -->
  <div *ngIf = "openModal" class="survery">
    <div class="cover-edit">
    <form class="form-signin">
        <div class="container">
            <div class="row">
              <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                  <div class="panel-body">
                  <a (click)="closeModal()" aria-hidden="true" class="modal-close-ico">X</a>
                  <legend class="modal_title">Add Investigation</legend>
                    <form class="form form-signup" role="form">
                        <div class="col-sm-12">
                   <md-input-container class="example-full-width">
                    <input mdInput placeholder="Enter Investigation">
                  </md-input-container>
                </div>
                <div class="col-sm-12">
                  <md-select placeholder="Select Specimen" [(ngModel)]="selectedValue" name="food">
                  <md-option *ngFor="let food of foods" [value]="food.value">
                    {{food.viewValue}}
                  </md-option>
                </md-select>
                </div>
                  <div class="col-sm-12">
                  <md-select placeholder="Select Report Type" [(ngModel)]="selectedValue" name="food">
                    <md-option *ngFor="let food of foods" [value]="food.value">
                      {{food.viewValue}}
                    </md-option>
                  </md-select>
                </div>
                  <div class="col-sm-6">
                    <md-input-container class="example-full-width">
                      <input type="number" mdInput placeholder="Ref N0 from">
                    </md-input-container>
                  </div>
                  <div class="col-sm-6">
                    <md-input-container class="example-full-width">
                      <input type="number" mdInput placeholder="Ref N0 to">
                    </md-input-container>
                  </div>
                  <div class="col-sm-12">
                    <md-input-container class="example-full-width">
                    <textarea mdInput placeholder="Add Unit"></textarea>
                  </md-input-container>
                  </div>
                  <md-checkbox>isActive?</md-checkbox>
                  <div class="text-center">
                  <button md-raised-button class="apmis-blue"> Create Investigation </button>
                </div>
                    </form>
                  </div>      
                </div>
              </div>
            </div>
        </div>
    </form>
    </div>
  </div>