<div class="mainErr animated shake" [hidden]="mainErr">{{errMsg}}</div>
<form [formGroup]="frm_numberVerifier" *ngIf="verify_show" novalidate>

  <div class="frm-singleItem-wrap">
    <small class="alert-label" [hidden]="frm_numberVerifier.controls.txt_numberVerifier.valid || frm_numberVerifier.controls.txt_numberVerifier.pristine">
          Kindly supply the token texted to your phone.
        </small>
    <i class="fa fa-mobile" aria-hidden="true"></i>
    <input type="text" formControlName="txt_numberVerifier" [(ngModel)]="InputedToken" placeholder="Supply Token">
  </div>

  <div class="noToken_wrap">
    <div class="noToken_txt1">...Didn't recieve a token on <span>{{input_facilityphonNo}}</span>?</div>
    <div class="noToken_txt2">Resend Token</div>
  </div>

  <div (click)="back_verifier()" class="backBtn" *ngIf="backBtnVisible"><i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i>Go Back</div>

  <div (click)="numberVerifier(frm_numberVerifier.valid)" class="cta-1">
    VERIFY
  </div>

</form>
<app-contact-info *ngIf="back_verify_show" [inputFacility]="inputFacility"></app-contact-info>
<app-add-facility-logo *ngIf="sg3_show" class="f_sg3 animated zoomIn" [inputFacility]="inputFacility"></app-add-facility-logo>