<div class="list-wrap" style="border:none !important;">
  <div class="list-con-wrap">
    <div class="con-wrap">
      <span>Date Generated</span>
      <h3>Tuesday 27th November 2018</h3>
    </div>
    <div class="con-wrap">
      <span>Status</span>
      <h3>Pending</h3>
    </div>
    <div class="con-wrap">
      <span>Supplier(s)</span>
      <h3>SIDMACH Medical Suppliers </h3>
    </div>
  </div>
</div>

<div class="store-table">
  <div class="store-thead">
    <div class="store-tr">
      <div class="store-th store-td-actions">
      </div>
      <div class="config-tr-in in-tr">
        <div class="store-th">Products</div>
        <div class="store-th">Unit</div>
        <div class="store-th">Available Required</div>
        <div class="store-th">Cost/Unit</div>
        <div class="store-th">Total Cost Price</div>
      </div>
      <div class="store-th store-td-actions"></div>
    </div>
  </div>

  <div class="store-tbody">
    <div class="store-pre-tr">
      <div class="store-tr">
        <div class="store-td store-td-actions">
          <!-- <input type="checkbox"> -->
        </div>
        <div class="config-tr-in in-tr">
          <div class="store-td">Medroxyprogesterone acetate 10 MG Oral Tablet [Curretab]</div>
          <div class="store-td">20 Sachets</div>
          <div class="store-td">300,000 Sachets</div>
          <div class="store-td">#5/Sachet</div>
          <div class="store-td">#300,000</div>
          <!-- <div class="store-td">
              <div class="btc-body-item item-action">
                <i class="fa fa-2x fa-check-circle" aria-hidden="true"></i>
                <i class="fa fa-2x fa-times-circle" aria-hidden="true"></i>
              </div>
            </div> -->
        </div>
      </div>
      <div class="store-tr">
        <div class="store-td store-td-actions">
        </div>
        <div class="config-tr-in in-tr">
          <div class="store-td">Medroxyprogesterone acetate 10 MG Oral Tablet [Curretab]</div>
          <div class="store-td">20 Sachets</div>
          <div class="store-td">300,000 Sachets</div>
          <div class="store-td">#5/Sachet</div>
          <div class="store-td">#300,000</div>
        </div>
      </div>
      <div class="store-tr">
        <div class="store-td store-td-actions">
        </div>
        <div class="config-tr-in in-tr">
          <div class="store-td">Medroxyprogesterone acetate 10 MG Oral Tablet [Curretab]</div>
          <div class="store-td">20 Sachets</div>
          <div class="store-td">300,000 Sachets</div>
          <div class="store-td">#5/Sachet</div>
          <div class="store-td">#300,000</div>
        </div>
      </div>
    </div>
  </div>
</div>