<div class="pg-subtitle">PATIENT PAGE - TREATEMENT PLAN</div>


<div class="doc-mainWrap">
    <div class="doc-contentArea">
        <div class="tbl-listWrap">
            <div class="sect-title">Problem: {{treatmentSheetData?.problem?.problem}}</div>
            <div>
                <span>Note: {{treatmentSheetData?.problem?.note}}</span>
            </div>
        </div>
        <div class="tbl-listWrap">
            <div class="sect-title">Investigations</div>
            <table cellpadding="0" cellspacing="0" border="0.5">
                <tbody>
                    <tr *ngIf="treatmentSheet?.investigations === undefined">
                        <td class="text-center" colspan="4"> No data available in table</td>
                    </tr>
                    <tr *ngFor="let investigation of treatmentSheet?.investigations">
                        <td> {{ investigation.name }} </td>
                        <td> 
                            <span *ngIf="investigation.completed===true">Done</span>
                            <span *ngIf="investigation.completed===false">Not Done</span>
                        </td>
                        <td>
                            <div class="frm-item-wrap">
                                <mat-input-container>
                                    <input matInput placeholder="Comment">
                                </mat-input-container>
                            </div>
                        </td>
                        <td>
                            <div class="tbl-actn-btn"><i class="fa fa-check" aria-hidden="true"></i>Done</div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="tbl-listWrap">
            <div class="sect-title">Procedure</div>
            <table cellpadding="0" cellspacing="0" border="0.5">
                <tbody>
                    <tr *ngIf="treatmentSheet?.procedures === undefined">
                        <td class="text-center" colspan="4"> No data available in table</td>
                    </tr>
                    <tr *ngFor="let procedure of treatmentSheet?.procedures;">
                        <td> {{ procedure.name }} </td>
                        <td> {{ procedure.status }}</td>
                        <td>
                            <div class="frm-item-wrap">
                                <mat-input-container>
                                    <input matInput placeholder="Comment">
                                </mat-input-container>
                            </div>
                        </td>
                        <td>
                            <div class="tbl-actn-btn"><i class="fa fa-check" aria-hidden="true"></i>Done</div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="tbl-listWrap">
            <div class="sect-title">Medication</div>
            <table cellpadding="0" cellspacing="0" border="0.5">
                <tbody>
                    <tr *ngIf="treatmentSheet?.medications === undefined">
                        <td class="text-center" colspan="5"> No data available in table</td>
                    </tr>
                    <tr *ngFor="let medication of treatmentSheet?.medications; let m = index">
                        <td>{{ medication.genericName }} - {{ medication.dosage }}{{ medication.dosageUnit }}, {{
                            medication.regimen?.frequency }} for {{ medication.regimen?.duration }} {{
                            medication.regimen?.durationUnit }}</td>
                        <td>{{ medication.status }}</td>
                        <td>
                            <div class="frm-item-wrap">
                                <mat-input-container>
                                    <input matInput [(ngModel)]="medication.comment" placeholder="Comment">
                                </mat-input-container>
                            </div>
                        </td>
                        <td class="action-placeholder" style="text-align:center;">
                            <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                            <div class="action-container shadow-RB">
                                <div *ngIf="medication.status!=='Suspended' && medication.status!=='Discontinued' && medication.status!=='Completed'"
                                    (click)="administer(medication, m)" class="action-item">
                                    <i class="fa fa-user-md" aria-hidden="true"></i>
                                    <span>Administer</span>
                                </div>

                                <div *ngIf="medication.status!=='Completed' && medication.status!=='Discontinued' && medication.status !=='Suspended'"
                                    (click)="suspendMedication(medication, m)" class="action-item">
                                    <i class="fa fa-pause text-yellow" aria-hidden="true"></i>
                                    <span>Suspend</span>
                                </div>
                                <div *ngIf="medication.status==='Suspended'" (click)="activateMedication(medication, m)"
                                    class="action-item">
                                    <i class="fa fa-play text-green" aria-hidden="true"></i>
                                    <span>Activate</span>
                                </div>

                                <div *ngIf="medication.status !=='Suspended' && medication.status !=='Discontinued' && medication.status!=='Completed'"
                                    (click)="discontinueMedication(medication, m)" class="action-item">
                                    <i class="fa fa-ban text-red" aria-hidden="true"></i>
                                    <span>Discontinue</span>
                                </div>

                                <div *ngIf="medication.status !=='Suspended' && medication.status !=='Discontinued' && medication.status!=='Completed'"
                                    (click)="completeMedication(medication, m)" class="action-item">
                                    <i class="fa fa-check text-green" aria-hidden="true"></i>
                                    <span>Completed</span>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="tbl-listWrap">
            <div class="sect-title">Nursing Care</div>
            <table cellpadding="0" cellspacing="0" border="0.5">
                <tbody>
                    <tr *ngIf="treatmentSheet?.nursingCares === undefined">
                        <td class="text-center" colspan="4"> No data available in table</td>
                    </tr>
                    <tr *ngFor="let nursingCare of treatmentSheet?.nursingCares;">
                        <td> {{ nursingCare.name }} </td>
                        <td> {{ nursingCare.status }}</td>
                        <td>
                            <div class="frm-item-wrap">
                                <mat-input-container>
                                    <input matInput [(ngModel)]="nursingCare.comment" placeholder="Comment">
                                </mat-input-container>
                            </div>
                        </td>
                        <td>
                            <div (click)="save(nursingCare)" class="tbl-actn-btn">
                                <i class="fa fa-check" aria-hidden="true"></i> Done <span *ngIf="isSaving" class="fa fa-spinner fa-spin"></span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="tbl-listWrap">
            <div class="sect-title">Physician Order</div>
            <table cellpadding="0" cellspacing="0" border="0.5">
                <tbody>
                    <tr *ngIf="treatmentSheet?.physicianOrders === undefined">
                        <td class="text-center" colspan="4"> No data available in table</td>
                    </tr>
                    <tr *ngFor="let physicianOrder of treatmentSheet?.physicianOrders;">
                        <td> {{ physicianOrder.name }} </td>
                        <td> {{ physicianOrder.status }}</td>
                        <td>
                            <div class="frm-item-wrap">
                                <mat-input-container>
                                    <input matInput placeholder="Comment">
                                </mat-input-container>
                            </div>
                        </td>
                        <td>
                            <div class="tbl-actn-btn"><i class="fa fa-check" aria-hidden="true"></i>Done</div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>


        <div class="buttom-sect">
            <div class="frm-item-wrap">
                <textarea style="border:1px solid #777; padding:10px;box-sizing:border-box;background:#fff;" matInput
                    class="textarea" placeholder="Notes"></textarea>
            </div>
            <div class="cta-1"><i class="fa fa-floppy-o" aria-hidden="true"></i>Save</div>
        </div>
        <div style="clear:right;"></div>
    </div>
</div>