.facility-title{
    margin-bottom: 20px;
}
.total {
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
    color: green;
    text-decoration: underline;
    font-weight: bold;
}
.btn-red{
    width: 123px;
}
.modal-baseWrap{
    padding: 25px;
}