<div class="animated pulse">
  <div class="modal-header-wrap">
    <div (click)="close_onClick($event)" class="modal-close-ico" aria-hidden="true">X</div>
    <legend class="modal_title">Make Payment</legend>
    <div class="modal_mini_title">All Purpose Medical Information System</div>
  </div>
  <div class="pay-wrap">

    <!-- <div class="frm-item-wrap">
      <mat-select [formControl]="channel" placeholder="Payment Channel">
        <mat-option *ngFor="let item of paymentChannels" [value]="item.name">{{item.name}}</mat-option>
      </mat-select>
    </div> -->

    <div class="frm-item-wrap">
      <mat-input-container>
        <input matInput mat-error currencyMask [options]="{ prefix: '&#x20a6; '}" [formControl]="amount" placeholder="Enter Amount">
      </mat-input-container>
    </div>

    <div class="frm-item-wrap">
      <mat-input-container>
        <input matInput mat-error currencyMask [options]="{ prefix: '&#x20a6; '}" [formControl]="balance" placeholder="Amount Balance" readonly>
      </mat-input-container>
    </div>
    <div class="btn-group">
      <button mat-raised-btn class="btn btn-primary" [disabled]="isProcessing" (click)="makePayment()">
        <span>
          <div [hidden]="isProcessing">
            Make Payment
          </div>
          <div [hidden]="!isProcessing">
            Processing...
            <i class='fa fa-spinner fa-spin'></i>
          </div>
        </span>
      </button>

      <button class="btn btn-red" (click)="close_onClick()">Cancel</button>
    </div>
  </div>
</div>